@import 'vendors/unsemantic';
@import 'vendors/fonts';
// @import 'vendors/jquery-ui';

@import 'utils/variables';
@import 'utils/functions';
// @import 'utils/mixins';
// @import 'utils/placeholders';

@import 'base/normalize';
@import 'base/typography';

// @import 'layout/navigation';
// @import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
// @import 'layout/sidebar';
// @import 'layout/forms';

@import 'components/buttons';
// @import 'components/carousel';
// @import 'components/cover';
// @import 'components/dropdown';

@import 'pages/home';
@import 'pages/about';
@import 'pages/challenges';

// @import 'themes/theme';
// @import 'themes/admin';