{% extends "email_base.html" %}
{% block content %}

<p>
Welcome to Curiosity Machine! 
</p>
<p>
Your child’s account (user name: {{ profile.user.username }}) has been activated, and now you can start building together! 
</p>
<p>Watch this video and learn how to get started:</p>
<video
        id="intro-video"
        class="cm-mejs-player" 
        preload="none"
        controls
        autoplay
        data-mejsoptions='{}'
        width="100%"
        height="100%">           
        <source src="http://s3.amazonaws.com/curiositymachine/videos/videos/d63a51574efc7b834740ce9f74cb54aa.mp4" type="video/mp4">
        <source src="http://s3.amazonaws.com/curiositymachine/videos/videos/d63a51574efc7b834740ce9f74cb54aa.ogg" type="video/ogg">
      </video>
<p>
With Curiosity Machine, you and your child will be able to:
<ul>
  <li>Get Inspired by videos of scientists and engineers solving real-world problems</li>
  <li>Design and Build your own engineering solutions with low-cost, easy-to-find supplies</li>
  <li>Interact online with Curiosity Machine engineering mentors, who can help you make your design even better and answer questions when you get stuck</li>
  <li>Share pictures and videos of your design with the Curiosity Machine community</li>
</ul>
</p>
<a href="{{ site_url }}/parents"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">Click here to start inventing!</button></a>
{% endblock %}
