{% extends "email_base.html" %}
{% block content %}

<p>
Welcome to Curiosity Machine! 
</p>
<p>
Your consent form for Curiosity Machine was successfully signed and {{ profile.user.username }}’s account is now active!
</p>

{% if digitally_signed %}
<p>
You may view the signed document and print a copy for your records at the following link: <a href="{{ site_url }}{% url 'profiles:signed_consent_form' profile_id=profile.id %}">{{ site_url }}{% url 'profiles:signed_consent_form' profile_id=profile.id %}</a>
</p>
{% endif %}

<p>
With Curiosity Machine, you and your child will be able to:
<ul>
  <li>Get Inspired by videos of scientists and engineers solving real-world problems</li>
  <li>Design and Build your own engineering solutions with low-cost, easy-to-find supplies</li>
  <li>Interact online with Curiosity Machine engineering mentors, who can help you make your design even better and answer questions when you get stuck</li>
  <li>Share pictures and videos of your design with the Curiosity Machine community</li>
</ul>
</p>
<a href="{{ site_url }}{% url 'challenges:challenges' %}"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">Click here to explore design challenges and start inventing!</button></a>
{% endblock %}
