{% extends "email_base.html" %}
{% block content %}

<p>
Great work, {{ profile.first_name | default:profile.user.username }}! Your mentor thinks you’re ready to finish your project and share it with the world! 
</p>

<p>
Head to Curiosity Machine to respond to the reflect questions and publish your project in the <a href="{{ site_url }}{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=profile.user.username stage=stage %}">Curiosity Machine Inspiration gallery</a>. 
</p>

<a href="{{ site_url }}">Take me to Curiosity Machine</a>
{% endblock %}