{% extends "email_base.html" %}
{% block content %}

<p>
Great work! Your child’s project is ready to be finished up and shared with our Curiosity Machine community. 
</p>

<p>
Ask your child to log on to <a href="{{ site_url }}">Curiosity Machine</a> as {{ profile.first_name | default:profile.user.username }} to respond to the reflection questions and publish the project in the 
<a href="{{ site_url }}{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=profile.user.username stage=stage %}">Curiosity Machine Inspiration gallery</a>.
</p>

<a href="{{ site_url }}"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">Take me to Curiosity Machine</button></a>
{% endblock %}