{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block body-classes %}about-pages{% endblock %}
{% block content %}
<div class="container-fluid text-center bg-blue bg-pattern-dots-pink text-white py-4">
  <h1>{% block title %}{% endblock %}</h1>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'about' %}active{% endif %}"
          href="{% url 'about' %}"
          id="about-page-nav"
        >
          About
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'worldchampionship' %}active{% endif %}"
          href="https://www.technovation.org/blogs/technovation-families-finalists-regional-winners/"
          id="worldchampionship-page-nav"
        >
          World Summit
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'timeline' %}active{% endif %}"
          href="{% url 'aichallenge/timeline' %}"
          id="timeline-page-nav"
        >
          Important Dates
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'families' %}active{% endif %}"
          href="{% url 'families' %}"
          id="families-page-nav"
        >
          Families
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'ambassadors' %}active{% endif %}"
          href="{% url 'program-leaders' %}"
          id="program-leaders-page-nav"
        >
          Ambassadors
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'partnership' %}active{% endif %}"
          href="{% url 'about-partnership' %}"
          id="partnership-page-nav"
        >
          Volunteers
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'community-guidelines' %}active{% endif %}"
          href="{% url 'community-guidelines' %}"
          id="community-guidelines-page-nav"
        >
          Community Guidelines
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://iridescentsupport.zendesk.com/hc/en-us/categories/115000091368-Curiosity-Machine"
          target="_blank"
          id="faq-page-nav"
        >
          FAQ
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
