{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% load future %} {# suppresses deprecation warnings for firstof tag #}

{% block body-classes %}about-pages{% endblock %}
{% block content %}
<div class="container-fluid text-xs-center nav-panel py-2">
  <h1>{% block title %}{% endblock %}</h1>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'about' %}active{% endif %}"
          href="{% url 'about' %}"
          id="about-page-nav"
        >
          About
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'parents' %}active{% endif %}"
          href="{% url 'parents' %}"
          id="parent-about-page-nav"
        >
          Parents
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'educator' %}active{% endif %}"
          href="{% url 'educator' %}"
          id="educator-about-page-nav"
        >
          Educators
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'mentor' %}active{% endif %}"
          href="{% url 'mentor' %}"
          id="mentor-about-page-nav"
        >
          Mentors
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'membership' %}active{% endif %}"
          href="{% url 'about-membership' %}"
          id="membership-about-page-nav"
        >
          Memberships
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'pricing' %}active{% endif %}"
          href="{% url 'pricing' %}"
          id="pricing-about-page-nav"
        >
          Pricing
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'partnership' %}active{% endif %}"
          href="/about-partnership"
          id="partnership-about-page-nav"
        >
          Partnerships
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'community-guidelines' %}active{% endif %}"
          href="/community-guidelines"
          id="community-guidelines-about-page-nav"
        >
          Community Guidelines
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://iridescentsupport.zendesk.com/hc/en-us/categories/115000091368-Curiosity-Machine"
          target="_blank"
          id="faq-about-page-nav"
        >
          FAQ
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
