{% extends "curiositymachine/layout/base.html" %}
{% load widget_tweaks %}

{% block title %}Password Recovery{% endblock %}
{% block body-classes %}password-change{% endblock %}

{% block content %}
<div class="container-fluid text-xs-center jumbotron-green">
  <h1>Password Reset</h1>
</div>
<div class="container mb-3">
  <p class="text-xs-center">
    Your password has successfully been reset.
    {% if not request.user.is_authenticated %}
      You can use it right now
      to <a href="#" data-toggle="modal" data-target="#login-modal">log in</a>.
    {% endif %}
  </p>
</div>
{% endblock %}
