body {
  background-color: $ivory;
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: $light-font-weight;
}

h1 {
  font-size: $base-font-size * 2.6875;
  font-weight: $light-font-weight;
}

h2 {
  font-size: $base-font-size * 2;
  font-weight: $light-font-weight;
}

h3 {
  font-size: $base-font-size * 1.5;
}

h4 {
  font-size: $base-font-size * 1.125;
  font-weight: $heavy-font-weight;
}

h5 {
  font-size: $base-font-size * 1.125;
}

p {
  margin: 0 0 $small-spacing;
}

small {
  font-size: $base-font-size * .875;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

i {
  font-family: 'curiosity-machine';
  speak: none;
}

// link utility classes
// TODO: rethink the naming or maybe the selectors, it's weird
//       to allow e.g. <div class="a-secondary">...</div>

.a-secondary {
  color: $ivory;
  border-bottom-color: $ivory;
  &:hover {
    color: shade($ivory, 25%);
    border-bottom-color: shade($ivory, 25%);
  }
}

// type color utility classes

.red-type {
  color: $primary-red;
}

.light-type {
  color: $ivory;
}

.green-type {
  color: $primary-green;
}

.purple-type {
  color: $primary-purple;
}
