body {
  background-color: $ivory;
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  font-size: 2.25 * $base-font-size;
  margin: 2.25rem 0 1.5rem;
  font-family: $headings-font-family;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
}

h2 {
  font-size: 1.875 * $base-font-size;
  margin: 1.875rem 0 1rem;
  font-weight: $heavy-font-weight;
}

h3 {
  font-size: 1.5 * $base-font-size;
  margin: 1.5rem 0 0.75rem;
  font-weight: normal;
}
h4 {
  font-size: 1.125 * $base-font-size;
  margin: 1.125rem 0 0.75rem;
  font-weight: $heavy-font-weight;
}
h5 {
  font-size: 0.875 * $base-font-size;
  margin: 0.875rem 0 0.667rem;
}
h6 {
  font-size: 0.75 * $base-font-size;
  margin: 0.75rem 0 0.5rem;
}

p {
  margin: 0 0 $small-spacing;
}

small {
  font-size: $base-font-size * 0.875;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

i {
  font-family: 'curiosity-machine';
  speak: none;
}

// link utility classes
// TODO: rethink the naming or maybe the selectors, it's weird
//       to allow e.g. <div class="a-secondary">...</div>

.a-secondary {
  color: $ivory;
  border-bottom-color: $ivory;
  &:hover {
    color: shade($ivory, 25%);
    border-bottom-color: shade($ivory, 25%);
  }
}

// type color utility classes

.light-type {
  color: $ivory;
}

.orange-type {
  color: $primary-orange;
}

.green-type {
  color: $primary-green;
}

.lightblue-type {
  color: $primary-lightblue;
}
