html,
body {
  background-color: $white;
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-size: $base-font-size;
  line-height: $base-line-height;
  overflow-wrap: break-word;
}

h1 {
  text-transform: uppercase;
  font-size: 4.17rem;
  line-height: 4.17rem;
  margin: 0;
  font-family: $headings-font-family;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
}

h2 {
  font-size: 1.78rem;
  line-height: 2.33rem;
  margin: 0;
  font-weight: $heavy-font-weight;
}

h3 {
  font-size: 1.33rem;
  line-height: 2.11rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  line-height: 1.37rem;
  margin: 0;
  font-weight: $heavy-font-weight;
}

h5 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin: 0;
}

h6 {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0;
}

small {
  font-size: 0.875rem;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

@include media-breakpoint-down(lg) {
  h1 {
    font-size: 1.94rem;
    line-height: 2.17rem;
  }
  h2 {
    font-size: 1.33rem;
    line-height: 1.83rem;
  }
}

.headings-font {
  font-family: $headings-font-family;
}

.base-font {
  font-family: $base-font-family;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

i {
  font-family: 'curiosity-machine';
  speak: none;
}

// link utility classes
// TODO: rethink the naming or maybe the selectors, it's weird
//       to allow e.g. <div class="a-secondary">...</div>

.a-secondary {
  color: $light-font-color;
  border-bottom-color: $light-font-color;
  &:hover {
    color: shade($light-font-color, 25%);
    border-bottom-color: shade($light-font-color, 25%);
  }
}

// type color utility classes
.light-type {
  color: $light-font-color;
}

.base-type {
  color: $base-font-color;
}

.orange-type {
  color: $primary-orange;
}

.blue-type {
  color: $primary-blue;
}

.green-type {
  color: $primary-green;
}

.purple-type {
  color: $primary-purple;
}

.lightblue-type {
  color: $primary-lightblue;
}

.darkblue-type {
  color: $primary-darkblue;
}
