@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?jpcm1f');
	src:url('../fonts/icomoon.eot?#iefixjpcm1f') format('embedded-opentype'),
		url('../fonts/icomoon.woff?jpcm1f') format('woff'),
		url('../fonts/icomoon.ttf?jpcm1f') format('truetype'),
		url('../fonts/icomoon.svg?jpcm1f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-compsci:before {
	content: "\e60e";
}
.icon-satellite:before {
	content: "\e600";
}
.icon-robotics:before {
	content: "\e601";
}
.icon-ocean:before {
	content: "\e602";
}
.icon-neuroscience:before {
	content: "\e603";
}
.icon-inventor:before {
	content: "\e604";
}
.icon-food:before {
	content: "\e605";
}
.icon-engineer:before {
	content: "\e606";
}
.icon-electrical:before {
	content: "\e607";
}
.icon-civil:before {
	content: "\e608";
}
.icon-builder:before {
	content: "\e609";
}
.icon-biomimicry:before {
	content: "\e60a";
}
.icon-biomechanics:before {
	content: "\e60b";
}
.icon-art:before {
	content: "\e60c";
}
.icon-aerospace:before {
	content: "\e60d";
}
.icon-materials:before {
	content: "\e60f";
}
