{% extends "educators/dashboard/memberships/_participants_base.html" %}

{% block main_content %}
  <a href="{% url 'educators:student' student_id=participant.id %}" class="participants-list-avatar">
    {% include "_avatar.html" with user=participant width=48 height=48 crop='thumb' gravity='faces' %}
  </a>
  {% if participant.first_name or participant.last_name %}
  {{ participant.first_name }} {{ participant.last_name }}
  {% else %}
  <em>No name provided</em>
  {% endif %}
  <br>
  <a href="{% url 'educators:student' student_id=participant.id %}">{{ participant.username }}</a> &middot;
  {% if participant.extra.is_approved %}
  <span class="green-type">approved</span>
  {% else %}
  <span class="orange-type">not approved</span>
  {% endif %}
{% endblock %}

{% block expanded_content %}
  <strong>Birthday:</strong>
  {% if participant.studentprofile.birthday %}
  {{ participant.studentprofile.birthday|date:"m/d/Y" }}
  {% else %}
  <em>No birthday provided</em>
  {% endif %}
  <br>
  <strong>Email:</strong>
  {% if participant.email %}
  {{ participant.email }}
  {% else %}
  <em>No email provided</em>
  {% endif %}
  <br>
  {% url "educators:student_password_reset" student_id=participant.id as button_url %}
  <a class="btn btn-primary mt-3" href="{{ button_url }}" role="button">Reset Password</a>
{% endblock %}
