{% extends "educators/dashboard/base.html" %}
{% load widget_tweaks %}

{% block title %}Change {{ student.username }}'s Password{% endblock %}
{% block body-classes %}educator-dashboard password-change{% endblock %}

{% block content %}
  <h1 class="text-center">Reset password for {{ student.username }}</h1>

  {% if form.errors %}
  <p class="text-center text-danger">
    {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
  </p>
  {% endif %}

  <div class="form-body">
    <form action="{% url "educators:student_password_reset" student_id=student.id %}" method="post">
      {% csrf_token %}
      <fieldset class="form-group {% if form.password1.errors %}has-error{% endif %}">
        <label for="id_password1" class="required">New password:</label>
        {{ form.password1|add_class:"form-control" }}
        {% for error in form.password1.errors %}
          <small class="text-muted help-block">{{ error }}</small>
        {% endfor %}
      </fieldset>

      <fieldset class="form-group {% if form.password2.errors %}has-error{% endif %}">
        <label for="id_password2" class="required">Confirm password:</label>
        {{ form.password2|add_class:"form-control" }}
        {% for error in form.password2.errors %}
          <small class="text-muted help-block">{{ error }}</small>
        {% endfor %}
      </fieldset>

      <input type="submit" class="btn btn-primary btn-lg pull-right" value="Save" class="default" />
      <a class="ml-1" href="{% url "educators:students" %}">Cancel</a>
    </form>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">document.getElementById("id_password1").focus();</script>
{% endblock %}
