{% extends "challenges/preview/base.html" %}
{% load resized %}
{% block title %}{{ challenge.name }}{% endblock %}

{% block content %}
  <div class="challenge-details">
    <h1>{{ challenge.name }}</h1>
    <div class="challenge-details-hero">
      <div class="details h2">
        <p><small>{{ challenge.description }}</small></p>
      </div>
    </div>
    {% include "challenges/preview/_nav.html" with stage="inspiration" %}

    <div class="challenge-content">
      {% include '_challenge_details.html' %}
      {% if request.user.is_authenticated and request.user.profile.is_student %}
        <form name="Start Building" action='{% url "challenges:start_building" challenge_id=challenge.id %}' method='POST'>
            {% csrf_token %}
            <input type="submit" value="Start Building" class="btn btn-primary btn-lg" />
          </form>
      {% endif %}
    </div>
  </div>

  {% if examples %}
    <div class="tab-content">
      <div class="tab-pane fade in active">
        <h3 class="carousel-header">Check out what other kids built</h3>
        <ul class="challenges-list free-height owl-carousel panel-carousel image-gallery">
          {% for example in examples %}
            <li>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ example.name }}</h3>
                </div>
                {% if example.video %}
                  {% include "_video.html" with video=example.video %}
                {% else %}
                <div class="image-container" data-toggle="modal" data-target="#galleryModal" >
                  <img src="{% resized example.image.url width=550 height=413 crop='fit' %}" />
                </div>
                {% endif %}

              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% include "_modal.html" with id="galleryModal" %}
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}