{% extends "curiositymachine/layout/base.html" %}
{% load resized %}
{% block title %}{{ challenge.name }}{% endblock %}

{% block content %}
<div id="landing-page">
  <div class="jumbotron-dark-pattern jumbotron-fluid m-b-lg">
    <div class="container">
      <div class="jumbotron-hero row">
        <div class="jumbotron-hero-text text-center p-a-md">
          <h1 class="light-type m-b-md">{{ challenge.name }}</h1>
          <h3>{{ challenge.description }}</h3>
          {% if request.user.is_authenticated and request.user.profile.is_student %}
            <form name="Start Building" action='{% url "challenges:start_building" challenge_id=challenge.id %}' method='POST'>
                {% csrf_token %}
                <input type="submit" value="Start Building" class="btn btn-secondary btn-lg" />
              </form>
          {% elif request.user.profile.is_mentor or request.user.profile.is_parent or request.user.profile.is_educator %}
            <a href="#" class="btn btn-secondary">Preview Challenge</a>
          {% else %}
            <p class="light-type m-b-md">You need to sign in to Curiosity Machine as a student to work on design challenges.</p>
            <a href="{% url 'profiles:join' %}" class="btn btn-secondary">Create Student Account</a>
          {% endif %}
        </div>

        {% if challenge.landing_image %}
          <div class="jumbotron-hero-img">
            <img src="{% resized challenge.landing_image.url width=720 height=720 crop='fill' %}" class="hidden-md-down">
            <img src="{% resized challenge.landing_image.url width=720 height=400 crop='fill' %}" class="hidden-lg-up">
          </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div class="card card-module m-b-lg">
          <div class="card-block card-block-title">
            <h4 class="card-title red-type">Inspiration Video</h4>
          </div>
          <div class="card-block">
            <div class="challenge-details-hero">
              {% if challenge.video %}
                <div class="videocontent">
                    <video
                      preload="none"
                      controls
                      poster='{% if challenge.image %}{{ challenge.image.url }}{% else %}{{challenge.video.thumbnails.first.url}}{% endif %}'
                      id="video-element-{{challenge.video.id}}">
                      {% for v in challenge.video.encoded_videos.all %}
                        <source src="{{v.url}}" type="{{v.mime_type}}" />
                      {% endfor %}
                    </video>
                </div>
              {% elif challenge.image %}
                <img src="{{ challenge.image.url }}" />
              {% endif %}
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card card-module m-b-lg">
          <div class="card-block card-block-title">
            <h4 class="card-title red-type">Suggested Materials</h4>
          </div>
          <div class="card-block">
            {{ challenge.materials_list | safe }}
          </div>
        </div>
      </div>
    </div>

    {% if request.user.is_authenticated %}
      <div class="row">

          <div class="col-md-12">
            <div class="card card-module m-b-lg">
              <div class="card-block card-block-title">
                <h4 class="red-type">Inspiration Gallery</h4>
              </div>
              {% if examples %}
              <div class="card-block">
                <div class="row">
                  {% for example in examples %}
                    <div class="col-lg-3 col-sm-6">
                      <div class="card">
                        <a href="#" data-toggle="modal" data-target="#{{ example.progress.student.username }}">
                          <img class="card-img-top action-img" src="{% resized example.image.url width=330 height=200 crop='fill' %}" alt="{{ example.progress.student.username }}'s {{ challenge.name }}">
                        </a>
                        <div class="card-block text-center">
                          <p class="card-title">{{ example.progress.student.username }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="{{ example.progress.student.username }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h3>{{ example.progress.student.username }}'s {{ challenge.name }}</h3>
                          </div>
                          <div class="modal-body text-center">
                            <img src="{% resized example.image.url %}" alt="{{ example.progress.student.username }}'s {{ challenge.name }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="row">
                  <div class="card-block text-center">
                    <a href="{% url "challenges:examples" challenge_id=challenge.id %}" class="btn btn-primary ig-button">View the Inspiration Gallery</a>
                  </div>
                {% else %}
                  <div class="card-block text-center">
                    <p>There aren't any examples yet!</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}


  </div>
</div>
{{ block.super }}
{% endblock %}
