{% extends 'challenges/preview/base.html' %}
{% load staticfiles %}
{% load resized %}

{% block js %}
  <script src="{% static "js/challenges.js" %}"></script>
{% endblock %}

{% block content %}
  <h1>{{ challenge.name }}</h1>

  {% include 'challenges/preview/_alerts.html' %}

  {% if challenge.draft %}
    <h2><small>We're improving this challenge. Keep an eye out for changes.</small></h2>
  {% endif %}
  {% include "challenges/preview/_nav.html" with stage="plan" %}

  <div class="challenge-content">
    <header class="challenge-header">
      <h1>Plan your project</h1>
      <p>{{ challenge.plan_subheader }}</p>
    </header>

    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-bubble edp-comments">
          <div class="panel-body">
            <h3>Post your plan!</h3>
            {% include "_comment_action_list_guest.html" %}
          </div>
        </div>

        {% if challenge.plan_call_to_action %}
          <div class="panel blue">
            <div class="panel-body">
              {{challenge.plan_call_to_action}}
            </div>
          </div>
        {% endif %}
      </div><!-- /column 1 -->

      <div class="col-md-1">
        <img src="{% resized MEDIA_URL|add:'images/placeholder.png' width=60 height=80 %}"
          width=60 height=80 />
      </div>

      <div class="col-md-6">
        <div class="materials-list panel">
          <div class="panel-heading">
            <h3 class="panel-title">Suggested list of materials</h3>
          </div>
          <div class="panel-body">
            <div class="current-materials">
              <div class="current-materials">
                {{ challenge.materials_list|safe }}<br>
              </div>
              <button class="btn btn-primary" data-toggle="modal" data-target="#guest-modal">Edit Materials</button>
            </div>
          </div>
        </div><!-- materials-list -->

        <div class='text_comment' style='display:none'></div>
      </div><!-- /col 2 -->
    </div><!-- row -->
  </div><!-- content -->

  {{ block.super }}
{% endblock %}
