{% extends 'challenges/preview/base.html' %}
{% load staticfiles %}
{% load resized %}

{% block js %}
  <script src="{% static "js/challenges.js" %}"></script>
{% endblock %}

{% block content %}
  <h1>{{ challenge.name }}</h1>

  {% if request.user.profile.is_student %}
    <div class="alert alert-info text-center preview-page-alerts">
      <strong>You're previewing this challenge.</strong> Start building if you want to post!<br/>
      <form name="Start Building" action="{% url 'challenges:start_building' challenge_id=challenge.id %}" method='POST'>
        {% csrf_token %}
        <input type="submit" value="Start Building" class="btn btn-primary" />
      </form>
    </div>
  {% elif request.user.is_anonymous %}
    <div class="alert alert-info text-center preview-page-alerts">
      <strong>You're previewing this challenge.</strong> To post, make a student account!<br/>
      <a href="{% url "profiles:join" %}" class="btn btn-primary">Create Account</a><a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
    </div>
  {% else %}
    <div class="alert alert-info text-center preview-page-alerts">
      <strong>You're previewing this challenge.</strong> Only student accounts can post to design challenges.
    </div>
  {% endif %}

  {% if challenge.draft %}
    <h2><small>We're improving this challenge. You can keep working on it, but keep an eye out for changes.</small></h2>
  {% endif %}
  {% include "challenges/preview/_nav.html" with stage="reflect" %}
  <div class="challenge-content">
    <header class="challenge-header">
      <h1>Document your design process</h1>
      <p>{{ challenge.reflect_subheader }}</p>
    </header>
    <div class="row">
      <div class="col-md-5">
        <div class="panel blue">
          <div class="panel-body">
            <p>You've made great progress on this challenge. I think you are ready to move on to the next step.</p>
            <p><strong>Reflect on your design.</strong></p>
          </div>
        </div>
      </div><!-- /column 1 -->

      <div class="col-md-1">
        <img src="{% resized MEDIA_URL|add:'images/placeholder.png' width=60 height=80 %}"
          width=60 height=80 />
      </div>

      <div class="col-md-6">
        <div class="panel panel-bubble teal right reflect-box">
          <div class="panel-body">
            <h1>Reflect</h1>
            <p>You've finished your challenge. Upload a key photo and describe what makes your challenge unique.</p>
            <ul class="challenge-reflect-questions" style="display: none;">
              {% for question in challenge.reflect_questions.all %}
                <li>{{ question }}</li>
              {% endfor %}
            </ul>

            <div class="reflect-question">
              <h3 class="question"></h3>
              <p class="refresh" title="answer a different question">
                <span class="glyphicon glyphicon-refresh"></span> Try another question.
              </p>
            </div>
            {% include "_comment_action_list_guest.html" %}

          </div>
        </div>
        {% include "_challenge_reflect_images_modal.html" %}
      </div><!-- /col 2 -->

    </div><!-- row -->
  </div><!-- content -->
  {{ block.super }}
{% endblock %}
