{% extends "curiositymachine/layout/ai_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-id %}ai-challenge-page{% endblock %}
{% block content %}
{% with active_nav="ai-coaches" %}
  {{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
      <h2>Coaches</h2>
      <h3 class="mb-4">Interested in Coaching? Educators can use our free AI Family Challenge <a href="{% url "challenges:challenges" %}" target="_blank">resources</a> with students and families.</h3>
      <p>The basics:</p>
      <ul>
        <li>Educators can create <a href="{% url "account_signup" source=source %}">Coach accounts</a> and lead students or families to complete the AI Family Challenge</li>
        <li>Do you need to be an AI expert? No! Any adult can use our free lessons</li>
        <li>We have a global community! If you are leading with more than 200 participants let us know by completing the Impact report in the coach dashboard</li>
      </ul>
      <img src="{% static 'images/about/aipartnermap.png' %}">
    </div>
    <div class="col-md-10 offset-md-1 my-2">
      <hr class="hr-red mb-3"/>
      <h3 class="mb-4">What do AIFC Coaches look like in action?</h3>
    </div>
    <div class="col-md-5 offset-md-1">
      <p>AIFC Coaches...</p>
      <ul>
        <li>Share experiences! They’re part of a <a href="https://www.facebook.com/groups/1443184245748986/" target="_blank">community of learners</a>.</li>
        <li>Encourage their families to create family accounts to submit their ideas</li>
      </ul>
      <div class="text-center">
        <img src="{% static 'images/about/SuperstarCoaches.svg' %}" width="50%" height="50%">
      </div>
    </div>
    <div class="col-md-5 mt-2">
      <ul>
        <li>They find and share resources to help their families, like ideas for family <a href="https://drive.google.com/open?id=1bjA98A09_QQSbv9Of4V0fcCNdD67fao1pc9-PPh0Nz0" target="_blank">recruitment</a> and <a href="https://drive.google.com/open?id=1uGqCvzCs-33NaISch4MGigLnkoE5tCZDvDiWozPexno" target="_blank">retention</a>, or tutorials to use AI tools</li>
        <li>They help families celebrate their successes with science fairs, special presentation sessions, and more.</li>
      </ul>
      <div class="text-center">
        <img src="{% static 'images/about/SubmitCelebration.svg' %}" width="50%" height="50%">
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 my-5 text-center">
        <a href="{% url "account_signup" source=source %}" class="btn btn-primary text-uppercase mx-1" target="_blank">sign up</a>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
