{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-classes %} {{ block.super }} aifc-pages {% endblock %}
{% block content %}
{% with active_nav="ai-coaches" %}
  {{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
      <h2>Bring Curiosity Machine to your students</h2>
      <h3 class="mb-5">We believe the best learning happens through exploration. Challenge your students to discover new ideas and solve unique problems.</h3>
      <p class="mb-0">Mentors everywhere are using Curiosity Machine in classrooms, after school clubs, family programs, makerspaces, libraries, and more. That's because Curiosity Machine creates engaging and approachable opportunities for students and adults to learn together. You don't have to be a scientist or engineer to lead —you just have to be curious enough to want to learn! </p>

      <hr class="hr-red mb-5"/>

      <h4 class="aifc-pages-header">Students learn more than just STEM.</h4>
      <p>With the engineering design process (EDP) as a guide, your students will plan, build, and test their designs. Students document each step on Curiosity Machine. But most importantly, students who complete Curiosity Machine design challenges learn to persevere through mistakes and failure, learning that creating something new is a process of testing and improvement. This supports them to build confidence in their ability to solve tough problems.</p>

      <h2>We welcome leaders from around the world to join us!</h2>
      <img class="d-block w-75 mx-auto" src="{% static 'images/about/aifc-world.svg'%}">
      <h4 class="aifc-pages-header">Why join as a program site?</h4>
      <ul>
        <li>Bring an innovative AI family program to members of your community</li>
        <li>Leaders can build their knowledge of AI with extra resources and access to live trainings</li>
        <li>Have a direct line of contact to our support team</li>
        <li>Join our global movement and interact with our community of mentors.</li>
      </ul>
      <h3 class="mt-5 mb-1">Season 2 begins in <strong>August 2019</strong> and submissions are due <strong>February 2020.</strong></h3>
    </div>
  </div>
  <hr class="hr-red mb-3"/>
  <div class="row">
    <div class="col">
      <h4 class="aifc-pages-header">What does a program site look like?</h4>
      <p>Program sites are different throughout the world. Generally, we seek locations that deliver programs outside of school to underserved families. Also, your location should have 1-5 passionate facilitators who are ready to lead.</p>
      <p>Our full program is 20+ hours and directed by people like you. We know that's a big commitment so we're here to help!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="aifc-pages-panel">
        <div class="row">
          <div class="col-md-2">
            <i class="aifc-pages-icons icon-home"></i>
          </div>
          <div class="col-md-10 mb-3">
            <h4 class="aifc-pages-header">Club</h4>
          </div>
        </div>
        <p><strong>30+ families</strong> at your location want to participate.</p>
        <p>Your mentors are ready to spend <strong>~60 hours</strong> learning about and leading this program throughout the season.</p>
        <p>This is a great option for sites that would like to pilot the program, have a STEM group, or are single returning program sites.</p>
      </div>
    </div>
    <div class="col">
      <div class="aifc-pages-panel">
        <div class="row">
          <div class="col-md-2">
            <i class="aifc-pages-icons icon-tree"></i>
          </div>
          <div class="col-md-10 mb-3">
            <h4 class="aifc-pages-header">Chapters</h4>
          </div>
        </div>
        <p>Your organization has multiple locations and experience leading family programs.</p>
        <p>You have a network of mentors ready to learn about AI and lead this program.</p>
        <p>This is a great option for <strong>multi-site organizations</strong> who want to bring a family-focused program to their organization.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h4>Friend of the Program</h4>
      <p>You are ready to lead our program, but it looks a little different from a club or chapter. Examples of our Friends can include:</p>
      <ul>
        <li>Mentors supporting kids who are excited to participate, but no  guardians (children can complete the program but please remember that only Family Teams are eligible to submit for the AI World Championship!)</li>
        <li>Leaders of small family or afterschool groups who are participating</li>
        <li>Anyone who is excited to bring some of our program, but not all 20 hours, to participants</li>
      </ul>
    </div>
  </div>
  <hr class="hr-red mb-3"/>
  <div class="row">
    <div class="col mb-5">
      <h4 class="aifc-pages-header">What’s stopping you from joining us today?</h4>
      <p>We are here to support you! Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSf52kHbozfrysGIFlKrG-7LflXK6d-a9IxtSZ7kasZiFtS_CA/viewform" target="_blank">this form</a> to reserve your spot as a Season 2 program site.</p>
      <p>If you need funding to participate, please note that mini grant opportunities will be published prior to the start date. Sites that have registered their interest to participate in Season 2 will be the first to know! While we cannot cover the total cost of supporting families at your sites, we will work together to build a plan that fits you.</p>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
