{% extends "curiositymachine/layout/ai_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-id %}curriculum-aichallenge-page-nav{% endblock %}
{% block content %}
{% with active_nav="ai-curriculum" %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 my-5">
        <h2>Curriculum</h2>
        <h3 class="mb-4">3 Stages of Learning</h3>
        <h4>Stage 1: Foundations of AI</h4>
        <p><em>We explore some AI concepts through hands-on design challenges and build a community of family learning. Together, we learn:</em></p>
        <ul>
          <li>AI is a computer that can be taught to learn things</li>
          <li>Both artificial neural networks and parallel processing are important ways computers process data and make it possible for AI to learn new things</li>
          <li>Self driving cars, robots and healthcare are some applications of AI</li>
        </ul>
        <h4 class="mt-4">Stage 2: Exploring Robots</h4>
        <p><em>We explore robots through more design challenges and stay in touch with our community online. Together, we learn:</em></p>
        <ul>
          <li>Simple mechanisms can make things move in a lot of different ways</li>
          <li>Machines that can move give AI a way to interact with its surroundings</li>
        </ul>
        <h4 class="mt-4">Stage 3: AI for the Community</h4>
        <p><em>We create a solution for a problem in our communities with AI tools and our family community continues to be a special place. Together we learn:</em></p>
          <ul>
            <li>Machine learning is a type of AI, machine learning tools can be trained to learn new things when we input large amounts of data</li>
            <li>It’s possible to train AI to recognize specific images, faces, or text</li>
            <li>Skills to communicate and talk about AI</li>
            <li>We can use AI to help solve some problems in our community</li>
          </ul>
          <h4 class="mt-4">Final Capstone Project</h4>
          <ul>
            <li>Stage 3 will guide you to develop your own idea on how to identify and solve a problem in your community using AI technology</li>
            <li>You’ll create a video explaining your idea and how you could incorporate the technology</li>
          </ul>

        <div class="text-center mt-4">
          <a href="{% url "account_signup" source=source %}" class="btn btn-primary text-uppercase mx-1" target="_blank">sign up</a>
        </div>
        <p class="mt-2 text-center">
          If you have any questions, contact us at
          <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.
        </p>

      </div>
    </div>
  </div>
  <div class="bg-red text-center py-5">
    <div class="container">
      <h2 class="text-white">
        Learn more about our AI Family Challenge
      </h2>
      <a
        href="http://iridescentlearning.org/artificial-intelligence/the-curiosity-machine-ai-family-challenge/"
        class="btn btn-secondary text-red text-uppercase"
        target="_blank"
      > Learn More</a>
    </div>
  </div>
{% endwith %}
{% endblock %}
