{% extends "curiositymachine/layout/ai_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-id %}ai-challenge-page{% endblock %}
{% block content %}
{% with active_nav="ai-families" %}
  {{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
      <h2>Families</h2>
      <h3 class="mb-4">Do you want to learn about AI as a family? You can create a free family account and complete our program from home!</h3>
    </div>
    <div class="col-lg-3 offset-lg-2 col-md-4 offset-md-1 mt-3">
      <p>The basics:</p>
      <ul>
        <li><p>You only need one account for your family to complete the <a href="{% url "challenges:challenges" %}" target="_blank">18 AI lessons</a></p></li>
        <li><p>You can submit your family's ideas to our <a href="https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Firidescentsupport.zendesk.com%2Fhc%2Fen-us%2Farticles%2F115004048734-How-will-judging-and-the-Global-AI-Celebration-happen-" target="_blank">AI World Championship</a></p></li>
        <li><p>We will send important updates and reminders</p></li>
      </ul>
    </div>
    <div class="col-lg-5 col-md-5 mt-3">
      <img width="90%" height="90%" src="{% static 'images/about/momdaughterphoenix.png' %}">
    </div>
    <div class="col-md-10 offset-md-1">
      <hr class="hr-red mb-3"/>
      <h3 class="mb-4">Can my family submit to the AI World Championship?</h3>
      <p>Remember, any family can complete the program! To submit your idea to the AI World Championship:</p>
      <img src="{% static 'images/about/competitiondetails.png' %}">
      <p class="my-4 text-center"><em>To learn more about the competition requirements click <a href="https://iridescentsupport.zendesk.com/hc/en-us/articles/115004026093-Who-can-enter-the-competition" target="_blank">here</a>.</em></p>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
