{% extends "curiositymachine/layout/ai_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-id %}aifc-submission-page{% endblock %}
{% block content %}
{% with active_nav="ai-submissions" %}
  {{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h2>Enter our competition by <strong>February 1, 2019</strong></h2>
      <h3 class="mb-4">What are the submission requirements?</h3>
      <hr>
    </div>
  </div>

  <div class="container aifc-submission-panel">
    <div class="row">
      <div class="col-md-10 mb-3">
        <p>To submit your invention:</p>
          <ul>
            <li>Remember, each team can only submit once and to one division.</li>
            <li>All materials must be submitted online in English (or include English subtitles)</li>
            <li>Login to your family dashboard. On the <strong>World Championship</strong> tab you will be asked.</li>
          </ul>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-size" src="{% static 'images/about/AIFC-DesignChallenges.svg' %}">
        <strong>Review account details</strong>
        <p>Ensure all family information is accurate.</p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-size" src="{% static 'images/about/AIFC-PostSurvey.svg' %}">
        <strong>Complete the post survey</strong>
        <p>10 minutes to help improve the program</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-3">
        <p>Then, you can click the <strong>Go to Submission</strong> button enter the AI World Championship! Here, you will submit these materials to the judges.</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4 text-center">
        <img class="img-size" src="{% static 'images/about/AIFC-Invention.svg' %}">
        <strong>Invention Name and Description</strong>
        <p>100 word maximum description</p>
      </div>
      <div class="col-md-4 text-center">
        <img class="img-size" src="{% static 'images/about/AIFC-PitchVideo.svg' %}">
        <strong>Pitch Video</strong>
        <p>Must be between 4 and 5 minutes long.</p>
        <p>Share a Youtube link, Vimeo link, Youku link, or direct upload to the site.</p>
      </div>
      <div class="col-md-4 text-center mb-5">
        <img class="img-size"src="{% static 'images/about/AIFC-Pictures.svg' %}">
        <strong>Pictures (optional)</strong>
        <p>Share via direct upload and 15 word description.</p>
      </div>
  </div>
</div>
</div>

{% endwith %}
{% endblock %}
