{% extends "curiositymachine/layout/ai_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-id %}ai-challenge-page{% endblock %}
{% block content %}
{% with active_nav="ai-submissions" %}
  {{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5 mb-1">
      <h2>Submissions</h2>
      <h3 class="mb-4">What are the submission requirements?</h3>
      <p>To submit for competition:</p>
        <ul>
          <li>Each team can only submit once and to only one division</li>
          <li>All materials must be submitted online in English (or include English subtitles)</li>
          <li>Families must complete their submission by February 1st at 12PM EST</li>
        </ul>
        <img src="{% static 'images/about/submissionrequirements.png' %}">
      </div>
      <div class="col-md-10 offset-md-1 my-3">
      <p>Want to know the details? Your submission will include:</p>
      <ol>
        <li>Invention Name and Description
          <ul>
            <li>100 word maximum description</li>
          </ul>
        </li>
        <li>Pitch Video
          <ul>
            <li>Must between 4 and 5 minutes long</li>
            <li>Share with a Youtube link, Vimeo link, Youku link, or direct upload to the site</li>
          </ul>
        </li>
        <li>Submit from your Curiosity Machine family account ≥ three design challenges</li>
        <li>Post Survey</li>
        <li>Pictures (optional)
          <ul>
            <li>You can upload up to four pictures of your invention</li>
            <li>These can be screenshots of your prototype, pictures of your team, plan, or anything else you think would be helpful for judges to see</li>
          </ul>
        </li>
      </ol>
      <p class="text-center"><em>Please note: By submitting to the AIFC World Championship, you attest that all parts of your submission were created solely by the members on your team.</em></p>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
