{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}

{% block title %}Important Dates{% endblock %}
{% block body-classes %} {{ block.super }} aifc-pages {% endblock %}
{% block content %}
{% with active_nav="timeline" %}
  {{ block.super }}
<div class="container mt-1 mb-5">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h2>Season 2 is open!</h2>
      <hr class="hr-orange"/>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="aifc-pages-panel p-3 m-2">
        <div class="aifc-pages-arrow mt-1"></div>
        <h4 class="aifc-pages-header">Register</h4>
        <p>Create a family account.</p>
        <hr/>
        <h4 class="aifc-pages-header">Complete the AI Family Challenge Program</h4>
        <p>Use your family account to view and complete the 10 AI Family Challenge lessons.</p>
        <p>Great news! The lessons help you build your AI World Championship submission! </p>
      </div>
    </div>
    <div class="col">
      <div class="aifc-pages-panel p-3 m-2">
        <div class="aifc-pages-arrow mt-1"></div>
        <h4 class="aifc-pages-header">Submit to the AI World Championship</h4>
        <p>December 2019 - January 9, 2020</p>
        <hr/>
        <h4 class="aifc-pages-header">Submissions judged</h4>
        <p>February 2020</p>
        <hr/>
        <h4 class="aifc-pages-header">Results released</h4>
        <p>March 2020</p>
      </div>
    </div>
    <div class="col">
      <div class="aifc-pages-panel p-3 m-2">
        <div class="aifc-pages-arrow mt-1"></div>
        <h4 class="aifc-pages-header">AI World Championship</h4>
        <p>August 2020</p>
        <p>The top three teams from the Junior and Senior division are invited to a celebration in the USA.<p/>
      </div>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
