{% extends "curiositymachine/layout/ai_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-classes %} {{ block.super }} aifc-pages {% endblock %}
{% block content %}
{% with active_nav="ai-worldchampionship" %}
  {{ block.super }}

<section>
  <div class="aifc-pages-video-header">
    <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/static/videos/aiwc-banner-video.mp4" type="video/mp4"></source>
      </video>
      <div class="aifc-pages-header-image">
      </div>
    <div class="container h-100">
      <div class="d-flex h-100 align-items-center">
        <div class="container text-center">
          <img class="aifc-pages-logo" src="{% static 'images/about/aifc-white-logo.svg' %}">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
      <h2>AI World Championship</h2>
      <hr>
      <img src="{% static 'images/about/aifc-families.png' %}">
      <h3 class="text-center mt-3">Congratulations to the <strong>7500+ participants</strong> of our first AI Family Challenge. Meet our finalist teams, chosen from over 200 AI invention submissions.</h3>
      <h3>Our teams will present their ideas in <strong>Silicon Valley, May 16-19th.</strong></h3>
      <hr class="hr-red"/>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="mb-5">Senior Division</h2>
   <div class="row">
    <div class="col-lg">
      <h4>Team Name</h4>
      <h4>Name of project/app</h4>
      <p>Country of origin</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg">
      <h4>Team Name</h4>
      <h4>Name of project/app</h4>
      <p>Country of origin</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg">
      <h4>Team Name</h4>
      <h4>Name of project/app</h4>
      <p>Country of origin</p>
      <!-- video -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <hr>
  <h2 class="mb-5">Junior Division</h2>
     <div class="row mb-5">
      <div class="col-lg">
        <h4>Team Name</h4>
        <h4>Name of project/app</h4>
        <p>Country of origin</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg">
        <h4>Team Name</h4>
        <h4>Name of project/app</h4>
        <p>Country of origin</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg">
        <h4>Team Name</h4>
        <h4>Name of project/app</h4>
        <p>Country of origin</p>
        <!-- video -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
</div>

<div class="bg-new-turquoise text-center py-5">
  <div class="container">
    <h3 class="text-white">Interested in using Artificial Intelligence to solve a problem in your community? Season 2 of the AI Family Challenge begins in August!</h3>
    <p class="text-white">In the meantime, you can create your family account and explore the AI Family Challenge projects.</p>
    <a href="{% url "account_signup" %}" class="btn btn-secondary text-blue text-uppercase">Get Started</a>
  </div>
</div>

{% endwith %}
{% endblock %}
