{% extends "curiositymachine/layout/ai_pg_layout.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}

{% block body-classes %} {{ block.super }} aifc-pages {% endblock %}
{% block content %}
{% with active_nav="ai-worldchampionship" %}
  {{ block.super }}

<section>
  <div class="aifc-pages-video-header">
    <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/static/videos/aiwc-banner-video.mp4" type="video/mp4"></source>
      </video>
      <div class="aifc-pages-header-image">
      </div>
    <div class="container h-100">
      <div class="d-flex h-100 align-items-center">
        <div class="container text-center">
          <img class="aifc-pages-logo" src="{% static 'images/about/aifc-white-logo.svg' %}">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
      <h2>AI World Championship</h2>
      <hr>
      <img src="{% static 'images/about/aifc-families.png' %}">
      <h3 class="text-center mt-3">Congratulations to everyone who participated in the AI Family Challenge. We had <strong>7500 participants and 200+ submissions</strong> in our first ever AI World Championship. Meet our finalists and discover how they are solving problems with AI. They will be presenting their ideas in <strong>Silicon Valley, CA May 16-19.</strong></h3>
      <hr class="hr-red"/>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="mb-5">Senior Division</h2>
   <div class="row">
    <div class="col-lg">
      <h4>Team Name</h4>
      <h4>Name of project/app</h4>
      <p>Country of origin</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg">
      <h4>Team Name</h4>
      <h4>Name of project/app</h4>
      <p>Country of origin</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg">
      <h4>Team Name</h4>
      <h4>Name of project/app</h4>
      <p>Country of origin</p>
      <!-- video -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <hr>
  <h2 class="mb-5">Junior Division</h2>
     <div class="row mb-5">
      <div class="col-lg">
        <h4>Team Name</h4>
        <h4>Name of project/app</h4>
        <p>Country of origin</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg">
        <h4>Team Name</h4>
        <h4>Name of project/app</h4>
        <p>Country of origin</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-lg">
        <h4>Team Name</h4>
        <h4>Name of project/app</h4>
        <p>Country of origin</p>
        <!-- video -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/nIN3IE3DHqc" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="mt-3">Brief description of Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
</div>
{% endwith %}
{% endblock %}
