

//===============global layout=======================
//   things on every page menu/footer etc.
//===================================================
html {height: 100%;}
body {
  height: 100%;
}

.temp-header {
  font-family: @headings-font-family;
}

.alert-ceo {
  background-color: #E5E1D9;
  font-size: 1.125em;
}

#site-message {
  border-radius: 0;
	margin-bottom: 0;
}

#main-container {
  background: @bg-color;
  min-height: 100%;
}

.main-column {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
  max-width: @container-lg;
}
.container-fluid {
  position: relative;
  width: 100%;
  margin-left: 0px;
  padding-left: @grid-side-gutters;
  padding-right: @grid-side-gutters;
  .transition(margin-left .5s);
  &.nav-open {
    margin-left: @nav-width;
  }
}

.logo {
  width: 210px;
  display: inline-block;
}

.errors,
.error,
.alert-danger {
  color: red;
  text-transform: uppercase;
  font-weight: 600;
  .errorlist {
    padding-left: 1em;
  }
}

/* widgets? */
@paper-line-height: 25px;
.paper {
  background: @bg-color; /* Old browsers */
  background: @bg-color;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, @bg-color));
  background: -webkit-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: -moz-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: -ms-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: -o-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  line-height: @paper-line-height;
  -webkit-background-size: 100% 25px;
  -moz-background-size: 100% 25px;
  -ms-background-size: 100% 25px;
  -o-background-size: 100% 25px;
  background-size: 100% @paper-line-height;
  padding-top: @paper-line-height + 1;
}

.owl-carousel {
  padding-top: 30px;
  padding-bottom: 15px;
}
.tab-content {
  padding-bottom:15px;
}

#filepicker_dialog_container {
  background: @bg-color !important;
}

.comment {
  .img-wrapper {
    img {
      width: 100%;
      display: block;
    }
  }

  .reflect-question {
    background: lighten(@teal, 5%);
    color: white;
    border-radius: @panel-border-radius;
    padding: 8px;
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }
}

.switch { //radio button for build/test
  position: relative;
  width: 100%;
  padding: 1px 0px;
  border-radius: 5px;
  background: darken(@green, 5%);
  box-shadow: inset 2px 2px 0 rgba(0,0,0,.1);
  text-align: center;
  li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    width: calc(50% - 1px);
  }
  input {
    display: none;
    &:checked + label {
      background: @green;
      color: #fff;
      box-shadow: 2px 2px 0 rgba(0,0,0,.1);
    }
  }
  label {
    border-radius: 3px;
    margin: 0;
    color: lighten(@green, 5%);
    font-weight: 600;
    padding: 10px 0px;
    cursor: pointer;
  }
}
.pipe-nav {
  li {
    list-style-type: none;
    display: inline;
    &:after {
      content: " | ";
      padding: 0 5px;
    }
    a {
      color: @gray;
      &.active {
        font-weight: 700;
      }
    }
  }
}

.comment-date {
  display: block;
  font-size: @font-size-small;
  text-align: right;
  color: @gray-light;
}

//notification messages
#message-bar{
  position: fixed;
  top: 0;
  opacity: 0;
  display: none;
  pointer-events: none;
  width: 100%;
  min-height: 56px;
  padding: 23px 0 23px 23px;
  line-height: 24px;
  background: rgba(222, 135, 158, 0.9);
  border-bottom: 1px solid #de879e;
  letter-spacing: 1px;
  text-transform: uppercase;color: white;
  z-index: 99999;
  &.success,
	&.alert-success {
    background: rgba(147, 184, 104, 0.9);
    border-bottom: 1px solid #93b868;
  }
  &.active{
    opacity: 1;
    display: block;
  }
  &.error,
	&.alert-danger {
    background: rgba(204, 71, 72, 0.9);
    border-bottom: 1px solid #cc4748;
  }
  &.info,
	&.alert-info {
    background: rgba(27, 178, 196, 0.9);
    border-bottom: 1px solid #1bb2c4;
  }
}

.unread-offset {
  padding: 6px 5px 0 6px;
}
//unread messages... we can subclass this ore rename it specific if unread is too broad.
.unread {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  line-height: 1;
  padding: 8px 10px;
  background: @orange;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 0;
    border-color: @orange transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 5px;
  }
}

//comment form
.comment-form {
  .image-wrapper {
    width: 100%;
    img {
      width: 100%;
    }
    margin-bottom: 20px;
  }
  input[type=filepicker-custom] {display: none;}

  #filepickerframe {
    width: 100%;
    height: 365px;
    border: none;
  }

  textarea {
    width: 100%;
  }
}

.image-gallery {
  .image-container img {cursor: pointer}
}

//////==========================
/////  challenges list page

.challenges-list {
  margin: 0;
  padding-left: 0;
  .clearfix();
  li {
    list-style-type: none;
  }
  .owl-item {
    width: 450px;
    padding: 3px 10px 0 10px;
  }
  .image-container {
    img {
      width: 100%;
    }
  }
  .panel {
    height: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.free-height .panel {height: auto;}
}

ul.owl-carousel,
ol.owl-carousel {
  margin: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    padding: 3px 10px 0 10px;
  }
}

////============================
///    challenge details

.challenge-details-hero {
  position: relative;
  margin: 0 -(@grid-side-gutters);
  min-height: 50px;
  img {
    width: 100%;
  }
  .details {
    color: #fff;
    position: relative;
    bottom: 0px;
    left: 67px;
    font-size: 36px;
    margin-right: 200px;
    margin-top: 0px;
  }
}

.challenge-details {
  .btn-primary {
    position: relative;
    float: right;
    margin: -70px 0px 0 0;
    z-index: 2;
  }
  .challenge-content {
    margin-top: 100px;
  }
}

#guide-modal {
  .tab-pane {
    height: 340px;
    overflow: scroll;
  }
}

.main-content {
  padding-top: 40px;
  padding-bottom: 100px;

  & > h1 {
    margin: -10px 200px 30px 0px;
  }
  & > h1.full-width {
    margin: -10px 0px 30px 0px;
  }
}

.footer-content {
  text-align: center;
  background-color: #333;
  color: white;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;

  p {
    margin: 0;
  }

  .nsf-logo {
    width: 70px;
  }
}

//============================
//    Challenges page

.challenge-header {
  padding: 10px 0 40px 0;
 p {
  font-size: @font-size-large;
  color: @orange;
  }
}



.action-list {
  padding: 0;
  clear: both;
  li {
    float: left;
    width: 33%;
    padding: 0 5px;
    list-style-type: none;
    text-align: center;
    .btn {
      background: @green;
      color: #fff;
      font-size: 30px;
      width: 75px;
      height: 75px;
      line-height: 1;
      padding: 15px;
      .gray-light & {
        background: @gray-light;
      }
    }
  }
}

.challenge-content {
  margin-top: 120px;
  .start-link {
    width: 100%;
    padding: 20px 0;
    font-size: @font-size-large;
    font-weight: 600;
  }
}

.materials-list {
  .panel-heading {
    background: @blue;
    color: #fff;
  }
  ul, ol {
    padding-left: 19px;
  }
  margin-bottom: 35px;
}

.mentor-comment {
  float: left;
  color: @blue;
  font-weight: 600;
}

.panel-bubble.comment {
  margin-top: 5px;
  margin-right:125px;
  .panel-body {
    padding: 15px;
  }
}

.mentor-info.comment {
  float: right;
  width: 100px;
  img {
    width: 50px;
  }
}

.starter-info {
margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
  float: left;
  width: 45px;
  z-index: 1;
  position:relative;
  img {
    width: 34px;
  }
}

//reflect
.reflect-box {
  textarea {
    display: block;
    background: lighten(@teal, 40%);
    width: 100%;
    color: @text-color;
    resize: vertical;
  }
  .action-list li .btn {
    .button-variant(#fff; @teal; @teal);
    margin-right: 10px;
  }
  .btn-link {
    color: #fff;
  }
  label {display: none;}
  p {
    margin: 20px 0;
  }
  a { color: #fff;}
}

.reflect-question {
  .panel-bubble & h3 {
    text-align: left;
    margin-bottom: 0;
    font-weight: 600;
  }
  .refresh {
    margin-top: 5px;
   cursor: pointer;
   padding-right: 10px;
   position: relative;
   top: 3px;
   font-size: @font-size-small;
  }
}

.congratulations-panel {
  min-height: 350px;
  padding-top: 60px;
  background:
    url(../images/examples/balloon-left-animated.gif) top left no-repeat,
    url(../images/examples/balloon-right-animated.gif) top right no-repeat;
}

.modal-dialog .reflect-question {
  color: lighten(@teal, 5%);
  font-weight: 600;
}

//// mentor view
.mentor-panel-content {
  .panel {
    margin-top: 20px;

    textarea {
      width: 100%;
      resize: vertical;
      color: black;
    }
  }
}

/// lines up list of unclaimed progresses
#progress-list {
  .panel {
    min-height: 355px;
  }
}


////profiles

.profile-info {
  .image-wrapper {
    img {
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

.profile-fields {

  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
  }

  label {
    margin-top: 10px;
  }

  textarea {
    width: 100%;
    height: 8em;
    resize: vertical;
  }

  img, .videocontent {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

.captcha {
  margin: 20px 10px 0 0;
}

//student home

#challenges {
  .pipe-nav {
    padding: 0;
    position: relative;
    top: 15px;
  }
}

.user-avatar {
  position: absolute;
  right: @grid-side-gutters;
  top: 20px;
}

// units
.unit-info {
  .image-wrapper {
      padding: 13px 5px 5px 5px;
      .border-bottom-radius(7px);
      img {
        width: 100%;
      }
      span {
        display: block;
        text-align: center;
        font-weight: 600;
      }
    }

  .challenges-list {
    margin-top: 20px;
  }
}

.nav-tabs {
  overflow: hidden;
}
.nav-tabs > li {
  height: 90px;
}
.nav-tabs > li > a {
  transition: height 0.2s, box-shadow 0.2s;
  height: 65px;
  box-shadow: 0 0 14px rgba(0,0,0,0);
}
.nav-tabs > li.active > a {
  height: 70px;
  box-shadow: 0 0 14px rgba(0,0,0,0.6);
}
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #44b1f5;
  outline: 0;
  &.favorites {
    background-color: #84af49;
  }
}

h2 a.btn:first-child {
  margin-left: 36px;
}

.section-box {
  .well;
  .hyphens();

  .section-box-header {
    .h3
  }

  .btn {
    white-space: normal;
  }
}

.table.text-center th {
  text-align: center;
}
.badge {
  &.plan {
    color: #84af49;
    background: none;
    font-size: 2em;
  }
  &.build {
    color: #f16243;
    background: none;
    font-size: 2em;
  }
  &.reflect {
    color: #1bb2c4;
    background: none;
    font-size: 2em;
  }
}

.breadcrumb {
  text-transform: capitalize;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-cm1 {
  .button-variant(#fff, #1bb2c4, #1bb2c4);
}
.btn-cm2 {
  .button-variant(#fff, #f16243, #f16243);
}

.tab-content .tab-empty {
  padding: 2em 0;
  margin-left: (@grid-side-gutters - (@grid-gutter-width / 2));
}

.parent-connection {
  position: relative;

  &.is-off::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    border-radius: 4px;
  }
}

.table.table-middle > tbody > tr > td {
  vertical-align: middle;
}


#join-modal .button-help {
  color: @text-muted;
  margin-top: 1em;
}

////========================
//// EDP Comments

.edp-comments {

  textarea {
    resize: vertical;
    width: 100%;
    color: @dark-gray;
  }

  img, video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .pickwidget-filename {
    word-wrap: break-word;
  }

  color: #fff;
}

////========================
//// Educator resources (in the Guide modal)

.media-item {
  margin: 5px 5px 20px 5px !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  border-radius: 5px;
  border: 1px solid @bg-color-dark;

  .media-left {
    padding: 15px;
  }

  .media-body {
    padding: 15px 15px 20px 0px;
    display: table-cell;
    p { margin-bottom: 10px; }
    a {
      margin: 5px 0;
    }
  }
}


////========================
//// other

.avatar-container {
  display: inline-block;
  img {
    border-radius: 50%;
    display: inline-block;
  }

  .avatar-name {
    display: inline-block;
    margin-left: 10px;
  }
}

.preview-page-alerts a, .preview-page-alerts input {
  margin: 10px 10px 0;
}
