

//===============global layout=======================
//   things on every page menu/footer etc.
//===================================================
html {height: 100%;}
body {
  height: 100%;
}

.menu-img {width: 100%;}

.temp-header {
  font-family: @headings-font-family;
}

#site-message {
  border-radius: 0;
	margin-bottom: 0;
}

#main-container {
  background: @bg-color;
  min-height: 100%;
}

.main-column {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
  max-width: @container-lg;
}
.container-fluid {
  position: relative;
  width: 100%;
  margin-left: 0px;
  padding-left: @grid-side-gutters;
  padding-right: @grid-side-gutters;
  .transition(margin-left .5s);
  &.nav-open {
    margin-left: @nav-width;
  }
}

//wrap anythign that needs to extend past the left and right gutters with this
.no-gutters {
  margin-left: -(@grid-side-gutters);
  margin-right: -(@grid-side-gutters);
}

.logo {
  width: 210px;
  display: inline-block;
}

.errors, .error {
  color: red;
  text-transform: uppercase;
  font-weight: 600;
  .errorlist {
    padding-left: 1em;
  }
}

.become-mentor-link {
  float: right;
  color: #44b1f5;
  margin-right: 200px;
}

.float-left {
  float: left;
}

/* widgets? */
@paper-line-height: 25px;
.paper {
  background: @bg-color; /* Old browsers */
  background: @bg-color;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, @bg-color));
  background: -webkit-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: -moz-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: -ms-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: -o-linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  background: linear-gradient(top, #d9eaf3 0%, @bg-color 8%);
  line-height: @paper-line-height;
  -webkit-background-size: 100% 25px;
  -moz-background-size: 100% 25px;
  -ms-background-size: 100% 25px;
  -o-background-size: 100% 25px;
  background-size: 100% @paper-line-height;
  padding-top: @paper-line-height + 1;
}

.owl-carousel {
  padding-top: 30px;
  padding-bottom: 30px;
}

#filepicker_dialog_container {
  background: @bg-color !important;
}

.comment {
  .img-wrapper {
    img {
      width: 100%;
      display: block;
    }
  }

  .reflect-question {
    background: lighten(@teal, 5%);
    color: white;
    border-radius: @panel-border-radius;
    padding: 8px;
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }
}

.switch { //radio button for build/test
  position: relative;
  width: 100%;
  padding: 1px 0px;
  border-radius: 5px;
  background: darken(@green, 5%);
  box-shadow: inset 2px 2px 0 rgba(0,0,0,.1);
  text-align: center;
  li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    width: calc(50% - 1px);
  }
  input {
    display: none;
    &:checked + label {
      background: @green;
      color: #fff;
      box-shadow: 2px 2px 0 rgba(0,0,0,.1);
    }
  }
  label {
    // float: left;
    border-radius: 3px;
    margin: 0;
    color: lighten(@green, 5%);
    font-weight: 600;
    padding: 10px 0px;
    cursor: pointer;
  }
}
.pipe-nav {
  li {
    list-style-type: none;
    display: inline;
    &:after {
      content: " | ";
      padding: 0 5px;
    }
    a {
      color: @gray;
      &.active {
        font-weight: 700;
      }
    }
  }
}

.comment-date {
  display: block;
  font-size: @font-size-small;
  text-align: right;
  color: @gray-light;
}

//notification messages
#message-bar{
  position: fixed;
  top: 0;
  opacity: 0;
  display: none;
  pointer-events: none;
  width: 100%;
  min-height: 56px;
  padding: 23px 0 23px 23px;
  line-height: 24px;
  background: rgba(222, 135, 158, 0.9);
  border-bottom: 1px solid #de879e;
  letter-spacing: 1px;
  text-transform: uppercase;color: white;
  z-index: 99999;
  &.success{
    background: rgba(147, 184, 104, 0.9);
    border-bottom: 1px solid #93b868;
  }
  &.active{
    opacity: 1;
    display: block;
  }
  &.error{
    background: rgba(204, 71, 72, 0.9);
    border-bottom: 1px solid #cc4748;
  }
  &.info {
    background: rgba(27, 178, 196, 0.9);
    border-bottom: 1px solid #1bb2c4;
  }
}

//unread messages... we can subclass this ore rename it specific if unread is too broad.
.unread {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  line-height: 1;
  padding: 8px 10px;
  background: @orange;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 0;
    border-color: @orange transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 5px;
  }
}

//comment form
.comment-form {
  .image-wrapper {
    width: 100%;
    img {
      width: 100%;
    }
    margin-bottom: 20px;
  }
  input[type=filepicker-custom] {display: none;}

  #filepickerframe {
    width: 100%;
    height: 365px;
    border: none;
  }

  textarea {
    width: 100%;
  }
}

.top-avatar {
    background: rgb(128,206,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(128,206,255,1) 14%, rgba(128,206,255,1) 14%, rgba(68,177,245,1) 15%, rgba(68,177,245,1) 28%, rgba(132,175,73,1) 29%, rgba(132,175,73,1) 47%, rgba(128,124,119,1) 48%, rgba(128,124,119,1) 61%, rgba(241,98,67,1) 62%, rgba(241,98,67,1) 79%, rgba(128,206,255,1) 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(14%,rgba(128,206,255,1)), color-stop(14%,rgba(128,206,255,1)), color-stop(15%,rgba(68,177,245,1)), color-stop(28%,rgba(68,177,245,1)), color-stop(29%,rgba(132,175,73,1)), color-stop(47%,rgba(132,175,73,1)), color-stop(48%,rgba(128,124,119,1)), color-stop(61%,rgba(128,124,119,1)), color-stop(62%,rgba(241,98,67,1)), color-stop(79%,rgba(241,98,67,1)), color-stop(80%,rgba(128,206,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(128,206,255,1) 14%,rgba(128,206,255,1) 14%,rgba(68,177,245,1) 15%,rgba(68,177,245,1) 28%,rgba(132,175,73,1) 29%,rgba(132,175,73,1) 47%,rgba(128,124,119,1) 48%,rgba(128,124,119,1) 61%,rgba(241,98,67,1) 62%,rgba(241,98,67,1) 79%,rgba(128,206,255,1) 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(128,206,255,1) 14%,rgba(128,206,255,1) 14%,rgba(68,177,245,1) 15%,rgba(68,177,245,1) 28%,rgba(132,175,73,1) 29%,rgba(132,175,73,1) 47%,rgba(128,124,119,1) 48%,rgba(128,124,119,1) 61%,rgba(241,98,67,1) 62%,rgba(241,98,67,1) 79%,rgba(128,206,255,1) 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(128,206,255,1) 14%,rgba(128,206,255,1) 14%,rgba(68,177,245,1) 15%,rgba(68,177,245,1) 28%,rgba(132,175,73,1) 29%,rgba(132,175,73,1) 47%,rgba(128,124,119,1) 48%,rgba(128,124,119,1) 61%,rgba(241,98,67,1) 62%,rgba(241,98,67,1) 79%,rgba(128,206,255,1) 80%); /* IE10+ */
    background: linear-gradient(to right,  rgba(128,206,255,1) 14%,rgba(128,206,255,1) 14%,rgba(68,177,245,1) 15%,rgba(68,177,245,1) 28%,rgba(132,175,73,1) 29%,rgba(132,175,73,1) 47%,rgba(128,124,119,1) 48%,rgba(128,124,119,1) 61%,rgba(241,98,67,1) 62%,rgba(241,98,67,1) 79%,rgba(128,206,255,1) 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ceff', endColorstr='#80ceff',GradientType=1 ); /* IE6-9 */
    padding-top: 8px;
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.3);
    position: relative;
    .image-wrapper {
      padding: 13px 5px 5px 5px;
      background: @bg-color;
      .border-bottom-radius(7px);
      text-align: center;
      img {
        width: 80px;
      }
      span {
        display: block;
        text-align: center;
        font-weight: 600;
      }
    }
    &:before {
      content: '';
      background: url('../images/tag-small.png') top left no-repeat;
      width: 25px;
      height: 30px;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -12px;
      top: -8px;
    }
}

//gallery modals

#galleryModal {
  img {
    width: 100%;
  }
}

.image-gallery {
  .image-container img {cursor: pointer}
}

.introvideocontent {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  video, .cm-mejs-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

////========================
//// home pge

.home-hero {
  margin: 0 -(@grid-side-gutters);
  margin-top: -120px;
  margin-bottom: 15px;
  height: 550px;
  padding: 120px 0 0 65px;
  background: url('../images/collage2.png') 500px 0px no-repeat, -moz-linear-gradient(top,  rgba(214,227,223,0) 0%, rgba(214,227,223,0) 25%, rgba(214,227,223,1) 100%); /* FF3.6+ */
  background: url('../images/collage2.png') 500px 0px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,227,223,0)), color-stop(25%,rgba(214,227,223,0)), color-stop(100%,rgba(214,227,223,1))); /* Chrome,Safari4+ */
  background: url('../images/collage2.png') 500px 0px no-repeat, -webkit-linear-gradient(top,  rgba(214,227,223,0) 0%,rgba(214,227,223,0) 25%,rgba(214,227,223,1) 100%); /* Chrome10+,Safari5.1+ */
  background: url('../images/collage2.png') 500px 0px no-repeat, -o-linear-gradient(top,  rgba(214,227,223,0) 0%,rgba(214,227,223,0) 25%,rgba(214,227,223,1) 100%); /* Opera 11.10+ */
  background: url('../images/collage2.png') 500px 0px no-repeat, -ms-linear-gradient(top,  rgba(214,227,223,0) 0%,rgba(214,227,223,0) 25%,rgba(214,227,223,1) 100%); /* IE10+ */
  background: url('../images/collage2.png') 500px 0px no-repeat, linear-gradient(to bottom,  rgba(214,227,223,0) 0%,rgba(214,227,223,0) 25%,rgba(214,227,223,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6e3df', endColorstr='#d6e3df',GradientType=0 ); /* IE6-9 */

  .no-cssgradients & {
    background: url('../images/collage2.png') 500px 0px no-repeat;
  }

  h1 {
    font-size: 70px;
    font-weight: 300;
    font-family: "Raleway Dots", "Raleway";
    line-height: 90px;
  }
  h2 {
    font-size: 22px;
    line-height: 1.2;
    margin: 0;
    &:nth-child(3) {color: @blue;}
    &:nth-child(4) {color: @green;}
  }
  .login-buttons {
    padding: 0;
    margin-top: 30px;
    li {
      list-style-type: none;
      float: left;
      margin-right: 20px;
      .btn, .btn-link {
        font-size: 20px;
      }
    }
  }
}


//////==========================
/////  challenges list page

.challenges-list {
  margin: 0;
  padding-left: 0;
  .clearfix();
  li {
    list-style-type: none;
  }
  .owl-item {
    width: 450px;
    padding: 3px 10px 0 10px;
  }
  .image-container {
    img {
      width: 100%;
    }
  }
  .panel {
    height: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.free-height .panel {height: auto;}
}

ul.owl-carousel,
ol.owl-carousel {
  margin: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    padding: 3px 10px 0 10px;
  }
}

.theme-wrapper {
  padding: 0 (@grid-gutter-width / 2);
}

.theme-carousel {
  position: relative;
  padding-left: 0;
  .owl-item {
    padding: 5px;
    li {
      list-style-type: none;
      border: 2px solid transparent;
      padding: 2px;
      border-radius: @border-radius-base + 2;
      &.active {
        border: 2px solid @orange;
      }
      a {
        background: @green;
        display: block;
        height: 100px;
        border-radius: @border-radius-base;
        color: #fff;
        position: relative;
        .theme-name {
          position: absolute;
          left: 10px;
          bottom: 5px;
        }
        .theme-icon {
          position: absolute;
          top: 3px;
          right: 10px;
          font-size: 70px;
        }
        box-shadow: 2px 2px 2px rgba(0,0,0,.2);
      }
    }
  }
}

.challenge-browser {
  margin-top: 40px;
}


////============================
///    challenge details

.challenge-details-hero {
  position: relative;
  margin: 0 -(@grid-side-gutters);
  min-height: 50px;
  img {
    width: 100%;
  }
  .details {
    color: #fff;
    position: relative;
    bottom: 0px;
    left: 67px;
    font-size: 36px;
    margin-right: 200px;
    margin-top: 0px;
  }
}

.challenge-details {
  .btn-primary {
    position: relative;
    float: right;
    margin: -70px 0px 0 0;
    z-index: 2;
  }
  .challenge-content {
    margin-top: 100px;
  }
}

#guide-modal {
  .tab-pane {
    height: 340px;
    overflow: scroll;
  }
}

.main-content {
  padding-top: 40px;
  padding-bottom: 100px;

  & > h1 {
    margin: -10px 200px 30px 0px;
  }
  & > h1.full-width {
    margin: -10px 0px 30px 0px;
  }
}

.footer-content {
  text-align: center;
  background-color: #333;
  color: white;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;

  p {
    margin: 0;
  }

  .nsf-logo {
    width: 70px;
  }
}

//============================
//    Challenges page

.challenge-header {
  padding: 10px 0 40px 0;
 p {
  font-size: @font-size-large;
  color: @orange;
  }
}



.action-list {
  padding: 0;
  clear: both;
  li {
    float: left;
    width: 33%;
    padding: 0 5px;
    list-style-type: none;
    text-align: center;
    .btn {
      background: @green;
      color: #fff;
      font-size: 30px;
      width: 75px;
      height: 75px;
      line-height: 1;
      padding: 15px;
      .gray-light & {
        background: @gray-light;
      }
    }
  }
}

.action-list-tsl {
  padding: 0;
  clear: both;
  margin-left: 100px;
  li {
    float: left;
    width: 33%;
    padding: 0 5px;
    list-style-type: none;
    text-align: center;
    .btn {
      background: @green;
      color: #fff;
      font-size: 30px;
      width: 75px;
      height: 75px;
      line-height: 1;
      padding: 15px;
      .gray-light & {
        background: @gray-light;
      }
    }
  }
}




.challenge-content {
  margin-top: 120px;
  .start-link {
    width: 100%;
    padding: 20px 0;
    font-size: @font-size-large;
    font-weight: 600;
  }
}

.materials-list {
  .panel-heading {
    background: @blue;
    color: #fff;
  }
  ul, ol {
    padding-left: 19px;
  }
  margin-bottom: 35px;
}

.mentor-comment {
  float: left;
  color: @blue;
  font-weight: 600;
}

.panel-bubble.comment {
  margin-top: 5px;
  margin-right:125px;
  .panel-body {
    padding: 15px;
  }
}

.mentor-info.comment {
  float: right;
  width: 100px;
  img {
    width: 50px;
  }
}

.starter-info {
margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
  float: left;
  width: 45px;
  z-index: 1;
  position:relative;
  img {
    width: 34px;
  }
}

//reflect
.reflect-box {
  textarea {
    display: block;
    background: lighten(@teal, 40%);
    width: 100%;
    color: @text-color;
    resize: vertical;
  }
  .action-list li .btn {
    .button-variant(#fff; @teal; @teal);
    margin-right: 10px;
  }
  .btn-link {
    color: #fff;
  }
  label {display: none;}
  p {
    margin: 20px 0;
  }
  a { color: #fff;}
}

.reflect-question {
  .panel-bubble & h3 {
    text-align: left;
    margin-bottom: 0;
    font-weight: 600;
  }
  .refresh {
    margin-top: 5px;
   cursor: pointer;
   padding-right: 10px;
   position: relative;
   top: 3px;
   font-size: @font-size-small;
  }
}

.congratulations-panel {
  min-height: 350px;
  padding-top: 60px;
  background:
    url(../images/examples/balloon-left-animated.gif) top left no-repeat,
    url(../images/examples/balloon-right-animated.gif) top right no-repeat;
}

.modal-dialog .reflect-question {
  color: lighten(@teal, 5%);
  font-weight: 600;
}

#reflect-images {
  img {
    width: 100%;
  }
  .img-wrapper {
    margin-bottom: 15px;
  }
  .btn-primary {
    font-size: 40px;
  }
  .btn-link {
    font-size: 18px;
  }
}

#reflect-images-modal {
  #reflect-images-selector {
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style-type: none;
      width: 50%;
      padding: 20px;
      cursor: pointer;
      transition: background .25s;
      border-radius: 10px;
      &.selected, &:hover {
        background: @blue;
      }
      &:nth-child(2n-1) {
        clear: both;
      }
    }
    img {
      width: 100%;
    }
  }
}


//// mentor view
.mentor-panel-content {
  .panel {
    margin-top: 20px;

    textarea {
      width: 100%;
      resize: vertical;
      color: black;
    }
  }
}


////profiles

.mentor-info {
  .image-wrapper {
    img {
      width: 100%;
    }
  }
}

.profile-fields {

  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
  }

  label {
    margin-top: 10px;
  }

  textarea {
    width: 100%;
    height: 8em;
    resize: vertical;
  }

  img, .videocontent {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

.captcha {
  margin: 20px 10px 0 0;
}

//student home

#challenges {
  .pipe-nav {
    padding: 0;
    position: relative;
    top: 15px;
  }
}

.user-avatar {
  position: absolute;
  right: @grid-side-gutters;
  top: 20px;
}

//////  mentor-training

#mentor-training {
  .panel-comment {
    position: relative;
  }
  .replies {
    //margin-left: 50px;
    background:@bg-color-dark;
    padding: 25px 25px 25px 50px;
    margin-top: -20px;
    .border-bottom-radius(@border-radius-large);
  }
  section {
    margin-bottom: 40px;
  }
  form textarea {
    width: 100%;
    height: 170px;
  }
  .mentor-training-comment {
   // margin-right: 125px;
    margin-bottom: 25px;
  }
  .btn-approve {
    display: block;
    text-align: center;
    width: 100%;
  }
}

//// mentors list
.join-date {
  float: right;
  font-size: @font-size-small;
  padding-top: 3px;
}

.mentor-list {
  padding: 0 0 0 0;
  margin: 0;
  > li {
    padding-right: 20px;
    list-style-type: none;
    width: 25%;
    float: left;
    .image-container img {
      width: 100%;
    }
  }
  > li:nth-child(4n+1) {
    clear: both;
  }
}

.questions-tsl {
  list-style-type: none;
  font-size: 18px;
  > li {
    margin-bottom: 20px;
  }
}

.answer-options {
    margin-top:20px;
    margin-left:200px;
}

.send-btn {
  float: right;
  width: 520px;
  height: 50px;
  margin-right: 280px;
}

.answer-display {
  margin-bottom: 20px;
  margin-top: 20px;
}

#id_answer {
  width: 850px;
}

.subheader-tsl {
  font-size: 18px;
  margin-bottom: 50px;
}

.btn-guest-modal {
  margin-left: 170px;
}

.guest-modal-subheader {
  font-size: 22px;
}

.guest-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
}

// units
.unit-info {
  .image-wrapper {
      padding: 13px 5px 5px 5px;
      .border-bottom-radius(7px);
      img {
        width: 100%;
      }
      span {
        display: block;
        text-align: center;
        font-weight: 600;
      }
    }

  .challenges-list {
    margin-top: 20px;
  }
}

.nav-tabs {
  overflow: hidden;
}
.nav-tabs > li {
  height: 90px;
}
.nav-tabs > li > a {
  transition: height 0.2s, box-shadow 0.2s;
  height: 65px;
  box-shadow: 0 0 14px rgba(0,0,0,0);
}
.nav-tabs > li.active > a {
  height: 70px;
  box-shadow: 0 0 14px rgba(0,0,0,0.6);
}
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #44b1f5;
  outline: 0;
  &.favorites {
    background-color: #84af49;
  }
}

h2 a.btn:first-child {
  margin-left: 36px;
}

.section-box {
  .well;
  .hyphens();

  .section-box-header {
    .h3
  }

  .btn {
    white-space: normal;
  }
}

.table.text-center th {
  text-align: center;
}
.badge {
  &.plan {
    color: #84af49;
    background: none;
    font-size: 2em;
  }
  &.build {
    color: #f16243;
    background: none;
    font-size: 2em;
  }
  &.reflect {
    color: #1bb2c4;
    background: none;
    font-size: 2em;
  }
}

.breadcrumb {
  text-transform: capitalize;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-cm1 {
  .button-variant(#fff, #1bb2c4, #1bb2c4);
}
.btn-cm2 {
  .button-variant(#fff, #f16243, #f16243);
}

.tab-content .tab-empty {
  padding: 2em 0;
  margin-left: (@grid-side-gutters - (@grid-gutter-width / 2));
}

.parent-connection {
  position: relative;

  &.is-off::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    border-radius: 4px;
  }
}

.table.table-middle > tbody > tr > td {
  vertical-align: middle;
}


#join-modal .button-help {
  color: @text-muted;
  margin-top: 1em;
}

////========================
//// parent training pages

.google-slideshow-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.google-slideshow-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.margin-top-20 {
  margin-top: 20px;
}
.parent-training-separator {
  margin: 30px auto 40px auto;
  height: 2px;
  width: 100%;
  background-color: #f16243;
}

////========================
//// inspiration gallery

.ig-button {
  margin: 20px 0px 40px 0px;
}

////========================
//// filepicker

.filepicker-comments {

  textarea {
    resize: vertical;
    width: 100%;
    color: @dark-gray;
  }

  img, video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .pickwidget-filename {
    word-wrap: break-word;
  }

  color: #fff;
}

.avatar-container {
  display: inline-block;
  img {
    border-radius: 50%;
    display: inline-block;
  }

  .avatar-name {
    display: inline-block;
    margin-left: 10px;
  }
}

////========================
//// other

.preview-page-alerts a, .preview-page-alerts input {
  margin: 10px 10px 0;
}
