html, body {
  background: #fffcf7;
  min-height: 300px;
}

#content {
  padding: 0;
}

#branding {
  display: none !important;
}

#services {
  height: 300px;
}

#servicePane {
  top: 0px;
}

#picker {
  padding: 0px;
  video {
    height: 300px;
  }
}

#pickerComputer {
  padding-top: 15px;
}

#localDragDrop {
  min-height: 250px;
  margin-top: 0px;
  #localDragHelp {
    margin-top: 100px;
  }
}

#fileUploadDummy {
  z-index: 1;
}

