{% load resized %}

<div id="student-completed" class="card text-center my-4">
  <div class="card-body">
    <h3>Add your project!</h3>
    <p>Want to share your design? Choose a photo from your project and add it to the Inspiration Gallery.</p>
    <a href="#" class="btn btn-purple" data-toggle="modal" data-target="#choose-photo">
      <i class="icon-camera mr-2" {% if not request.user.extra.is_student %}disabled="disabled"{% endif %}></i>
      Choose a Photo
    </a>
  </div>
</div>

<div class="modal fade" id="choose-photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    {% if progress.get_owner_images %}
    {% include "challenges/examples/modals/_choose_photo_modal_content.html" %}
    {% else %}
    {% include "challenges/examples/modals/_no_photos_modal_content.html" %}
    {% endif %}
  </div>
</div>
