{% extends "curiositymachine/layout/base.html" %}
{% load resized %}

{% block body-id %}examples-page{% endblock %}
{% block content %}
  <div class="examples-top-panel">
    <div class="container">
      <h3><a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}">{{ challenge.name }}</a></h3>
      <h1>Inspiration Gallery</h1>
    </div>
  </div>

  <div class="container">

    <!-- student who has started the design challenge but not posted in Reflect progress -->
    <div class="examples-page-alerts text-center p-a-md m-y-md">
      <h3>You are working on this design challenge!</h3>
      <p>Complete your project and post in Reflect. Then you can share your design here!</p>
      <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}" class="btn btn-primary">Keep Working</a>
    </div>

    <!-- student who has not started the design challenge -->
    <div class="examples-page-alerts text-center p-a-md m-y-md">
      <h3>Want to {{ challenge.name }}?</h3>
      <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}" class="btn btn-primary">Start Building</a>
    </div>

    <div class="examples-page-alerts text-center p-a-md m-y-md">
      <h3>Add your project!</h3>
      <p>Want to share your design? Choose a photo from your project and add it to the Inspiration Gallery.</p>
      <a href="#" class="btn btn-purple" data-toggle="modal" data-target="#choose-photo"><i class="icon-camera" {% if not request.user.profile.is_student %}disabled="disabled"{% endif %}></i>Choose a Photo</a>


      <!-- A Pending Example submission -->
      <!--
      <div class="alert alert-info m-t-md" role="alert">
        <strong>Thanks for submitting your project!</strong> Once your photo has been approved, it will show up in the gallery for everyone to see.
      </div>
      -->


      <div class="modal fade" id="choose-photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>Choose a Photo</h3>
            </div>
            <div class="modal-body text-center">
              <p>Your images from {{ challenge.name }}</p>
              <div class="row">
                {% for image in progress.get_student_images %}
                <div class="col-md-6">
                  <img src="{{ image.url }}" alt="">
                </div>
                {% empty %}
                  <h3>You have not added any photos to this challenge!</h3>
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" aria-label="Close">Cancel</a>
              <a href="#" class="btn btn-primary">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <nav>
        <ul class="pagination">
          <li class="disabled">
            <span aria-label="Previous">
              <i class="icon-left-arrow" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </span>
          </li>
          <li class="active">
            <span>1<span class="sr-only"> (current)</span></span>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=2#mentors">2</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=3#mentors">3</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=4#mentors">4</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=5#mentors">5</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=6#mentors">6</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=7#mentors">7</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=8#mentors">8</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=9#mentors">9</a>
          </li>
          <li>
            <a href="/mentors/?page=2#mentors" aria-label="Next">
              <i class="icon-right-arrow" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row m-y">

      {% for example in examples %}
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <a href="#" data-toggle="modal" data-target="#{{ example.progress.student.username }}">
            <img class="card-img-top action-img" src="{% resized example.image.url width=330 height=200 crop='fill' %}" alt="{{ example.progress.student.username }}'s {{ challenge.name }}">
            <div class="pending"><em>Pending Approval!</em></div>
          </a>
          <div class="card-block text-center">
            <p class="card-title">{{ example.progress.student.username }}</p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="{{ example.progress.student.username }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>{{ example.progress.student.username }}'s {{ challenge.name }}</h3>
            </div>
            <div class="modal-body text-center">
              <img src="{% resized example.image.url crop='fill' %}" alt="{{ example.progress.student.username }}'s {{ challenge.name }}">
            </div>
          </div>
        </div>
      </div>
      {% empty %}

      <!-- anonymous user -->
      <div class="examples-page-alerts text-center p-a-md m-y-md">
        <h3>There aren't any examples here!</h3>
        <p>Be the first to share your design! Create a student account and build this design challenge to submit your project.</p>
        <a href="{% url "profiles:join" %}" class="btn btn-primary">Create a Student Account</a>
        <a href="{% url "login" %}" class="btn btn-green">Log In</a>
      </div>

      <!-- student who has not started this challenge -->
      <div class="examples-page-alerts text-center p-a-md m-y-md">
        <h3>There aren't any examples here!</h3>
        <p>Be the first to share your design! Build this design challenge to submit your project.</p>
        <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}" class="btn btn-primary">Start Building</a>
      </div>

      <!-- student who has started this challenge -->
      <div class="examples-page-alerts text-center p-a-md m-y-md">
        <h3>There aren't any examples here!</h3>
        <p>Be the first to share your design! Finish your project and come back to submit it.</p>
        <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}" class="btn btn-primary">Keep Building</a>
      </div>

      <!-- mentors, educators & parents -->
      <div class="examples-page-alerts text-center p-a-md m-y-md">
        <h3>There aren't any examples here!</h3>
        <p>When a student builds a project, they can add their design to this page. Encourage them to be creative!</p>
        <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}">{{ challenge.name }}</a>
      </div>
      {% endfor %}

    </div>

    <div class="row text-center">
      <nav>
        <ul class="pagination">
          <li class="disabled">
            <span aria-label="Previous">
              <i class="icon-left-arrow" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </span>
          </li>
          <li class="active">
            <span>1<span class="sr-only"> (current)</span></span>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=2#mentors">2</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=3#mentors">3</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=4#mentors">4</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=5#mentors">5</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=6#mentors">6</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=7#mentors">7</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=8#mentors">8</a>
          </li>
          <li class="hidden-sm-down hidden-md-down">
            <a href="/mentors/?page=9#mentors">9</a>
          </li>
          <li>
            <a href="/mentors/?page=2#mentors" aria-label="Next">
              <i class="icon-right-arrow" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

{% endblock %}
