{% extends "curiositymachine/layout/base.html" %}
{% block title %}{{ challenge.name }} Inspiration Gallery{% endblock %}

{% load resized %}
{% load staticfiles %}

{% block js %}
  <script>
    $(document).ready(function(){
      var submitSelector = '#submit-form input[type="submit"]';
      var radioSelector = '#submit-form [name="example"]';
      var checkedRadioSelector = '#submit-form [name="example"]:checked';

      $(submitSelector).prop('disabled', !$(checkedRadioSelector).val());
      $(radioSelector).change(function (evt) {
        $(submitSelector).prop('disabled', !$(checkedRadioSelector).val());
      });
    });
  </script>
{% endblock %}

{% block body-id %}examples-page{% endblock %}

{% block content %}

  <div class="jumbotron cm-jumbotron jumbotron-fluid">
    <div class="container">
      {% if request.user.is_authenticated and request.user.extra.is_student %}
      <h3><a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=request.user.username %}">{{ challenge.name }}</a></h3>
      {% else %}
      <h3><a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}">{{ challenge.name }}</a></h3>
      {% endif %}
      <h1>Inspiration Gallery</h1>
    </div>
  </div>

  <div class="container">

    {% if progress and not progress.completed %}
    {% include "challenges/examples/panels/_challenge_in_progress.html" %}
    {% elif progress.completed and not user_example %}
    {% include "challenges/examples/panels/_challenge_complete.html" %}
    {% elif user_example and not user_example.approved %}
    {% include "challenges/examples/panels/_example_pending.html" %}
    {% endif %}

    <div class="row justify-content-center">
      {% include "curiositymachine/_pagination_controls.html" with curr_page=examples anchor="examples" %}
    </div>

    <div class="row">

      {% for example in examples %}
      <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-3">
        <div class="card cm-info-card my-4">
          <a href="#" data-toggle="modal" data-target="#{{ example.progress.owner.username }}">
            <img class="card-img-top" src="{% resized example.image.url width=330 height=200 crop='fill' %}" alt="{{ example.progress.owner.username }}'s {{ challenge.name }}">
            {% if not example.approved %}
            <div class="card-img-overlay pending-overlay"><em>Pending Approval!</em></div>
            {% endif %}
          </a>
          {% if example == user_example %}
          <a href="#" data-toggle="modal" data-target="#remove-example-modal" class="badge-remove">
              &times;
          </a>
          {% endif %}
          <div class="card-body p-4 text-center">
            <p class="card-text">{{ example.progress.owner.username }}</p>
          </div>
        </div>
      </div>

      {% include "challenges/examples/modals/_example_modal.html" %}
      {% if example == user_example %}
      {% include "challenges/examples/modals/_removal_modal.html" %}
      {% endif %}

      {% empty %}

      <div class="col-12 p-4 my-4 d-block text-center">
        <h3>There aren't any examples yet!</h3>
        <img src="{% static 'images/examples/inspiration-gallery-bot.png' %}" alt="The robot is having trouble hanging the art. Please add your own work to help the struggling robot.">
      </div>

      {% endfor %}

    </div>

    <div class="row justify-content-center">
      {% include "curiositymachine/_pagination_controls.html" with curr_page=examples anchor="examples" %}
    </div>

  </div>

{% endblock %}
