<div class="profile-fields">
  <div class="col-md-4 student-column">
    <h3>Mentor</h3>
    <div>
      <label for="email">Email: </label>
      {{form.email}}
      <div class="errors">{{ form.email.errors }}</div>
    </div>
    <div>
      {{form.username.label_tag}}
      {{form.username}}
      <div class="errors">{{ form.username.errors }}</div>
    </div>
    <div>
      {{form.password.label_tag}}
      {{form.password}}
      <div class="errors">{{ form.password.errors }}</div>
    </div>
    <div>
      {{form.confirm_password.label_tag}}
      {{form.confirm_password}}
      <div class="errors">{{ form.confirm_password.errors }}</div>
    </div>
  </div>

  <div class="col-md-4 student-column">
    <h3>&nbsp;</h3>
    
    <div>
      {{form.first_name.label_tag}}
      {{form.first_name}}
      <div class="errors">{{ form.first_name.errors }}</div>
    </div>
    <div>
      {{form.last_name.label_tag}}
      {{form.last_name}}
      <div class="errors">{{ form.last_name.errors }}</div>
    </div>
    <div>
      {{form.city.label_tag}}
      {{form.city}}
      <div class="errors">{{ form.city.errors }}</div>
    </div>
     <div>
      {{form.picture_filepicker_url.label_tag}}
      {{form.picture_filepicker_url}}
      <div class="errors">{{ form.picture_filepicker_url.errors }}</div>
    </div>
  </div>

{{ form.non_field_errors }}

</div>