{% extends "deprecated_base.html" %}
{% block title %}Join as a Mentor{% endblock %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block content %}

<h1>Get Started. Create an Account.</h1>
<p>Curiosity Machine Mentors are professionals or students training in STEM fields. If this sounds like you, please sign up!</p>
<form method='post' action="{{ action }}" enctype="multipart/form-data" id="join-form" class="default-form clearfix">
  {% csrf_token %}
  <div class="row">
    {% include "profiles/mentor/_join_fields.html" %}
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>
        By joining Curiosity Machine, you confirm that you accept our <a target="_blank" href="http://iridescentlearning.org/terms-of-use/">Terms of Use</a>.
      </p>
      <button type="submit" class="btn btn-primary btn-lg pull-right">Save</button>
    </div>
  </div>
</form>

{% endblock %}
