{% extends "base.html" %}

{% block content %}

<h1>Get Started. Create an Account.</h1>
<p>Curiosity Machine Mentors are professionals or students training in STEM fields. If this sounds like you, please sign up!</p>
<form method='post' action="{{ action }}" enctype="multipart/form-data" id="join-form" class="default-form clearfix">
  {% csrf_token %}
  <div class="row">
    {% include "profiles/mentor/fields.html" %}
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>
        By clicking Save, you confirm that you accept the <a target="_blank" href="/privacy">Privacy Policy</a>.
      </p>
      <button type="submit" class="btn btn-primary btn-lg pull-right">Save</button>
    </div>
  </div>
</form>

{% endblock %}