{% extends "curiositymachine/layout/base.html" %}

{% block container %}

<div class="jumbotron bg-blue">
  <div class="container text-light">
    <div class="col-lg-8">
      <h1>
        {% block pagehead %}Account{% endblock %}
      </h1>
    </div>
  </div>
</div>

<div class="container mt-5">
  {% if messages %}
  <div class="row mb-4">
    <div class="col-md-10 offset-md-1">
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{message}}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

<div class="container-fluid my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 ">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-blue py-4"></div>

{% endblock %}
