{% extends "curiositymachine/layout/base.html" %}

{% block container %}
<div class="jumbotron cm-jumbotron jumbotron-fluid bg-green">
  <h1>{% block pagehead %}Account{% endblock %}</h1>
</div>
<div class="container mt-5">
  {% if messages %}
  <div class="row mb-4">
    <div class="col-md-10 offset-md-1">
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{message}}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-5">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}