{% extends "account/base.html" %}
{% load bootstrap4 %}

{% block title %}Sign Up{% endblock %}
{% block pagehead %}
  Sign Up
  {% if membership %}
  for {{ membership.display_name }}
  {% endif %}
{% endblock %}

{% block content %}
  <p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.</p>
  <p>Interested in mentoring? <a href="https://docs.google.com/forms/d/e/1FAIpQLSflWTQ1DHmAsdzKU6ZrmCTINPqHTvym15apTqAF5Dmb80cZfw/viewform?usp=sf_link">Tell us here</a>!
  <hr/>

  {% if membership %}
  {% url 'membership_signup' slug=membership.slug as actionurl %}
  {% else %}
  {% url 'account_signup' as actionurl %}
  {% endif %}
  <form class="signup" id="signup_form" method="post" action="{{ actionurl }}" novalidate>
    {% csrf_token %}
    {% form_group form.username %}
    {% form_group form.email help_text="Children under 13 please provide a parent or guardian's email address"%}
    {% if form.email2 %}
      {% form_group form.email2 %}
    {% endif %}
    {% form_group form.password1 %}
    {% form_group form.password2 %}
    {{ form.source }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
{% endblock %}
