{% extends "account/base.html" %}
{% load bootstrap4 %}

{% block title %}Sign Up{% endblock %}
{% block pagehead %}
  Sign Up
  {% if membership %}
  for {{ membership.display_name }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="my-3">
    <h2 class="my-3">
      Learn, play and create with with us
    </h2>
    <p>
      Families, students and program leaders, sign-up and start today.
    </p>
    <p>
      <a
        class="font-weight-bold base-type"
        href="http://technovationacademy.org"
        target="_blank"
      >
        Click here to learn about volunteering
        <i class="icon-right-arrow"></i>
      </a>
    </p>
  </div>

  {% if membership %}
  {% url 'membership_signup' slug=membership.slug as actionurl %}
  {% else %}
  {% url 'account_signup' as actionurl %}
  {% endif %}
  <form class="signup" id="signup_form" method="post" action="{{ actionurl }}" novalidate>
    {% csrf_token %}
    {% form_group form.username %}
    {% form_group form.email help_text="Students and Families: please provide a parent or guardian's email address"%}
    {% if form.email2 %}
      {% form_group form.email2 %}
    {% endif %}
    <div style="display: none;">
      <label>Leave this field blank to prove you are a human</label>
      <input type="text" name="{{ ACCOUNT_SIGNUP_HONEYPOT_FIELD }}" id="id_{{ ACCOUNT_SIGNUP_HONEYPOT_FIELD }}"/>
    </div>
    {% form_group form.password1 %}
    {% form_group form.password2 %}
    {{ form.source }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-orange">Sign Up</button>
  </form>
  <p class="mt-4">
    <a
      class="base-type"
      href="#"
      data-toggle="modal"
      data-target="#login-modal"
    >
      Already have an account? Please log in
      <i class="icon-right-arrow"></i>
    </a>
  </p>
{% endblock %}
