venv
staticfiles
*.log
*.pot
*.pyc
.DS_Store
.agignore
curiositymachine/local.py
**/node_modules
.coverage
.cache
htmlcov
*.db
db.sqlite3
heroku.env
*.env
*.notes
dump.rdb
received-emails/
.pytest_cache/
.tool-versions