[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=1.11.0"
dj-database-url = "~=0.5.0"
waitress = "~=1.1.0"
whitenoise = "~=3.3.1"
redis = "~=2.10.6"
django-simple-redis = "~=0.0.1"
django-rq = "~=1.1.0"
rq-scheduler = "~=0.7.0"
rq = "~=0.11.0"
djangorestframework = "~=3.8.2"
django-ace = "~=1.0.3"
django-allauth = "~=0.36.0"
django-apptemplates = "~=1.4"
django-compressor = "~=2.2"
django-enumfields = "~=0.10.1"
django-notifications-hq = "~=1.4.0"
django-ordered-model = "~=2.0.0"
django-phonenumber-field = "~=2.0.0"
django-recaptcha = "~=1.4.0"
django-staticflatpages = "~=0.5.0"
django-summernote = "~=0.8.8.7"
django-widget-tweaks = "~=1.4.2"
pycountry = "~=18.5.26"
python-dateutil = "~=2.7.3"
python-dotenv = "~=0.8.2"
"enum34" = "~=1.1.6"
requests = "~=2.19.1"
bleach = "~=2.1.3"
"tinys3" = "~=0.1.12"
"django-s3direct" = "~=1.0.4"
"django-s3-storage" = "~=0.12.4"
zencoder = "~=0.6.5"
cloudinary = "~=1.12.0"
mandrill = "~=1.0.57"
hellosign-python-sdk = "~=3.8.7"
newrelic = "~=3.2.2.94"
rollbar = "~=0.14.1"
factory-boy = "~=2.11.1"
"psycopg2-binary" = "~=2.7.5"
django-debug-toolbar = "~=1.9.1"
django-html-validator = {git = "https://github.com/stenington/django-html-validator.git"}
django-webpack-loader = "~=0.6.0"

[dev-packages]
coverage = "*"
django-extensions = "*"
django-html-validator = { git = "https://github.com/stenington/django-html-validator.git", ref="master" }
mock = "*"
pretend = "*"
pyquery = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.6.5"
