#framework
-e git://github.com/django/django@1.7b1#egg=Django

#db driver
psycopg2==2.5.2

#Heroku DATABASE_URL env variable parsing
dj-database-url==0.2.2

#WSGI server
waitress==0.8.8

#WSGI statics process
whitenoise==0.13

#background worker job queueing (redis-backed)
redis==2.9.1
django-rq==0.6.1

#interface to S3
-e git://github.com/boto/boto@py3kport#egg=Boto

#video encoding service
zencoder==0.6.5

djangorestframework==2.3.13
