#framework
-e git://github.com/django/django@1.7b1#egg=Django

#db driver
psycopg2==2.5.2

#Heroku DATABASE_URL env variable parsing
dj-database-url==0.2.2

#WSGI server
waitress==0.8.8

#WSGI statics process
whitenoise==0.13

#better testing
pretend==1.0.7
pytest-django==2.6
coverage