# requirements.dev.txt contains all the basics...
-r ./requirements.txt

# and some development-only extras
coverage
django-debug-toolbar~=1.5
django-extensions~=1.7.5
django-html-validator~=0.4.7
mock~=1.0.1
pretend~=1.0.7
pyquery~=1.2.11
pytest-cov~=2.2.1
pytest-django~=2.9.1
