# requirements.dev.txt contains all the basics...
-r ./requirements.txt

# and some development-only extras
coverage==4.4.1
django-debug-toolbar==1.8
django-extensions==1.9.6
django-html-validator==0.4.8
mock==2.0.0
pretend==1.0.8
pyquery==1.2.17
pytest-cov==2.5.1
pytest-django==3.1.2
