{% extends "profiles/profile_form.html" %}
{% load bootstrap4 %}
{% load pick_action %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block action %}
  {% pick_action form edit="students:edit_profile" create="students:create_profile" %}
{% endblock %}

{% block fields %}
  <div class="text-center avatar-settings">
    {% block avatar %}{{ block.super }}{% endblock %}
    {% form_group form.image_url field_class="" %}
  </div>
  {% form_group form.first_name %}
  {% form_group form.last_name %}
  {% form_group form.city %}
  {% email_form_group form.email email=email %}
{% endblock %}
