{% extends "profiles/profile_form.html" %}
{% load bootstrap4 %}
{% load pick_action %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block action %}
  {% pick_action form edit="students:edit_profile" create="students:create_profile" %}
{% endblock %}

{% block fields %}
  <div class="text-xs-center">
    {% include "profiles/_avatar.html" with profile=request.user.profile width=80 height=80 crop='fit' classes='rounded-circle' %}
    {% form_group form.image_url field_class="" %}
  </div>
  {% form_group form.city %}
  {% email_form_group form.email email=email %}
  {% if form.birthday %}{% form_group form.birthday %}{% endif %}
{% endblock %}
