{% extends "curiositymachine/layout/base.html" %}
{% block title %}Activate Account{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid cm-jumbotron bg-green">
  <div class="container">
    <h1>Activate Your Account</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center mt-4">
      <h2><strong>Next Steps</strong></h2>
    </div>
    <div class="col-lg-8 offset-lg-2">
      <ol>
        <li>Your parent or guardian should be receiving an email to activate your account</li>
        <li>They must follow the link on the email, fill in the required fields and sign</li>
        <li>They will receive an email that this account is activated within 30 minutes of signing the form, at that time you will be able to start challenges</li>
      </ol>
    </div>
    <div class="col-lg-8 offset-lg-2 text-center">
      <p class="font-italic">Email <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a> if your parent or guardian does not receive the email or if your account is not activated after 30 minutes of signing.</p>
    </div>
    <div class="col-lg-8 offset-lg-2 text-center my-4">
      <h5>In the meantime, you can check out our design challenges and decide what to build first!</h5>
      <a href="{% url "challenges:challenges" %}" class="btn btn-primary">Browse Design Challenges</a>
    </div>
    <div class="col-12">
      <hr class="hr-green"/>
    </div>
    <div class="col-lg-8 offset-lg-2 mb-4">
      <h6>You can post pictures and videos of your projects on Curiosity Machine. To activate this account, your parent or guardian must complete the consent form sent to their email. This is in accordance with the <a href="https://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act">Children’s Online Privacy Protection Act</a> (COPPA).</h6>
    </div>
  </div>
</div>

{% endblock %}
