{% extends "challenges/edp/progress/reflect.html" %}

{% load widget_tweaks %}

{% block congrats_panel %}
  {% if progress.completed %}
    <div class="panel white congratulations-panel">
      <div class="panel-body text-center">
        <div class="row">
          <div class="congratulations-panel-content">
            <h2>Congratulations!</h2>
            <p>
              You just completed a design challenge! Now you can post a picture of your project to the Inspiration Gallery
              to share with the community.
            </p>
            <div class="span">
              <a href="{% url "challenges:examples" challenge_id=challenge.id %}" class="btn btn-primary congratulations-button">Go to the Inspiration Gallery</a>
              <a href="{% url 'profiles:home' %}" class="btn btn-primary congratulations-button">Return to Dashboard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block feedback_panel %}
  {% if progress.completed and feedback_response %}
    <div class="panel white feedback-panel">
      <div class="panel-body text-center">
        <div class="row">
          <div class="feedback-panel-content">
            <h1 class="feedback-title">Thank you!</h1>
            <p class="feedback-content">Q: {{ feedback_question }}</p>
            <p class="feedback-content">A: {{ feedback_response }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block reflect_form %}
  {% url "challenges:comments:comments" challenge_id=challenge.id username=progress.owner.username stage='reflect' as comment_url %}
  <form method="POST" action="{{ comment_url }}">
    {% csrf_token %}
    {{ comment_form.text|attr:"placeholder:Write your reflection here. You can also add a photo or video below." }}
    {{ comment_form.visual_media }}
    {{ comment_form.question_text|add_class:'question-text' }}
    <input type="submit" class="btn btn-primary pull-right" data-debounce="true" />
  </form>
{% endblock %}

{% block quiz_form_submit %}
  <input type="submit"
    class="btn btn-primary pull-right"
    data-debounce="true"
  />
{% endblock %}

{% block feedback_form_submit %}
  <input type="submit"
    class="btn btn-primary pull-right"
    data-debounce="true"
  />
{% endblock %}