{% extends "_modal.html" %}
{% block id %}join-modal{% endblock %}
{% block classes %}{% endblock %}
{% block inner-classes %}modal-lg{% endblock %}

{% block content %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1>Get started. Create an account.</h1>
</div>
<div class="modal-body clearfix">
  <p class="lead">Join Curiosity Machine as a:</p>
  <div class="row text-xs-center">
    <div class="col-sm-3 offset-sm-0 col-xs-8 offset-xs-2">
      <a class="btn btn-lg btn-primary btn-block" href="{% url 'profiles:join' %}">
        Student
      </a>
      <p class="button-help">
        build and document projects using the engineering design process
      </p>
    </div>
    <div class="col-sm-3 offset-sm-0 col-xs-8 offset-xs-2">
      <a class="btn btn-lg btn-primary btn-block" href="{% url 'mentor' %}">
        Mentor
      </a>
      <p class="button-help">
        guide students as they build engineering design challenges
      </p>
    </div>
    <div class="col-sm-3 offset-sm-0 col-xs-8 offset-xs-2">
      <a class="btn btn-lg btn-primary btn-block" href="{% url 'profiles:join_as_educator' %}">
        Educator
      </a>
      <p class="button-help">
        find resources to teach engineering challenges and track student progress
      </p>
    </div>
    <div class="col-sm-3 offset-sm-0 col-xs-8 offset-xs-2">
      <a class="btn btn-lg btn-primary btn-block" href="{% url 'profiles:join_as_parent' %}">
        Parent
      </a>
      <p class="button-help">
        connect to your child’s account and learn how to build together
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
{% endblock %}
