{% extends "curiositymachine/layout/base.html" %}
{% load bootstrap4 %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block body-id %}{% endblock %}
{% block body-classes %}account-settings{% endblock %}

{% block content %}
<div class="jumbotron bg-blue">
  <div class="container text-light">
    <div class="col-lg-8">
      <h1>Account Settings</h1>
    </div>
  </div>
</div>
<div class="container mb-5">
  {% if messages %}{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissable show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}{% endif %}
  <div class="row">
    <div class="col-lg-6 offset-lg-3 p-3">
      <h2 class="text-center">Your profile information</h2>
      <form action="{% block action %}{% endblock %}" method="POST" novalidate>
        {% csrf_token %}
        {% block fields %}
          {% block avatar %}
            {% include "profiles/_avatar.html" with profile=request.user.profile width=125 height=125 crop='thumb' gravity='faces' classes='leaf-border p-3' %}
          {% endblock %}
        {% endblock %}
        {% block navbutton %}
        {% if form.instance and form.instance.pk %}
        <a
          class="btn btn-outline-primary float-right"
          href="{% url "account_change_password"%}"
        >
          Change password
        </a>
        {% endif %}
        {% endblock %}
        <input type="submit" class="btn btn-orange float-left" value="Save">
      </form>
    </div>
  </div>
</div>
{% endblock %}
