{% extends "curiositymachine/layout/base.html" %}
{% load bootstrap4 %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block content %}
<div class="jumbotron-blue jumbotron-fluid text-xs-center">
    <h1>Account Settings</h1>
</div>
<div class="container mb-3">
  {% if messages %}{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissable show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}{% endif %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% block cards %}
      <div class="card card-module">
        <div class="card-block-title text-xs-center p-1">
          <h4>{% block card_title %}Profile Info{% endblock %}</h4>
        </div>
        <div class="card-block">
          <form action="{% block action %}{% endblock %}" method="POST" novalidate>
            {% csrf_token %}
            {% block fields %}
              {% block avatar %}
                {% include "profiles/_avatar.html" with profile=request.user.profile width=80 height=80 crop='thumb' gravity='faces' classes='rounded-circle' %}
              {% endblock %}
            {% endblock %}
            {% block navbutton %}
            {% if form.instance and form.instance.pk %}
            <a class="btn btn-secondary" href="{% url "account_change_password"%}">Change password</a>
            {% endif %}
            {% endblock %}
            <input type="submit" class="btn btn-primary float-xs-right" value="Save">
          </form>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
