
{% extends "_modal.html" %}
{% block id %}{{format}}_form-{{target_id}}{% endblock %}
{% block classes %}text_form{% endblock %}
{% block inner-classes %}modal-lg{% endblock %}

{% block content %}


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1>Post {{format}}</h1>
      </div>
      <form action="{{ url }}" method="POST" class="comment-form">
      <div class="modal-body">
        {% csrf_token %}
        

        {% if format == 'video' %}
          {{comment_form.video_filepicker_url}}
          <div class="errors">{{ comment_form.video_filepicker_url.errors }}</div>
        {% elif format == 'picture' %}
          {{comment_form.picture_filepicker_url}}
          <div class="errors">{{ comment_form.picture_filepicker_url.errors }}</div>
        {% endif %}

        <div>
          {{comment_form.text.label_tag}}
          {{comment_form.text}}
          <div class="errors">{{ comment_form.text.errors }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-primary btn-lg" disabled='disabled'/>
      </div>
      </form>
{% endblock %}