<li>
  <div class="panel panel-default training-module">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% if module in accessible_modules %}
          <a href="{{ module.get_absolute_url }}">
            Module {{ module.order }}
          </a>
        {% else %}
          Module {{ module.order }}
        {% endif %}
      </h3>
    </div>
    {% if module in accessible_modules %}
      <a href="{{ module.get_absolute_url }}">
    {% endif %}
    <div class="image-container {% if not module in accessible_modules %}disabled{% endif %}">
      <span class="placeholder icon-engineer"></span>
    </div>
    {% if module in accessible_modules %}
      </a>
    {% endif %}
    <div class="panel-body">
      
      <h4>{{ module.name }}</h4>
        
    </div>
  </div>
</li>