{% extends "base.html" %}

{% block title %}Module {{ module.id }}: {{ module.title }}{% endblock %}

{% block content %}

    <h1>Mentor Training Module {{ module.id }}: {{ module.title }}</h1>

    {{ module.text|safe }}

    <ul>
        {% for thread in threads %}
            <li>
                <b>{{ thread.user.username }} on {{ thread.created }}</b>: {{ thread.text }}
                <ul>
                    {% for reply in thread.replies.all %}
                        <li><b>{{ reply.user.username }}</b> on {{ reply.created }}: {{ reply.text }}</li>
                    {% endfor %}
                </ul>
                {% if not finished or request.user.profile.approved %}{% if not finished or thread.user != request.user %}
                    <p>Leave a thread reply:</p>
                    <form action="{% url "training:comments" module.id thread.id %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit"/>
                    </form>
                {% endif %}{% endif %}
                {% if perms.profiles.edit_profile and thread.user != request.user %}
                    <form action="{% url "training:approve_module_progress" module.id thread.user.username %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Approve {{ thread.user.username }}'s progress on this module">
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {# in order for this form to show, you must both NOT be approved and NOT have already made a thread #}
    {% if show_thread_form %}
        <p>Leave a top-level comment:</p>
        <form action="{% url "training:comments" module.id %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit"/>
        </form>
    {% endif %}

{% endblock %}
