<h1>{{ challenge.name }}</h1>
<div class="challenge-details-hero">
  {% if challenge.video %}
      {% if challenge.video.encodings_generated %}
        <div class="flowplayer" data-adaptive-ratio="true">
          <video class="video-js vjs-default-skin"
            preload="true"
            poster='{{challenge.video.output_videos.all.0.thumbnail}}'
            {# data-setup='{"customControlsOnMobile": false}' #}
            id="video-element-{{challenge.video.id}}">            
            {% for v in challenge.video.output_videos.all %}
            <source src="{{v.video}}" type='video/mp4' />
            {% endfor %}
          </video>
        </div>
      {% else %}
        <h3><em>The video is encoding and should be available shortly.</em></h3>
      {% endif %}
  {% elif request.user.is_superuser %}
    {{ video_form.media }}
    <form action="{% url "challenges:upload_video" challenge_id=challenge.id %}" method="POST">
      {% csrf_token %}
      <p>No Challenge Video Uploaded</p>
      {{video_form.video_filepicker_url}}
      <div class="errors">{{ video_form.video_filepicker_url.errors }}</div>
      <button type="submit" class="call-to-action submit" id="save-product-button">Upload Video</button>
    </form>
  {% endif %}
  <div class="details h2">
    <p>{{ challenge.description }}</p>
  </div>
</div>