{% load unread_count %}
{% load resized %}
{% load staticfiles %}

<li>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% if progress|unread_count:request.user %} <span title="{{progress|unread_count:request.user}} unread messages" class="unread">{{progress|unread_count:request.user}}</span>{% endif %}
        <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}">{{progress.student.username}} </a>
      </h3>
      <div class="image-container">
        <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}"> 

          {% if progress.student.profile.image %}
            <img src="{% resized progress.student.profile.image.url  width=300 height=200 crop='fill' %}" />
          {% elif progress.challenge.image %}
            <img src="{% resized progress.challenge.image.url width=300 height=200 crop='fill' %}">
          {% elif progress.challenge.video.encodings_generated %}
            <img src="{% resized progress.challenge.video.thumbnails.first.url width=300 height=200 crop='fill' %}">
          {% endif %}

        </a>
    </div>
    </div>
    <div class="panel-body">
      <h4><a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}">{{ progress.challenge.name }}</a></h4>
      <p>Started: {{ progress.started }}</p>
      {% if not progress.mentor %}
        <form action="{% url "challenges:claim_progress" progress_id=progress.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Claim</button>
        </form>
      {% endif %}
    </div>
  </div>
</li>