{% extends "_modal.html" %}
{% block id %}reflect-images-modal{% endblock %}
{% block classes %}{% endblock %}
{% block inner-classes %}modal-lg{% endblock %}

{% block content %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1>Choose an image</h1>
  </div>
  
    <div class="modal-body">
      <ul id="reflect-images-selector" class="clearfix">
      {% for image in progress.get_student_images %}
        <li>
          <div class="image-wrapper">
            <img src="{{ image.url }}" >
          </div>
        </li>
      {% empty %}
        <li><h3>You have not added any images to this challenge</h3><li>
      {% endfor %}
      </ul>
    </div>
    <div class="modal-footer">
      <a class="btn btn-link btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</a>
      <input type="submit" value="Save" data-dismiss="modal" class="btn btn-primary btn-lg" />
    </div>

{% endblock %}