{% load unread_count %}

<li>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% if challenge in request.user.challenge_set.all %}
          <a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=request.user.username %}">{{ challenge.name }}</a>{% if progress|unread_count:request.user %} ({{progress|unread_count:request.user}}){% endif %}
        {% else %}
          <a href="{% url 'challenges:challenge' challenge.id %}">{{ challenge.name }}</a>
        {% endif %}
      </h3>
    </div>
    <div class="image-container">
      {% if challenge in request.user.challenge_set.all %}
        <a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=request.user.username %}">
      {% else %}
        <a href="{% url 'challenges:challenge' challenge.id %}">
      {% endif %}
        <img src="http://placekitten.com/300/200">
      </a>
    </div>
    <div class="panel-body">
      {{ challenge.description }}
    </div>
  </div>
</li>