{% load cmtemplatetags %}

{{ comment.created|timesince }}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'challenges:challenge' challenge.id %}">{{comment.user.get_full_name}} says:</a></h3>
  </div>
  <div class="panel-body paper">
    {% if comment.image %}<p><img src="{{ comment.image }}" /></p>{% endif %}
    {% if comment.video %}
      {% if comment.video.encodings_generated %}
        <video class="video-js vjs-default-skin"
          controls preload="none" width="517" height="333"
          poster='{{comment.video.output_videos.all.0.thumbnail}}'
          {# data-setup='{"customControlsOnMobile": false}' #}
          id="video-element-{{comment.video.id}}">            
          {% for v in comment.video.output_videos.all %}
          <source src="{{v.video}}" type='video/mp4' />
          {% endfor %}
        </video>
      {% else %}
        <p><i>Video is uploading and will be displayed shortly</i></p>
      {% endif %}
    {% endif %}
    <p>{{comment.text}}</p>
  </div>
</div>