{% load cmtemplatetags %}

{% if comment.user.profile.is_mentor %}
  <span class="mentor-comment">MENTOR MESSAGE</span>
  <span class="comment-date">{{ comment.created|timesince }}</span>
  <div class="mentor-info comment">
    <a href="{% url 'profiles:mentor_profile' comment.user.username %}">{% include "_avatar.html" with profile=comment.user.profile width=50 height=50 crop='fit' %}</a>
    <p><a href="{% url 'profiles:mentor_profile' comment.user.username %}">{{comment.user.username}}</a><br><strong>Mentor</strong></p>
  </div>
  <div class="panel panel-bubble blue comment">
    <div class="panel-body">
      {% include "_comment_content.html" %}
    </div>
  </div>
{% else %}
  <span class="comment-date">{{ comment.created|timesince }}</span>
  <div class="panel panel-comment comment">
    <div class="panel-heading">
      <h3 class="panel-title">{{ comment.get_stage_display }}</h3>
    </div>
    <div class="panel-body paper">
      {% include "_comment_content.html" %}
    </div>
  </div>
{% endif %}
