{% load widget_tweaks %}

<div class="col-md-5">
  <div class="mentor-panel-content">

    <!-- <h3>{{progress.student.username}}</h3> -->
    {% if not progress.mentor %}
      <h4 style="font-size: 17px;">This challenge is unclaimed. Claim it to provide feedback!</h4>
      <form class="ajax-and-refresh-form" action="{% url "challenges:claim_progress" progress_id=progress.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary" type="submit">Claim this Challenge</button>
      </form>
    {% else %}
      <div class="avatar-container">
        {% include "_avatar.html" with profile=request.user.profile width=50 height=50 crop='fill' %}
        <h3 class="avatar-name">{{ request.user.username }}</h3>
      </div>

      <div class="panel panel-bubble bottom gray-light filepicker-comments">
        <div class="panel-body">
          <h3>Give Feedback</h3>
          <form method="POST" action="{{ comment_url }}">
            {% csrf_token %}
            {{ comment_form.text|attr:"placeholder:Write your comment here..." }}
            {{ comment_form.visual_media }}
            <input type="submit" class="btn btn-primary pull-right" />
          </form>
        </div>
      </div>
    {% endif %}
  </div>
</div>
