{% extends 'base.html' %}
{% load staticfiles %}
{% load resized %}

{% block js %}
<script src="/static/js/challenges.js"></script>
{% endblock %}

{% block content %}
  <h1>{{ challenge.name }} <small>By {{progress.student.username}}</small></h1>
  {% include "_challenge_nav.html" with stage="plan" %}
  
<div class="challenge-content">
{% if not request.user.profile.is_mentor %}
 <header class="challenge-header">
    <h1>Plan your project</h1>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </header>
{% endif %}
<div class="row">
  
  {% if request.user.profile.is_mentor %}
    {% include "_mentor_panel.html" %}
  {% else %}
  <div class="col-md-5">
    <div class="panel panel-bubble">
      <div class="panel-body">
        <h3>Post your plan as a video, drawing (photo) or text</h3>
        
        <ul class="action-list">
          <li><button class="btn btn-lg" data-toggle="modal" data-target="#video_form">
            Video
            </button>
          </li>
          <li><button class="btn btn-lg" data-toggle="modal" data-target="#picture_form">
            Picture
            </button>
          </li>
          <li><button class="text_comment_link btn btn-lg" data-toggle="modal" data-target="#text_form">Text</button></li>
        </ul>
        
      </div>
    </div>

    {% if challenge.plan_call_to_action %}
    <div class="panel panel-bubble blue right">
      <div class="panel-body">
            {{challenge.plan_call_to_action}}
      </div>
    </div>
    {% endif %}
    </div><!-- /column 1 -->
  {% endif %}

  

  <div class="col-md-1">
    <img src="{% resized progress.student.profile.get_user_image_url width=60 height=80 crop='fit' %}" />
  </div>

  <div class="col-md-6">
    {% if request.user.profile.is_mentor %}
      <h1>{{progress.student.username}}'s plan</h1>
    {% else %}
    <div class="panel panel-bubble outline right">
      <a href="#" data-toggle="modal" data-target="#text_form">
      <div class="panel-body">
          <h3>Stuck?<br> Ask a question.</h3>
      </div>
      </a>
    </div>
    {% endif %}

    <div class="materials-list panel">
    <div class="panel-heading">
      <h3 class="panel-title">Material list</h3>
    </div>
    <div class="panel-body">
      {{ challenge.materials_list|safe }}
    </div>
  </div><!-- materials-list -->
    
    <div class='text_comment' style='display:none'>
      <form action="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='plan' %}" method="POST">
        {% csrf_token %}
        <div>
          {{comment_form.text}}
          <div class="errors">{{ comment_form.text.errors }}</div>
        </div><br>
        <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
      </form>
    </div>
    {% for comment in comments %}
    {% include "_comment.html" %}
  {% endfor %}
  <a class="btn btn-lg btn-primary start-link" href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=progress.student.username stage='build' %}"> START BUILDING</a>
</div><!-- /col 2 -->

</div><!-- row -->
    {% include "_guide.html" %}

    {{ comment_form.media }}
    {% include "_comment_form.html" with stage="plan" format="video" %}
    {% include "_comment_form.html" with stage="plan" format="picture" %}
    {% include "_comment_form.html" with stage="plan" format="text" %}
</div><!-- content -->

{% endblock %}
