{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/favorites.js' %}"></script>
{% endblock %}

{% block css %}
<link href='//fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  <div class="challenges-top-panel">
    <div class="grid-container">
      <div class="grid-100">
        <h1>Challenges</h1>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-100">
      <div class="challenges-navigation grid-25 tablet-grid-33 mobile-grid-100">
        <!-- 
        <ul class="design-challenge-highlights">
          <a href="#">
          <a href="#" id="boeing-filter"><li>Inspired by <i class="icon-boeing-logo"></i></li></a>
        </ul>
        -->
        <ul class="design-challenge-list">
          <a href="{% url 'challenges:challenges' %}?{% if theme_id %}theme_id={{theme_id}}{% endif %}" {% if not filter_id and not favorites %}id="selected-filter"{% endif %}><li>All Challenges</li></a>
          {% for f in filters %}
            <a href="{% url 'challenges:challenges' %}?filter_id={{ f.id }}&{% if theme_id %}theme_id={{theme_id}}{% endif %}" {% if filter == f.name %}id="selected-filter"{% endif %}><li>{{ f.name }}</li></a>
          {% endfor %}
          <a href="{% url 'challenges:challenges' %}?favorites=true&{% if theme_id %}theme_id={{theme_id}}{% endif %}" {% if favorites %}id="selected-filter"{% endif %}><li>Favorites</li></a>

          <a href="{% url 'challenges:challenges' %}?{% if filter_id %}filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}" {% if not theme %}id="selected-theme"{% endif %}><li>All</li></a>

          {% for t in themes %}
            <a href="{% url 'challenges:challenges' %}?theme={{t.name}}&theme_id={{t.id}}{% if filter_id %}&filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}" {% if theme == t.name %}id="selected-theme"{% endif %}><li><i class="{{ t.icon }}"></i>{{ t.name }}</li></a>
          {% endfor %}
        </ul>
      </div>
      <div class="grid-75 tablet-grid-66 mobile-grid-100">
        <h4 class="all-challenges-header">All Challenges</h4>
        <div class="all-challenges-cards grid-100">
          <ul class="pagination">
            <a href="{% url 'challenges:challenges' %}?page={{ page|add:-1 }}{% if filter_id %}&filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}{% if theme_id %}&theme_id={{ theme_id }}{% endif %}"><li class="pagination-arrow"><i class="icon-left-arrow"></i></li></a>
            {% for i in page_range %}
              <a href="{% url 'challenges:challenges' %}?page={{ i }}{% if filter_id %}&filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}{% if theme_id %}&theme_id={{ theme_id }}{% endif %}"><li {% if i == page %}id="current-page-dot"{% else %}class="pagination-dot"{% endif %}></li></a>
            {% endfor %}
            <a href="{% url 'challenges:challenges' %}?page={{ page|add:1 }}{% if filter_id %}&filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}{% if theme_id %}&theme_id={{ theme_id }}{% endif %}"><li class="pagination-arrow"><i class="icon-right-arrow"></i></li></a>
          </ul>
          {% for challenge in challenges %}
            {% include "_challenge_item.html" %}
          {% endfor %}
          <span class="clear"></span>

          <ul class="pagination">
            <a href="{% url 'challenges:challenges' %}?page={{ page|add:-1 }}{% if filter_id %}&filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}{% if theme_id %}&theme_id={{ theme_id }}{% endif %}"><li class="pagination-arrow"><i class="icon-left-arrow"></i></li></a>
            {% for i in page_range %}
              <a href="{% url 'challenges:challenges' %}?page={{ i }}{% if filter_id %}&filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}{% if theme_id %}&theme_id={{ theme_id }}{% endif %}"><li {% if i == page %}id="current-page-dot"{% else %}class="pagination-dot"{% endif %}></li></a>
            {% endfor %}
            <a href="{% url 'challenges:challenges' %}?page={{ page|add:1 }}{% if filter_id %}&filter_id={{filter_id}}{% endif %}{% if favorites %}&favorites=true{% endif %}{% if theme_id %}&theme_id={{ theme_id }}{% endif %}"><li class="pagination-arrow"><i class="icon-right-arrow"></i></li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.small-screen-navigation').on('click', function(event) {
        var clickTarget = event.target;

        if ($('.small-screen-navigation')[0]===clickTarget) {
          toggleNav();
        }
      });
        $('#mobile-menu-link').on('click', function(event) {
          toggleNav();
        });

        var toggleNav=function() {
          $('.small-screen-navigation').toggleClass('nav-reveal');
          $('#about-link').toggleClass('nav-item-1');
          $('#challenges-link').toggleClass('nav-item-2');
          $('#account-link').toggleClass('nav-item-3');
        }
    });
  </script>
{% endblock %}