{% extends 'base.html' %}
{% load staticfiles %}
{% load resized %}

{% block js %}
<script src="/static/js/challenges.js"></script>
{% endblock %}

{% block content %}
  <h1>{{ challenge.name }} <small>By {{progress.student.username}}</small></h1>
  {% include "_challenge_nav.html" with stage="build" %}
  <div class="challenge-content">
    {% if not request.user.profile.is_mentor %}
    <header class="challenge-header">
      <h1>Share your progress</h1>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </header>
    {% endif %}
<div class="row">
  {% if request.user.profile.is_mentor %}
    {% include "_mentor_panel.html" %}
  {% else %}
  <div class="col-md-5">

    
    
    

    {% if challenge.build_call_to_action or progress.approved %}
    <div class="panel panel-bubble blue right">
      <div class="panel-body">
        {% if progress.approved %}
          <p>You've made great progress on this challenge. I think you are ready to move on to the next step.</p>
          <p><strong>Reflect on your design.</strong></p>
        {% else %}
            {{challenge.build_call_to_action}}
        {% endif %}
      </div>
    </div>
    {% endif %}

  </div><!-- /column 1 -->
  {% endif %}

  <div class="col-md-1">
    <img src="{% resized progress.student.profile.get_user_image_url width=60 height=80 crop='fit' %}" />
  </div>

  <div class="col-md-6">
    {% if request.user.profile.is_mentor %}
      <h1>{{progress.student.username}}'s progress</h1>
    {% else %}
    {% if progress.approved %}
      <div class="panel panel-bubble teal right reflect-question">
      <div class="panel-body">
        <h1>Reflect</h1>
          <p>You've finished your challenge. Upload a key photo and describe what makes your challenge unique.</p>
          <form action="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='reflect' %}" method="POST" class="comment-form">
            {% csrf_token %}

            {{comment_form.picture_filepicker_url}}
          <div class="errors">{{ comment_form.picture_filepicker_url.errors }}</div>

          <p>{{challenge.reflect_question}}</p>
          {{comment_form.text.label_tag}}
          {{comment_form.text}}
          <div class="errors">{{ comment_form.text.errors }}</div>
          <button class="btn btn-lg btn-primary btn-reflect">SAVE</button>
        </form>
      </div>
      </div>
    {% else %}
    <div class="panel panel-bubble right">
      <div class="panel-body">
        <h3>Post an update about your...</h3>

        <ul class="switch stage-switch">
          <li>
            <input type="radio" name="stepSelector" id="buildSelector" value="build" checked><label for="buildSelector">Build</label>
            <input type="hidden" value="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='build' %}" class="build-url url">
          </li>
          <li>
            <input type="radio" name="stepSelector" id="testSelector" value="test"><label for="testSelector">Test</label>
            <input type="hidden" value="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='test' %}" class="test-url url">
          </li>
        </ul>
       
        <ul class="action-list">
          <li><button class="btn btn-lg" data-toggle="modal" data-target="#video_form">
            Video
            </button>
          </li>
          <li><button class="btn btn-lg" data-toggle="modal" data-target="#picture_form">
            Picture
            </button>
          </li>
          <li><button class="btn btn-lg" data-toggle="modal" data-target="#text_form">Text</button></li>
        </ul>
        
      </div>
    </div>
    {% endif %}
    {% endif %}

    {% for comment in comments %}
      {% include "_comment.html" %}
    {% endfor %}
</div><!-- /col 2 -->

</div><!-- row -->
    {% include "_guide.html" %}

     {{ comment_form.media }}
      {% include "_comment_form.html" with stage="build" format="video" %}
      {% include "_comment_form.html" with stage="build" format="picture" %}
      {% include "_comment_form.html" with stage="build" format="text" %}

</div><!-- content -->

{% endblock %}
