{% extends "base.html" %}
{% block title %}Challenge: {{ challenge.name }}{% endblock %}

{% block content %}
<div class="challenge-details">
  <h1>{{ challenge.name }}</h1>
  {% include "_challenge_nav.html" with stage="inspiration" %}

<div class="challenge-content">
  {% include '_challenge_details.html' %}

  {% if request.user.is_authenticated and request.user.profile.is_student %}
      <form name="Start Building" action='' method='POST'>
        {% csrf_token %}
        <input type="submit" value="Start Building" class="btn btn-primary btn-lg" />
      </form>
  {% endif %}
</div>
</div>
{% include "_guide.html" %}
{% endblock %}