{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
<script src="/static/js/challenges.js"></script>
{% endblock %}

{% block content %}
  <h1>{{ challenge.name }} <small>By {{progress.student.username}}</small></h1>
  {% include "_challenge_nav.html" with stage="plan" %}
  
<div class="challenge-content">
  <h2>Plan Your Project</h2>
<div class="row">
  <div class="col-md-5">
    <div class="panel panel-bubble-green">
      <div class="panel-body">
        <h3>Post your plan as a video, drawing (photo) or text</h3>
        {{ comment_form.media }}
        <ul class="action-list">
          <li><button class="btn btn-lg" data-toggle="modal" data-target="#video_form">
            Video
            </button>
          </li>
          <li><button class="btn btn-lg" data-toggle="modal" data-target="#picture_form">
            Picture
            </button>
          </li>
          <li><button class="text_comment_link btn btn-lg" data-toggle="modal" data-target="#text_form">Text</button></li>
        </ul>
        {% include "_comment_form.html" with stage="plan" format="video" %}
        {% include "_comment_form.html" with stage="plan" format="picture" %}
        {% include "_comment_form.html" with stage="plan" format="text" %}
      </div>
    </div>
     <p>... in progress, started {{ progress.started }}</p>
  </div><!-- /column 1 -->

  <div class="col-md-1">
    <img src="http://placekitten.com/60/80">
  </div>

  <div class="col-md-6">
    <div class="materials-list panel">
    <div class="panel-heading">
      <h3 class="panel-title">Material list</h3>
    </div>
    <div class="panel-body">
      {{ challenge.materials_list|safe }}
    </div>
  </div><!-- materials-list -->
    
    <div class='text_comment' style='display:none'>
      <form action="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='plan' %}" method="POST">
        {% csrf_token %}
        <div>
          {{comment_form.text}}
          <div class="errors">{{ comment_form.text.errors }}</div>
        </div><br>
        <input type="submit" value="Submit" class="btn btn-primary btn-large" />
      </form>
    </div>
    {% for comment in comments %}
    {% include "_comment.html" %}
  {% endfor %}
  <a class="btn btn-large btn-primary start-link" href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=progress.student.username stage='build' %}"> START BUILDING</a>
</div><!-- /col 2 -->

</div><!-- row -->
    {% include "_guide.html" %}
</div><!-- content -->

{% endblock %}
