{% extends "base.html" %}
{% block title %}Challenge: {{ challenge.name }}{% endblock %}

{% block content %}
<div class="challenge-details">
  {% include "_challenge_nav.html" with stage="inspiration" %}

  {% include '_challenge_details.html' %}

  {% if request.user.is_authenticated and request.user.profile.is_student %}
      <form name="Start Building" action='' method='POST'>
        {% csrf_token %}
        <input type="submit" value="Start Building" class="btn btn-primary btn-large" />
      </form>
  {% endif %}
</div>
{% endblock %}