{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/favorites.js' %}"></script>
{% endblock %}

{% block css %}
<link href='//fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  {% if not request.user.is_authenticated %}
  <div class="home-hero" id="home-hero-none">
    <h1>Imagine, Invent, <br>Engineer</h1>
    <h2>A COMMUNITY OF</h2>
    <h2>SCIENTISTS, ENGINEERS &amp; CHILDREN</h2>
    <h2>CREATING TOGETHER. <a href="https://www.youtube.com/watch?v=94JY-Zs1r2U&feature=youtu.be" target="_blank"><button class="btn-link btn-watch"><i class="glyphicon glyphicon-play"></i> Watch! </button></a> </h2> 
    <ul class="login-buttons">

      <li><button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#join-modal">Get Started</button></li>
      <li><button class="btn-link btn-lg" data-toggle="modal"  data-target="#login-modal">Sign In</button></li>
    </ul>
  </div>
  {% else %}
    <div class="challenge-browser">
      <h1>Welcome {{request.user.username}}</h1>
    </div>
  {% endif %}
<div class="no-gutters theme-wrapper">
  <ul class="theme-carousel owl-carousel">
    <li {% if not theme %}class="active"{% endif %}>
      <a href="{% url 'challenges:challenges' %}">
        <span class="theme-name">All</span>
      </a>
    </li>
    {% for t in themes %}
      <li {% if theme == t.name %}class="active"{% endif %}><a href="{% url 'challenges:challenges' %}?theme={{t.name}}&theme_id={{t.id}}" style="background: {{ t.color }}">
        <span class="theme-icon {{ t.icon }}"></span>
        <span class="theme-name">{{t.name}}</span>
      </a></li>
    {% endfor %}
  </ul>
</div>

<ul class="nav nav-justified nav-tabs">
  <li class="active"><a data-target="#challenges" href="{% url 'challenges:ajax_challenges' %}{% if theme %}?theme={{theme}}{% endif %}" data-toggle="tabajax">All {% if theme %}{{ theme }} {% endif %} Challenges</a></li>
  {% for filter in filters %}
     <li>
      <a {% if filter.color %}style="background-color: {{filter.color}}"{% endif %} data-target="#filter_{{filter.id}}" href="{% url 'challenges:filtered_challenges' filter_id=filter.id %}?{% if theme_id %}theme_id={{theme_id}}{% endif %}" data-toggle="tabajax">{{ filter.name }}</a>
  </li>
  {% endfor %}
  {% if request.user.is_authenticated and request.user.profile.is_student %}
  <li><a class="favorites" data-target="#favorites" href="{% url 'challenges:favorite_challenges' %}?{% if theme_id %}theme_id={{theme_id}}{% endif %}" data-toggle="tabajax">Favorites</a></li>
  {% endif %}
</ul>
<div class="tab-content">
  {% with all=request.user.challenges.all %}
    <div class="tab-pane fade in active" id="challenges">
      <ul class="challenges-list owl-carousel panel-carousel">
        {% for challenge in challenges %}
          {% include "_challenge_item.html" %}
        {% endfor %}
      </ul>
    </div><!-- /#challenges -->
    {% for filter in filters %}
    <div class="tab-pane fade in" id="filter_{{filter.id}}">
      <ul class="challenges-list owl-carousel panel-carousel">
        {% for challenge in filter.challenges.all %}
          {% include "_challenge_item.html" %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    {% if request.user.is_authenticated and request.user.profile.is_student %}
    <div class="tab-pane fade" id="favorites" >
      <ul class="challenges-list owl-carousel panel-carousel" id="favorites-scroll">
        {% for favorite in favorite_challenges %}
          {% include "_challenge_item.html"  with challenge=favorite.challenge %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}
</div><!-- /tabs content -->

{% endblock %}
