{% extends 'base.html' %}
{% load staticfiles %}
{% load resized %}

{% block js %}
<script src="/static/js/challenges.js"></script>
{% endblock %}

{% block content %}
  <h1>{{ challenge.name }} <small>By {{progress.student.username}}</small></h1>
  {% if user.is_authenticated %}
  {% include "_challenge_nav.html" with stage="build" %}
  {% else %}
  {% include "_challenge_nav_guest.html" with stage="build" %}
  {% endif %}
  <div class="challenge-content">
    {% if not request.user.profile.is_mentor %}
    <header class="challenge-header">
      <h1>Document your design process</h1>
      <p>{% if not progress.approved %}{{ challenge.build_subheader }}{% else %}{{ challenge.reflect_subheader }}{% endif %}</p>
    </header>
    {% endif %}
<div class="row">
  {% if request.user.profile.is_mentor %}
    {% include "_mentor_panel.html" %}
  {% else %}
  <div class="col-md-5">

    
    
    

    {% if challenge.build_call_to_action or progress.approved %}
    <div class="panel blue">
      <div class="panel-body">
        {% if progress.approved %}
          <p>You've made great progress on this challenge. I think you are ready to move on to the next step.</p>
          <p><strong>Reflect on your design.</strong></p>
        {% else %}
            {{challenge.build_call_to_action}}
        {% endif %}
      </div>
    </div>
    {% endif %}

  </div><!-- /column 1 -->
  {% endif %}

  <div class="col-md-1">
    {% include "_avatar.html" with profile=progress.student.profile width=60 height=80 crop='fit' %}
  </div>

  <div class="col-md-6">
    {% if request.user.profile.is_mentor %}
      <h1>{{progress.student.username}}'s progress</h1>
    {% else %}
    {% if progress.approved %}
    <div class="panel panel-bubble teal right reflect-box">
      <div class="panel-body">
        <h1>Reflect</h1>
          <p>You've finished your challenge. Upload a key photo and describe what makes your challenge unique.</p>
          <form action="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='reflect' %}" method="POST" class="comment-form" id="text_form">
            {% csrf_token %}

          <div class="errors">{{ comment_form.picture_filepicker_url.errors }}</div>

          <ul class="challenge-reflect-questions" style="display: none;">
            {% for question in challenge.reflect_questions.all %}
              <li>{{ question }}</li>
            {% endfor %}
          </ul>

          <div class="reflect-question">
            <h3 class="question"></h3>
            <p class="refresh" title="answer a different question"><span class="glyphicon glyphicon-refresh"></span> Try another question.</p>
          </div>

          {{comment_form.question_text}}
          {{comment_form.text}}

          <input type="hidden" id="{{comment_form.picture_filepicker_url.id_for_label }}" name="{{comment_form.picture_filepicker_url.html_name }}">
</div>
</div>
<br />
<div class="panel panel-bubble teal right reflect-box">
  <div class="panel-body">
          <div id="reflect-images">
            <div class="img-wrapper">
            </div>
            <div class="reflect-image">
            <h3>Feature Image</h3>
            </div>
            <a data-toggle="modal" data-target="#reflect-images-modal" title="choose an image">
              <span class="btn btn-primary"><span class="glyphicon glyphicon-camera" title="Post Picture"></span></span>
              Pick a Photo
            </a>
          </div>

          
          
          
          <div class="errors">{{ comment_form.text.errors }}</div>
          <input type="submit" value="Share in the Inspiration Gallery!" class="btn btn-lg btn-primary btn-reflect left" disabled='disabled' />
        </form>
      </div>
    </div>
      {% include "_challenge_reflect_images_modal.html" %}
    {% else %}


    <div class="panel panel-bubble right">
      <div class="panel-body">
        <h3>Are you on</h3>

        <ul class="switch stage-switch">
          <li>
            <input type="radio" name="stepSelector" id="buildSelector" value="build" checked><label for="buildSelector">Building?</label>
            <input type="hidden" value="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='build' %}" class="build-url url">
          </li>
          <li>
            <input type="radio" name="stepSelector" id="testSelector" value="test"><label for="testSelector">Testing?</label>
            <input type="hidden" value="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='test' %}" class="test-url url">
          </li>
        </ul><div></div><!-- magical switch clearing div -->

        {% include "_comment_action_list.html" %}
        
      </div>
    </div>
    {% endif %}
    {% endif %}

    {% for comment in comments %}
      {% include "_comment.html" %}
    {% endfor %}
</div><!-- /col 2 -->

</div><!-- row -->

{% include "_guide.html" %}
{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username stage='build' as comment_url %}
{% include "_comment_form.html" with stage="build" format="video" url=comment_url %}
{% include "_comment_form.html" with stage="build" format="picture" url=comment_url %}
{% include "_comment_form.html" with stage="build" format="text" url=comment_url %}

</div><!-- content -->

{% endblock %}
