{% extends 'base.html' %}
{% load staticfiles %}
{% load resized %}

{% block js %}
<script src="/static/js/challenges.js"></script>
{% endblock %}

{% block content %}
  <h1>{{ challenge.name }} </h1>
  {% include "_challenge_nav_guest.html" with stage="plan" %}
  
<div class="challenge-content">
 <header class="challenge-header">
    <h1>Plan your project</h1>
    <p>{{ challenge.plan_subheader }}</p>
  </header>

<div class="row">
  
  <div class="col-md-5">
    <div class="panel panel-bubble">
      <div class="panel-body">
        <h3>Post your plan as a video, drawing (photo) or text</h3>
        
        {% include "_comment_action_list_guest.html" %}
        
      </div>
    </div>

    {% if challenge.plan_call_to_action %}
    <div class="panel blue">
      <div class="panel-body">
            {{challenge.plan_call_to_action}}
      </div>
    </div>
    {% endif %}
    </div><!-- /column 1 -->

  <div class="col-md-1">
    <img src="http://s3.amazonaws.com/curiositymachine/images/placeholder.png" width="60" height="80">  
  </div>


  <div class="col-md-6">
    <div class="panel panel-bubble outline right">
      <a href="#" data-toggle="modal" data-target="#text_form">
      <div class="panel-body">
          <h3>Stuck?<br> Ask a question to a science<br>or engineering mentor.</h3>
      </div>
      </a>
    </div>
    <div class="materials-list panel">
      <div class="panel-heading">
        <h3 class="panel-title">Suggested list of materials</h3>
      </div>
      <div class="panel-body">
        <div class="current-materials">
            <button class="btn btn-primary" data-toggle="modal" data-target="#guest-modal">Edit Materials</button>
          </div>
       
      </div>
    </div><!-- materials-list -->
    
    <div class='text_comment' style='display:none'>
   
</div><!-- /col 2 -->

</div><!-- row -->
</div><!-- content -->

{% endblock %}