{% extends "base.html" %}
{% block title %}Challenges{% endblock %}

{% block content %}

  <nav>
    <a {% if not theme %}class="active"{% endif %} href="{% url 'challenges:challenges' %}">All</a>
    {% for t in themes %}
      <a {% if theme == t.name %}class="active"{% endif %} href="{% url 'challenges:challenges' theme=t.name %}">{{t.name}}</a>
    {% endfor %}
  </nav>

  <h1>Challenges:</h1>
  <ul class="challenges-list">
    {% for challenge in challenges %}
      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="{% url 'challenges:challenge' challenge.id %}">{{ challenge.name }}</a></h3>
          </div>
          <div class="image-container">
            <a href="{% url 'challenges:challenge' challenge.id %}"><img src="http://placekitten.com/300/200"></a>
          </div>
          <div class="panel-body">
            {{ challenge.description }}
          </div>
        </div>
        
      </li>
    {% endfor %}
  </ul>
  <p>(Devs: create challenges in the admin <a href="/admin/challenges/challenge/add/">here</a>)</p>

{% endblock %}