{% extends 'base.html' %}

{% block content %}
  
  <h1>Plan Your Project</h1>

  {% include '_challenge_details.html' %}

  <p>... in progress, started {{ progress.started }}</p>

  {% for comment in progress.comment_set.all %}
    {% include "_comment.html" %}
  {% endfor %}

  <form action="{% url "challenges:comments:comments" challenge_id=challenge.id username=progress.student.username %}" method="POST">
    {% csrf_token %}
    {{ comment_form.media }}
    {{ comment_form }}<br>
    <input type="submit" value="Submit" class="btn btn-primary btn-large" />
  </form>

{% endblock %}