{% extends "curiositymachine/layout/base.html" %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-id %}dcprogress{% endblock %}

{% block content %}
<div class="content">
<div class="jumbotron-small jumbotron-green jumbotron-fluid">
  <div class="container">
    <div class="row m-b text-center text-md-left">
      <div class="col-md-12">
        <a href="#" class="a-secondary">&larr; Back to Design Challenges</a>
      </div>
    </div>
    <div class="row">
      <h2 class="text-center">Build a Robotic Face</h2>
    </div>
    <div class="row">
      <div class="col-md-6 m-b text-center text-md-left">
        <span class="active-students">
          Active students: <strong>12</strong> <span class="hidden-sm-down">&middot;</span><span class="hidden-md-up"><br><br></span> <a href="#" class="a-secondary">Explore Build a Robotic Face &rarr;</a>
        </span>
      </div>
      <div class="col-md-6 m-b text-center text-md-right">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Design Challenges
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Build a "No Wire" Circuit</a>
            <a class="dropdown-item" href="#">Construct a Crane</a>
            <a class="dropdown-item" href="#">Engineer an Air-Powered Spinning Machine</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixme">
  <div class="container">
    <div class="row dc-progress-header p-a hidden-sm-down">
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-2 text-center">
        plan
      </div>
      <div class="col-md-2 text-center">
        build
      </div>
      <div class="col-md-2 text-center">
        test
      </div>
      <div class="col-md-2 text-center">
        reflect
      </div>
      <div class="col-md-2 text-center">
        gallery
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row m-t m-b">
    <div class="col-md-2">
      <div class="student-list-item">
        <a href="#" class="student-list-avatar action-img pull-left">
          <div class="hidden-lg-down">
            {% include "_avatar.html" with profile=request.user.profile  width=48 height=48 crop='thumb' gravity='faces' %}
          </div>
        </a>
        <span class="student-inline-name d-inline">
          {{ user.first_name }} {{ user.last_name }}
        </span>
        <br>
        <span class="student-inline-username d-inline">
          {{ user.username }}
        </span>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="hidden-md-up post-type">
        plan
      </div>
      <div class="light-type post-quantity">
        1
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="hidden-md-up post-type">
        build
      </div>
      <div class="light-type post-quantity">
        3
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="hidden-md-up post-type">
        test
      </div>
      <div class="light-type post-quantity">
        4
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="hidden-md-up post-type">
        reflect
      </div>
      <div class="light-type post-quantity">
        <span class="yellow-type">2</span>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="hidden-md-up post-type">
        gallery
      </div>
      <div class="light-type post-empty">
        <i class="icon-cross"></i>
      </div>
    </div>
  </div>

  <div class="row m-b">
    <div class="col-md-2">
      <div class="student-list-item">
        <a href="#" class="student-list-avatar action-img pull-left">
          <div class="hidden-lg-down">
            {% include "_avatar.html" with profile=request.user.profile  width=48 height=48 crop='thumb' gravity='faces' %}
          </div>
        </a>
        <span class="student-inline-name d-inline">
          {{ user.first_name }} {{ user.last_name }}
        </span>
        <br>
        <span class="student-inline-username d-inline">
          {{ user.username }}
        </span>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="d-block light-type post-quantity">
        1
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="d-block light-type post-quantity">
        3
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="d-block light-type post-quantity">
        4
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="d-block light-type post-quantity">
        <span class="yellow-type">2</span>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="d-block light-type post-empty">
        <i class="icon-cross"></i>
      </div>
    </div>
  </div>



      <!-- <div class="student-list">
        <div class="student-list-item">
          <a href="#" class="student-list-avatar" disabled>
            <div class="student-list-has-activity">
              {% include "_avatar.html" with profile=request.user.profile  width=48 height=48 crop='thumb' gravity='faces' %}
            </div>
          </a>
          <span class="student-inline-name">
            {{ user.first_name }} {{ user.last_name }}
          </span>
          <br>
          <span class="student-inline-username">
            {{ user.username }}
          </span>
        </div>
      </div> -->


</div>
</div>

{% endblock %}

{% block js %}
<script>
var fixmeTop = $('.fixme').offset().top;       // get initial position of the element

$(window).scroll(function() {                  // assign scroll event listener

  var currentScroll = $(window).scrollTop(); // get current position

  if (currentScroll >= fixmeTop) {           // apply position: fixed if you
      $('.fixme').css({                      // scroll to that element or below it
          position: 'fixed',
          top: '0',
          width: '100%',
      });
  } else {                                   // apply position: static
      $('.fixme').css({                      // if you scroll above it
          position: 'static'
      });
  }

});
</script>
{% endblock %}
