{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-id %}educator-dashboard{% endblock %}

{% block content %}
<div class="jumbotron-fluid jumbotron-dark-pattern m-b">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <div class="dashboard-avatar">
          {% include "_avatar.html" with profile=request.user.profile  width=150 height=150 crop='thumb' gravity='faces' %}
        </div>
      </div>

      <div class="col-md-8">
        <h1>{{ user.username }}</h1>
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <ul>
          <li>{{ user.email }}</li>
        </ul>
      </div>

      <div class="col-md-2">
        <a href="#">edit profile</a>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row m-b-lg">
    <nav class="edu-dash-nav">
      <ul>
        <li>
          <a href="">
            my design challenges
          </a>
        </li>
        <li>
          <a href="">
            my students
          </a>
        </li>
        <li>
          <a href="">
            units &amp; guides
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <h1>Free Design Challenges</h1>
    <p>Get started with one of our free design challenges! To view the educator resources associated with each of the challenges, click the Guide tab in the design challenge preview.</p>
  </div>

  <div class="row">
    <div class="membership-blurb well text-center">
      <h2>Curiosity Machine is better with a Membership</h2>
      <p>With a membership, you can view your students’ progress, access more design challenges and exclusive resources, and are also guaranteed access to all upcoming features. To learn more about what memberships offer, check out our memberships about page and fill out our interest form!</p>
      <a href="#" class="btn btn-primary">Fill Out Interest Form</a>
    </div>
  </div>

</div>

<!--  old -->
  <h1>Welcome {{user.username}}</h1>

  {% if flags.enable_membership_educator_dashboard %}
  {% if memberships %}
  <h2>My Memberships</h2>
  <div class="tab-content membership-list">
    <ul>
      {% for membership in memberships %}
      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{% url 'memberships:membership' membership_id=membership.id %}">{{ membership.display_name }}</a>
            </h3>
          </div>
          <div class="panel-body">
            <a href="{% url 'memberships:membership' membership_id=membership.id %}" class="btn btn-primary">View</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endif %}

  <h2>
    My Groups
    <a class="btn btn-primary btn-xs" href="{% url 'groups:create' %}">Create group</a>
  </h2>
  <div class="tab-content">
    {% if groups %}
      <ul id="group-carousel" class="groups-list owl-carousel">
        {% for group in groups %}
          <li>{% include "groups/_group_panel.html" %}</li>
        {% endfor %}
      </ul>
    {% else %}
      <h3 class="tab-empty">Use the button above to create your first group.</h3>
    {% endif %}
  </div>

  <h2>Design Challenge Units</h2>
  <p>
    Get your Curiosity Course started! Choose one of the units below.
  </p>
  <div class="tab-content">
    <ul id="unit-carousel" class="challenges-list owl-carousel">
      {% for unit in units %}
        {% include "units/_unit_item.html" with unit=unit %}
      {% empty %}
        <li><h3>No units</h3></li>
      {% endfor %}
    </ul>
  </div>

  <p>
    For questions or training information, email
    <a href="mailto:curiosity@iridescentlearning.org?subject=Units Training" target="_top">curiosity@iridescentlearning.org</a>.
  </p>
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function () {
      {% if groups %}
      $('#group-carousel').initPanelCarousel();
      {% endif %}
      $('#unit-carousel').initPanelCarousel();
    });
  </script>
{% endblock %}
