{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}
{% block body-id %}educator-dashboard-students{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">
  {% include 'profiles/educator/dashboard/_navigation.html' %}

  <div class="row">
    <div class="col-md-12">
      <h1>My Students</h1>
    </div>
  </div>

  <div class="row m-b">
    <div class="col-md-12">
      <table class="table table-striped student-table">
        <thead>
          <tr>
            <th width="75px">#</th>
            <th>Name / Username</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Approved</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="student-info">
              {% include "_avatar.html" with profile=request.user.profile  width=40 height=40 crop='thumb' gravity='faces' %}
            </td>
            <td>
              <h4>{{ user.username }}</h4>
              <p>{{ user.first_name }} {{ user.last_name }}</p>
            </td>
            <td>email</td>
            <td>birthday</td>
            <td>approved</td>
          </tr>
          <tr>
            <td class="student-info">
              {% include "_avatar.html" with profile=request.user.profile  width=40 height=40 crop='thumb' gravity='faces' %}
            </td>
            <td>name</td>
            <td>email</td>
            <td>birthday</td>
            <td>approved</td>
          </tr>
          <tr>
            <td class="student-info">
              {% include "_avatar.html" with profile=request.user.profile  width=40 height=40 crop='thumb' gravity='faces' %}
            </td>
            <td>name</td>
            <td>email</td>
            <td>birthday</td>
            <td>approved</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% include 'profiles/educator/dashboard/_membership-blurb.html' %}

</div>

{% endblock %}
