{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-id %}educator-dashboard{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">
  {% include 'profiles/educator/dashboard/_navigation.html' %}

  <div class="row m-b">
    <div class="col-md-12">
      <h1>Free Design Challenges</h1>
      <p>Get started with one of our free design challenges! To view the educator resources associated with each of the challenges, click the Guide tab in the design challenge preview.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 m-b">
      <div class="expandable-challenge-card">
        <div class="expandable-challenge-card-info">
          <a href="#" class="action-img">
            <img class="card-img-left" src="http://placehold.it/165x165" alt="Challenge Name">
          </a>
          <div class="title">
            <h3>
              <a href="#" class="action-img">
                Challenge Name
              </a>
            </h3>

            <a class="expandable-challenge-card-toggle" data-text-swap="- LESS INFO" data-toggle="collapse" href="#moreInfo1" aria-expanded="false" aria-controls="moreInfo1">
              + MORE INFO
            </a>
          </div>
        </div>
        <div class="collapse" id="moreInfo1">
          <div class="expandable-challenge-card-more-info">
            <h6>DESCRIPTION</h6>
            <p>Challenge Description</p>
            <h6>RESOURCES</h6>
            <ul class="resources-list">
              <li>Grade 6-8 Mini-unit</li>
              <li>Grade 3-5 Mini-unit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 m-b">
      <div class="expandable-challenge-card">
        <div class="expandable-challenge-card-info">
          <a href="#" class="action-img">
            <img class="card-img-left" src="http://placehold.it/165x165" alt="Challenge Name">
          </a>
          <div class="title">
            <h3>
              <a href="#" class="action-img">
                Challenge Name
              </a>
            </h3>

            <a class="expandable-challenge-card-toggle" data-text-swap="- LESS INFO" data-toggle="collapse" href="#moreInfo2" aria-expanded="false" aria-controls="moreInfo2">
              + MORE INFO
            </a>
          </div>
        </div>
        <div class="collapse" id="moreInfo2">
          <div class="expandable-challenge-card-more-info">
            <h6>DESCRIPTION</h6>
            <p>Challenge Description</p>
            <h6>RESOURCES</h6>
            <ul class="resources-list">
              <li>Grade 6-8 Mini-unit</li>
              <li>Grade 3-5 Mini-unit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-6 m-b">
      <div class="expandable-challenge-card">
        <div class="expandable-challenge-card-info">
          <a href="#" class="action-img">
            <img class="card-img-left" src="http://placehold.it/165x165" alt="Challenge Name">
          </a>
          <div class="title">
            <h3>
              <a href="#" class="action-img">
                Challenge Name
              </a>
            </h3>

            <a class="expandable-challenge-card-toggle" data-text-swap="- LESS INFO" data-toggle="collapse" href="#moreInfo3" aria-expanded="false" aria-controls="moreInfo3">
              + MORE INFO
            </a>
          </div>
        </div>
        <div class="collapse" id="moreInfo3">
          <div class="expandable-challenge-card-more-info">
            <h6>DESCRIPTION</h6>
            <p>Challenge Description</p>
            <h6>RESOURCES</h6>
            <ul class="resources-list">
              <li>Grade 6-8 Mini-unit</li>
              <li>Grade 3-5 Mini-unit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="m-t-lg">
  {% include 'profiles/educator/dashboard/_membership-blurb.html' %}
  </div>

</div>
{% endblock %}
