{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% load resized %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-id %}educator-dashboard{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">
  {% include 'profiles/educator/dashboard/_navigation.html' %}

  <div class="row">
    <div class="col-md-12">
      <h1>Units &amp; Guides</h1>
    </div>
  </div>

  <div class="row">
    {% for unit in units %}
      <div class="col-md-6 m-b">
        <div class="expandable-challenge-card">
          <div class="expandable-challenge-card-info">
            <a href="{% url 'units:unit' unit.id %}" class="action-img">
              {% if unit.image %}
                <img class="card-img-left" src="{% resized unit.image.url width=165 height=165 crop='fill' %}" alt="Challenge Name">
              {% endif %}
            </a>
            <div class="title">
              <h3>
                <a href="{% url 'units:unit' unit.id %}" class="action-img">
                  {{ unit.name }}
                </a>
              </h3>

              <a class="expandable-challenge-card-toggle" data-text-swap="- LESS INFO" data-toggle="collapse" href="#moreInfo1" aria-expanded="false" aria-controls="moreInfo1">
                + MORE INFO
              </a>
            </div>
          </div>
          <div class="collapse" id="moreInfo1">
            <div class="expandable-challenge-card-more-info">
              <h6>DESCRIPTION</h6>
              <p>{{ unit.description }}</p>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-md-12">
        <h3>No units</h3>
      </div>
    {% endfor %}
  </div>

  <div class="row m-b-lg">
    <div class="col-md-12">
      <h1>Other Resources &amp; Downloads</h1>

      <ul>
        <li>
          <a href="#">
            NGSS Alignment Standards
          </a>
        </li>
        <li>
          <a href="#">
            Parent permission form
          </a>
        </li>
      </ul>
    </div>
  </div>

  {% include 'profiles/educator/dashboard/_membership-blurb.html' %}

</div>
{% endblock %}
