{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-id %}educator-dashboard{% endblock %}

{% block content %}
<div class="jumbotron-fluid jumbotron-dark-pattern m-b">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <div class="dashboard-avatar">
          {% include "_avatar.html" with profile=request.user.profile  width=150 height=150 crop='thumb' gravity='faces' %}
        </div>
      </div>

      <div class="col-md-8">
        <h1>{{ user.username }}</h1>
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <ul>
          <li>{{ user.email }}</li>
        </ul>
      </div>

      <div class="col-md-2">
        <a href="{% url 'profiles:profile_edit' %}">edit profile</a>
      </div>

    </div>
  </div>
</div>
<div class="container m-b-lg">
  <div class="row m-b-lg">
    <div class="col-md-12">
      <nav class="edu-dash-nav">
        <ul>
          <li>
            <a href="{% url 'profiles:home' %}">
              my design challenges
            </a>
          </li>
          <li>
            <a href="{% url 'profiles:home_students' %}">
              my students
            </a>
          </li>
          <li class="active">
            <a href="{% url 'profiles:home_units' %}">
              units &amp; guides
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <h1>Units &amp; Guides</h1>

    <ul id="unit-carousel" class="challenges-list owl-carousel">
      {% for unit in units %}
        {% include "units/_unit_item.html" with unit=unit %}
      {% empty %}
        <li><h3>No units</h3></li>
      {% endfor %}
    </ul>
  </div>

  <div class="row">
    <h1>Downloads</h1>

    <ul>
      <li>
        <a href="#">
          list item 1
        </a>
      </li>
      <li>
        <a href="#">
          list item 1
        </a>
      </li>
    </ul>
  </div>

</div>
{% endblock %}
