{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-id %}educator-dashboard{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">
  {% include 'profiles/educator/dashboard/_navigation.html' %}

  <div class="row m-b">
    <div class="col-md-12">
      <h1>My Students</h1>
    </div>
  </div>

  {% include 'profiles/educator/dashboard/_membership-blurb.html' %}

</div>

{% endblock %}
