{% extends "curiositymachine/layout/base.html" %}
{% block title %}My Profile{% endblock %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block content %}
<div class="jumbotron-blue jumbotron-fluid text-xs-center">
  <h1>Account Settings</h1>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-8">
      <div class="card card-module">
        <div class="card-block-title text-xs-center p-1">
          <h4>Profile Info</h4>
        </div>
        <div class="card-block">
          <form method='post' action="{% url 'profiles:profile_edit' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="text-xs-center">
              {% with field=form.image_url %}
                <div class="form-group">
                  <div class="profile-change mb-1">
                    {% include "profiles/_avatar.html" with profile=request.user.profile width=80 height=80 crop='fit' classes='rounded-circle' %}
                  </div>
                  {{ field }}
                  <div class="errors">{{ field.errors }}</div>
                </div>
              {% endwith %}
            </div>

            <div class="account-settings-form">
              {% include "profiles/formfield.html" with field=form.email %}
              {% include "profiles/formfield.html" with field=form.first_name %}
              {% include "profiles/formfield.html" with field=form.last_name %}
              {% include "profiles/formfield.html" with field=form.city %}
            </div>

            <hr>

            {% if form.password %}
            {% include "profiles/formfield.html" with field=form.password %}
            {% include "profiles/formfield.html" with field=form.confirm_password %}
            {% else %}
            <a href="{% url "password_change" %}" class="btn btn-primary">Change password</a>
            {% endif %}

            {{ form.non_field_errors }}

            <button type="submit" class="btn btn-primary float-xs-right">Save</button>

          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-module">
        <div class="card-block-title text-xs-center p-1">
          <h4>Membership Info</h4>
        </div>
        <div class="card-block">
          <!-- if memberships (chronologically) -->
          <strong>Muppet School</strong>
          <ul class="list-unstyled">
            <li>Status: <span class="green-type">active</span></li>
            <li>Expiration: 12/31/2017</li>
            <li>Students: 10</li>
            <li>Teachers: 1</li>
          </ul>
          <hr>
          <strong>Sesame School</strong>
          <ul class="list-unstyled">
            <li>Status: <span class="red-type">inactive</span></li>
            <li>Expiration: 12/31/2017</li>
            <li>Students: 10</li>
            <li>Teachers: 1</li>
          </ul>
          <!-- else -->
          <strong>You are not in any memberships.</strong> Check out the memberships page for information about joining.
          <!-- endif -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
