{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a href="#">&larr; Back to Students</a>
    <h2 class="text-center">Student Progress</h2>
  </div>
</div>

<div class="container">

  <div class="col-md-3">
    <div class="card">
      <div class="card-block text-center">
        <img class="rounded-circle" src="http://placehold.it/60x60">
        <p>
          Katniss Everdeen
          <br>
          katnisseverdeen
        </p>
      </div>
      <div class="card-block">
        <p>
          Started: 5
          <br>
          Completed: 1
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title pull-left">Build a Robotic Face</h3>
        <a href="#" class="pull-right">View all students &rarr;</a>
      </div>
      <div class="card-block">
        <p>Latest post: Wednesday, Oct 12 <span class="tag tag-pill tag-default">TODAY</span></p>
        <p>Online mentor: No mentor</p>
        <p>Total posts: 11</p>

        <table class="table">
          <thead>
            <tr>
              <th>Plan</th>
              <th>Build</th>
              <th>Test</th>
              <th>Reflect</th>
              <th>Gallery Post</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>2</th>
              <td>5</td>
              <td>3</td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-cross"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-block">
        <a href="#" class="btn btn-primary">View Process &rarr;</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
