{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a href="#">&larr; Back to Students</a>
    <h2 class="text-center">Student Progress</h2>
  </div>
</div>

<div class="container">

  <div class="col-md-3">
    <div class="card card-module">
      <div class="card-block card-block-title text-center">
        <img class="rounded-circle" src="http://placehold.it/60x60">
        <p>
          Katniss Everdeen
          <br>
          katnisseverdeen
        </p>
      </div>
      <div class="card-block">
        <p>
          Started: 5
          <br>
          Completed: 1
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="card-progress">
      <div class="card-block-title">
        <h3 class="card-title">Build a Robotic Face</h3>
        <a href="#" class="a-secondary pull-right">View all students &rarr;</a>
      </div>
      <div class="card-block">

        <row class="progress-details">
          <div class="col-md-4 m-b">
            <span class="progress-type">latest post</span>
            <br>
            Wednesday, Oct 12 <span class="tag tag-pill tag-success">TODAY</span></p>
          </div>
          <div class="col-md-4 m-b">
            <span class="progress-type">online mentor</span>
            <br>
            No mentor
          </div>
          <div class="col-md-4 m-b">
            <span class="progress-type">total posts</span>
            <br>
            11
          </div>
        </row>

        <table class="table-progress table-sm">
          <thead>
            <tr>
              <th>Plan</th>
              <th>Build</th>
              <th>Test</th>
              <th>Reflect</th>
              <th>Gallery Post</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="active">2</th>
              <th class="active">5</td>
              <th class="active">3</td>
              <th class="active"><i class="icon-check"></i></td>
              <th class="inactive"><i class="icon-cross"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-block">
        <a href="#" class="btn btn-primary">View Process &rarr;</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
