.bg-pattern-white {
  background: url("../images/design-challenge-repeating-pattern-white.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

.bg-pattern-dark {
  background-color: shade($dark, 40%);
  background-image: url("../images/design-challenge-repeating-pattern.png");
  background-attachment: fixed;
  background-repeat: repeat;
}
