// The Bootstrap .hidden-*-down and .hidden-*-up classes leave a 0.1rem gap where two elements intended
// to never show together could show. This introduces a .hidden-*-min-down which can be paired with
// .hidden-*-up to exclusively show one of the two marked items.

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-min-down {
    $max: breakpoint-min($bp, $grid-breakpoints);
    @if $max {
      @media (max-width: $max - 0.01em) {
        display: none !important;
      }
    } @else {
      display: none !important;
    }
  }
}
