{% extends "base.html" %}

{% block content %}
  <h1>Add your child</h1>
  <p>
    Link your child's account to view their progress. Children must accept
    your invitation before you can see them.
  </p>
  <form action="" method="POST">
    {% csrf_token %}
    {% include "profiles/formfield.html" with field=form.usernames show_help=True %}

    <ul class="list-inline">
      <li><button class="btn btn-primary" type="submit">Send invite</button></li>
      <li><a href="{% url 'profiles:home' %}">Cancel</a></li>
    </ul>
  </form>
{% endblock %}
