{% extends "base.html" %}

{% block content %}

<h1>Get Started. Create an Account.</h1>
<form method='post' action="{{ action }}"
    enctype="multipart/form-data" id="join-form"
    class="default-form profile-fields">
  {% csrf_token %}
  {{ form.source }}
  <div class="row">
    <div class="col-md-12">
      <h3>Parent</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {% include "profiles/formfield.html" with field=form.username %}
      {% include "profiles/formfield.html" with field=form.email %}
      {% include "profiles/formfield.html" with field=form.password %}
      {% include "profiles/formfield.html" with field=form.confirm_password %}
    </div>
    <div class="col-md-4">
      {% include "profiles/formfield.html" with field=form.first_name %}
      {% include "profiles/formfield.html" with field=form.last_name %}
      {% include "profiles/formfield.html" with field=form.city %}
      {% include "profiles/formfield.html" with field=form.image_url %}
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form.non_field_errors }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      By clicking Save, you confirm that you accept the <a target="_blank" href="{% url 'privacy' %}">Privacy Policy</a>.
      <button type="submit" class="btn btn-primary btn-lg pull-right">Save</button>
    </div>
  </div>
</form>

{% endblock %}