{% extends "families/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row text-center py-5">
        <div class="col-8 offset-2 mb-3">
            <h2>Hello! Submissions are closed for now, but you can get started on your next AI invention at any time.</h2>
        </div>
        {% if request.user.awardforceintegration %}
        <div class="col-6 offset-3">
            <img src="{% static 'images/examples/timetocelebrate!.png' %}">
        </div>
        <div class="text-left col-8 offset-2 mt-3">
            <p>Congratulations on your Technovation World Summit submission! We are proud of your work.</p>
            <p><strong>Families like you</strong> submitted AI solutions from across 13 different countries. These inventions focused on topics like preventing forest fires, supporting local bird wildlife, keeping children safe and more!</p>
            <p>You can see the inventions <a href="https://www.technovation.org/blogs/technovation-families-finalists-regional-winners" target="_blank">here</a>.</p>
            <p>Want to see what you submitted? You can still review your submission but changes cannot be made!</p>
            <div class="text-center">
                <a class="btn btn-primary" href="{% url "families:awardforce" %}" target="_blank">View your submission</a>
            </div>
              <h3 class="mt-3">Share your exciting news!</h3>
              <p>It is a <strong>big</strong> accomplishment that your family made it through this journey and submitted your project to our competition! Take a moment to tell your family, friends, and other networks now and celebrate.</p>
              <ul>
                <li> Share directly to <a href="https://www.facebook.com/sharer/sharer.php?u=curiositymachine.org" target="_blank"> Facebook</a></li>
                <li> Share directly to <a href="https://ctt.ac/f9dat" target="_blank"> Twitter</a></li>
                <li> Share directly to <a href="https://www.linkedin.com/shareArticle?mini=true&url=curiositymachine.org&title=&summary=Our family just submitted an artificial intelligence project to the 2020 #TechnovationFamilies competition! Projects like ours use AI to solve tough community problems. Wish us luck!&source=" target="_blank"> LinkedIn</a></li>
              </ul>
              <p><strong>Take a victory selfie, and see what families like yours have made too!</strong></p>
              <p>Post a celebratory image of your family with your invention on social media and be sure to tag #TechnovationFamilies and our accounts, so we can share your post and connect you to other participating families! Tag us on:</p>
              <ul>
                <li>Facebook: @technovationglobal</li>
                <li>Instagram: @technovationglobal</li>
                <li>Twitter: @technovation</li>
              </ul>
              <p><strong>Want to learn more about inventing with AI or helping others begin?</strong></p>
              <ul>
                <li>Inventions change our world in unexpected ways. It’s up to all of us to think about the impact on our world. As a family, think about <a href="https://www.technovation.org/wp-content/uploads/2019/12/Technovation-and-Hogan-Lovells-AI-Ethics-Guide.pdf" target="_blank">these questions</a> as you create an AI invention. Continue learning about AI, tech, or turning your idea into a real business.</li>
                <li>Help other children and families learn about AI. Those over 18 can register <a href="http://Technovationacademy.org" target="_blank">here</a> to support our global community of problem solvers.</li>
              </ul>
              <h3 class="text-center">Best of luck! You can join us again for the next competition in August.</h3>
        </div>
        {% else %}
        <div class="col-8 offset-2">
            <div class="text-left">
                <p>Begin thinking about a problem you’d like to solve and start developing a solution</p>
                <p>Earlier this year, <strong>families like you</strong> submitted AI solutions from across 13 different countries. These inventions focused on topics like preventing forest fires, supporting local bird wildlife, keeping children safe and more!</p>
                <p>You can view their creations <a href="https://www.technovation.org/blogs/technovation-families-finalists-regional-winners" target="_blank">here</a>.
                <ul>
                  <li>Use <a href="https://www.curiositymachine.org/lessons/lesson/70/" target="_blank">this lesson</a> to build your own AI model and learn the basics of AI to start working on your idea to change your community and the world 🌍.</li>
                  <li>Use <a href="https://www.curiositymachine.org/lessons/lesson/71/" target="_blank">this lesson</a> to brainstorm an important problem in your community you can solve with AI.</li>
                  <li>Build your invention! We have <a href="https://www.curiositymachine.org/lessons/lesson/74/" target="_blank">tools</a> to help you.</li>
                </ul>
                <p><strong>Want to learn more about inventing with AI or helping others begin?</strong></p>
                <p>Inventions change our world in unexpected ways. It’s up to all of us to think about the impact on our world. As a family, think about <a href="https://www.technovation.org/wp-content/uploads/2019/12/Technovation-and-Hogan-Lovells-AI-Ethics-Guide.pdf" target="_blank">these questions</a> as you create an AI invention.</p>
                <p> Help other children and families learn about AI. Those over 18 can register <a href="http://Technovationacademy.org" target="_blank">here</a> to support our global community of problem solvers.</p>
                <p><strong>Get involved in Technovation Girls</strong></p>
                <p>Is your daughter between the ages of 10 to 18? She can register for Technovation Girls! In this program, girls from around the world identify problems in their communities and create mobile app solutions to solve them (much like your family has already done!). Students can register <a href="http://www.technovationchallenge.org" target="_blank"> here</a>!</p>
                <p>Are you ready to mentor? Our mentors spend 1-2 hours a week supporting girls to create their mobile app solutions. Those over 18 can register <a href="http://www.technovationchallenge.org" target="_blank"> here</a>!</p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
