{% extends "families/base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-3 mb-4 text-center">
      <h2>You are ready to submit your project to the Technovation World Pitch Summit!</h2>
      <p>
        We highly encourage you to do so as soon as possible, and not wait for the last minute, as you could encounter submission delays that can result in not meeting the submission deadline.
      </p>
      <div class="text-center my-4">
        <a class="btn btn-primary" href="{% url "families:awardforce" %}" target="_blank">Go to submission</a>
      </div>
      <img class="m-2 rounded" src="{% static "images/aifc/2019-AIWC_Saul133.jpg" %}" alt="2019 participants" />
    </div>
  </div>
</div>
{% endblock %}
