{% extends "base.html" %}
{% load compress %}

{% block css %}
{% compress css %}
  <style>
    .thumbnail.group-member {
      background-color: white;
    }
    .two-lines-fixed {
      height: 2em;
    }
  </style>
{% endcompress %}
{% endblock %}

{% block content %}
  {% block breadcrumb %}{% endblock %}

  <div class="alert alert-warning text-center" role="alert"><strong>The dashboard is changing soon!</strong> We're making you a brand new dashboard, lucky you! We're getting rid of groups so quit using them.</div>

  {% block pagecontent %}
    <div class="row">
      <div class="col-sm-3">
        <div class="section-box">
          <h1 class="section-box-header">{{group.name}}</h1>
          <p>Code: {{group.code}}</p>
          <p>Owner{% if group.owners|length > 1 %}s{% endif %}: {{ group.owners|join:", " }}</p>
          <a class="text-muted" href="{% url 'groups:edit' group.id %}">Edit</a>
          <hr>
          <a class="btn btn-primary" href="{% url 'groups:invite_to_group' group.id %}">Invite Students</a>
        </div>
        {% if REQUEST_A_MENTOR_LINK %}
          <a class="btn btn-primary" target="_blank" href="{{REQUEST_A_MENTOR_LINK}}">Request a mentor</a>
        {% endif %}
        <h3>Students</h3>
        <div class="list-group">
          {% for user in group.members %}
          <a class="list-group-item {% ifequal user.id member.id %}active{% endifequal %}"
            href="{% url 'groups:member' group.id user.id %}">{{ user.username }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-9">
        {% block columncontent %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}
{% endblock %}
