{% extends "groups/base.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block css %}
  <style>
    header h1 {
      display: inline-block;
    }
    header .nav-link {
      display: inline-block;
      margin-left: 3em;
    }
  </style>
  {{ block.super }}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li>{{ group.name }}</li>
</ol>
{% endblock %}

{% block columncontent %}
  <header>
    <h1>Students</h1>
    <a class="nav-link text-muted" href="{% url "groups:manage_members" group_id=group.id %}">Edit</a>
  </header>
  <div class="row">
    {% for user in group.members %}
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail group-member">
        <a class="" href="{% url 'groups:member' group.id user.id %}">
          {% include "_avatar.html" with profile=user.profile width=240 height=240 crop='fill' %}
        </a>
        <div class="caption">
          <h4 title="{{user.username}}" class="text-overflow">{{ user.username }}</h4>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-sm-12">Invite students to add them to this group</div>
    {% endfor %}
  </div>

  <header>
    <h1>Pending invitations</h1>
    <a class="nav-link text-muted" href="{% url "groups:manage_invitations" group_id=group.id %}">Edit</a>
  </header>
  <table class="table">
    {% for invite in group.group_invitations.all %}
    <tr>
      <td>
        {{ invite.user.username }}
      </td>
      <td>
        <form action="{% url 'groups:invite_to_group' group.id %}?resend=1" method="POST">
          <button class="btn btn-default btn-xs" type="submit">Resend</button>
          {% csrf_token %}
          <input type="hidden" name="recipients" value="{{ invite.user.username }}" />
        </form>
      </td>
    </tr>
    {% empty %}
    <tr><td>No pending invitations</td></tr>
    {% endfor %}
  </table>
{% endblock %}