{% extends "groups/base.html" %}

{% block title %}Leave Group{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li>Leave Group</li>
</ol>
{% endblock %}

{% block pagecontent %}
<div class="row">
  <div class="col-md-12">
    <h1>Leave Group</h1>
    <form action="" method="post">{% csrf_token %}
      <p>
        Are you sure you want to leave the group {{ object.name }}?
      </p>
      <ul class="list-inline">
        <li><input class="btn btn-primary" type="submit" value="Confirm" /></li>
        <li><a href="{% url 'root' %}">Cancel</a></li>
      </ul>
    </form>
  </div>
</div>
{% endblock %}
