{% extends "groups/base.html" %}

{% block title %}Create group{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li>Create Group</li>
</ol>
{% endblock %}

{% block pagecontent %}
<div class="row">
  <div class="col-md-12">
    <h1>Create Group</h1>
    <p class="lead">Choose a name and create your group. Next, you'll invite your students.</p>
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <p class="help-block">{{ field.help_text }}</p>
        <div class="errors">{{ field.errors }}</div>
      </div>
      {% endfor %}
      <ul class="list-inline">
        <li><button class="btn btn-primary" type="submit">Create</button></li>
        <li><a href="{% url 'root' %}">Cancel</a></li>
      </ul>
    </form>
  </div>
</div>
{% endblock %}
