{% extends "base.html" %}


{% block title %}My Groups{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li>Groups</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h1>My Groups</h1>
  </div>
</div>
<div class="row">
  {% for group in object_list %}
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="{% url 'groups:group' group_id=group.id%}">{{group.name}}</a>
            <a href="{% url 'groups:group' group_id=group.id%}" class="btn btn-primary pull-right">View</a>
          </h3>
        </div>
        <div class="panel-body">
          <p>Members: {{ group.members|length }}</p>
        {% comment %}
        {% for member in group.members %}
          <p>{{ member.username }}</p>
        {% endfor %}
        {% endcomment %}
        </div>
      </div>
    </div>
  {% empty %}
    <p>No groups at this time</p>
  {% endfor %}
</div>

{% endblock %}
