{% extends "base.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li>{{ group.name }}</li>
</ol>

<div class="row">
  <div class="col-sm-3">
    <div class="well">
      <h1>{{group.name}}</h1>
      <p>Code: {{group.code}}</p>
      <p>Owner{% if group.owners|length > 1 %}s{% endif %}: {{ group.owners|join:", " }}</p>
      <a class="btn btn-default" href="{% url 'groups:invite_to_group' group.id %}">Invite members</a>
    </div>
  </div>
  <div class="col-sm-9">
    <h1>Students</h1>
    <div class="row">
      {% for user in group.members %}
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
          {% include "_avatar.html" with profile=reply.user.profile width=50 height=50 crop='fit' %}
          <div class="caption">
            <p>{{ user.username }}</p>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-sm-12">No students at this time</div>
      {% endfor %}
    </div>

    <h1>Pending invitations</h1>
    <table class="table">
      {% for invite in group.group_invitations.all %}
      <tr>
        <td>
          {{ invite.user.username }}
        </td>
        <td>
          <a class="btn btn-default btn-xs" href="#" role="button">Resend</a>
        </td>
      </tr>
      {% empty %}
      <tr><td>All invitations have been accepted</td></tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}