{% extends "groups/base.html" %}

{% block title %}Group Invitations{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li><a href="{% url 'groups:group' group_id=group.id %}">{{ group.name }}</a></li>
  <li>Invite members</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h1>Invite Members</h1>
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <p class="help-block">{{ field.help_text }}</p>
        <div class="errors">{{ field.errors }}</div>
      </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Create</button>
    </form>
  </div>
</div>
{% endblock %}
