{% extends "groups/base.html" %}

{% block title %}Group Invitations{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li><a href="{% url 'groups:group' group_id=group.id %}">{{ group.name }}</a></li>
  <li>Edit Invitations</li>
</ol>
{% endblock %}

{% block pagecontent %}
<div class="row">
  <div class="col-md-12">
    <h1>Confirm</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <p>Remove invitations for {{removals|join:", "}}?</p>
      {% for field in form %}
        {{ field.as_hidden }}
      {% endfor %}
      <input type="hidden" name="confirmed" value=1 />
      <ul class="list-inline">
        <li><button class="btn btn-primary" type="submit">Remove</button></li>
        <li><a href="{% url 'groups:group' group_id=group.id %}">Cancel</a></li>
      </ul>
    </form>
  </div>
</div>
{% endblock %}
