{% extends "groups/base.html" %}
{% load activity_count %}

{% block title %}{{ member.username }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li><a href="{% url 'groups:group' group_id=group.id %}">{{ group.name }}</a></li>
  <li>{{ member.username }}</li>
</ol>
{% endblock %}

{% block columncontent %}
  <h1>Challenges</h1>
  <div class="row">
    {% for progress in member.progresses.all %}
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ progress.challenge.name }}</h3>
        </div>
        <div class="panel-body">
          <table class="table text-center">
            <thead>
              <tr>
                <th>Plan</th>
                <th>Build/Test</th>
                <th>Reflect</th>
              </tr>
            </thead>
            <tr>
              <td><span class="badge plan">{% activity_count progress member "plan" %}</span></td>
              <td><span class="badge build">{% activity_count progress member "build" "test" %}</span></td>
              <td><span class="badge reflect">{% activity_count progress member "reflect" %}</span></td>
            </tr>
          </table>
          <dl class="">
            <dt>Mentor feedback</dt><dd>{% activity_count progress progress.mentor %}</dd>
            <dt>Latest activity on</dt><dd>{{ progress.most_recent.created|date:"DATE_FORMAT"|default:"None" }}</dd>
          </dl>
          <a class="btn btn-default"
            href="{% url 'challenges:challenge_progress' progress.challenge.id member.username %}"
            role="button">View Challenge</a>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-md-12">This student hasn't started any challenges</div>
    {% endfor %}
  </div>
{% endblock %}
