{% extends "base.html" %}


{% block title %}Curiosity Machine Units{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li>Units</li>
</ol>
<h1>Engineering Design Units</h1>
<p>
  To make Curiosity Machine an even better resource for you, we have grouped our engineering design into educator-friendly units!
</p>
<p>
  Check our units below for teacher lesson plans, student workbooks, NGSS Standards Alignment and online support structures.
</p>
<hr />
<ul class="challenges-list owl-carousel panel-carousel">
  {% for unit in units %}
   {% include "_unit_item.html" with unit=unit %}
  {% endfor %}
</ul>

<hr />
<h3>How to use these units</h3>
<p>
  The following units were developed to inspire students to be curious, creative, and persistent learners. Lessons are project-based, providing a rich and engaging learning experience. Each lesson is also aligned to Next Generation Science Standards in Engineering Design, grades 6-8.
</p>
<p>
  Each unit is supported by:
</p>
<ul>
  <li>A Lesson Guide with 5 lesson plans.</li>
  <li>Student Workbook with worksheets for each lesson.</li>
  <li>An explanation of NGSS standards alignment for each lesson.</li>
  <li>Individual mentorship for students on Curiosity Machine.</li>
  <li>Individual student design portfolios on Curiosity Machine.</li>
  <li>An Educator Portal to monitor student design progress and mentorship.</li>
  <li>An <a href="https://www.youtube.com/watch?v=XBAE46x2qio" target="_blank">online training</a> for you to learn more.</li>
</ul>

<p>
  <a href="/about" target="_blank">Learn more about Curiosity Machine here!</a>
</p>

<p>
Please email us any time with any questions at <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>. We'd love to hear from you!
</p>

{% endblock %}
