{% extends "base.html" %}


{% block title %}Curiosity Machine Units: {{ unit.name }}{% endblock %}

{% block content %}
<div class="unit-info">
  <h2>{{ unit.name }}</h2>

  {% if unit.overview %}
    <h3>Unit Overview</h3>
    <p>{{ unit.overview|safe }}</p>
  {% endif %}

  <h3>Engineering design challenges your student will complete</h3>
    <ul>
      {% for challenge in challenges %}
	<li><a href="{% url 'challenges:challenge' challenge.id %}">{{ challenge.name }}</a></li>
      {% endfor %}
    </ul>

  {% if unit.standards_alignment_image %}
    <h3>NGSS Standards Alignment</h3>
    <div class="image-wrapper">
      <img src="{{ unit.standards_alignment_image.url }}" >
    </div>
  {% endif %}
</div>
{% endblock %}
