{% extends "curiositymachine/layout/base.html" %}
{% block title %}Design Challenges{% endblock %}

{% load staticfiles %}

{% block body-id %}challenges-page{% endblock %}
{% block content %}
  <div class="jumbotron cm-jumbotron jumbotron-fluid bg-blue">
    <h1>Challenges</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="challenges-navigation col-md-5 col-lg-4 col-xl-3">
        <h4 class="block-header text-center d-none d-md-block">Categories</h4>
        <button class="filter-theme-toggle collapsed d-md-none btn btn-block btn-green"
          data-toggle="collapse" href="#filter-theme-list"
          aria-expanded="false" aria-controls="filter-theme-list"
        >
          Categories
        </button>
        <ul id="filter-theme-list" class="filter-list collapse">
          {% for f in filters %}
          <li class="{% if f.active %}active{% endif %}">
            <a class="text-truncate" href="{{ f.full_url }}">{{ f.text|safe }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9">
        <h4 class="block-header text-center" id="challenges">{{title|safe}}</h4>
        {% if header_template %}
          {% include header_template %}
        {% endif %}
        <div class="all-challenges-cards">

          {% include "curiositymachine/_messages.html" %}

          {% block challenges %}
          <div class="d-flex justify-content-center mt-4 mb-2">
            {% include "curiositymachine/_pagination_controls.html" with curr_page=challenges anchor="challenges" %}
          </div>

          <div class="row">

            {% for challenge in challenges %}
            {% include "challenges/_list_card.html" %}
            {% endfor %}

          </div>

          <div class="d-flex justify-content-center mt-4 mb-2">
            {% include "curiositymachine/_pagination_controls.html" with curr_page=challenges anchor="challenges" %}
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/favorites.js' %}"></script>
{% endblock %}
