{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% load qstring %}
{% load resized %}
{% load future %} {# suppresses deprecation warnings for firstof tag #}

{% block body-id %}challenges-page{% endblock %}
{% block content %}
  <div class="challenges-top-panel">
    <h1>Challenges</h1>
  </div>

  <div class="container">
    <div class="challenges-navigation col-md-5 col-lg-4 col-xl-3">
      <h4 class="all-challenges-header text-center hidden-md-min-down">Categories</h4>
      <button class="filter-theme-toggle collapsed hidden-md-up btn btn-block btn-green"
        data-toggle="collapse" data-target="#filter-theme-list"
        aria-expanded="false" aria-controls="filter-theme-list"
      >
        Categories
      </button>
      <ul id="filter-theme-list" class="design-challenge-list collapse">
        <li {% if not active_filter and not active_theme_name and not active_membership %}class="active"{% endif %}>
          <a href="{% url "challenges:challenges" %}#challenges">All Challenges</a>
        </li>
        {% if flags.enable_membership_access_controls %}
        {% for membership in memberships %}
        <li {% if active_membership == membership %}class="active"{% endif %}>
          <a class="text-truncate" href="{% url "challenges:challenges" %}?{% qstring membership=membership.id %}#challenges">
            {{ membership.display_name }}
          </a>
        </li>
        {% endfor %}
        {% endif %}
        {% for filter in filters %}
        <li {% if active_filter == filter %}class="active"{% endif %}>
          <a href="{% url "challenges:challenges" %}?{% qstring filter_id=filter.id %}#challenges">{{filter.name|safe}}</a>
        </li>
        {% endfor %}
        {% for theme in themes %}
        <li {% if active_theme_name == theme.name %}class="active"{% endif %}>
          <a href="{% url "challenges:challenges" %}?{% qstring theme=theme.name %}#challenges">
            <i class="icon {{theme.icon}}"></i>
            {{theme.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-7 col-lg-8 col-xl-9">
      <h4 class="all-challenges-header text-center" id="challenges">{{title|safe}}</h4>
      {% if active_filter.header_template %}
        {% include active_filter.header_template %}
      {% endif %}
      <div class="all-challenges-cards">
        <div class="row text-center">
          {% include "curiositymachine/_pagination_controls.html" with curr_page=challenges anchor="challenges" %}
        </div>

        <div class="row">

          {% for challenge in challenges %}
            <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4">
              <div class="card challenge-card">
                {% if request.user.is_authenticated and request.user.profile.is_student %}
                  <div class="favorites-filter">
                    <input type="checkbox"
                      name="favorite-star-{{challenge.id}}"
                      id="favorite-star-{{challenge.id}}"
                      data-toggle="favorite"
                      data-set-url="{% url 'challenges:set_favorite' challenge.id 'favorite' %}"
                      data-clear-url="{% url 'challenges:set_favorite' challenge.id 'unfavorite' %}"
                      {% if challenge.id in favorite_ids %}checked="checked"{% endif %}
                    >
                    <label for="favorite-star-{{challenge.id}}"><i class="icon-star-full"></i></label>
                  </div>
                {% endif %}
                {% if challenge.started %}
                  <a href="{% url "challenges:challenge_progress" challenge_id=challenge.id username=request.user.username %}">
                  {% else %}
                  <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}" class="action-img">
                {% endif %}
                {% if challenge.image %}
                  <img class="card-img-top" src="{% resized challenge.image.url width=300 height=190 crop='fill' %}" alt="{{challenge.name}}">
                {% elif challenge.video.encodings_generated %}
                  {{ challenge.video.output_videos.all.0.thumbnail }}
                {% endif %}
                  </a>

                  <div class="card-block card-title">
                    <h6>
                      {% if challenge.started %}
                        <a href="{% url "challenges:challenge_progress" challenge_id=challenge.id username=request.user.username %}">
                      {% else %}
                        <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}">
                      {% endif %}
                        {{ challenge.name }}
                      </a>
                    </h6>
                  </div>
                  <div class="card-block">
                    <p class="card-text"><small>{{challenge.description}}</small></p>
                  </div>

                  {% if flags.enable_membership_access_controls %}

                    {% if challenge.accessible or challenge.started %}
                      <div class="card-block card-details">
                          <ul>
                            {% if not request.user.is_authorized and request.user.profile.is_student %}
                              <li>
                                <small>
                                  <span class="accessible-dc">Build it!</span>
                                </small>
                              </li>
                            {% else %}
                              <li>
                                <small>
                                  <span class="accessible-dc">Preview!</span>
                                </small>
                              </li>
                            {% endif %}
                          </ul>
                      </div>
                    {% endif %}


                  {% endif %}

              </div>
            </div>

            {% if forloop.counter|divisibleby:2 %}
              <div class="clearfix hidden-xl-up"></div>
            {% endif %}

            {% if forloop.counter|divisibleby:3 %}
              <div class="clearfix hidden-xl-min-down"></div>
            {% endif %}

          {% endfor %}

        </div>

        <div class="row text-center">
          {% include "curiositymachine/_pagination_controls.html" with curr_page=challenges anchor="challenges" %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/favorites.js' %}"></script>
{% endblock %}
