#ai-challenge-page {
  .cm-quote-card {
    padding: 0.8em;

    blockquote {
      font-family: "Raleway", Helvetica, sans-serif;
      font-size: 1.2em;
      text-align: right;

      &:before {
        content: "“";
        display: block;
        position: relative;
        text-align: left;
        font-family: "Times New Roman", Georgia, serif;
        font-size: 100px;
        font-weight: bold;
        line-height: 1em;
        margin-bottom: -0.3em;
        color: #F55932;
      }
    }

    cite {
      text-align: right;
      color: gray;

      &:before {
        content:"—";
        margin-right: 0.4em;
      }
    }
  }

  .right-border {
    border-right: 1px solid #fff;
  }

  .turquoise-cols {
    line-height: 1.25em;
  }

  .stage-badges {
    line-height: 1.25em;
    p {
      margin-bottom: 0;
    }
  }

  .equation {
    font-size: 60px;
    color: #FF5050;
  }

  .aifc-album {
    img {
      max-height: 400px;
      margin: auto;
    }
    height: 400px;
    width: 730px;
  }

  .revolving-quotes {
    .quote-box {
      height: 250px;
    }
  }

  .quotes-images {
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    .quote-image-1 {
      background-image: url('../images/about/quote-images/carousel_usa-600x600.jpg');
      background-repeat:no-repeat;
      background-size:contain;
      height:350px;
      width:350px;
    }
    .quote-image-2 {
      background-image: url('../images/about/quote-images/carousel_nigeria-600x600.jpg');
      background-repeat:no-repeat;
      background-size:contain;
      height:350px;
      width:350px;
    }
    .quote-image-3 {
      background-image: url('../images/about/quote-images/carousel_southafrica-600x600.jpg');
      background-repeat:no-repeat;
      background-size:contain;
      height:350px;
      width:350px;
    }
    .quote-image-4 {
      background-image: url('../images/about/quote-images/carousel_uzbekistan-600x600.jpg');
      background-repeat:no-repeat;
      background-size:contain;
      height:350px;
      width:350px;
    }
    .quote-image-5 {
      background-image: url('../images/about/quote-images/carousel_uzbekistan2-600x600.jpg');
      background-repeat:no-repeat;
      background-size:contain;
      height:350px;
      width:350px;
    }
  }
}