.account-settings {
  .avatar-settings {
    .form-inline {
      justify-content: center;

      .btn {
        margin-right: 0.25em;
      }
    }
  }

  .yes-no-group {
    .group-label {
      margin-right: 2rem;
    }

    .form-check-inline {
      vertical-align: baseline;
    }

    .yes-no-options {
      display: inline-block;
      margin-left: -1.25rem;
      margin-bottom: 0.5rem;
    }
  }

  .btn-secondary {
    border: 1px solid $light-gray;
  }
}
