.account-settings {
  .avatar-settings {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    label[for='id_image_url'] {
      display: none;
    }

    .pickwidget {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        border: none;
        color: $primary-orange;
        font-size: 0.8rem;
        &::placeholder {
          color: $primary-orange;
        }
        &:hover,
        &:focus {
          border: none;
        }
      }

      .pickwidget-button {
        margin-right: 0.25em;
      }
    }

    .form-inline {
      justify-content: center;

      .btn,
      input {
        margin-right: 0.25em;
        margin-bottom: 0.25em;
      }
    }
  }

  .form-inline input {
    max-width: 100%;
  }

  .yes-no-group {
    .group-label {
      margin-right: 2rem;
    }

    .form-check-inline {
      vertical-align: baseline;
    }

    .yes-no-options {
      display: inline-block;
      margin-bottom: 0.5rem;

      input {
        margin-right: 0.5em;
      }
    }
  }
}
