#ai-timeline-page {
  .aifc-timeline {
    border: 4px solid $primary-blue;
    border-radius: 9px;
    padding: 30px 12px 12px 12px;
    margin: 30px 12px 12px 12px;
  }

  .timeline-panel {
    min-width: 250px;
    max-height: 600px;
  }

  .timeline-header {
    font-size: 25px;
    color: $gray;
  }

  .arrow {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    box-shadow: 15px -15px 0 0 tomato inset;
    transform: rotate(225deg);
  }
}
