#aifc-submission-page {
  .aifc-submission-panel {
    border: 4px solid $primary-blue;
    border-radius: 9px;
    padding: 30px 12px 12px 12px;
    margin: 30px 12px 12px 12px;
  }

  .img-size {
    height: 150px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .submission-subheader {
    font-size: 20px;
    color: $gray;
  }

  .submission-header {
    font-size: 25px;
    color: $orange;
  }
}
