.choose-profile-page {
  .card-block img {
    width: 250px;
    margin-right: 20px;
  }
  .card-content {
    margin-left: 250px;
  }
  @include media-breakpoint-down(sm) {
    .card-content {
      clear:left;
      margin-left: 0;
      padding-top: 1em;
    }
  }
}
