#dashboard {

  .top-panel {
    color: white;
    background: url("../images/design-challenge-repeating-pattern-white.png");
    background-color: $primary-green;
    background-attachment: fixed;
    background-repeat: repeat;

    h1 {
      margin-bottom: 0px;
    }
  }

  .profile-edit {
    position: absolute;
    right: $base-spacing;
    top: 5px;
  }

  .profile-info-avatar img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid $light-gray;
    margin-bottom: $small-spacing;
  }

  .profile-details {
    list-style-type: none;
    padding-left: 0px;
    font-size: 0.875em;

    i {
      margin-right: $small-spacing;
      color: $medium-gray;
    }
  }

  .student-activity {

    .student-avatar img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .student-activity-content {
      border: 1px solid $light-gray;
      // background-color: $light-gray;
      border-radius: $base-border-radius;
      padding: $small-spacing;
    }

    .post-img {
      width: 100%;
      height: auto;
    }
  }

}
