#edp-inspiration {
  .jumbotron {
    margin-bottom: 0px;
  }

  .bg-img {
    background-image: url('../images/pages/inspiration-landing/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .landing-scroll {
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: -80px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 2px 4px 0px $main-shadow;
    border-bottom: 0px;
    text-align: center;
    padding-top: 7px;
  }
  @include media-breakpoint-down(xs) {
    .landing-scroll {
      bottom: -50px;
    }
  }

  .inactive-level {
    display: inline-block;
    color: $white;
    font-family: $headings-font-family;
    background-color: $primary-orange-lightest;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-top: 5px;
  }

  .active-level {
    @extend .inactive-level;
    background-color: $primary-orange;
    font-size: $base-font-size * 1.5;
    width: 55px;
    height: 55px;
    padding-top: 15px;
  }

  .resources-book {
    display: block;
    color: $primary-orange;
    font-size: 2.5rem;
  }
}
