#edp-inspiration {
  .landing-scroll {
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: -80px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $ivory;
    box-shadow: 0px 2px 4px 0px $main-shadow;
    border-bottom: 0px;
    text-align: center;
    padding-top: 7px;
  }

  @include media-breakpoint-down(xs) {
    .landing-scroll {
      bottom: -50px;
    }
  }

  .inactive-level {
    display: inline-block;
    background-color: $sand;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 10px;
    padding-top: 5px;
  }

  .active-level {
    display: inline-block;
    background-color: $primary-blue;
    color: $ivory;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: $base-font-size * 2;
    font-weight: $light-font-weight;
    font-family: $headings-font-family;
  }

  .resources-book {
    display: block;
    color: $primary-green;
    font-size: 2.5rem;
  }
}
