.educator-dashboard {

  //
  // Dashboard header styles
  //
  .educator-dashboard-header {
    background-color: shade($dark, 40%);
    background-image: url("../images/design-challenge-repeating-pattern.png");
    background-attachment: fixed;
    background-repeat: repeat;
    color: $ivory;

    .dashboard-avatar img {
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px 2px 4px 0px $main-shadow;
      float: left;
      margin-right: 10px;
    }

    .dashboard-inline-username {
      font-family: $heading-font-family;
      font-size: $base-font-size * 2;
    }
  }
  // end dashboard header styles

  //
  // Dashboard navigation
  //
  .educator-dashboard-navigation {
    border-bottom: 2px $sand solid;

    ul {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 2px;
      padding-left: 0px;
      margin-bottom: 0px;

      li {
        display: inline-block;
        padding-bottom: 10px;

        a {
          margin: 0px 15px;
          border-bottom: 0px;
          color: $dark;
          text-align: center;

          &:hover, &:focus {
            color: $primary-blue;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      ul li {
        width: 32%;
        text-align: center;
      }
    }

    @include media-breakpoint-down(sm) {
      ul li {
        width: 100%;
      }
    }

    // this only applies if you're in multiple memberships, uncomment when ready
    // .dropdown a {
    //   margin: 0px;
    // }
  }
  // end dashboard navigation styles

  //
  // Highlights link to active page in navigation
  //
  #active-nav {
    border-bottom: 5px solid $primary-blue;
    a { color: $primary-blue; }

    @include media-breakpoint-down(md) { border-bottom: 0px; }
  }
  // end highlights
}
