.educator-dashboard {
  .submit-message {
    .before-submit {
      display: initial;
    }
    .after-submit {
      display: none;
    }
  }
  .submit-message.submitted {
    .before-submit {
      display: none;
    }
    .after-submit {
      display: initial;
    }
  }

  .student-list-avatar {
    float: left;
    border-bottom: 0px;
    margin-right: 10px;
    width: 48px;
    height: 48px;

    img {
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 2px 4px 0px $main-shadow;
    }
  }

  .student-list-manage {
    position: absolute;
    right: 2.5rem;

    &:hover {
      text-decoration: none;
    }
    &:focus {
      color: $primary-red;
    }

    i {
      position: relative;
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
