.educator-dashboard {
  .submit-message {
    .before-submit {
      display: initial;
    }
    .after-submit {
      display: none;
    }
  }
  .submit-message.submitted {
    .before-submit {
      display: none;
    }
    .after-submit {
      display: initial;
    }
  }

  .student-list-avatar {
    float: left;
    border-bottom: 0px;
    margin-right: 10px;
    width: 48px;
    height: 48px;

    img {
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 2px 4px 0px $main-shadow;
    }
  }

  .student-list-manage {
    position: absolute;
    right: 2.5rem;

    &:hover {
      text-decoration: none;
    }
    &:focus {
      color: $primary-red;
    }

    i {
      position: relative;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .data-label {
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: $heavy-font-weight;
    color: $gray;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
}

.educator-dashboard-conversation {

  .pickwidget-preview {
    max-width: 100px;
    max-height: 100px;
    vertical-align: top;
    padding: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }

  #id_visual_media_container {
    display: inline-block;
  }
  input[type="submit"] {
    float: right;
  }
  textarea {
    width: 100%;
    height: 100px;
  }

  .student-comment,
  .family-comment {
    img {
      width: 100%;
      max-width: 475px;
    }

    &.stage-plan-comment .card-header {
      background-color: #f4f8ee;
    }
    &.stage-build-comment .card-header {
      background-color: #efeff7;
    }
    &.stage-test-comment .card-header {
      background-color: #feeeeb;
    }
    &.stage-reflect-comment .card-header {
      background-color: #e6f7f9;
    }
  }
}
