#educator-about-page {
  .card {
    margin: $base-spacing auto;
  }
}

.educator-dashboard {
  .dashboard-avatar img {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px $main-shadow;
  }

  .jumbotron {
    color: $ivory;

    ul {
      padding-left: 0px;
      list-style-type: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .jumbotron {
      text-align: center;
    }
    .dashboard-avatar {
      display: inline-block;
    }
  }

  .edu-dash-nav {
    border-bottom: 2px $sand solid;

    ul {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 2px;
      padding-left: 0px;
      margin-bottom: 0px;

      li {
        display: inline-block;
        padding-bottom: 10px;

        a {
          margin: 0px 15px;
          border-bottom: 0px;
          color: $dark;
          text-align: center;

          &:hover, &:focus {
            color: $primary-blue;
          }
        }
      }
    }

    .dropdown a {
      margin: 0px;
    }
  }

  @include media-breakpoint-down(md) {
    ul li {
      width: 32%;
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    ul li {
      width: 100%;
    }
  }

  .student-info {

    img {
      border-radius: 50%;
      background-color: white;
    }
  }


  .btn-unbtn {
    background-color: $ivory;
    border-width: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    height: 22px;
  }
}

// Highlights link to active page in navigation
#educator-dashboard-home {
  .edu-dash-nav {
    #active-edu-home {
      border-bottom: 5px solid $primary-blue;
      a { color: $primary-blue; }

      @include media-breakpoint-down(md) { border-bottom: 0px; }
    }
  }
}
#educator-dashboard-students {
  .edu-dash-nav {
    #active-edu-students {
      border-bottom: 5px solid $primary-blue;
      a { color: $primary-blue; }

      @include media-breakpoint-down(md) { border-bottom: 0px; }
    }
  }
}
#educator-dashboard-units {
  .edu-dash-nav {
    #active-edu-units {
      border-bottom: 5px solid $primary-blue;
      a { color: $primary-blue; }

      @include media-breakpoint-down(md) { border-bottom: 0px; }
    }
  }
}
