.educator-dashboard {

  //
  // Dashboard header styles
  //
  .educator-dashboard-header {
    background-color: shade($dark, 40%);
    background-image: url("../images/design-challenge-repeating-pattern.png");
    background-attachment: fixed;
    background-repeat: repeat;
    color: $ivory;

    .dashboard-avatar img {
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px 2px 4px 0px $main-shadow;
      float: left;
      margin-right: 10px;
    }

    .dashboard-inline-username {
      font-family: $heading-font-family;
      font-size: $base-font-size * 2;
    }
  }
  // end dashboard header styles

  //
  // Dashboard navigation
  //
  .educator-dashboard-navigation {
    border-bottom: 2px $sand solid;

    ul {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 2px;
      padding-left: 0px;
      margin-bottom: 0px;

      li {
        display: inline-block;
        padding-bottom: 10px;

        a {
          margin: 0px 15px;
          border-bottom: 0px;
          color: $dark;
          text-align: center;

          &:hover, &:focus {
            color: $primary-blue;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      ul li {
        width: 32%;
        text-align: center;
      }
    }

    @include media-breakpoint-down(sm) {
      ul li {
        width: 100%;
      }
    }

    .dropdown a {
      margin: 0px;
    }
  }
  // end dashboard navigation styles

  //
  // Highlights link to active page in navigation
  //
  .active-nav {
    border-bottom: 5px solid $primary-blue;
    a { color: $primary-blue; }

    @include media-breakpoint-down(md) { border-bottom: 0px; }
  }
  // end highlights

  //
  // Student Table
  //
  .student-list {
    border-top: 1px solid $sand;

    .student-list-item {
      padding: 10px;
      border-bottom: 1px solid $sand;

      .student-list-avatar {
        float: left;
        border-bottom: 0px;
        margin-right: 10px;
        width: 48px;
        height: 48px;

        img {
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0px 2px 4px 0px $main-shadow;
        }

        // Adds notifying highlight if student has unseen activity; can leave commented out for now
        // .student-list-has-activity {
        //   position: relative;
        //
        //   &:after {
        //     content: "";
        //     position: absolute;
        //     display: block;
        //     width: 15px;
        //     height: 15px;
        //     background-color: $primary-red;
        //     border-radius: 50%;
        //     border: 3px solid $ivory;
        //     right: -3px;
        //     top: 0;
        //   }
        // }
      }

      .student-inline-name {
        font-weight: $heavy-font-weight;
      }

      .student-list-manage {
        position: absolute;
        right: 2.5rem;

        i {
          position: relative;
          font-size: 12px;
          margin-left: 10px;
        }
      }

      .student-inline-empty { color: $gray; }
    }
  }
  // end student table
}

//
// Design Challenge Progress Table
//
.dropdown-design-challenge {
  display: inline-block;
}

  .student-list-item {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: $small-spacing;
    }
  }

  .student-list-avatar {
    img {
      border-radius: 50%;
      background-color: $ivory;
      margin-right: 10px;
    }
  }

.table-dc-progress {
  @extend .table;
  text-align: center;
  border-style: none;

  thead {
    color: $primary-red;
    font-size: 0.875em;
    letter-spacing: 2px;
    text-transform: uppercase;
    th { border-style: none; }
  }

  .active {
    background-color: $primary-green;
    color: $ivory;
    font-size: 1.25rem;
  }

  .inactive {
    background-color: $sand;
    color: $gray;
    font-size: 1.25rem;
  }

  th {
    border: 2px solid $ivory;
    padding: 8px 0px;
    text-align: center;
    vertical-align: middle;
    width: 16.6%;
  }
}

.dc-progress-table {
  .dc-progress-header {
    border-bottom: 2px solid $sand;
    text-transform: uppercase;
    color: $primary-red;
    letter-spacing: 2px;
  }

  .student-list-item {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: $small-spacing;
    }
  }

  .student-list-avatar {
    img {
      border-radius: 50%;
      background-color: $ivory;
    }
  }

  .post-type {
    display: inline-block;
    width: 48%;
    text-transform: uppercase;
    color: $primary-red;
    letter-spacing: 2px;

    @include media-breakpoint-down(sm) {
      text-align: right;
      padding-right: $small-spacing;
    }
  }

  .post-quantity {
    background-color: $primary-green;
    font-size: 1.25em;
    font-weight: $heavy-font-weight;
    height: 48px;
    padding-top: $small-spacing/2;

    @include media-breakpoint-down(sm) {
      width: 48%;
      display: inline-block;
    }
  }

  .post-empty {
    @extend .post-quantity;
    background-color: $sand;
    color: $gray;
  }

  .fixedheader {
    z-index: 500;
    background-color: $ivory;
  }
}
