#examples-page {

  .cm-jumbotron {
    color: $ivory;
    background: linear-gradient( 45deg, $primary-blue, $primary-green );

    a {
      color: $ivory;
      border-bottom: 1px solid $ivory;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .badge-remove {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $primary-red;
    text-align: center;
    position: absolute;
    top: -8px;
    left: -8px;
    box-shadow: 0px 2px 4px rgba(151,151,151,0.8);
    color: white;

    &:hover {
      color: $primary-red-dark;
    }
    &:active, &:focus {
      color: white;
    }
  }

  .photo-choice {
    input[type='radio'] { display: none }

    input[type='radio'] + label {
      margin-bottom: $base-spacing;
      border: 3px solid $ivory;
      transition: all $base-duration $base-timing;
      &:hover {
        border: 3px solid $primary-blue;
      }
    }

    input[type='radio']:checked + label {
      border: 3px solid $primary-blue;
    }
  }

  .pending-overlay {
    width: 100%;
    background-color: rgba(247,209,151,.9);
    border: 1px solid $primary-orange;
    color: darken($primary-orange, 30%);
    position: relative;
    padding: $small-spacing/2;
    top: -36px;
    text-align: center;
    margin-bottom: -36px;
  }

  .card-body {
    background-color: tint($sand, 60);
    overflow: auto;
    word-break: break-all;
  }

  .modal-header h3 {
    margin-bottom: 0px;
  }

  a[data-toggle="modal"]:hover,
  a[data-toggle="modal"]:focus {
    text-decoration: none;
  }
}
