#examples-page {
  //background-color: $light-gray;

  .examples-top-panel {
    width: 100%;
    background: linear-gradient( 45deg, $primary-blue, $primary-green );
    padding: $large-spacing 0px $small-spacing 0px;
    text-align: center;
    color: white;
    margin-bottom: $base-spacing;

    a {
      color: white;
      border-bottom-color: white;
    }
  }

  .card {
    margin-bottom: $base-spacing;
  }

  .card-block {
    background-color: tint($light-gray, 60);
    overflow: auto;
    word-break: break-all;
  }

  .modal-header h3 {
    margin-bottom: 0px;
  }

  .modal-footer a {
    margin-right: $small-spacing;
  }

  #choose-photo {

    .modal-body {
      max-height: 525px;
      overflow: scroll;
    }

    input[type='radio'] { display: none }

    input[type='radio'] + label {
      margin-bottom: $base-spacing;
      border: 3px solid $primary-light;
      transition: all $base-duration $base-timing;
      &:hover {
        border: 3px solid $primary-blue;
      }
    }

    input[type='radio']:checked + label {
      border: 3px solid $primary-blue;
    }

  }

  .pending {
    width: 100%;
    background-color: rgba(247,209,151,.9);
    border: 1px solid $primary-orange;
    color: darken($primary-orange, 30%);
    position: relative;
    display: block;
    padding: $small-spacing/2;
    top: -36px;
    text-align: center;
    margin-bottom: -36px;
  }

  .examples-page-alerts {
    border: 1px solid $light-gray;
    border-radius: $base-border-radius;
    background-color: lighten($light-gray, 70%);

    i {
      margin-right: $small-spacing;
    }
  }

  @include media-breakpoint-up(xs) {
    .card {
      max-width: 330px;
      margin: $base-spacing auto;
    }
  }

}
