#examples-page {
  //background-color: $light-gray;

  .examples-top-panel {
    width: 100%;
    background: linear-gradient( 45deg, $primary-blue, $primary-green );
    padding: $large-spacing 0px $small-spacing 0px;
    text-align: center;
    color: white;
    margin-bottom: $base-spacing;
  }

  .card {
    margin-bottom: $base-spacing;
  }

  .card-block {
    background-color: tint($light-gray, 60);
    overflow: auto;
  }

  .modal-header h3 {
    margin-bottom: 0px;
  }

  #choose-photo {

    .modal-body {
      max-height: 525px;
      overflow: scroll;
    }

    img {
      margin-bottom: $base-spacing;
      border: 2px solid $primary-light;
      &:hover {
        border: 2px solid $primary-blue;
      }
    }
  }

  .pending {
    width: 100%;
    background-color: rgba(247,209,151,.9);
    border: 1px solid $primary-orange;
    color: darken($primary-orange, 30%);
    position: relative;
    display: block;
    padding: $small-spacing/2;
    top: -55px;
    text-align: center;
    margin-bottom: -55px;
  }

  .submit-example {
    border: 1px solid $light-gray;
    border-radius: $base-border-radius;
    background-color: lighten($light-gray, 70%);

    i {
      margin-right: $small-spacing;
    }

    a {
      margin: 0px $small-spacing;
    }
  }

}
