.family-dashboard {

  .dashboard-section {
    border-radius: 30px;
    border-style: solid;
    border-color: #E3E3DD;
    padding: 20px;
    border-width: 2px;
    position: relative;
    z-index: 0;

    a {
      color: #3498DB;
    }
  }   

  .blue-round-button {
    border-radius: 100%;
    padding: 5px 10px;
    line-height: 1;
    color: #3498DB;
    font-size: 1.25em;
    font-weight: bold;
    border: 2px solid #3498DB;
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
  
    &:hover, &:active {
      background-color: #3498DB66;
      cursor: pointer;
    }
  }
  
  .modal-content {
    border-color: #3498DB;
  }

  .members-list {
    padding: 10px;
    list-style: none;

    .members-list-item {
      display: flex;
    }

    .username {
      flex: auto;
      font-family: "Raleway", Helvetica, sans-serif;
      font-size: 1em;
      border-radius: 15px 30px 30px;
      background: #73AD21;
      padding: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .avatar {
      flex: 0 60px;
      border-radius: 50%;
      margin-right:10px;
    }
  }
}
