.checkbox {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: cover;
  vertical-align: middle;
  background-image: url("../images/checkbox-unchecked.svg");

  &.checkbox-checked {
    background-image: url("../images/checkbox-checked.svg");
  }
}

.family-dashboard {

  .dashboard-section {
    border-radius: 30px;
    border-style: solid;
    border-color: #E3E3DD;
    padding: 20px;
    border-width: 2px;
  }

  .instruction-text {
    background: #ccc;
    border: none;
    margin-top:16px;
    margin-bottom:0px;
  }

  .members-list {
    padding: 10px;
    list-style: none;

    .members-list-item {
      display: flex;
    }

    .username {
      flex: auto;
      font-family: "Raleway", Helvetica, sans-serif;
      font-size: 1em;
      border-radius: 15px 30px 30px;
      background: #73AD21;
      padding: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .avatar {
      flex: 0 60px;
      border-radius: 50%;
      margin-right:10px;
    }
  }
}
