#get-started {
  .jumbotron {
    background-image: url('../images/pages/about/hero.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15em;
  }
  .quotation-mark {
    width: 50px;
  }
  blockquote {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: $heavy-font-weight;
  }
  .quote-img {
    width: 400px;
  }
  .timeline-vertical {
    width: 400px;
  }
}
