#index-page {
  .hero {
    background-image: url("../images/pages/home/hero.png");
  }

  .section-img {
    width: 400px;
  }

  //impact-graphics-styles
  $impact-div-size: 200px;
  $impact-font-size: 40px;

  [id*="impact"] {
    font-size: $impact-font-size;
    height: $impact-div-size;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: ($impact-div-size - $impact-font-size) / 2;
  }

  #impact-1 {
    background-image: url("../images/pages/home/impact-1.svg");
  }
  #impact-2 {
    background-image: url("../images/pages/home/impact-2.svg");
  }
  #impact-3 {
    background-image: url("../images/pages/home/impact-3.svg");
  }
  #impact-4 {
    background-image: url("../images/pages/home/impact-4.svg");
  }
}
