#index-page {
  .jumbotron {
    padding-top: 6em;
    margin-bottom: 0em;
  }

  .home-top-panel {
    background-image: url("../images/home/girls-phoenix.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    button {
      margin-left: 10px;
    }
  }

  .home-top-panel-gradient {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.0), rgba(0,0,0,0.5));
  }

  .home-title {
    color: $ivory;
    font-weight: $base-font-weight;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    font-size: 4em;
  }

  .home-subtitle {
    padding-top: $large-spacing * 5;
    color: $ivory;
    transition: all 300ms ease;
  }

  @include media-breakpoint-down(md) {
    .home-top-panel {
      background-attachment: scroll; // many mobile devices don't handle fixed/cover well
    }

    .home-subtitle {
      padding-top: $large-spacing * 3;
    }
  }

  @include media-breakpoint-down(sm) {
    .home-subtitle {
      padding-top: $base-spacing;
    }
  }

  .home-what-panel {
    h3 {
      color: $primary-red;
    }
  }

  .home-who-panel {
    h3 {
      color: $primary-purple;
    }
  }

  .home-member-panel {
    h3 {
      color: $primary-orange;
    }
  }

  .sign-up-panel {
    padding: $large-spacing * 2 0px $large-spacing * 2 0px;
    background-color: $primary-blue;
    color: white;
  }

  .home-support-panel {
    background-color: #fff;
  }

  #how-video-modal {
    padding: 40px 20px 20px 20px;
  }

}
