#edp-inspiration {
  .hero {
    background-color: $primary-blue;
    border-radius: $base-border-radius;
    margin-bottom: 0px;
    padding: 0px;
    display: table;
    width: 100%;

    .hero-img {
      display: table-cell;
      width: 480px;
      img {
        border-radius: 0 $base-border-radius $base-border-radius 0;
      }
    }

    .hero-text {
      display: table-cell;
      vertical-align: middle;

      h3 {
        color: tint($primary-blue, 70%);
      }
    }
  }

  .membership-only {
    padding: $base-spacing;
    border-radius: $base-border-radius;
    margin: $small-spacing 0 $base-spacing ;
    border: 1px solid $primary-blue-dark;
    background-color: $ivory;

    h4 {
      margin-bottom: 0px;
    }
  }

  // difficulty levels
  .inactive-level {
    display: inline-block;
    background-color: $sand;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 10px;
    padding-top: 5px;
  }

  .active-level {
    display: inline-block;
    background-color: $primary-blue;
    color: $ivory;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: $base-font-size * 2;
    font-weight: $light-font-weight;
    font-family: $headings-font-family;
  }

  .landing-scroll {
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: -80px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $ivory;
    box-shadow: 0px 2px 4px 0px $main-shadow;
    border-bottom: 0px;
    text-align: center;
    padding-top: 7px;
  }

  @include media-breakpoint-down(xs) {
    .landing-scroll {
      bottom: -50px;
    }
  }

  @include media-breakpoint-down(md) {
    .hero {
      display: inherit !important;
      width: auto;
    }
    .hero-img, .hero-text {
      width: 100% !important;
      display: block !important;
    }
    .hero-img img {
      border-radius: 0 0 $base-border-radius $base-border-radius !important;
    }
  }

  .resources-book {
    display: block;
    color: $primary-green;
    font-size: 2.5rem;
  }
}
