.lesson-pages {
  .lesson-container {
    /* borrow Bootstrap variables */
    background-color: $nav-tabs-link-active-bg;
    border-left: $nav-tabs-border-width solid $nav-tabs-border-color;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
    border-right: $nav-tabs-border-width solid $nav-tabs-border-color;
    min-height: 3em;
  }

  .edit {
    display: none;
  }
  .editing {
    .view {
      display: none;
    }
    .edit {
      display: block;
    }
  }
}
