#login-page {

  .login-top-panel {
    width: 100%;
    background-color: $primary-green;
    padding: $large-spacing 0px $small-spacing 0px;
    text-align: center;
    color: white;
    margin-bottom: $base-spacing;
  }

  .page-content {
    padding: $base-spacing 0 $large-spacing;
  }

  .alert {
    text-align: center;
  }

  .join-cm {
    text-align: center;
  }

  #login-page-form {

    input {
      display: block;
      width: 100%;
      margin-bottom: $base-spacing;
      //border-radius: $base-border-radius;
    }

    .login-btn {
      display: inline-block;
      width: inherit;
    }

    small {
      float: right;
    }
  }

}
