#login-page {

  .login-top-panel {
    width: 100%;
    background-color: $primary-green;
    padding: $large-spacing 0px $small-spacing 0px;
    text-align: center;
    color: white;
    margin-bottom: $base-spacing;
  }

}
