#mentor-community-page {

  .mentor-community-top-panel {
    width: 100%;
    background-color: $primary-orange;
    padding: $large-spacing 0px $small-spacing 0px;
    text-align: center;
    color: white;
    margin-bottom: $base-spacing;
  }

  .mentor-card {
    width: 100%;
    border-radius: $base-border-radius;
    border: 1px solid $sand;
    margin-bottom: $base-spacing;

    a {
      color: $dark;
    }
  }

  .mentor-card-title {
    background-color: tint($sand, 60);
    padding: 20px 20px 10px 20px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid $sand;
    }

    h3 {
      color: $primary-red;
      margin: 10px 0px 5px 0px;
      word-break:break-all;
    }
  }

  .mentor-card-description {
    padding: 15px;
    min-height: 120px;
    max-height: 120px;
    overflow: auto;
  }

  .sign-up-panel {
    background-color: $primary-orange;
    text-align: center;
    h2 {
      color: white;
    }
  }

}
