#mentor-community-page {

  .mentor-community-top-panel {
    width: 100%;
    background-color: $primary-orange;
    padding: $large-spacing 0px $small-spacing 0px;
    text-align: center;
    color: white;
    margin-bottom: $base-spacing;
  }

  .user-card {
    h3 {
      color: $primary-red;
      margin: 10px 0px 5px 0px;
      word-break:break-all;
    }

    a {
      color: $dark;
    }
  }

  .sign-up-panel {
    background-color: $primary-orange;
    text-align: center;
    h2 {
      color: white;
    }
  }

}
