#password-reset {
  background-image: url('../images/pages/password-reset/background.svg');
  background-position: 100% 70%;
  background-size: 500px;
  background-repeat: no-repeat;

  @include media-breakpoint-down(lg) {
    background-image: none;
  }

  input[type='email'] {
    @extend .form-control;
  }
}
