.rebrand {
  font-family: 'Poppins', sans-serif;

  h1 {
    font-family: 'Rubik Mono One', sans-serif;
    color: #0076CF;
  }

  a:not(.btn) {
    color: #0076CF;
  }

  .circles-banner {
    background-color: white;
    text-align: center;
    background-image: url("../images/circles-bkg-left.png"), url("../images/circles-bkg-right.png");
    background-size: contain, contain;
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .btn-primary,
  .btn-primary:active,
  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #1d1349;
    border-color: #1d1349;
    white-space: normal;
  }

  .program-box {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
  }
}
