.rebrand {
  font-family: $base-font-family;

  h1 {
    font-family: $headings-font-family;
    color: $primary-blue;
  }

  a:not(.btn) {
    color: $primary-blue;
  }

  .circles-banner {
    background-color: $white;
    text-align: center;
    background-image: url('../images/circles-bkg-left.png'),
      url('../images/circles-bkg-right.png');
    background-size: contain, contain;
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .btn-primary,
  .btn-primary:active,
  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: $primary-purple;
    border-color: $primary-purple;
    white-space: normal;
  }
}
