.rebrand {
  font-family: 'Poppins', sans-serif;

  .circles-banner {
    background-color: white;
    text-align: center;
    background-image: url("../images/circles-bkg-left.png"), url("../images/circles-bkg-right.png");
    background-size: contain, contain;
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
  }

  .btn-primary,
  .btn-primary:active,
  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #1d1349;
    border-color: #1d1349;
  }
}
