.student-dashboard {

  //
  // Dashboard header styles
  //
  .student-dashboard-header {
    background-color: shade($dark, 40%);
    background-image: url("../images/design-challenge-repeating-pattern.png");
    background-attachment: fixed;
    background-repeat: repeat;
    color: $ivory;

    .dashboard-avatar img {
      background-color: white;
      border-radius: 50%;
      box-shadow: 0px 2px 4px 0px $main-shadow;
      float: left;
      margin-right: 10px;
    }

    .dashboard-inline-username {
      font-family: $headings-font-family;
      font-size: $base-font-size * 2;
    }

    .card {
      background-color: $dark;
    }
  }

  //
  // Dashboard navigation
  //
  .student-dashboard-navigation {
    border-bottom: 2px $sand solid;

    ul {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 2px;
      padding-left: 0px;
      margin-bottom: 0px;

      li {
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 5px solid $ivory;

        a {
          margin: 0px 15px;
          border-bottom: 0px;
          color: $dark;
          text-align: center;

          &:hover, &:focus {
            color: $primary-blue;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      ul li {
        width: 32%;
        text-align: center;
      }
    }

    @include media-breakpoint-down(sm) {
      ul li {
        width: 100%;
      }
    }

    .dropdown a {
      margin: 0px;
    }
  }

  //
  // Highlights link to active page in navigation
  //
  .active-nav {
    border-bottom-color: $primary-blue !important;
    a { color: $primary-blue !important; }

    @include media-breakpoint-down(md) { border-bottom: 0px !important; }
  }


  .dropdown-design-challenge {
    display: inline-block;
  }

  .dcprogressheader {
    z-index: 500;
  }

  .fixedheader {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .fixedheader-height {
    padding-top: 41px;

    @include media-breakpoint-down(sm) {
      padding-top: 0px;
    }
  }

  .dc-progress {

    .student-list-item {
      @include media-breakpoint-down(sm) {
        margin-bottom: $small-spacing;
      }
    }

    .student-list-avatar {
      img {
        border-radius: 50%;
        background-color: $ivory;
        margin-right: 10px;
        box-shadow: 0px 2px 4px 0px $main-shadow;
      }
    }
  }

  .ai-banner-margins {
    margin-top: -28px;
  }

  .activity-list {
    .list-group-item {
      white-space: nowrap;
      a {
        display: inline-block;
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .indicator {
      width: 0.8em;
      height: 0.8em;
      display: inline-block;
      border-radius: 50%;
      margin: 0.2em 0.8em 0.2em 0.2em;
      vertical-align: baseline;

      &.indicator-read {
        border: 1px solid #ccc;
        background: transparent;
      }
      &.indicator-unread {
        background: #0275d8;
      }
    }


    .timesince {
      display: none;
    }
    .tag {
      position: absolute;
      right: 0;
      margin-right: 1em;

      &.plan-stage {
        background-color: $primary-green;
      }
      &.build-stage {
        background-color: $primary-purple;
      }
      &.test-stage {
        background-color: $primary-red;
      }
      &.reflect-stage {
        background-color: #1EB9C8;
      }
    }
    .list-group-item {
      padding-right: 75px;
    }
    @include media-breakpoint-up(md) {
      .timesince {
        display: inline;
        position: absolute;
        right: 0;
        margin-right: 1em;
      }
      .tag {
        right: 180px;
      }
      .list-group-item {
        padding-right: 180px;
      }
    }
  }
  .card.card-action-needed {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
    font-size: 14px;

    .card-header {
      color: #a94442;
      background-color: #f2dede;
    }
  }
}
