
.timeline, .timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
  margin-top: 50px;

}

.timeline {
  &:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: $primary-blue;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline-item {
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .timeline-badge {
      color: $primary-blue;
      width: 50px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      top: 18px;
      left: 50%;
      margin-left: -25px;
      background-color: $primary-blue;
      border: 3px solid white;
      z-index: 100;
      border-radius: 50% 50% 50% 50%;
    }

    .timeline-panel {
      position: absolute;
      width: 46%;
      float: left;
      right: 1600px;
      border: 3px solid $primary-blue;
      background: white;
      border-radius: 10px;
      padding: 20px;
      &:before {
        position: absolute;
        top: 26px;
        right: -16px;
        display: inline-block;
        border-top: 16px solid $primary-blue;
        border-left: 16px solid $primary-blue;
        border-right: 0 solid $primary-blue;
        border-bottom: 16px $primary-blue;
        content: " ";
      }
    }
    &:last-child:nth-child(even) {
      float: right;
    }
    &:nth-child(even) .timeline-panel {
      float: right;
      left: 16px;
      &:before {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}

.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
  &:before {
    height: 3px;
    top: auto;
    bottom: 26px;
    left: 56px;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline-item {
    display: table-cell;
    height: 280px;
    width: 20%;
    min-width: 320px;
    float: none !important;
    padding-left: 0px;
    padding-right: 20px;
    margin: 0 auto;
    vertical-align: bottom;
    .timeline-panel {
      top: auto;
      bottom: 64px;
      display: inline-block;
      float: none !important;
      left: 0 !important;
      right: 0 !important;
      width: 100%;
      margin-bottom: 20px;
      &:before {
        top: auto;
        bottom: -16px;
        left: 28px !important;
        right: auto;
        border-right: 16px solid transparent !important;
        border-top: 16px solid $primary-blue !important;
        border-bottom: 0 solid $primary-blue !important;
        border-left: 16px solid transparent !important;
      }
    }
    &:before, &:after {
      display: none;
    }
    .timeline-badge {
      top: auto;
      bottom: 0px;
      left: 43px;
    }
  }
}
