{% extends "deprecated_base.html" %}
{% block title %}My Dashboard{% endblock %}

{% load staticfiles %}
{% load resized %}

{% block content %}

  <h1>Welcome {{user.username}}</h1>
  {% include "mentors/_profile_info.html" with profile=user.profile %}

  {% if request.user.mentorprofile.full_access %}
    <h2>Recent Challenges I'm Mentoring</h2>
    <div class="tab-content">
      <ul class="challenges-list owl-carousel panel-carousel">
        {% for progress in progresses %}
          {% include "mentors/_progress_card.html" %}
        {% empty %}
          <h3>You are not mentoring any challenges right now</h3>
        {% endfor %}
      </ul>
      <div class="text-center">
        <a href="{% url "mentors:claimed_progresses" %}"
            class="btn btn-primary"
            {% if not progresses %}disabled="disabled"{% endif %}
        >See all</a>
      </div>
    </div>

    <h2>Claim a Challenge by Partnership</h2>
    <div class="tab-content">
      <ul class="challenges-list owl-carousel panel-carousel">
        {% for group in source_groups %}
        {% include "mentors/_progress_group_card.html" with group=group %}
        {% empty %}
        <h3>There are currently no unclaimed student challenges</h3>
        {% endfor %}
      </ul>
    </div>

    <h2>Claim a Challenge by Date</h2>
    <div class="tab-content">
      <ul class="challenges-list owl-carousel panel-carousel">
        {% for group in date_groups %}
        {% include "mentors/_progress_group_card.html" with group=group %}
        {% empty %}
        <h3>There are currently no unclaimed student challenges</h3>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{% endblock %}
