{% extends "curiositymachine/layout/base.html" %}
{% block title %}My Dashboard{% endblock %}
{% block body-id %}mentor-home{% endblock %}
{% block body-classes %}old-style mentor-dashboard{% endblock %}

{% load staticfiles %}
{% load resized %}

{% block content %}
  <div class="container main-container">
    <h1>Welcome {{user.username}}</h1>
    {% include "mentors/_profile_info.html" with profile=user.profile %}

  {% if request.user.mentorprofile.full_access %}
  <h2>Recent Challenges I'm Mentoring</h2>
  <div class="row row-dark">
    {% for progress in progresses %}
    <div class="col-6 col-lg-3">
      {% include "mentors/_progress_card.html" %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="clearfix{% if not forloop.counter|divisibleby:4 %} d-lg-none{% endif %}"></div>
    {% endif %}
    {% empty %}
    <h3 class="text-center">You are not mentoring any challenges right now</h3>
    {% endfor %}
    <div class="col-12 text-center">
      <a href="{% url "mentors:claimed_progresses" %}"
          class="btn btn-primary {% if not progresses %}disabled{% endif %}"
      >See all</a>
    </div>
  </div>

  <h2>Claim a Challenge by Partnership</h2>
  <div class="row row-dark">
    {% for group in source_groups %}
    <div class="col-6 col-lg-3">
      {% include "mentors/_progress_group_card.html" with group=group %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="clearfix{% if not forloop.counter|divisibleby:4 %} d-lg-none{% endif %}"></div>
    {% endif %}
    {% empty %}
    <h3>There are currently no unclaimed student challenges</h3>
    {% endfor %}
    <div class="col-12 text-center">
      <a href="{% url "mentors:unclaimed_groups" %}?by=source"
          class="btn btn-primary {% if not source_groups %}disabled{% endif %}"
      >See all</a>
    </div>
  </div>

  <h2>Claim a Challenge by Date</h2>
  <div class="row row-dark">
    {% for group in date_groups %}
    <div class="col-6 col-lg-3">
      {% include "mentors/_progress_group_card.html" with group=group %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="clearfix{% if not forloop.counter|divisibleby:4 %} d-lg-none{% endif %}"></div>
    {% endif %}
    {% empty %}
    <h3>There are currently no unclaimed student challenges</h3>
    {% endfor %}
    <div class="col-12 text-center">
      <a href="{% url "mentors:unclaimed_groups" %}?by=date"
          class="btn btn-primary {% if not date_groups %}disabled{% endif %}"
      >See all</a>
    </div>
  </div>
  {% endif %}
  </div>

{% endblock %}
