{% extends "profiles/profile_form.html" %}
{% load bootstrap4 %}
{% load pick_action %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block action %}
  {% url "mentors:edit_profile" %}
{% endblock %}

{% block fields %}
  <div class="text-center avatar-settings">
    {% block avatar %}{{ block.super }}{% endblock %}
    {% form_group form.image_url field_class="" %}
  </div>
  {% email_form_group form.email email=email %}
  {% form_group form.city %}
  {% form_group form.first_name %}
  {% form_group form.last_name %}
  {% form_group form.title %}
  {% form_group form.employer %}
  {% form_group form.expertise %}

  {% form_group form.about_me %}
  {% include "_img_or_video.html" with video=request.user.profile.about_me_video image=request.user.profile.about_me_image crop='fit' %}
  {% form_group form.about_me_media_url field_class="btn btn-primary" %}

  {% form_group form.about_research %}
  {% include "_img_or_video.html" with video=request.user.profile.about_research_video image=request.user.profile.about_research_image crop='fit' %}
  {% form_group form.about_research_media_url field_class="btn btn-primary" %}
{% endblock %}
