{% extends "deprecated_base.html" %}
{% load unread_count %}
{% load resized %}

{% block content %}

  {% block breadcrumbs %}
  {% endblock %}

  {% if request.user.extra.approved %}
    <div class="row">
      <div class="col-sm-12">
        {% block pagetitle %}{% endblock %}
      </div>
    </div>
    <div class="row text-center">
      {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
    </div>
    <div class="row">
      {% for progress in progresses %}
        <div class="col-lg-3 col-sm-6">
          <div class="unread-offset">
            <div class="panel panel-custom">
              <div class="panel-img">
                <div class="image-container">
                  <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}">
                    {% if progress.student.profile.image %}
                      <img src="{% resized progress.student.profile.image.url width=300 height=200 crop='fill' %}" class="center-block img-responsive" />
                    {% elif progress.challenge.image %}
                      <img src="{% resized progress.challenge.image.url width=300 height=200 crop='fill' %}"class="center-block img-responsive" />
                    {% elif progress.challenge.video.encodings_generated %}
                      <img src="{% resized progress.challenge.video.thumbnails.first.url width=300 height=200 crop='fill' %}"class="center-block img-responsive" />
                    {% endif %}
                  </a>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="panel-title">
                  {% if progress.mentor %}
                    {% with count=progress|unread_count:request.user %}
                      {% if count %}
                        <span title="{{count}} unread messages" class="unread">
                          {{count}}
                        </span>
                      {% endif %}
                    {% endwith %}
                  {% endif %}
                  <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.student.username %}">
                    {{progress.student.username}}'s {{ progress.challenge.name }}
                  </a>
                </h3>
              </div>
              <div class="panel-body">
                <p>Started: {{ progress.started }}</p>
                {% if not progress.mentor %}
                  <form action="{% url "challenges:claim_progress" progress_id=progress.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Claim</button>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      {% if forloop.counter|divisibleby:2 %}
        <div class="clearfix {% if not forloop.counter|divisibleby:4 %} hidden-lg {% endif %}"></div>
      {% endif %}

      {% empty %}
        <div class="col-sm-12">
          {% block emptytext %}{% endblock %}
        </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
    </div>
  {% endif %}

{% endblock %}
