{% extends "curiositymachine/layout/base.html" %}
{% load unread_count %}
{% load resized %}

{% block body-id %}mentor-home{% endblock %}
{% block body-classes %}old-style mentor-dashboard{% endblock %}

{% block content %}

  <div class="container main-container">
    {% block breadcrumbs %}
    {% endblock %}

    <div class="row pb-4">
      <div class="col-sm-12">
        {% block pagetitle %}{% endblock %}
      </div>
    </div>
    <div class="row justify-content-center">
      {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
    </div>
    <div class="row">
      {% for progress in progresses %}
        <div class="col-lg-3 col-sm-6">
          <div class="unread-offset">
            <div class="card progress-card mb-4">
              <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.owner.username %}">
                {% if progress.owner.studentprofile.image %}
                  <img
                    src="{% resized progress.owner.studentprofile.image.url width=300 height=200 crop='fill' %}"
                    class="card-img-top"
                  />
                {% elif progress.challenge.image %}
                  <img
                    src="{% resized progress.challenge.image.url width=300 height=200 crop='fill' %}"
                    class="card-img-top"
                  />
                {% elif progress.challenge.video.encodings_generated %}
                  <img
                    src="{% resized progress.challenge.video.thumbnails.first.url width=300 height=200 crop='fill' %}"
                    class="card-img-top"
                  />
                {% endif %}
              </a>
              <div class="card-body">
                <h3 class="card-title">
                  {% if progress.mentor %}
                    {% with count=progress|unread_count:request.user %}
                      {% if count %}
                        <span title="{{count}} unread messages" class="unread">
                          {{count}}
                        </span>
                      {% endif %}
                    {% endwith %}
                  {% endif %}
                  <a href="{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=progress.owner.username %}">
                    {{progress.owner.username}}'s {{ progress.challenge.name }}
                  </a>
                </h3>
              </div>
              <div class="card-body">
                <p>Started: {{ progress.started }}</p>
                {% if not progress.mentor %}
                  <form action="{% url "challenges:claim_progress" progress_id=progress.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Claim</button>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      {% if forloop.counter|divisibleby:2 %}
        <div class="clearfix {% if not forloop.counter|divisibleby:4 %} d-lg-none {% endif %}"></div>
      {% endif %}

      {% empty %}
        <div class="col-sm-12">
          {% block emptytext %}{% endblock %}
        </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
    </div>
  </div>

{% endblock %}
