{% extends "challenges/edp/inspiration_with_gallery.html" %}

{% block jumbotron_message %}

  {% if challenge.accessible %}
    <a href="{% url 'challenges:preview_plan' challenge_id=challenge.id %}" class="btn btn-secondary btn-lg">View Challenge</a>
  {% else %}
    <div class="membership-only">
      <p>Explore the full design challenge by joining a membership!</p>
      <a href="{% url 'about-membership' %}">Learn more about memberships.</a>
    </div>
  {% endif %}

{% endblock %}

{% block resources %}
{% if user.profile.is_student or not challenge.accessible %}
{{ block.super }}
{% else %}
<div class="col-md-4">
  <div class="card card-module mb-3">
    <div class="card-block card-block-title">
      <h4 class="card-title red-type">Educator Resources</h4>
    </div>
    <div class="card-block">
      {% for resource in resources %}
        <h4>{{ resource.name }}</h4>
        <p>{{ resource.description }}</p>
        <ul>
          {% for resourcefile in resource.resourcefile_set.all %}
          <li>
            <a href="{{ resourcefile.file.url }}" data-ga-track="pageview" data-ga-page="{{ resourcefile.file }}" ga-event-label="{{ resourcefile.file }}">
              {{ resourcefile.link_text|default:"Download" }}
            </a>
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
