{% extends "challenges/edp/inspiration_with_gallery.html" %}
{% load challenge_roles %}

{% block jumbotron_message %}

  {% if challenge.accessible %}
    <a href="{% url 'challenges:preview_plan' challenge_id=challenge.id %}" class="btn btn-secondary btn-lg">View Challenge</a>
  {% else %}
    <div class="membership-only">
      <p>Explore the full design challenge by joining a membership!</p>
      <a href="{% url 'about-membership' %}">Learn more about memberships.</a>
    </div>
  {% endif %}

{% endblock %}

{% block resources %}
  {% can_see_resources request.user as can_see_resources %}
  {% if can_see_resources and challenge.accessible %}
  <div class="col-md-4">
    <div class="card cm-info-card mb-5">
      <div class="card-header">
        <h4 class="card-title red-type">Resources</h4>
      </div>
      <div class="card-body">
        {% for resource in resources %}
          <h4>{{ resource.name }}</h4>
          <p>{{ resource.description }}</p>
          <ul>
            {% for resourcefile in resource.resourcefile_set.all %}
            <li>
              <a href="{{ resourcefile.file.url }}" data-ga-track="pageview" data-ga-page="{{ resourcefile.file }}" ga-event-label="{{ resourcefile.file }}">
                {{ resourcefile.link_text|default:"Download" }}
              </a>
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  {{ block.super }}
  {% endif %}
{% endblock %}
