{% extends "curiositymachine/layout/base.html" %}

{% block content %}
<div class="jumbotron-fluid jumbotron-green text-center nav-panel p-a-md m-b-0">
  <div class="container text-left">
    <a href="{% url 'profiles:home' %}" class="a-secondary">&larr; Back to Dashboard</a>
  </div>
  <h1 class="m-b-md">{{ membership.name }}</h1>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'challenges' %}active{% endif %}"
          href="{% url 'memberships:membership_challenges' membership_id=membership.id %}"
          id="design-challenges-page-nav"
        >
          Design Challenges
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if active_nav == 'students' %}active{% endif %}"
          href="{% url 'memberships:membership_students' membership_id=membership.id %}"
        >
          Students
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}

