{% extends "profiles/student/join.html" %}

{% block content %}
  <h1 class="full-width">
    Welcome to Family Science.
		<br/>
		<small>Create an account to start exploring and engineering.</small>
	</h1>
  <form method='post' action="{{ action }}" enctype="multipart/form-data" id="join-form" class="default-form clearfix" data-prefix='{{form.prefix}}'>
    {% csrf_token %}
    <div class="clearfix">

      <div class="profile-fields">
        <div class="col-md-4 student-column">
          <h3>Family account</h3>
					{% comment %}
					These are family accounts, so the following just forces an age over 13 to bypass parental consent.
					{% endcomment %}
					<input type="hidden" id="id_student-birthday_year" name="student-birthday_year" value="2000">
					<input type="hidden" id="id_student-birthday_month" name="student-birthday_month" value="1">
					<input type="hidden" id="id_student-birthday_day" name="student-birthday_day" value="1">

          <div>
            {{form.username.label_tag}}
            {{form.username}}
            <div class="errors">{{ form.username.errors }}</div>
          </div>
          <div>
            {{form.password.label_tag}}
            {{form.password}}
            <div class="errors">{{ form.password.errors }}</div>
          </div>
          <div>
            {{form.confirm_password.label_tag}}
            {{form.confirm_password}}
            <div class="errors">{{ form.confirm_password.errors }}</div>
          </div>
        </div>

        <div class="col-md-4 student-column">
          <h3>&nbsp;</h3>
          <div>
            {{form.email.label_tag}}
            {{form.email}}
            <div class="errors">{{ form.email.errors }}</div>
          </div>
          <div>
            {{form.city.label_tag}}
            {{form.city}}
            <div class="errors">{{ form.city.errors }}</div>
          </div>
          <div>
            {{form.image_url.label_tag}}
            {{form.image_url}}
            <div class="errors">{{ form.image_url.errors }}</div>
          </div>
        </div>

        {{ form.source }}
        {{ form.welcome }}
        {{ form.non_field_errors }}
      </div>
    </div>
    <p>By joining Curiosity Machine, you confirm that you accept our <a target="_blank" href="http://iridescentlearning.org/terms-of-use/">Terms of Use</a>.</p>
    <button type="submit" class="btn btn-primary btn-lg pull-right">Save</button>
  </form>
{% endblock %}
