{% load staticfiles %}
<footer>
  <div class="container-fluid newsletter-panel">
       <div class="container text-xs-center">
         <h4>Newsletter</h4>
         <p>Stay up to date with Curiosity Machine. We'll never spam you or share your email.</p>
         <form action="//iridescentlearning.us4.list-manage.com/subscribe/post?u=b10254bbb5db780d1af913317&amp;id=5c4692fa5b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
           <div class="row">
             <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
               <label class="sr-only" for="mce-EMAIL">Email Address </label>
               <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="youremail@email.com" required>
             </div>
           </div>
           <div style="position: absolute; left: -5000px;">
             <input type="text" name="b_b10254bbb5db780d1af913317_5c4692fa5b" tabindex="-1" value="">
           </div>
           <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-green text-uppercase newsletter-subscribe">
        </form>
       </div>
    </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 text-xs-center text-md-left">
          <a href="https://iridescentsupport.zendesk.com/hc/en-us/categories/115000091368-Curiosity-Machine">FAQ</a> |
          <a href="mailto:curiosity@iridescentlearning.org">Contact</a> |
          <a href="http://iridescentlearning.org/in-the-news/">Press</a> |
          <a href="http://iridescentlearning.org/privacy-policy/">Privacy Policy</a> |
          <a href="https://iridescentlearning.org/donate/">Donate</a>
        </div>
        <div class="col-md-6 text-xs-center text-md-right">
          <a href="https://twitter.com/Curious_Machine" class="a-borderless"><i class="icon-twitter social-icons"></i></a>
          <a href="https://www.facebook.com/curiositymachine" class="a-borderless"><i class="icon-facebook social-icons"></i></a>
        </div>
        </div>
    </div>
  </div>
  <div class="container mt-3">
    <h6 class="text-lg-center">&copy; 2018 <a href="http://iridescentlearning.org/">Iridescent</a>. All rights reserved. Curiosity Machine is a program of <a href="http://iridescentlearning.org/">Iridescent</a>, a 501c3 nonprofit organization in the United States.
  </h6>
</div>
</footer>
