{% load staticfiles %}
<footer>
  <div class="container-fluid newsletter-panel">
    <div class="container text-center">
      <a href="https://twitter.com/Curious_Machine" class="action-img"><i class="icon-twitter social-icons"></i></a>
      <a href="https://www.facebook.com/curiositymachine" class="action-img"><i class="icon-facebook social-icons"></i></a>
      <h4>Newsletter</h4>
      <p>Stay up to date with Curiosity Machine. We'll never spam you or share your email.</p>
      <div class="grid-40 push-30 tablet-grid-60 tablet-push-20 mobile-grid-80 mobile-push-10">
        <input type="text" spellcheck="false" placeholder="youremail@email.com" required />
      </div>
      <span class="clear"></span>
      <a href="#" class="btn btn-green text-uppercase newsletter-subscribe">subscribe</a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left">
          <a href="/" class="action-img">
            <img src="{% static 'images/curiosity-machine-iridescent-logo.png'%}" alt="Curiosity Machine Iridescent logo">
          </a>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <p>
            Powered by <a href="http://iridescentlearning.org/">Iridescent</a>, a 501c3 nonprofit organization.<br/>
            &copy; Iridescent 2015<br/>
            View our <a href="/privacy">privacy policy</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>