{% load resized %}
{% load staticfiles %}
<header class="navbar navbar-light">
  <div class="container">
    <div class="clearfix">
      <a class="navbar-toggler pull-right hidden-lg-up" data-target="#main-nav" data-toggle="collapse">Menu</a>
      <a class="navbar-brand action-img hidden-lg-up" href="/">
        <img src="{% static 'images/favicon.png' %}" alt="curiosity machine logo" class="logo">
      </a>
    </div>
    <div id="main-nav" class="collapse navbar-toggleable-md">
      <nav>
        <a href="/challenges" class="navbar-brand action-img hidden-md-down">
          <img src="{% static 'images/logo-small.png' %}" alt="curiosity machine logo" class="logo">
        </a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-mentors" href="/mentors" />Mentor Community<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-about" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-challenges" href="/challenges">Challenges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-login" href="#">Log In</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary hidden-md-down" href="#">Join</a>
            <a class="nav-link nav-join hidden-lg-up" href="#">Join</a>
          </li>
      </div>
    </nav>
  </div>
</header>