{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light navbar-cm">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img
        src="{% static 'images/cm-logo.svg' %}" alt="curiosity machine"
        class="logo-large d-none d-lg-block"
      >
      <img
        src="{% static 'images/cm-logo-small.svg' %}" alt="curiosity machine"
        class="logo-small d-block d-lg-none"
      >
    </a>
    <button
      class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav"
      aria-controls="site-nav" aria-expanded="false" aria-lable="Toggle navigation"
    >
      Menu
    </button>

    <div class="collapse navbar-collapse" id="site-nav">

      <div class="navbar-nav">
        <a class="nav-item nav-link nav-blue" href="{% url "aichallenge" %}">AI Family Challenge</a>
        <a class="nav-item nav-link nav-orange" href="{% url "challenges:challenges" %}">All Challenges</a>
        <a class="nav-item nav-link nav-red" href="{% url "about" %}">About Us</a>
        <a class="nav-item nav-link nav-green" href="#" data-toggle="modal" data-target="#login-modal">Log In</a>
        <div class="nav-item d-none d-lg-flex">
          <a class="btn btn-primary" href="{% url "account_signup" %}">Sign Up</a>
        </div>
        <a class="nav-item nav-link nav-purple d-flex d-lg-none" href="#">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
