{% load resized %}
{% load staticfiles %}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-center" id="login-modal-label">Log In</h2>
      </div>
      <form method="post" action="{% url 'login' %}">
        <div class="modal-body">
          <div class="row">
            {% csrf_token %}
            <div class="col-xs-12">
              {{ login_form.username.label_tag }}
            </div>
            <div class="col-xs-12">
              {{ login_form.username }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              {{ login_form.password.label_tag }}
            </div>
            <div class="col-xs-12">
              {{ login_form.password }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="{% url "password_reset_recover" %}">Forgot your password?</a>
          <a class="btn btn-link" data-dismiss="modal" aria-hidden="true">Cancel</a>
          <input type="submit" value="Log in" class="btn btn-primary" />
          <input type="hidden" name="next" value="{{ next|default:'/' }}" />
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="join-modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Get started. Create an account.</h1>
      </div>
      <div class="modal-body">
        <p class="lead text-center">Join Curiosity Machine as a:</p>
        <div class="row text-center">
          <div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a class="btn btn-primary btn-block" href="{% url 'profiles:join' %}">
              Student
            </a>
            <p class="button-help">
              build and document projects using the engineering design process
            </p>
          </div>
          <div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a class="btn btn-primary btn-block" href="{% url 'profiles:join_as_mentor' %}">
              Mentor
            </a>
            <p class="button-help">
              guide students as they build engineering design challenges
            </p>
          </div>
          <div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a class="btn btn-primary btn-block" href="{% url 'profiles:join_as_educator' %}">
              Educator
            </a>
            <p class="button-help">
              find resources for engineering challenges and track student progress
            </p>
          </div>
          <div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <a class="btn btn-primary btn-block" href="{% url 'profiles:join_as_parent' %}">
              Parent
            </a>
            <p class="button-help">
              connect to your child’s account and learn how to build together
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="navbar navbar-light">
  <div class="container">

    <div class="clearfix">
      <a class="navbar-toggler pull-right hidden-lg-up" data-target="#main-nav" data-toggle="collapse">Menu</a>
      <a class="navbar-brand action-img hidden-lg-up" href="/">
        <img src="{% static 'images/favicon.png' %}" alt="curiosity machine logo" class="logo">
      </a>
    </div>

    <div id="main-nav" class="collapse navbar-toggleable-md">
      <nav>
        <a href="/" class="navbar-brand action-img hidden-md-down">
          <img src="{% static 'images/logo-small.png' %}" alt="curiosity machine logo" class="logo">
        </a>

        <ul class="nav navbar-nav">

          {% if request.user.is_authenticated %}

          <li class="nav-item hidden-lg-up">
            <ul class="list-group nav-profile">
              <li class="list-group-item active">
                <div class="avatar text-center">{% include "_avatar.html" with profile=request.user.profile width=40 height=40 crop='thumb' gravity='faces' %}</div>
                <span class="profile-name">{{ user.username }}</span>
              </li>
              <li class="list-group-item">
                <a href="{% url 'profiles:home' %}">My Dashboard</a>
              </li>
              <li class="list-group-item">
                <a href="{% url 'profiles:profile_edit' %}">Edit Profile</a>
              </li>
              <li class="list-group-item">
                <a href="{% url 'logout' %}?next=/">Log Out</a>
              </li>
            </ul>
          </li>

          {% endif %}

          <li class="nav-item">
            <a class="nav-link nav-challenges" href="/challenges">Challenges</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-mentors" href="/mentors" />Mentor Community<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-about" href="/about">About Us</a>
          </li>

          {% if request.user.is_authenticated %}

          <li class="nav-item dropdown nav-profile hidden-md-down">
            <a class="nav-link dropdown-toggle" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="profile-name">{{ user.username }}</span>
              <span class="avatar">{% include "_avatar.html" with profile=request.user.profile width=40 height=40 crop='thumb' gravity='faces' %}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="usermenu">
              <a class="dropdown-item" href="{% url 'profiles:home' %}">My Dashboard</a>
              <a class="dropdown-item" href="{% url 'profiles:profile_edit' %}">Edit Profile</a>
              <a class="dropdown-item" href="{% url 'logout' %}?next=/">Log Out</a>
            </div>
          </li>

          {% else %}

          <li class="nav-item">
            <a href="#" class="nav-link nav-login" data-toggle="modal" data-target="#login-modal">Log In</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-primary hidden-md-down" data-toggle="modal" data-target="#join-modal">Join</a>
            <a class="nav-link nav-join hidden-lg-up" data-toggle="modal" data-target="#join-modal">Join</a>
          </li>

          {% endif %}

      </div>
    </nav>
  </div>
</header>