{% comment "Include usage" %}

E.g. {% include "curiositymachine/_pagination_controls.html" with curr_page= anchor= %}

kwargs:
  curr_page:  current pagination Page object
  anchor:     page anchor to append to pagination links

{% endcomment %}

{% load pagination %}
{% load qstring %}
{% if curr_page.paginator.num_pages > 1 %}
  <nav>
    <ul class="pagination">
      {% if curr_page.has_previous %}
      <li>
        <a href="?{% qstring_update page=curr_page.previous_page_number %}#{{anchor}}" aria-label="Previous">
          <i class="icon-left-arrow" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <span aria-label="Previous">
          <i class="icon-left-arrow" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </span>
      </li>
      {% endif %}

      {% for page in curr_page|page_slice:9 %}
      {% if page == curr_page.number %}
      <li class="active">
        <span>{{page}}<span class="sr-only"> (current)</span></span>
      </li>
      {% else %}
      <li class="{% page_visibility_classes curr_page curr_page.number curr_page.paginator.num_pages %}">
        <a href="?{% qstring_update page=page %}#{{anchor}}">{{page}}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if curr_page.has_next %}
      <li>
        <a href="?{% qstring_update page=curr_page.next_page_number %}#{{anchor}}" aria-label="Next">
          <i class="icon-right-arrow" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <span aria-label="Next">
          <i class="icon-right-arrow" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </span>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
