{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block body-id %}index-page{% endblock %}
{% block content %}

  <div id="how-video-modal" class="modal fade">
    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <div class="modal-dialog modal-lg">
      <div class="embed-responsive embed-responsive-16by9">
        <video id="how-video" controls="controls" preload="metadata">
          <source src="//s3.amazonaws.com/curiositymachine/statics/how_it_works.mp4" type="video/mp4">
          <source src="//s3.amazonaws.com/curiositymachine/statics/how_it_works.ogg" type="video/ogg">
          <source src="//s3.amazonaws.com/curiositymachine/statics/how_it_works.webm" type="video/webm">
        </video>
      </div>
    </div>
  </div>

  <div class="home-top-panel">
    <div class="jumbotron jumbotron-fluid home-top-panel-gradient">
      <div class="container text-xs-center">
        <h1 class="home-title">Imagine a better world. </br>Then build it together.</h1>
        <h3 class="home-subtitle">Start building with Curiosity Machine.</h3>
        <a href="#" class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#join-modal">Families</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuptfe5zMp5KpadIkNQcj81vtMRBzqdlW9RU8VHAOT48bLJg/viewform" class="btn btn-secondary text-uppercase" target="_blank">Partner Sites</a>
        <p> or <a href="#" data-toggle="modal" data-target="#login-modal">Log in</a>
      </div>
    </div>
  </div>

  <div class="container-fluid sign-up-panel py-1 mt-1">
    <div class="container text-xs-center">
      <h2>Start building with our Artificial Intelligence Family Challenge.</h2>
    </div>
  </div>

<div class="container home-member-panel text-xs-center">
  <div class="row mt-3">
    <div class="col-lg-4 offset-lg-2">
      <img src="{% static 'images/home/who-parents.png' %}">
      <h4>Families</h4>
      <p>Learn the basics of how artificial intelligence works by building projects together</p>
    </div>
    <div class="col-lg-4">
      <img src="{% static 'images/home/who-educators.png' %}">
      <h4>Partner Sites</h4>
      <p>Engage families with access to cutting-edge curriculum and support from our team</p>
    </div>
  </div>


    <div class="col-md-8 offset-md-2 mt-3">
      <h3>Children are the future. So is Artificial Intelligence.</h3>
      <p>The World Economic Forum estimates that 65% of children entering primary school today will work in completely new jobs that don’t exist yet.Over the next 2 years, students age 8-15 years old and their families will explore core concepts of AI research, apply AI tools to solve problems in their communities and have the opportunity to enter their ideas into a global competition.</p>
    </div>
</div>

<div class="text-sm-center mt-3">
  <a href="{% url "account_signup" source=source %}" class="btn btn-primary text-uppercase mx-1" target="_blank">student sign up</a>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSeuptfe5zMp5KpadIkNQcj81vtMRBzqdlW9RU8VHAOT48bLJg/viewform"
    class="btn btn-primary text-uppercase mx-1"
    target="_blank"
  >partner sign up</a>
</div>



  <div class="container-fluid home-support-panel py-3 mt-2">
    <div class="container text-xs-center">
      <h3>Supported by:</h3>
      <a href="http://www.boeing.com/" class="a-borderless">
        <img src="{% static 'images/logos/boeing-logo.png' %}" alt="Boeing logo">
      </a>
      <a href="http://www.nsf.gov/" class="a-borderless">
        <img src="{% static 'images/logos/nsf-logo.png' %}" alt="National Science Foundation logo" height="70">
      </a>
      <a href="http://www.cummins.com/" class="a-borderless">
        <img src="{% static 'images/logos/cummins-logo.jpg' %}" alt="Cummins logo" height="70">
      </a>
      <a href="https://www.moore.org/" class="a-borderless">
        <img src="{% static 'images/logos/moore-foundation-logo.png' %}" alt="Moore Foundation logo" height="70">
      </a>
      <a href="http://www.intel.com/" class="a-borderless">
        <img src="{% static 'images/logos/intel-logo.png' %}" alt="Intel logo" height="70">
      </a>
      <a href="http://www.onr.navy.mil/" class="a-borderless">
        <img src="{% static 'images/logos/onr-logo.jpg' %}" alt="Office of Naval Research logo" height="70">
      </a>
      <a href="https://hivelearningnetworks.org/" class="a-borderless">
        <img src="{% static 'images/logos/hive-logo.png' %}" alt="Hive Network logo" height="70">
      </a>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(function(){
    var $modal = $('#how-video-modal');
    var video = $('#how-video')[0];
    $modal.on('hide.bs.modal', function(){
      video.pause();
    });
    $modal.on('shown.bs.modal', function(){
      video.play();
    });

  });
</script>
{% endblock %}
