{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block body-id %}index-page{% endblock %}
{% block content %}


  <div class="home-top-panel">
    <div class="jumbotron jumbotron-fluid home-top-panel-gradient">
      <div class="container text-xs-center">
        <h1 class="home-title">Imagine a better world</br>and build it together</h1>
        <h3 class="home-subtitle">Start building with Curiosity Machine.</h3>
        <a href="{% url "account_signup" %}" class="btn btn-primary text-uppercase">Get Started</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuptfe5zMp5KpadIkNQcj81vtMRBzqdlW9RU8VHAOT48bLJg/viewform" class="btn btn-secondary text-uppercase" target="_blank">Partner Sites</a>
        <h5 class="text-white"> or <a href="#" data-toggle="modal" data-target="#login-modal" class="a-borderless text-white">Log in</a></h5>
      </div>
    </div>
  </div>

  <div class="container-fluid sign-up-panel text-xs-center py-1">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-xs-10 offset-xs-1">
        <h2 class= "mb-0">Start building with our Artificial Intelligence Family Challenge.</h2>
      </div>
    </div>
  </div>

<div class="container home-what-panel text-xs-center">
  <div class="row mt-3">
    <div class="col-lg-4 offset-lg-2">
      <img src="{% static 'images/home/who-parents.png' %}">
      <h4>Families</h4>
      <p>Learn the basics of how artificial intelligence works by building projects together</p>
    </div>
    <div class="col-lg-4">
      <img src="{% static 'images/home/who-educators.png' %}">
      <h4>Partner Sites</h4>
      <p>Engage families with access to cutting-edge curriculum and support from our team</p>
    </div>
    <div class="col-md-8 offset-md-2 mt-3">
      <h3>Children are the future. So is Artificial Intelligence.</h3>
      <p>The World Economic Forum estimates that 65% of children entering primary school today will work in completely new jobs that don’t exist yet.Over the next 2 years, students age 8-15 years old and their families will explore core concepts of AI research, apply AI tools to solve problems in their communities and have the opportunity to enter their ideas into a global competition.</p>
    </div>
    <div class="col-lg-8 offset-lg-2 text-sm-center mt-3">
      <a href="{% url "account_signup" %}" class="btn btn-primary text-uppercase mx-1" target="_blank">family sign up</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuptfe5zMp5KpadIkNQcj81vtMRBzqdlW9RU8VHAOT48bLJg/viewform"
      class="btn btn-primary text-uppercase mx-1"
      target="_blank">partner sign up</a>
    </div>



  <div class="col-lg-12 mt-2">
    <hr class="hr-red"/>
    <h2 class="mt-3">We work with communities</h2>
    <a href="https://aaai.org/" class="a-borderless">
      <img src="{% static 'images/logos/aaai-logo.jpg' %}" alt="AAAI" height="50" class="mr-2">
    </a>
    <a href="http://www.aguilayouth.org/" class="a-borderless">
      <img src="{% static 'images/logos/aguila-logo.jpg' %}" alt="Aguila Youth" height="50" class="mr-2">
    </a>
    <a href="https://www.cityyear.org/" class="a-borderless">
      <img src="{% static 'images/logos/cityyear-logo.png' %}" alt="City Year" height="50" class="mr-2">
    </a>
    <a href="https://nhm.org/site/" class="a-borderless">
      <img src="{% static 'images/logos/nhm-logo 2.gif' %}" alt="Natural History Museum" height="50" class="mr-2">
    </a>
    <a href="https://www.usc.edu/" class="a-borderless">
      <img src="{% static 'images/logos/usc-logo.png' %}" alt="University of Southern California" height="50" class="mr-2">
    </a>
    <a href="http://www.rpi.edu/" class="a-borderless">
      <img src="{% static 'images/logos/rpi-logo.png' %}" alt="RPI" height="50">
    </a>
    <h2 class="mt-3">and leaders of innovative technology</h2>
    <a href="http://www.nvidia.com/page/home.html" class="a-borderless">
      <img src="{% static 'images/logos/nvidia-logo.PNG' %}" alt="NVIDIA logo" height="50" class="mr-2">
    </a>
    <a href="http://www.boeing.com/" class="a-borderless">
      <img src="{% static 'images/logos/boeing-logo.png' %}" alt="Boeing logo" height="50" class="mr-2">
    </a>
    <a href="http://www.nsf.gov/" class="a-borderless">
      <img src="{% static 'images/logos/nsf-logo.png' %}" alt="National Science Foundation logo" height="50" class="mr-2">
    </a>
    <a href="http://www.cummins.com/" class="a-borderless">
      <img src="{% static 'images/logos/cummins-logo.png' %}" alt="Cummins logo" height="50" class="mr-2">
    </a>
    <a href="https://www.moore.org/" class="a-borderless">
      <img src="{% static 'images/logos/moore-foundation-logo.png' %}" alt="Moore Foundation logo" height="50" class="mr-2">
    </a>
    <a href="http://www.intel.com/" class="a-borderless">
      <img src="{% static 'images/logos/intel-logo.png' %}" alt="Intel logo" height="50" class="mr-2">
    </a>
    <a href="http://www.onr.navy.mil/" class="a-borderless">
      <img src="{% static 'images/logos/ONR-logo.png' %}" alt="Office of Naval Research logo" height="50" class="mr-2">
    </a>
    <a href="https://hivelearningnetworks.org/" class="a-borderless">
      <img src="{% static 'images/logos/hive-logo.png' %}" alt="Hive Network logo" height="50">
    </a>
    <h2 class="mt-3">to empower students and their families</h2>
    <a href="http://schools.nyc.gov/" class="a-borderless">
      <img src="{% static 'images/logos/nyc-logo.png' %}" alt="NYCDOE" height="50" class="mr-2 mb-3">
    </a>
    <a href="http://home.lausd.net/" class="a-borderless">
      <img src="{% static 'images/logos/lausad-logo.png' %}" alt="LAUSD" height="50" class="mr-2 mb-3">
    </a>
    <a href="http://www.santaclarausd.org/" class="a-borderless">
      <img src="{% static 'images/logos/santaclara-logo.png' %}" alt="Santa Clara Unified School District" height="50" class="mr-2 ml-1 mb-3">
    </a>
    <a href="https://www.chipublib.org/" class="a-borderless">
      <img src="{% static 'images/logos/cpl-logo.png' %}" alt="Chicago Public Library" height="50" class="mr-2 mb-3">
    </a>
    <a href="http://www.lapl.org/" class="a-borderless">
      <img src="{% static 'images/logos/lapl-logo.png' %}" alt="LAPL" height="50" class="mb-3">
    </a>


</div>
</div>
</div>
{% endblock %}
