<div class="replies" id="replies-{{thread.id}}">
  {% for reply in thread.replies.all %}
    {% if not reply.user == thread.user %}
      <span class="mentor-comment">MENTOR MESSAGE</span>
    {% endif %}
    <span class="comment-date">{{ reply.created|timesince }}</span>
    <div class="mentor-info comment">
      {% include "_avatar.html" with profile=reply.user.profile width=50 height=50 crop='fit' %}
      <p>{{reply.user.username}}<br>
        {% if reply.user == thread.user %}
          <strong>Thread Author</strong>
        {% else %}
          <strong>Mentor</strong>
        {% endif %}
      </p>
    </div>
    <div class="panel panel-bubble {% if reply.user == thread.user %}gray-light{% else %}blue{% endif %} comment">
      <div class="panel-body">
        {% include "_comment_content.html" with comment=reply %}
      </div>
    </div>
  {% endfor %}

</div><!-- replies -->