<section id="thread-{{thread.id}}"> 
    {% if finished or request.user.profile.approved %}{% if thread.user == request.user %}
      <h3><strong>You have completed this training task</strong></h3>
    {% endif %}{% endif %}
  <span class="comment-date">{{ thread.created|timesince }}</span>
  <div class="panel panel-comment comment">
    <div class="panel-heading">
      <h2 class="panel-title">{{ thread.user.username }} Says:</h2>
    </div>
    <div class="panel-body">
      {% include "_comment_content.html" with comment=thread %}
    </div>
  </div><!-- top thread -->

  <div class="replies">
    {% for reply in thread.replies.all %}
      {% if not reply.user == thread.user %}
        <span class="mentor-comment">MENTOR MESSAGE</span>
      {% endif %}
      <span class="comment-date">{{ reply.created|timesince }}</span>
      <div class="mentor-info comment">
        {% include "_avatar.html" with profile=reply.user.profile width=50 height=50 crop='fit' %}
        <p>{{reply.user.username}}<br>
          {% if reply.user == thread.user %}
            <strong>Thread Author</strong>
          {% else %}
            <strong>Mentor</strong>
          {% endif %}
        </p>
      </div>
      <div class="panel panel-bubble {% if reply.user == thread.user %}gray-light{% else %}blue{% endif %} comment">
        <div class="panel-body">
          {% include "_comment_content.html" with comment=reply %}
        </div>
      </div>
    {% endfor %}

  </div><!-- replies -->
</section>