{% load resized %}
{% load staticfiles %}

<div class="row mentor-info">
  <div class="col-md-3 col-sm-3 col-xs-5 image-wrapper">
    {% include "_avatar.html" with profile=profile width=260 height=260 crop='fit' %}
  </div>
  <div class="col-md-9 col-sm-9 col-xs-7">
    <p><strong>I am a </strong> {{profile.title}}
    <br><strong>I work at </strong> {{profile.employer}}</p>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h4>About me!</h4>
        <p>{{profile.about_me}}</p>
        {% include "_img_or_video.html" with video=profile.about_me_video image=profile.about_me_image crop='fit' width=372 %}
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>I'm curious about</h4>
        <p>{{profile.about_research}}</p>
        {% include "_img_or_video.html" with video=profile.about_research_video image=profile.about_research_image crop='fit' width=372 %}
      </div>
    </div><!-- row -->
    {% if request.user == profile.user %}
      <a href="{% url 'profiles:profile_edit' %}" class="btn btn-primary">Edit Profile</a>
    {% endif %}
    
  </div><!-- col 9 -->
</div>