{% extends "_modal.html" %}
{% block id %}guest-modal{% endblock %}
{% block classes %}{% endblock %}
{% block inner-classes %}modal-lg{% endblock %}

{% block content %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1>Get started!</h1>
</div>
<div class="modal-body row clearfix">

  {% if request.user.profile.is_mentor %}
    <p class="guest-modal-subheader">This is an interaction for learners. Claim a challenge to Interact with them!</p>
  {% elif request.user.profile.is_educator %}
    <p class="guest-modal-subheader">This is an interaction for students. Add students to your club to see their submissions!</p>
  {% elif request.user.profile.is_student %}
    <p class="guest-modal-subheader">Use the button below to start building this challenge!</p>
    <form name="Start Building" action="{% url 'challenges:challenge' challenge_id=challenge.id %}" method='POST'>
      {% csrf_token %}
      <input type="submit" value="Start Building" class="btn btn-primary btn-lg" />
    </form>
  {% else %}
    <p class="guest-modal-subheader">Create an account or sign in to interact with the Curiosity Machine community:</p>
    <div class="guest-buttons">
      <button  class="btn btn-primary btn-lg btn-guest-modal"
        data-toggle="modal" data-dismiss="modal" data-target="#join-modal">Register</button>
      <button class="btn btn-primary btn-lg btn-guest-modal"
        data-toggle="modal" data-dismiss="modal" data-target="#login-modal">SIGN IN</button>
    </div>
  {% endif %}

</div>
<div class="modal-footer">
</div>
{% endblock %}


