<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1>Get Started. Create an Account.</h1>
</div>
<form method='post' action="{% url 'profiles:join' %}" enctype="multipart/form-data" id="join-form" class="default-form clearfix">
<div class="modal-body row clearfix">
  
    {% csrf_token %}
    {% with 'join' as page %}
    {% include "profile_fields.html" %}
    {% endwith %}
    
  
</div>
<div class="modal-footer">
  <a class="btn btn-link btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</a>
  <button type="submit" class="btn btn-primary btn-lg">Save</button>
</div>
</form>