{% extends "_modal.html" %}
{% block id %}join-modal{% endblock %}
{% block classes %}{% endblock %}
{% block inner-classes %}modal-lg{% endblock %}

{% block content %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1>Get started! Create an account!</h1>
</div>
<div class="modal-body row clearfix">
    <p id="guest-modal-subheader">Join Curiosity Machine as:</p>
    <!-- <div class="guest-buttons"> -->
      <button  class="btn btn-primary btn-xlg" data-toggle="modal" data-dismiss="modal" data-target="#student-join-modal">Inventor</button>
      <a href="{% url 'profiles:join_as_educator' %}"><button class="btn btn-primary btn-xlg">Educator</button></a>
      <button class="btn btn-primary btn-xlg" data-toggle="modal" data-dismiss="modal" data-target="#mentor-join-modal">Mentor</button>
    <!-- </div> -->
</div>
  </div>
  <div class="modal-footer">
  </div>
    
{% endblock %}


