{% extends "base.html" %}
{% load unread_count %}

{% block content %}

<h1>Welcome back {{user.username}}</h1>
  <ul>
    {% for challenge in challenges %}
      <li><a href="{% url 'challenges:challenge' challenge.id %}">{{ challenge.name }}</a>
      <ul>
        {% for progress in progresses %}
          {% if progress.challenge == challenge %}
            <li><a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=progress.student.username %}">{{progress.student.get_full_name}}{% if progress|unread_count:request.user %} ({{progress|unread_count:request.user}}){% endif %}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

<a href="{% url 'challenges:unclaimed_progresses' %}">Claim More Challenges</a>

{% endblock %}