{% if page == 'join' or not request.user.profile.is_mentor %}
<h3>Parent</h3>
<div>
  {{form.parent_first_name.label_tag}}
  {{form.parent_first_name}}
  <div class="errors">{{ form.parent_first_name.errors }}</div>
</div>
<div>
  {{form.parent_last_name.label_tag}}
  {{form.parent_last_name}}
  <div class="errors">{{ form.parent_last_name.errors }}</div>
</div>
<h3>Student</h3>
{% endif %}
<div>
  {{form.first_name.label_tag}}
  {{form.first_name}}
  <div class="errors">{{ form.first_name.errors }}</div>
</div>
<div>
  {{form.nickname.label_tag}}
  {{form.nickname}}
  <div class="errors">{{ form.nickname.errors }}</div>
</div>
<div>
  {{form.birthday.label_tag}}
  {{form.birthday}}
  <div class="errors">{{ form.birthday.errors }}</div>
</div>
<div>
  {{form.city.label_tag}}
  {{form.city}}
  <div class="errors">{{ form.city.errors }}</div>
</div>
<div>
  {{form.email.label_tag}}
  {{form.email}}
  <div class="errors">{{ form.email.errors }}</div>
</div>
{% if page == 'join' %}
<div>
  {{form.username.label_tag}}
  {{form.username}}
  <div class="errors">{{ form.username.errors }}</div>
</div>
{% endif %}
<div>
  {{form.password.label_tag}}
  {{form.password}}
  <div class="errors">{{ form.password.errors }}</div>
</div>
<div>
  {{form.confirm_password.label_tag}}
  {{form.confirm_password}}
  <div class="errors">{{ form.confirm_password.errors }}</div>
</div>
{{ form.non_field_errors }}