<div class="profile-fields">
  {% if page == 'join' or request.user.profile.is_student %}
  <div class="col-md-4 student-column">
    <h3>Student</h3>
  {% else %}
  <div class="col-md-4">
  {% endif %}
    <div>
      {{form.email.label_tag}}
      {{form.email}}
      <div class="errors">{{ form.email.errors }}</div>
    </div>
    {% if page == 'join' %}
    <div>
      {{form.username.label_tag}}
      {{form.username}}
      <div class="errors">{{ form.username.errors }}</div>
    </div>
    {% endif %}
    <div>
      {{form.password.label_tag}}
      {{form.password}}
      <div class="errors">{{ form.password.errors }}</div>
    </div>
    <div>
      {{form.confirm_password.label_tag}}
      {{form.confirm_password}}
      <div class="errors">{{ form.confirm_password.errors }}</div>
    </div>
  </div>

  <div class="col-md-4 {% if page == 'join' or request.user.profile.is_student %}student-column{% endif %}">

  {% if page == 'join' or request.user.profile.is_student %}
    <h3>&nbsp;</h3>
  {% endif %}
    <div class="birthday-field">
      {{form.birthday.label_tag}}
      {{form.birthday}}
      <div class="errors">{{ form.birthday.errors }}</div>
    </div>
    <div>
      {{form.city.label_tag}}
      {{form.city}}
      <div class="errors">{{ form.city.errors }}</div>
    </div>
     <div>
      {{form.picture_filepicker_url.label_tag}}
      {% if page != 'join' %}
        {% include "_avatar.html" with profile=request.user.profile width=150 height=150 crop='fit' %}
      {% endif %}
      {{form.picture_filepicker_url}}
      <div class="errors">{{ form.picture_filepicker_url.errors }}</div>
    </div>
  </div>

{% if request.user.profile.is_mentor %}
  <div class="col-md-4">
    <div>
      {{form.title.label_tag}}
      {{form.title}}
      <div class="errors">{{ form.title.errors }}</div>
    </div>
    <div>
      {{form.employer.label_tag}}
      {{form.employer}}
      <div class="errors">{{ form.employer.errors }}</div>
    </div>
    <div>
      {{form.about_me.label_tag}}
      <textarea id="{{form.about_me.id_for_label}}" name="{{form.about_me.html_name}}">{{ form.about_me.value }}</textarea>
      <div class="errors">{{ form.about_me.errors }}</div>
    </div>
    <div>
      {{form.about_research.label_tag}}
      
      <textarea id="{{form.about_research.id_for_label}}" name="{{form.about_research.html_name}}">{{ form.about_research.value }}</textarea>
      <div class="errors">{{ form.about_research.errors }}</div>
    </div>
  </div>
  {% else %}
  <div class="col-md-4 parent-info" {% if page != 'join' and request.user.profile.age >= 13 %} style="display:none" {% endif %} >
    <h3>Parent</h3>
    <div>
      {{form.parent_first_name.label_tag}}
      {{form.parent_first_name}}
      <div class="errors">{{ form.parent_first_name.errors }}</div>
    </div>
    <div>
      {{form.parent_last_name.label_tag}}
      {{form.parent_last_name}}
      <div class="errors">{{ form.parent_last_name.errors }}</div>
    </div>
  </div>
  {% endif %}
  {% if page == 'join' %}
    <div class="col-md-6 captcha">
      {{form.captcha}}
      <div class="errors">{{form.captcha.errors}}</div>
    </div>
  {% endif %}
{{ form.non_field_errors }}

</div>





