{% extends "base.html" %}

{% block content %}

	<hr />
	Electronic Signature on file at {{ consent.created_at }} with signature "{{ consent.signature }}"
	<hr />


    <p>Dear Parent,</p>
	<p> Thank you for registering your child on Curiosity Machine!</p>

<p>By becoming a part of the Curiosity Machine community, your child will learn that science and engineering, like art, is a creative process. It requires practice, feedback, and often guidance. On Curiosity Machine, your child will have the opportunity to receive constructive feedback from real scientists and engineers, who will encourage them to be a creative, curious, and persistent innovator. To receive this feedback, your child will have to submit pictures, video, and/or text to describe their designs and ask for help.</p>

<p>Curiosity Machine mentors have been approved and trained by Iridescent, a 501(c)(3) science education nonprofit, to best support your child’s learning, and provide support for them to become the next generation of problem solvers, scientists, engineers, inventors, and entrepreneurs.</p>

<p>Protecting the privacy of young children is especially important. We require a parent
or guardian to provide consent for a child under the age of 13 to use Curiosity Machine. This is in compliance with the Children’s Online Privacy Protection Act (COPPA). Learn more about COPPA <a href="http://www.coppa.org/">here</a>. To learn more about how Iridescent protects children’s personally identifiable information, please read our Privacy Policy.
</p>

<hr />

{% include '_privacy_policy.html' %}
{% endblock %}