{% extends "base.html" %}

{% block content %}

<h1>My Challenges:</h1>
  <ul class="nav nav-justified nav-tabs">
  <li class="active"><a href="#challenges" data-toggle="tab">All Challenges</a></li>
  <li><a href="#bookmarks" data-toggle="tab">Bookmarks</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="challenges">
    <ul class="challenges-list owl-carousel panel-carousel">
      {% for challenge in challenges %}
        {% include "_challenge_item.html" %}
      {% endfor %}
    </ul>
  </div><!-- /#challenges -->
  <div class="tab-pane fade" id="bookmarks">
    <h1>No Bookmarks yet!</h1>
  </div>

</div><!-- /tabs content -->

{% endblock %}