{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Memberships{% endblock %}
{% block body-id %}membership-about-page{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-3">
        <h2>Build a STEM Learning Community</h2>
        <h3 class="m-b-lg">Bring Curiosity Machine to your school, district, or community-based organization</h3>
        <p>
          Curiosity Machine memberships support groups of users by providing access to substantial resources and tools.
          Memberships are specifically designed for schools and other organizations that use Curiosity Machine with
          multiple students and educators.
        </p>
        <p>
          While we aren't offering individual memberships yet, there are plenty of design challenges to explore on your
          own (check out the "free" and "Boeing" filters on the design challenge page once you create your free account!).
        </p>
        <p>
          If you have questions about memberships, we'd love to help! Get in touch with us at <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.
        </p>
        <p>Curiosity Machine memberships can include: </p>
        <ul>
          <li>Educator training</li>
          <li>Parent trainings</li>
          <li>
            Access to additional design challenges and their educator resources (including lesson plans,
            student worksheets, alignment to NGSS and more)
          </li>
          <li>1-on-1 feedback on student projects from mentors</li>
          <li>Online support from Curiosity Machine staff to create a community of parents, educators, and mentors</li>
        </ul>

        <p>
          <a href="https://docs.google.com/forms/d/1DH10-vj1U7x93LTwPX6FoJRF1WyH2eRhVtZ46XkdD78/viewform" target="_blank">Get in touch with us</a>
          to learn more about purchasing a Curiosity Machine membership. Membership features and cost are customized
          to your site's size and needs.
        </p>

        <hr class="hr-red my-3"/>

        <h3>Educator Training</h3>
        <p>Curiosity Machine trains educators on how to best use Curiosity Machine at their site.</p>
        <p>In this 2-3 hour in-person or online training, educators and teachers will learn to:</p>
        <ul>
          <li>
            Navigate Curiosity Machine, engineering design challenges, and educator units
            (which include lesson plans, student worksheets, and alignment to NGSS standards)
          </li>
          <li>Facilitate STEM exploration through hands-on project-based learning</li>
          <li>Implement Curiosity Machine in a classroom or afterschool program</li>
          <li>Use the engineering design process with students</li>
        </ul>
        <br/>

        <img class="mt-2 mb-3" src="{% static 'images/about/la-studio.jpg' %}" alt="Group of students test their creations">
        <br/>

        <h3>Parent Training</h3>
        <p>Curiosity Machine offers two types of parent training:</p>
        <h4>Parent Learning Pedagogy Training</h4>
        <p><small><em>Also applicable to caregivers</em></small></p>
        <p>In this ~2 hour in-person or online training, parents will learn to:</p>
        <ul>
          <li>Support their child(ren)’s learning at home and in school</li>
          <li>Foster children’s curiosity, creativity, and perseverance by building engineering design challenges</li>
          <li>Apply Curiosity Machine’s techniques for encouraging a growth mindset, asking open-ended questions, and recognizing unconscious biases</li>
          <li>Use Curiosity Machine as a tool for hands-on, engaging science learning at home</li>
        </ul>
        <br />

        <h4>Parent Leader Program Implementation Training</h4>
        <p><small><em>Also applicable to community-based organizations and caregivers</em></small></p>
        <p>In this ~2 hour training, parents will learn to:</p>
        <ul>
          <li>Host Curiosity Machine sessions for families at their site or school</li>
          <li>Organize parent volunteers and plan logistics for a successful event</li>
          <li>Navigate Curiosity Machine and use it to facilitate engineering design challenges</li>
        </ul>

        <p>The purpose of this training is to teach parents and community leaders how to organize Curiosity Machine family events. Participants will learn about program logistics in order to have successful self-sufficient Curiosity Machine sessions at their site.</p>

        <img class="img-rounded mt-2 mb-3" src="{% static 'images/about/group-activity.jpg' %}" alt="Group of children build together">
        <br/>

        <h3>Online Support</h3>
        <p>Need help with something else? Our team can also consult with you on:</p>
        <ul>
          <li>Questions about materials for engineering design challenges</li>
          <li>Sequencing engineering design challenges for your program</li>
          <li>Resources for starting a Curiosity Machine program in your community</li>
          <li>How to adapt the educator resources for your program</li>
        </ul>
        <p>Email <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a> with your request. We’ll work with you to determine the scope of your project and an hourly rate.</p>

        <hr class="hr-red"/>

        <div class="my-3">
          <h2>Get Started</h2>
          <p class="text-xs-center">Interested in membership? Fill out <a href="https://docs.google.com/forms/d/1DH10-vj1U7x93LTwPX6FoJRF1WyH2eRhVtZ46XkdD78/viewform" target="_blank">this form</a> and our staff will be in touch!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
