{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Memberships{% endblock %}
{% block body-id %}membership-about-page{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1 m-t-lg">
        <h2>Build a STEM Learning Community</h2>
        <h3 class="m-b-lg">Purchase a membership to bring Curiosity Machine to your school, district, or community-based organization.</h3>
        <p>Curiosity Machine memberships include: </p>
        <ul>
          <li>Educator training</li>
          <li>Parent trainings</li>
          <li>Online support from Curiosity Machine staff to create a community of parents, educators, and mentors</li>
        </ul>

        <p><a href="https://docs.google.com/forms/d/1DH10-vj1U7x93LTwPX6FoJRF1WyH2eRhVtZ46XkdD78/viewform?edit_requested=true"target="_blank">Get in touch with us</a> to learn more about purchasing a Curiosity Machine membership.</p>

        <hr class="hr-red m-y-lg"/>

        <h3>Educator Training</h3>
        <p>Curiosity Machine trains educators on how to best use Curiosity Machine at their site.</p>
        <p>In this 2-3 hour in-person or online training, educators and teachers will learn to:</p>
        <ul>
          <li>navigate Curiosity Machine, engineering design challenges, and educator units</li>
          <li>facilitate STEM exploration through hands-on project-based learning</li>
          <li>implement Curiosity Machine in a classroom or afterschool program</li>
          <li>use the engineering design process with students</li>
        </ul>
        <br/>

        <img class="img-rounded m-t-md m-b-lg" src="{% static 'images/about/la-studio.jpg' %}" alt="Group of students test their creations">
        <br/>

        <h3>Parent Training</h3>
        <p>Curiosity Machine offers two types of parent training:</p>
        <h4>Parent Learning Pedagogy Training</h4>
        <p><small><em>Also applicable to caregivers</em></small></p>
        <p>In this 2-3 hour in-person or online training, parents will learn to:</p>
        <ul>
          <li>support their child(ren)’s learning at home and in school</li>
          <li>foster children’s curiosity, creativity, and persistence by building engineering design challenges</li>
          <li>apply Curiosity Machine’s techniques for encouraging a growth mindset, asking open-ended questions, and recognizing unconscious biases</li>
          <li>use Curiosity Machine as a tool for hands-on, engaging science learning</li>
        </ul>
        <br />

        <h4>Parent Leader Program Implementation Training</h4>
        <p><small><em>Also applicable to community-based organizations and caregivers</em></small></p>
        <p>In this 2-3 hour training, parents will learn to:</p>
        <ul>
          <li>host Curiosity Machine sessions for families at their site or school</li>
          <li>organize parent volunteers and plan logistics for a successful event</li>
          <li>navigate Curiosity Machine and use it to facilitate engineering design challenges</li>
        </ul>

        <p>The purpose of this training is to teach parents and community leaders how to organize Curiosity Machine family events. Participants will learn about program logistics in order to have successful self-sufficient Curiosity Machine sessions at their site.</p>

        <img class="img-rounded m-t-md m-b-lg" src="{% static 'images/about/group-activity.jpg' %}" alt="Group of children build together">
        <br/>

        <h3>Online Support</h3>
        <p>Need help with something else? Our team can also consult with you on:</p>
        <ul>
          <li>questions about materials for engineering design challenges</li>
          <li>sequencing engineering design challenges for your program</li>
          <li>resources for starting a Curiosity Machine program in your community</li>
        </ul>
        <p>Email <a href="mailto:memberships@curiositymachine.org">membership@curiositymachine.org</a> with your request. We’ll work with you to determine the scope of your project and an hourly rate.</p>

        <hr class="hr-red"/>

        <div class="m-y-lg">
          <h2>Get Started</h2>
          <p class="text-center">Interested in membership? Fill out <a href="https://docs.google.com/forms/d/1DH10-vj1U7x93LTwPX6FoJRF1WyH2eRhVtZ46XkdD78/viewform?edit_requested=true" target="_blank">this form</a> and our staff will be in touch!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
