{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}About{% endblock %}
{% block body-id %}about-page{% endblock %}

{% block content %}
  {% with active_nav='about' %}
    {{ block.super }}
  {% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-5">
        <h2>Imagine a better world and build it together</h2>
        <p>We're on a mission to empower children and their families to become leaders and innovators of the future. And because we want every child to have the opportunity to build the future, Curiosity Machine is 100% free.</p>
        <p>Whether you want quality learning challenges to do at home or curriculum for a classroom of eager learners, Curiosity Machine is a perfect source of inspiration to fuel curiosity, creativity, and perseverance while learning about the science and technology that will drive the future.</p>
      </div>
      <div class="col-8 offset-2 text-center mt-4">
        <h5>
          Learn about our new</br>
          <a href="{% url "aichallenge" %}">Artificial Intelligence Family Challenge</a>
        </h5>
      </div>
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <hr class="hr-red mb-5"/>
        <h2>How Curiosity Machine Works</h2>

        <div class="row mt-4">
          <div class="col-md-10 offset-md-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/t_x9fL0MF0w" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <h4><span class="numbered-bullet">1</span> Find Inspiration</h4>
            <p>The world is full of inspiration, you just have to know where to look. Each challenge begins by showing what cutting-edge scientists and engineers are working on, and how it's changing the world.</p>
          </div>
          <div class="col-lg-4">
            <h4><span class="numbered-bullet">2</span> Bring your Idea to Life</h4>
            <p>Making something yourself isn't just fun—it's a great way to learn! Our challenges give enough instruction to help get started and endless freedom to take ideas wherever they lead.</p>
          </div>
          <div class="col-lg-4">
            <h4><span class="numbered-bullet">3</span> Share and Reflect</h4>
            <p>We love seeing what children and families create, and so do other learners! We also believe it's very important to think about what was learned, and use it to fuel new ideas.</p>
          </div>
        </div>

        <div class="my-4 text-center">
          <a href="{% url 'challenges:challenges' %}" class="btn btn-primary">Try a challenge</a>
          <p>(it's free!)</p>
        </div>


        <hr class="hr-red mb-5"/>

        <h2>Curiosity Machine has a profound impact on children</h2>
        <p>Our goal isn’t just to create the next generation of scientists and engineers, but to help students develop skills that will support them in any field. While Curiosity Machine exposes children to various STEM content areas, our curriculum has been shown to help children become less averse to challenges and be more curious.</p>
        <h6 class="mb-0 mt-4 text-center">Curiosity Machine Student Impact</h6>
        <figure class="figure">
          <img class="figure-img img-fluid" src="{% static 'images/about/graph-membership.png' %}" alt="Learning Gains for Children">
          <figcaption class="figure-caption">
            <p>
            In 2010, the National Science Foundation sponsored a five-year longitudinal study, Be A Scientist!, where undergraduate engineering students taught Curiosity Machine design challenges to underserved families. The results were overwhelmingly positive. Click here learn more about our research results!</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-4">

        <hr class="hr-red"/>

        <div id="quote-carousel" class="carousel slide container">
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
            <li data-target="#quote-carousel" data-slide-to="3"></li>
            <li data-target="#quote-carousel" data-slide-to="4"></li>
            <li data-target="#quote-carousel" data-slide-to="5"></li>
            <li data-target="#quote-carousel" data-slide-to="6"></li>
            <li data-target="#quote-carousel" data-slide-to="7"></li>
            <li data-target="#quote-carousel" data-slide-to="8"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="{% static 'images/about/boys-roboticfacecopy2.jpg' %}" alt="Robotic Face">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/quote1.jpg' %}" alt="Student Quote">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/workingtogethercopy2.jpg' %}" alt="Working Together">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/quote2.jpg' %}" alt="Educator Quote">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/talkingtruck2copy2.jpg' %}" alt="Talking Truck">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/quote3.jpg' %}" alt="Student Quote">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/youngscientistscopy2.jpg' %}" alt="USC Young Scientists">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/quote4.jpg' %}" alt="Educator Quote">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'images/about/workingtogether2copy2.jpg' %}" alt="Father and Daughter">
            </div>
          </div>
          <!--
          <a class="left carousel-control" href="#quote-carousel" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#quote-carousel" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          -->
        </div>
      </div>
    </div>
  </div>


  <div class="bg-red text-center py-5">
    <div class="container">
      <h2 class="text-white">Create an account!</h2>
      <a href="{% url "account_signup" %}" class="btn btn-secondary text-uppercase">Get Started</a>
    </div>
  </div>
{% endblock %}
