{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Volunteers{% endblock %}
{% block body-id %}partnership-about-page{% endblock %}

{% block content %}
  {% with active_nav='partnership' %}
    {{ block.super }}
  {% endwith %}

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5 text-center">
      <h2>Inspire families to change the world</h2>
      <p class="my-4">Last year, Technovation Families reached over 7500 families across 13 countries who used AI to solve problems in their communities. With the help of volunteer mentors, families created AI prototypes to address problems including childhood bullying, access to clean water, invasive species, drowning, and more.</p>
      <a href="https://technovationacademy.thinkific.com/" target="_blank" class="btn btn-primary text-uppercase">Sign up here to become a certified Technovation Families mentor!</a>
    </div>
    <div class="col-md-5 offset-md-1 mt-5">
      <p class="text-center"><strong>Be a mentor</strong></p>
      <p class="mt-1">Connect with girls and families as they learn about technology and create tech products to solve community problems.</p>
      <p><strong>Commitment</strong>: Ranges from 2-50 hours. In-person and remote opportunities available. Training provided.</p>
    </div>
    <div class="col-md-5 mt-5">
      <p class="text-center"><strong>Be a judge</strong></p>
      <p class="mt-1">Learn about the problems girls and families around the world care about most, and the innovative ways they choose to solve them while offering encouragement and constructive feedback.</p>
      <p><strong>Commitment</strong>: 3.5 hours, in-person and remote opportunities available. Training provided.</p>
    </div>
    <div class="col-md-10 offset-md-1">
    <hr/>
    </div>
    <div class="col-md-5 offset-md-1 mt-5">
      <p class="text-center"><strong>Be a guest speaker</strong></p>
      <p class="mt-1">Connect with teams of girls and families who are building tech solutions to community problems as a guest speaker. Answer questions, share feedback and ideas in workshops or webinars.</p>
      <p><strong>Commitment</strong>: 3.5 hours, in-person and remote opportunities available. Training provided.</p>
    </div>
    <div class="col-md-5 mt-5">
      <p class="text-center"><strong>Be a content partner</strong></p>
      <p class="mt-1">Help create videos, blog posts, and/or guides that will excite and engage girls and families as they learn about cutting-edge technology and start using it to solve the problems they face.</p>
      <p><strong>Commitment</strong>: Ranges from 2-20 hours. Training provided.</p>
    </div>
  </div>
</div>
{% endblock %}
