{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block body-id %}get-started{% endblock %}
{% block content %}

<div class="jumbotron">
  <div class="container text-light">
    <div class="col-lg-8">
      <h1>Get Started</h1>
    </div>
  </div>
</div>

<div class="container-fluid py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-3">
        <h2 class="mb-3">Solve a Problem with AI</h2>
        <p>
          Through Technovation Families, your understanding of Al will grow
          along with your confidence. Do you see problems in your community
          around transportation, health, education, safety, or the environment?
          As your family completes our program, you will work together to create
          a solution and a prototype using Al technology.
        </p>
      </div>
      <div class="col-lg-6 my-3">
        <h2 class="mb-3">Anyone can sign up with no cost</h2>
        <p>
          Don't know a thing about Al or how it works? Don't let that stop you!
          People all over the world, just like you, have signed up for
          Technovation Families. Create an account to explore machine learning,
          different types of predictive models and foundational Al concepts like
          neural networks. Families with children ages 8-15 can even submit
          their ideas into our
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-pink light-type">
  <div class="container">
    <h2 class="mb-3 headings-font">Choose Your Role</h2>
    <div class="row">
      <div class="col-lg-4 my-3 px-lg-3">
        <div class="text-center">
          <h2>Families</h2>
          <img
            class="my-3"
            src="{% static 'images/pages/about/families.png' %}/ "
          />
        </div>
        <p>
          Any family can complete the program! Family teams share 1 Technovation
          Families account, and must have:
          <ul>
            <li>
              Minimum 1 parent/guardian and 1 child ages 16 or younger per family team
            </li>
            <li>
              6 people maximum per family team
            </li>
            <li>
              2 adults per team maximum
            </li>
          </ul>
          Families will participate in either the Senior or Junior division, determined by the oldest child's birth date.
        </p>
        <p>
          <a class="light-type font-weight-bold" href="{% url 'account_signup' %}">
            <span>
              Sign up for Technovation Families
              <i class="icon-right-arrow"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="col-lg-4 my-3 px-lg-3">
        <div class="text-center">
          <h2>Program Leaders</h2>
          <img
            class="my-3"
            src="{% static 'images/pages/about/program-leaders.png' %}/ "
          />
        </div>
        <p>
          Program leaders coordinate Technovation Families in their local communities. Because every community is different, programs can range in scale from small school clubs to multi-site programs organized in partnership with a local community organization or school district.
        </p>
        <p>
          What all Program Leaders have in common is a passion for helping families in their community to learn the skills they need to succeed in the future.
        </p>
        <p>
          <a class="light-type font-weight-bold" href="#">
            <span>
              Reserve your spot as a Season 2 program site
              <i class="icon-right-arrow"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="col-lg-4 my-3 px-lg-3">
        <div class="text-center">
          <h2>Volunteers</h2>
          <img
            class="my-3"
            src="{% static 'images/pages/about/volunteers.png' %}/"
          />
        </div>
        <p>
          Volunteer as a mentor and connect with families as they learn about technology and create tech products to solve community problems.
        </p>
        <p>
          Mentor time commitment ranges from 2-50 hours, with In-person and remote opportunities available. Training is provided.
        </p>
        <p>
          Additional volunteer opportunities as volunteer judges, guest speakers, and content partners are available as well!
        </p>
        <p>
          <a class="light-type font-weight-bold" href="#">
            <span>
              See more volunteer opportunities
              <i class="icon-right-arrow"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 ">
  <div class="container">
    <h2 class="my-3">
      Ready to Change the World? Use these tools!
    </h2>
    <div class="row text-center">
      <div class="col-lg-3 my-3">
        <a href="#" class="btn btn-primary my-3">
          Eligibility
        </a>
        <p>
          Learn who can participate in Technovation Families
        </p>
      </div>
      <div class="col-lg-3 my-3">
        <a href="https://iridescentsupport.zendesk.com/hc/en-us/categories/115000091368-Technovation-Families" class="btn btn-primary my-3">
          FAQ
        </a>
        <p>
          Find answers to the most common questions
        </p>
      </div>
      <div class="col-lg-3 my-3">
        <a href="#" class="btn btn-primary my-3">
          Suggested Milestones
        </a>
        <p>
          Our suggested plan for submitting on time
        </p>
      </div>
      <div class="col-lg-3 my-3">
        <a href="#" class="btn btn-primary my-3">
          Judging Rubric
        </a>
        <p>
          Review the rubric judges will use to score your submission
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-blue light-type">
  <div class="container">
    <h2 class="mb-3">
      Key Dates for the 2020 Season
    </h2>
    <p>
      <span class="font-weight-bold"> Registration Opens: </span>
      <span>August 1, 2019</span>
    </p>
    <p>
      <span class="font-weight-bold"> Submissions Open: </span>
      <span>November 13, 2019</span>
      <p>
        This is the earliest that families may submit their Al projects to the Technovation Families judging platform.
      </p>
    </p>
    <p>
      <span class="font-weight-bold"> Submission Deadline: </span>
      <span>January 9, 2020 at 11:59 UTC </span>
    </p>
    <p>
      <span class="font-weight-bold"> World Summit: </span>
      <span>August 2020</span>
    </p>
    <p class="text-center">
      <img class="d-none d-lg-block" src="{% static 'images/pages/about/timeline-horizontal.svg' %}/" />
      <img class="d-lg-none timeline-vertical" src="{% static 'images/pages/about/timeline-vertical.svg' %}/" />
    </p>
  </div>
</div>

<div class="container-fluid py-5 bg-pattern-dots-orange light-type">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="text-center">
          <img
            class="leaf-border quote-img"
            src="{% static 'images/pages/about/quote-image.png' %}/ "
          />
        </p>
      </div>
      <div class="col-lg-6">
        <img
        class="quotation-mark my-1"
        src="{% static 'images/pages/about/quotation-mark.svg' %}/ " />

        <blockquote>
          It's important for families to learn about technology, because families should feel empowered to make differences in the world."
        </blockquote>
        <p>
          -Shiela B., Educator and Technovation Families Community Partner, US
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cta-banner-burst-orange py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          Are you ready to change the world?
        </h2>
          <a class="btn btn-white my-3" href="{% url 'account_signup' %}">
            Start now
          </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
