{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Memberships{% endblock %}
{% block body-id %}membership-about-page{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1 m-t-lg">
        <h2>Build a STEM Learning Community</h2>
        <h3 class="m-b-lg">Purchase a membership to bring Curiosity Machine to an entire school or program.</h3>
        <!-- <p>We’ll help you create a STEM learning community with parents, educators, and mentors.</p> -->
        <p>Curiosity Machine memberships include: </p>
        <ul>
          <li>1-on-1 STEM mentor support for student projects</li>
          <li>Educator training</li>
          <li>Parent training</li>
          <li>Online support from Curiosity Machine staff to create a community of parents, educators, and mentors</li>
        </ul>

        <p><a href="https://docs.google.com/forms/d/1DcdxlMzqh66u-M4rCE7AoLgMu2pbMT1MKZ1-BIq1zPU/viewform">Get in touch with us</a> to learn more about how to bring Curiosity Machine to your school.</p>

        <hr class="hr-red m-y-lg"/>

        <h3>STEM Mentor Support</h3>
        <p>Connect your students with STEM experts! Curiosity Machine mentors are professional scientists and engineers who volunteer to support your students.</p>
        <p>When your student begins a new design challenge, a mentor claims their project and starts a conversation with the student.</p>
        <p>Curiosity Machine mentors...</p>
        <ul>
          <li>support individual student projects from start to finish</li>
          <li>offer helpful feedback and suggestions when students get stuck</li>
          <li>push students to iterate and improve their designs</li>
        </ul>
        <p>Curiosity Machine screens and trains all mentors before they begin working with students. Parents and educators of students can also view all mentor-student interactions.</p>
        <br/>

        <img class="img-rounded m-t-md m-b-lg" src="{% static 'images/about/la-studio.jpg' %}" alt="Group of students test their creations">

        <h3>Educator Training</h3>
        <p>Curiosity Machine trains educators on how to best use Curiosity Machine at their site.</p>
        <p>Educators learn how to:</p>
        <ul>
          <li>use the engineering design process with students</li>
          <li>facilitate open-ended, project-based learning</li>
          <li>plan logistics and implement Curiosity Machine at their site</li>
        </ul>
        <br/>

        <img class="img-rounded m-t-md m-b-lg" src="{% static 'images/about/group-activity.jpg' %}" alt="Group of children build together">
        <br/><br/>

        <h3>Parent Training</h3>
        <p>Use Curiosity Machine as a tool for parent engagement! We support parents to become STEM learning ambassadors in their children's schools. Membership gives parent leaders access to our online parent training, which covers both pedagogical concepts and science and engineering concepts.</p>
        <p>Parents learn to:</p>
        <ul>
          <li>support children as they build open ended design challenges</li>
          <li>make open ended questions and provide feedback that fosters a growth mindset</li>
          <li>plan logistics and implement Curiosity Machine at their site</li>
        </ul>

        <hr class="hr-red"/>

        <div class="m-y-lg">
          <h2>Get Started</h2>
          <p class="text-center">Interested in membership? Fill out <a href="https://docs.google.com/forms/d/1DcdxlMzqh66u-M4rCE7AoLgMu2pbMT1MKZ1-BIq1zPU/viewform" target="_blank">this form</a> and our staff will be in touch!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}