{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Partnerships{% endblock %}
{% block body-id %}partnership-about-page{% endblock %}

{% block content %}
  {% with active_nav='partnership' %}
    {{ block.super }}
  {% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-3">
        <h2>Your Work is Inspiring</h2>
        <h3 class="mb-3">Share it with the world!</h3>
        <p>Curiosity Machine works with industry experts to bring science and engineering education to children and families. By partnering with us, your company’s employees have the unique chance to:</p>
        <ul>
          <li>
            <h4>Develop design challenges to inspire children, based on your company’s work</h4>
            <p>We train engineers and scientists to develop hands-on design challenges—projects for children and their families to build over the course of a few hours—using simple household materials. Each challenge explores a key science and engineering concept distilled from the work you do every day.</p>
          </li>
          <li>
            <h4>Feature your company’s work in animated videos for children</h4>
            <p>Work with the Curiosity Machine team to produce a high quality video that explains your company’s cutting-edge innovation and inspires children to explore the topic themselves.</p>
          </li>
          <li>
            <h4>Become a role model</h4>
            <p>Scientists and engineers are trained on how to guide children as mentors. They share their strategies and provide feedback as children progress through the engineering design process either online or in-person.</p>
          </li>
          <li>
            <h4>Professional Training: Technical Communication for Lay Audiences</h4>
            <p>Learn how to lead an in-person Curiosity Machine session in your community through our Professional Training: <a href="{% url 'about-technical-communication' %}">Technical Communication for Lay Audiences</a>.</p>
          </li>
        </ul>

        <p class="mt-2 mb-3">Want to learn more? Schedule a meeting with us! Contact <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.</p>

        <hr class="hr-red mb-3"/>
        <h3 class="mb-3">Your team could be online mentors with Curiosity Machine.</h3>
        <div class="text-xs-center mb-3">
        </div>
        <p>On Curiosity Machine, mentors support students as they build solutions to engineering design challenges. There are multiple ways for mentors to work with students and/or educators &mdash; find the best fit for you!</p>
        <p>As a Curiosity Machine mentor, they will...</p>
        <ul>
          <li>Improve their communication and mentoring skills</li>
          <li>Inspire students by sharing the skills they use every day</li>
          <li>Connect with multiple students or groups of students across the US</li>
          <li>Join our <a href="{% url "mentors:list" %}">community of STEM professionals</a></li>
        </ul>
      </div>
      <div class="col-xs-10 offset-xs-1">
        <img class="my-3" src="{% static 'images/about/mentor-interaction-baymax.png' %}" alt="Mentor and student interaction example">
      </div>
    </div>
  </div>

  <div class="sign-up-panel py-3">
    <h2>Be a part of the Artificial Intelligence Family Challenge</h2>
    <a href="{% url 'aichallenge' %}" class="btn btn-red-secondary text-uppercase">Learn More</a>
    <a href="mailto:curiosity@iridescentlearning.org" class="btn btn-red-secondary text-uppercase" target="_blank">Contact</a>
  </div>
{% endblock %}
