{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% block title %}AI Family Challenge{% endblock %}

{% block body-id %}ai-challenge-page{% endblock %}
{% block content %}
{% with active_nav="ai-challenge" source="aichallenge" %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 my-3">
        <h2>Welcome to the<br/>Curiosity Machine AI Family Challenge!</h2>
        <h3 class="mb-2">Your child is the future. So is artificial intelligence.</h3>
        <p>
          Join the world’s largest family technology program - the Curiosity Machine AI Family Challenge.
          Every year, the Curiosity Machine AI Family Challenge offers families around the world the opportunity to become technology innovators and entrepreneurs.
        </p>
        <p>
          Children ages 8 to 15 and their families learn to use AI technologies and tools to solve problems in their communities around transportation, community-building, health, education, crime, safety, air and water quality, emotional well being, and the environment. They also learn how to communicate these ideas and translate them into a real business.
        </p>
        <p class="text-xs-center">
          <a href="https://photos.google.com/share/AF1QipNBP9S49JHct-cm-7yzdZwYL7TV01Q94SA1flREA1nk_nSRH19lRrSRBUaf_QIu9g?key=SDF0WDJaN0s2RlZySFRab0czNmg1aHhHMHpLeExR" target="_blank">View the 2018 Communities</a> from all around the world participating in the Curiosity Machine AI Family Challenge
        </p>
        <img src="{% static 'images/about/aipartnermap.png' %}" alt="AI Partners">

        <hr class="hr-red mb-3"/>
        <h3>Accessible to all.</h3>
        <p>There is no cost to participate, and anyone can join! You will learn about how self-driving cars work, and how your phones are able to recognize your face and voice and act on what you say.
          You will do all this using simple, everyday materials that you can find around the house.</p>
          <div class="embed-responsive embed-responsive-16by9 mt-1 mb-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLN_PVCeTU6aWvr_tsIeSfDhHukTZgFJMa" allowfullscreen></iframe>
          </div>

        <hr class="hr-red mb-3"/>
        <h3>Join Us. Learn. Build. Change.</h3>
        <div class="embed-responsive embed-responsive-16by9 mt-2 mb-2">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ASnu9G0bOpI" allowfullscreen></iframe>
        </div>
        <p>
          We change the lives of both children and parents.
        </p>
        <ul>
          <li>89% of children were more persistent after engaging in Iridescent’s family programs</li>
          <li>94% of children were less averse to challenges</li>
          <li>94% of parents did more hands-on science projects at home - after Iridescent’s programs</li>
        </ul>

        <hr class="hr-red mb-3"/>
        <h3>It's your world. Make it better!</h3>
        <p>
          Since 2006, more than 80,000 children and parents across the world have participated in Curiosity Machine. With the help of volunteer mentors, families have explored exciting, cutting-edge topics ranging from aerospace to nanotechnology.
        </p>
        <div class="row">
          <div class="col-lg-6 my-2">
            <p class="text-xs-center">Are you ready to learn? Make your <strong>family account</strong> now!</p>
            <ul>
              <li>You only need one account for your family</li>
              <li>You will have access to the AI Family Challenge design challenges</li>
              <li>You can access AI Family Challenge resources to help you complete and submit your ideas</li>
              <li>We will send important updates and reminders</li>
            </ul>
          </div>
          <div class="col-lg-6 my-2">
            <p class="text-xs-center">Are you ready to make a change? Create your <strong>coach account</strong> now!</p>
            <ul>
              <li>Lead students or families to complete the AI Family Challenge</li>
              <li>Access AI Family Challenge content and resources to support your participants to complete the program</li>
              <li>While we can not guarantee funding at this time, fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuptfe5zMp5KpadIkNQcj81vtMRBzqdlW9RU8VHAOT48bLJg/viewform?usp=sf_link" target="_blank">form</a> in addition to creating a coach account if you would like to be considered for future opportunities</li>
            </ul>
          </div>
        </div>

        <div class="text-sm-center mt-1">
          <a href="{% url "account_signup" source=source %}" class="btn btn-primary text-uppercase mx-1" target="_blank">sign up</a>
        </div>
        <p class="mt-1 text-sm-center">
          If you have any questions, contact us at
          <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.
        </p>

      </div>
    </div>
  </div>
  <div class="sign-up-panel py-3">
    <div class="container">
      <h2>
        Learn more about our AI Family Challenge
      </h2>
      <a
        href="http://iridescentlearning.org/artificial-intelligence/the-curiosity-machine-ai-family-challenge/"
        class="btn btn-red-secondary text-uppercase"
        target="_blank"
      > Learn More</a>
    </div>
  </div>
{% endwith %}
{% endblock %}
