{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% block title %}AI Family Challenge{% endblock %}

{% block body-id %}ai-challenge-page{% endblock %}
{% block content %}
{% with active_nav="ai-challenge" source="aichallenge" %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 my-3">
        <h2>Welcome to the<br/>Curiosity Machine AI Family Challenge!</h2>
        <h3 class="mb-2">Your child is the future. So is artificial intelligence.</h3>

        <div class="embed-responsive embed-responsive-16by9 mt-1 mb-2">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Y6ZeRbqhMig" allowfullscreen></iframe>
        </div>
        <div class="row">
          <div class="col-lg-5 offset-lg-1 mb-2">

            <p>Make your child's account now!<p>
            <ul>
              <li>You will have access to special design challenges to start building before the official competition</li>
              <li>We will share unique resources to help you work with your child</li>
              <li>We will send important updates and deadline reminders regarding the timeline</li>
            </ul>
          </div>
          <div class="col-lg-5">
            <p>Be one of our partner sites!</p>
            <ul>
              <li>We will help you create a sustainable STEM learning community and build your capacity as a leader</li>
              <li>Distinguish your organization from others by engaging families with innovative science</li>
              <li>Help families develop a lifelong learning mindset-- essential to thrive in this Information Age</li>
            </ul>
          </div>
        </div>

        <p>
          Start learning by building some of our free design challenges. If you have any questions, contact us at
          <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.
        </p>

        <div class="text-sm-center mt-3">
          <a href="{% url "profiles:join" source=source %}" class="btn btn-primary text-uppercase mx-1" target="_blank">student sign up</a>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSeuptfe5zMp5KpadIkNQcj81vtMRBzqdlW9RU8VHAOT48bLJg/viewform"
            class="btn btn-primary text-uppercase mx-1"
            target="_blank"
          >partner sign up</a>
        </div>

        <hr class="hr-red mb-3"/>
        <h2>Why AI?</h2>
        <p>
          The World Economic Forum estimates that 65 percent of children entering primary school today will work in completely new jobs that don’t exist yet. With this new initiative, Iridescent aims to demystify Artificial Intelligence (AI) and AI tools for students and families and provide early introductions to the technology that is reshaping the workforce and encourage them to continue to learn about and engage with AI.
        </p>
        <p>
          The Curiosity Machine AI Family Challenge invites you to learn about Artificial Intelligence technology. Throughout 2018, children ages 8 to 15 and their families will explore core concepts of AI and use these tools to solve problems in their communities. Everyone will have the opportunity to enter their ideas into a global competition.
        </p>

        <hr class="hr-red mb-3"/>


        <h2>AI Family Challenge<br />Timeline</h2>
        <img src="{% static 'images/about/ai-timeline.png' %}" alt="CM AI Family Challenge">

      </div>
    </div>
  </div>
  <div class="sign-up-panel py-3">
    <div class="container">
      <h2>
        Learn more about our AI Family Challenge
      </h2>
      <a
        href="http://iridescentlearning.org/artificial-intelligence/the-curiosity-machine-ai-family-challenge/"
        class="btn btn-red-secondary text-uppercase"
        target="_blank"
      > Learn More</a>
    </div>
  </div>
{% endwith %}
{% endblock %}
