{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}

{% block title %}Community Guidelines{% endblock %}
{% block body-id %}community-guidelines-about-page{% endblock %}

{% block content %}
  {% with active_nav='community-guidelines' %}
    {{ block.super }}
  {% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-xs-center py-3">
          <h4>Be Curious</h4>
          <p>Try something new! There are <a href="/challenges">over 80 design challenges</a> to choose from.</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="text-xs-center py-3">
          <h4>Be Creative</h4>
          <p>Check out a challenge's inspiration gallery and guide to get started, but try to build your own design!</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="text-xs-center py-3">
          <h4>Be Persistent</h4>
          <p>Your design didn't work like you thought it would? That's ok! "Redesign" is part of the process. Keep making changes, or build a whole new version.</p>
        </div>
      </div>
    </div>

    <div class="row mt-2 mb-3">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <h2>Posting</h2>
        <ul>
          <li>Make your project look good! Check that your photo is in focus and that you can read the words on your plan.</li>
          <li>Use short videos (2min or less!) to show your design in action.</li>
          <li>Explain your process. Don’t be shy about sharing the parts of your design that aren’t working.</li>
        </ul>
        <div class="text-xs-center">
          <img src="{% static 'images/about/cg-posting-robot.png' %}" alt="A robot poses with its project">
        </div>

        <hr class="hr-red my-3"/>

        <h2>Privacy</h2>
        <ul>
          <li>Never share your password or other personal information. Iridescent staff will never ask for it.</li>
          <li>Don’t show your location in your photos and videos.</li>
          <li>If someone makes you feel uncomfortable or isn’t following these guidelines, let us know. You can email <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.</li>
        </ul>
        <div class="text-xs-center">
          <img src="{% static 'images/about/cg-privacy-robot.png' %}" alt="A robot should never share their password">
        </div>

        <hr class="hr-red my-3"/>

        <h2>Working with Mentors</h2>
        <ul>
          <li>Mentors are volunteers who give their time to help you, so keep it on-topic! Only post photos and videos related to your project.</li>
          <li>If you're stuck, ask your mentor questions about what isn't working. They’re here to help! </li>
          <li>Don't leave your mentor hanging. Try their suggestion and let them know how it went.</li>
        </ul>
        <div class="text-xs-center">
          <img src="{% static 'images/about/cg-mentor-robot.png' %}" alt="A robot mentor does a cool trick">
        </div>

        <hr class="hr-red my-3"/>

        <h2>Internet Safety</h2>
        <p>Curiosity Machine is an online community. Please take a few minutes to explore our <a href="http://iridescentlearning.org/internet-safety/" data-ga-track="pageview" data-ga-page="internet-safety">internet safety training</a> and learn how to interact with other people safely and responsibly online.</p>

        <p class="text-xs-center">By using Curiosity Machine, you agree to our <a href="http://iridescentlearning.org/terms-of-use/">Terms of Use</a>.</p>

      </div>
    </div>
  </div>
{% endblock %}
