{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Educators{% endblock %}
{% block body-id %}educator-about-page{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="container p-b-lg">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1 m-t-lg">
        <h2>Bring Engineering to Your Classroom</h2>
        <h3 class="m-b-lg">Teach hands-on science with simple materials.</h3>
        <p>With the engineering design process as a guide, your students will plan, build, and test their designs. They’ll document each step on Curiosity Machine, where you can create groups and add your students to see their progress.</p>

        <p>Educators everywhere are using Curiosity Machine in:</p>
        <ul>
          <li>K-12 classrooms</li>
          <li>After school clubs</li>
          <li>Family science programs</li>
          <li>Makerspaces</li>
          <li>Libraries, summer camps, etc. </li>
        </ul>

        <img class="img-rounded" src="{% static 'images/about/classroom-example.jpg' %}" alt="Teacher and child build together">

        <hr class="hr-red m-b-lg"/>

        <h2>Curiosity Machine for Schools: Become a Member</h2>
        <p>Anyone can create an account and access Curiosity Machine’s videos, design challenges, and Educator resources for free.</p>

        <p>Schools and other organizations can purchase a membership to get:</p>
        <ul>
          <li>Training for educators and parents</li>
          <li>1-on-1 mentor feedback for student projects</li>
          <li>Support from Curiosity Machine staff</li>
        </ul>

        <div class="text-center">
          <a class="btn btn-primary" href="{% url "about-membership" %}">Become a Member</a>
        </div>

        <hr class="hr-red m-b-lg"/>

        <h2>Educator Resources</h2>
        <h3>Units</h3>
        <p class="text-center">Choose a series of Curiosity Machine design challenges, or create your own!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card challenge-card">
          <a href="{% url 'units:unit' unit_id=11 %}" class="action-img">
            <img class="card-img-top" src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/c1432a04cb8f694b9d7d74f28e7863f0' width=300 height=170 crop='fill' %}" alt="Flight Unit">
          </a>
          <div class="card-block card-title">
            <h6>
              <a href="{% url 'units:unit' unit_id=11 %}">
                Kindergarten-2nd Grade Engineering Design Process
              </a>
            </h6>
          </div>
          <div class="card-block">
            <p class="card-text">Inspire young students to make observations and find solutions to problems.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card challenge-card">
          <a href="{% url 'units:unit' unit_id=11 %}" class="action-img">
            <img class="card-img-top" src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/ec1c2ec8086227732540b5f8bcb79d8e' width=300 height=170 crop='fill' %}" alt="Summer of Invention Unit">
          </a>
          <div class="card-block card-title">
            <h6>
              <a href="{% url 'units:unit' unit_id=13 %}">
                3rd-5th Grade Engineering Design Process
              </a>
            </h6>
          </div>
          <div class="card-block">
            <p class="card-text">Inspire elementary students to design for constraints and test solutions.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card challenge-card">
          <a href="{% url 'units:unit' unit_id=11 %}" class="action-img">
            <img class="card-img-top" src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/06653476d73be4481ff06e29c1f563d0' width=300 height=170 crop='fill' %}" alt="BioBots Unit">
          </a>
          <div class="card-block card-title">
            <h6>
              <a href="{% url 'units:unit' unit_id=2 %}" class="action-img">
                6th-8th Grade Engineering Sampler
              </a>
            </h6>
          </div>
          <div class="card-block">
            <p class="card-text">A collection of design challenges that explore different types of engineering.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-push-2 col-md-10 col-md-push-1 m-t-lg">
        <h3 class="m-y-md">NGSS Alignment</h3>
        <p>Want to do hands-on projects and hit standards at the same time? Curiosity Machine has you covered. Our design challenges are aligned to elementary NGSS standards, and middle school alignment is on the way.</p>

        <div class="text-center">
          <a href="https://s3.amazonaws.com/curiositymachine/statics/Curiosity_Machine_NGSS_Alignment_K-8.pdf" class="btn btn-primary">View NGSS K-8 Alignment</a>
        </div>

        <h3 class="m-t-lg">More Resources</h3>
        <ul>
          <li><a href="https://s3.amazonaws.com/curiositymachine/statics/guide-to-great-submissions.pdf">Guide to Great Submissions</a></li>
          <li><a href="https://s3.amazonaws.com/curiositymachine/statics/parental-consent-and-privacy-policy.pdf">Under 13 Consent Form</a></li>
          <li><a href="http://iridescentlearning.org/wp-content/uploads/2014/09/CM-Login.pdf">Create Account Instructions</a></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="sign-up-panel p-y-xl">
    <h2>Create an Educator Account!</h2>
    <a href="{% url "profiles:join_as_educator" %}" class="btn btn-red-secondary text-uppercase">sign up</a>
  </div>
{% endblock %}
