{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}FAQ{% endblock %}
{% block body-id %}faq-about-page{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="container">
    <h2 class="m-y-lg">Learning Philosophy</h2>
    <div class="row">
      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>What are engineering design challenges?</strong>
        <p>Engineering design challenges are hands-on projects inspired by the cutting-edge work of scientists and engineers. They use simple materials, scale up or down in difficulty for different age groups, and have many possible solutions. In each challenge, children build their own version using the engineering design process.</p>

        <strong>How long does it take to complete an engineering design challenge?</strong>
        <p>Most design challenges will take about 90 minutes to plan, build, test, and document the steps of your first iteration. The redesign process can go on for as long as you can make improvements to the design!</p>

        <strong>Should Curiosity Machine engineering design challenges be completed in sequence?</strong>
        <p>Our design challenges do not need to be completed in any particular order. If you’re looking for ideas of what challenge to do next, try focusing on a particular theme (like Aerospace or Civil Engineering).</p>

        <strong>What age student is Curiosity Machine for?</strong>
        <p>Our engineering design challenges are open-ended and appropriate for children K-12. With the support of a parent, even young children can navigate the site, upload their designs, and become inventors in the Curiosity Machine community.</p>
        
        <strong>What does it cost to use Curiosity Machine?</strong>
        <p>Anyone can create a Curiosity Machine account and access our videos and engineering design challenges for free. For schools and other groups interested in support and training, we offer a paid membership. <a href="{% url "about-membership" %}">Learn more about membership.</a></p>

        <strong>What kind of technology do I need to use Curiosity Machine?</strong>
        <p>You can access Curiosity Machine on any smartphone, tablet, or computer with a browser and internet access. Ideally, your device has a built-in camera to take photos and videos as you move through the engineering design process (you can also use a digital camera and upload photos to your device).</p>
      </div>

      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>Where can I buy Curiosity Machine design challenge materials?</strong>
        <p>Most design challenges can be completed with simple, low-cost materials that you can purchase at a grocery or hardware store.</p>

        <strong>Who are Curiosity Machine mentors?</strong>
        <p>Mentors are professional scientists and engineers who volunteer with Curiosity Machine to inspire the next generation of inventors. Mentors support students as they build solutions to engineering design challenges. They give feedback on individual projects and help students work through the engineering design process.</p>

        <p>Mentors must successfully complete training before working with any user on Curiosity Machine. This training prepares them to work with children across a range of abilities, and to foster a growth mindset, persistence, creativity, and curiosity in the children they work with.</p>

        <strong>What is mentor feedback?</strong>
        <p>When you submit text, photos or videos of a design challenge from a student account, a mentor will claim your project and respond with feedback. Look for the orange icon on your challenge that indicates a mentor message waiting for you!</p>

        <p>We can currently only guarantee mentorship for groups who are part of our <a href="{% url "about-membership" %}">membership model</a>, but we will do our best to get you feedback on your project.</p>

        <strong>I created an account for a child under the age of 13, but the account is locked. How do I unlock this account?</strong>
        <p>Because users upload photos and videos to the Curiosity Machine, the Children’s Online Privacy Protection Act (COPPA) requires that we obtain parental consent before activating Curiosity Machine accounts for children under the age of 13.</p>

        <p>To unlock your child’s account please submit <a href="https://s3.amazonaws.com/curiositymachine/statics/parental-consent-and-privacy-policy.pdf">this consent form</a> to <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <hr class="hr-red"/>
        <h2>Using Curiosity Machine</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>Confused or stuck?</strong>
        <p>Check out this <a href="https://www.youtube.com/watch?v=XBAE46x2qio">demo video</a> to walk through the Curiosity Machine website and learn how to submit your design challenges, view mentor feedback, and access challenges you’re still working on.</p>

        <strong>Why haven’t I received any mentor feedback for my engineering design challenge?</strong>
        <p>We can currently only guarantee mentorship for groups who are part of our <a href="{% url "about-membership" %}">membership model</a>, but we will do our best to get you feedback on your project. If you have questions, get in touch with us at <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.</p>

        <strong>What does the orange icon on my project mean?</strong>
        <p>Woohoo! That orange icon means that you have received feedback from a mentor. Select the challenge and see what you mentor has to say &mdash; and don’t forget to respond!</p>
      </div>

      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>How do I respond to mentor feedback?</strong>
        <p>Once a mentor has claimed your project, they can see all the pictures, videos, and text you post of your design process. After you get feedback, you might want to try changes your mentor suggested and report back, answer their questions and ask your own, or ask for additional help to continue improving your design.</p>

        <strong>How do I see the design challenges that I am currently working on?</strong>
        <p>All of your in-progress design challenges live on your dashboard. To get to your dashboard, log in, click on the menu tab, and select “Home.” You will see all of the challenges you’re working on, as well as the challenges you’ve completed.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <hr class="hr-red"/>
        <h2>Parents</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>I want to use Curiosity Machine at home, but I’m not a science expert. How can I support my child to learn science?</strong>
        <p>You don’t need to be a scientist or engineer to build with your child. You also don’t need to have all the answers! When you explore and learn alongside your child, you’ll be modeling curiosity and persistence. You’ll inspire them to ask questions and look for answers instead of giving up when they don’t know something.</p>
        <p>Curiosity Machine also has Introductory Resources to support parents. You’ll learn physics concepts and ways to promote innovative thinking while you build together. Create a Parent account and click on Unit 1 to get started!</p>

        <strong>How do I know what my child is doing on Curiosity Machine?</strong>
        <p>If your child is younger than 13, a parent’s email address is required at sign up. You will receive email notifications when your child gets feedback on a project.</p>
        <p>You can also create a Parent account and connect to your child’s Student account. Once your accounts are linked, you will be able to view your child’s projects and interactions.</p>
        <p>Use the "Add Your Child" button on the Parent home page and enter your child’s Curiosity Machine username. Your child will log in and use the “Turn On” button to activate your connection.</p>

        <strong>What is a Parent account?</strong>
        <p>We believe parents are essential partners in developing children’s problem-solving skills. So, we created a Curiosity Machine experience just for you!
        Create your Parent account and:</p>
        <ul>
          <li>Connect to your child’s Student account.</li>
          <li>Follow your child’s posts and progress on engineering challenges.</li>
          <li>Use our Introductory Resources to learn physics concepts and tips to encourage critical thinking.</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>How do I bring Curiosity Machine to my child’s school?</strong>
        <p>Curiosity Machine partners with educators and families to bring hands-on engineering projects to your school! You (or someone from your school) can find <a href="{% url "about-membership" %}">more details on our membership page.</a></p>

        <strong>Why is mentor feedback valuable to my child?</strong>
        <p>Mentors provide encouraging feedback to children throughout the building process. They reinforce key science concepts and help children improve their designs.</p>
        <p>Receiving feedback from a professional is a cool experience — it feels like both a “congratulations!” and a “keep going!” Mentors often become role models for children, as they interact and solve problems as a team.</p>
        
        <strong>Is Curiosity Machine safe for my child to use?</strong>
        <p>Curiosity Machine takes our users’ safety very seriously. We follow the Children’s Online Privacy Protection Act (COPPA), requiring parental consent for accounts for children under the age of 13. Additionally, our mentors undergo required training on interacting with children online. Please be aware that students can upload project photos to the inspiration gallery, which is visible to other users.</p>
        <p>For more information about family internet safety, we recommend checking out <a href="https://www.commonsensemedia.org/blog/internet-safety-rules-of-the-road-for-kids">Common Sense Media.</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <hr class="hr-red"/>
        <h2>Educators</h2>
      </div>
    </div>
        
    <div class="row">
      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>How can I use Curiosity Machine with my students?</strong>
        <p>Curiosity Machine is a flexible STEM education tool that can be adapted to any learning environment. Our hands-on engineering design challenges and mentor feedback model can be used with children of any age, though we’ve seen the most success with elementary and middle school-aged students.</p>
        <p>In the past, educators have…</p>
        <ul>
          <li>used our Flight, Engineering Sampler and Energy units to teach 6-8th grade students NGSS lessons aligned with the Middle School Engineering Design Process standards</li>
          <li>used more complex designs, like <a href="https://www.curiositymachine.org/challenges/56/">Engineer a Pneumatic Creature</a> or <a href="https://www.curiositymachine.org/challenges/67/">Build a Self-Propelling Boat</a>, to host Family Science nights at their schools</li>
          <li>elevated parent engagement in their classroom by inviting the guardians of their students into the classroom to help with Curiosity Machine lessons</li>
          <li>chosen their own series of design challenges to teach elementary aged students with disabilities project-based science</li>
          <li>used our <a href="https://www.curiositymachine.org/challenges/?theme=Art%20of%20Science&theme_id=4">Art of Science</a> design challenges to integrate science into their art curricula</li>
          <li>focused on bringing more collaboration to their classroom by using design challenges that teams of students can work on</li>
        </ul>

        <strong>How can I bring Curiosity Machine to my school?</strong>
        <p>Curiosity Machine partners with educators and families to bring hands-on engineering projects to schools through paid memberships. Membership includes parent and educator training, support to get your program started, and 1-on-1 STEM mentor feedback for your students’ projects. Find more details on our <a href="{% url "about-membership" %}">membership page.</a></p>
        
        <strong>How does Curiosity Machine align to Next Generation Science Standards or Common Core Standards?</strong>
        <p>Curiosity Machine designs are flexible and can be used to teach many standards related to engineering, physics, biology and more.</p>
        <p>We have aligned Curiosity Machine design challenges to Next Generation Science Standards in our Design Challenge Units (find them on your Educator account home page). Curiosity Machine is an excellent resource to teach the middle school Engineering Design Process standards.</p>
        <p>We have not yet aligned Curiosity Machine to Common Core Standards, but let us know if you do! Feel free to hack our resources and share how they worked for your students.</p>
        
        <strong>How do Educator accounts work?</strong>
        <p>If you’re using Curiosity Machine with a group of students, you can create an Educator account to connect with your students’ accounts.</p>
        <p>Educators can view all of their students’ text, video and photo submissions, as well as any mentor interactions your students have on Curiosity Machine.</p>
        <p>Educators also have access to our Design Challenge Units. These units are collections of our design challenges that come with lesson plans, student workbooks and Next Generation Science Standards alignment.</p>
        
        <strong>How do I get started?</strong>
        <p>First, create an <a href="{% url "profiles:join_as_educator" %}">educator account</a>! Once you have an account, you can create groups and invite your students to join them.</p>
        <p>If they have not already, your students will need to create Curiosity Machine accounts. Before students under the age of 13 can join Curiosity Machine, their parents must fill out <a href="https://s3.amazonaws.com/curiositymachine/statics/parental-consent-and-privacy-policy.pdf">a consent form</a>.</p>
        <p>For more information on getting started, check our Educator page.</p>
        
        <strong>What is the consent process for getting students started on Curiosity Machine?</strong>
        <p>If your students are above the age of 13, they do not need to complete any consent forms. You can simply lead them in creating accounts.</p>
        <p>If your students are under the age of 13, due to COPPA laws, their parents will need to give permission for them to use Curiosity Machine. You can send <a href="https://s3.amazonaws.com/curiositymachine/statics/parental-consent-and-privacy-policy.pdf">this form home to parents</a> to explain the process of creating a Curiosity Machine account for their child. If you’d prefer that parents simply create accounts and then return the consent forms to you, you can scan and email the forms to <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.</p>          
      </div>

      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>I’m interested in using Curiosity Machine, but I don’t have a STEM background. How do I support my students to build design challenges?</strong>
        <p>Our philosophy is that you don’t need to be a science or an engineering expert to help students learn science. If you can facilitate the learning by providing the space, materials, and encouragement for students to build and develop the mindset of an inventor (check out our guides on <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/3HigherLevelQuestionsthatMakeYourChildrentoThinkDeeper-2.pdf">Asking Questions</a> and <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/2WhatisMindset.pdf">Giving Feedback</a>).</p>
        <p>Curiosity Machine also provides you with trained mentors who support each student to pause and reflect on their thinking strategies and to deepen their understanding of the science concepts involved in the challenge. Fill in this form to request mentor support for your classroom.</p>
        
        <strong>What materials do I need to for the engineering design challenges?</strong>
        <p>Each design challenge requires different materials, though we’ve worked hard to make sure all of our curriculum can be made from low cost, easy-to-find supplies.</p>
        <p>For some of our design challenges, like <a href="https://www.curiositymachine.org/challenges/34/">Build a Redwood Tree</a> and <a href="https://www.curiositymachine.org/challenges/11/">Make a Flat Ball</a>, students will only need paper, tape and scissors.</p>
        <p>Others, such as like <a href="https://www.curiositymachine.org/challenges/14/">Make an Electric Switch</a>, <a href="https://www.curiositymachine.org/challenges/38/">Build a Hydroelectric Waterwheel</a> and <a href="https://www.curiositymachine.org/challenges/7/">Build an Octopus Suction Pad</a>, require more complex materials such as batteries, tubing and syringes.</p>
        <p>Our design challenges are open ended, which means that there are many ways to build working models to address the same challenge. If you have questions about which materials we suggest using, check the Plan stage of a design challenge to see our ideas. Remember, you can use whatever materials you think make the most sense--there are no rules for how you solve your design challenge and creativity is encouraged!</p>
        
        <strong>How can I create a learning environment that supports Curiosity Machine learning?</strong>
        <p>Helping students persevere through failure, think critically and solve problems are what this style of learning is all about! But like most project-based learning experiences, it’s also messy, kids can get frustrated, and it takes longer than just assigning a worksheet.</p>
        <p>We’ve thought a lot about how to structure learning environments that support this style of learning — one of the most powerful tools we’ve found is classroom volunteers. Invite your students’ parents in to help with these lessons. We offer training for parents to learn how to support project based learning. Contact us at <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>, if you’re interested in learning more.</p>
        <p>For more strategies, check out our one pagers on <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/2WhatisMindset.pdf">Never Giving Up</a>, <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/3HigherLevelQuestionsthatMakeYourChildrentoThinkDeeper-2.pdf">Asking Challenging Questions</a> and <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/1BuildYourChildsProblemSolvingSkills-2.pdf">Solving Problems</a>.</p>
        
        <strong>How can I learn even more about using Curiosity Machine with my students?</strong>
        <p>As part of our Curiosity Machine community, you will receive monthly information on new features, design challenges and best practices. You can also check out our Educator page.</p>
        <p>Our staff trains educators and parents to support you in customizing Curiosity Machine to your learning environment. If you’re interested, email <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <hr class="hr-red"/>
        <h2>Mentors</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>How do I become a Curiosity Machine mentor?</strong>
        <p>Learn more on our <a href="{% url "mentor" %}">Mentor page</a> or <a href="{% url "profiles:join_as_mentor" %}">create an account</a>!</p>
        

        <strong>What are the benefits of becoming a Curiosity Machine mentor?</strong>
        <p>Help inspire the next generation of inventors while improving your science communication and mentoring skills! Curiosity Machine mentors are recognized for their role in supporting the learning of youth by Iridescent and our partners including Boeing, Google, Intel, and NSF.</p>
        
      </div>
      <div class="col-md-6 col-lg-5 col-lg-push-1">
        <strong>What is the time commitment required to become a mentor?</strong>
        <p>We ask mentors to volunteer 1 hour a week, which equates to evaluating & providing feedback on two student projects.</p>
        

        <strong>Are there in-person mentoring opportunities available?</strong>
        <p>Mentoring in-person at the Curiosity Courses is both fun and rewarding! If you are located in LA, NYC, Chicago, or San Francisco please <a href="mailto:mentor@iridescentlearning.org">contact us</a> for more information on joining.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <hr class="hr-red m-b-0"/>
      </div>
    </div>

    <p class="text-center m-y-lg">Didn’t find an answer to your question? Email it to <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>!</p>
        
  </div>
{% endblock %}