{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block body-id %}get-started{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container text-light">
    <div class="col-lg-8">
      <h1>Get Started</h1>
      <h3>
        We challenge you to solve a problem in your community – are you up
        for it?
      </h3>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-3">
        <h2 class="mb-3">
          Solve a problem your family cares about using Al
        </h2>
        <p>
          Do you see problems in your community around transportation,
          health, education, safety, or the environment? You can solve them!
          Through 10 lessons you will work together to identify a problem
          you care about and create a solution using Al technology you learn
          about in our program. You’ll explore machine learning, different
          types of predictive models and how coding is tied into AI.
        </p>
      </div>
      <div class="col-lg-6 my-3">
        <h2 class="mb-3">Anyone can sign up with no cost</h2>
        <p>
          Don't know a thing about Al or how it works? Don't let that stop
          you! People all over the world, just like you, have signed up for
          Technovation Families. Create an account to explore machine
          learning, different types of predictive models and foundational Al
          concepts like neural networks.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-lightblue">
  <div class="container">
    <h2 class="mb-3 headings-font">Choose Your Role</h2>
    <div class="row">
      <div class="col-xl-6 col-12 my-3 px-xl-4">
        <div class="text-center">
          <h2>Families</h2>
          <img
            class="my-3 leaf-border"
            src="{% static 'images/pages/about/families.png' %}"
            alt="Technovation Families participants"
          />
        </div>
        <p>
          Any family can sign up! Family teams share 1 Technovation Families
          account, and must have:
          <ul>
            <li>
              Minimum 1 parent/guardian and 1 child ages 16 or younger per
              family team
            </li>
            <li>6 people maximum per family team</li>
            <li>2 adults per team maximum</li>
          </ul>
        </p>
        <p>
          <a
            class="darkblue-type font-weight-bold"
            href="{% url 'account_signup' %}"
          >
            <span>
              Sign up for Technovation Families
              <i class="icon-right-arrow"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="col-xl-6 col-12 my-3 px-xl-4">
        <div class="text-center">
          <h2>Students</h2>
          <img
            class="my-3 leaf-border"
            src="{% static 'images/pages/about/families.png' %}"
            alt="Technovation Families participants"
          />
        </div>
        <p>
          Students 18 and under can create student accounts. Note that you
          will need parental consent for your account to be activated. Make
          sure to have your parent’s email access handy when you sign up.
        </p>
        <p>
          <a
            class="darkblue-type font-weight-bold"
            href="{% url 'account_signup' %}"
          >
            <span>
              Sign up for Technovation Families
              <i class="icon-right-arrow"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="col-xl-6 col-12 my-3 px-xl-4">
        <div class="text-center">
          <h2>Ambassador or Teacher</h2>
          <img
            class="my-3 leaf-border"
            src="{% static 'images/pages/about/program-leaders.png' %}"
            alt="Technovation Families program leaders"
          />
        </div>
        <p>
          Ambassadors and educators can lead students or families through
          their learning journey. No technical expertise is required, only a
          passion for helping families or students in your community learn
          the skills they need to succeed in the future.
        </p>
        <p>
          Ambassadors or Teachers should sign up with a “mentor” account.
        </p>
        <p>
          Returning Ambassadors: Please note there is no international
          competition this season, but you are welcome to organize your own
          local celebration events!
        </p>
        <p>
          <a
            class="darkblue-type font-weight-bold"
            href="{% url 'account_signup' %}"
          >
            <span>
              Sign up for Technovation Families
              <i class="icon-right-arrow"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="col-xl-6 col-12 my-3 px-xl-4">
        <div class="text-center">
          <h2>Volunteers</h2>
          <img
            class="my-3 leaf-border"
            src="{% static 'images/pages/about/volunteers.png' %}"
            alt="Technovation Families volunteers"
          />
        </div>
        <p>
          Volunteer as a mentor by recruiting a couple of families to lead
          through the AI lessons and solve community problems. Sign up for a
          “mentor” account.
        </p>
        <p>
          <a
            class="darkblue-type font-weight-bold"
            href="https://www.technovation.org/corporate-partners-engagement-opportunities/"
          >
            <span>
              See our full range of volunteer opportunities
              <i class="icon-right-arrow"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-pattern-dots-orange light-type">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="text-center">
          <img
            class="leaf-border quote-img"
            src="{% static 'images/pages/about/quote-image.png' %}"
            alt="Portrait of Shiela"
          />
        </p>
      </div>
      <div class="col-lg-6">
        <img
          class="quotation-mark my-1"
          src="{% static 'images/pages/about/quotation-mark.svg' %}"
          alt="Large quotation mark"
        />
        <blockquote>
          It's important for families to learn about technology, because
          families should feel empowered to make differences in the world."
        </blockquote>
        <p>
          -Shiela B., Educator and Technovation Families Community Partner,
          US
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cta-banner-burst-orange py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Are you ready to change the world?</h2>
        <a class="btn btn-white my-3" href="{% url 'account_signup' %}">
          Start now
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
