{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Mentors{% endblock %}
{% block body-id %}mentor-about-page{% endblock %}

{% block content %}
  {% with active_nav='mentor' %}
    {{ block.super }}
  {% endwith %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-5">
        <h2>Inspire the Next Generation of Inventors</h2>
        <h3 class="mb-5">Become an online mentor with Curiosity Machine.</h3>
        <div class="text-center mb-5">
        </div>
        <p>On Curiosity Machine, mentors support students as they build solutions to engineering design challenges. There are multiple ways for mentors to work with students and/or educators &mdash; find the best fit for you!</p>
        <p>As a Curiosity Machine mentor, you will...</p>
        <ul>
          <li>Improve your communication and mentoring skills</li>
          <li>Inspire students by sharing the skills you use every day</li>
          <li>Connect with multiple students or groups of students across the US</li>
          <li>Join our <a href="{% url "mentors:list" %}">community of STEM professionals</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <img class="my-5" src="{% static 'images/about/mentor-interaction-baymax.png' %}" alt="Mentor and student interaction example">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <hr class="hr-red mb-5"/>

        <h2>Mentor Opportunities</h2>
        <p>There are multiple ways to support students as a Curiosity Machine mentor. Find the one that works best for you.</p>

        <h4>E-mentoring</h4>
        <p>Provide feedback to students on their design challenges and encourage them to keep building. E-mentoring takes place entirely online, through video and text posts, and is asynchronous with the students' building process.</p>
        <p class="mb-4"><em>Time commitment: 30 minutes per week</em></p>

        <h4>Live Mentoring Session</h4>
        <p>Join two other mentors in a webinar-style mentoring session and provide feedback to an entire class. Students share their plans and test their designs in front of the camera. You provide feedback, ask questions, and encourage them to re-design!</p>
        <p class="mb-4"><em>Time commitment: 45 minutes to 1 hour per session</em></p>

        <h4>Educator Coaching</h4>
        <p>Support educators who need additional help explaining key physics and engineering concepts clearly to their students. Not all of our educators come from STEM backgrounds, so lend your expertise via email, phone, or skype, and help them prepare to teach a specific design challenge in their classroom or program.</p>
        <p class="mb-4"><em>Time commitment: 30 to 45 minutes per coaching session</em></p>

        <h4>Mentor Guides</h4>
        <p>Support your fellow mentors by contributing to Curiosity Machine's mentor guides. We want to provide a mentor guide for every design challenge on Curiosity Machine so that all of our mentors can confidently provide feedback for all of our design challenges &mdash; regardless of their area of expertise. Share your knowledge and help us improve our library of mentor resources.</p>
        <p class="mb-4"><em>Time commitment: 1-2 hours per design session</em></p>


        <p class="text-center my-5">Questions? Email <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a></p>

        <hr class="hr-red mb-5"/>

        <h2>The Ideal Mentor Description</h2>
        <p>Mentoring online is a very new concept and the experience is quite different from in-person mentoring. Scan through this quick checklist to see which type of mentoring is right for you.</p>
        <table class="table table-bordered mb-5">
          <thead>
            <tr>
              <th>In-person mentoring</th>
              <th>Mentoring online</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Schedule time to physically meet your student or group of students.</td>
              <td>Mentor online when it's convenient to you, such as in between meetings or during your lunch break.</td>
            </tr>
            <tr>
              <td>Mentor one student in your community and build a relationship with them.</td>
              <td>Connect with a different student or group of students across the U.S.</td>
            </tr>
            <tr>
              <td>Develop your in-person communication skills.</td>
              <td>Develop your digital communication skills.</td>
            </tr>
            <tr>
              <td>Practice building rapport and making in-person connections.</td>
              <td>Practice connecting with people in a virtual environment.</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}
