{% extends "curiositymachine/layout/about_pg_layout.html" %}
{% load staticfiles %}

{% block title %}Ambassadors{% endblock %}
{% block body-classes %} {{ block.super }} aifc-pages {% endblock %}
{% block content %}
{% with active_nav="ambassadors" %}
  {{ block.super }}
{% endwith %}

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
      <h2>Bring Technovation Families to your community</h2>
      <h3 class="mb-5">We believe the best learning happens through exploration. Join us to lead families and students in discovering AI!</h3>

      <h4 class="aifc-pages-header mt-4 mb-1">Be an ambassador for AI learning</h4>
      <p>As an ambassador, you will lead 10 learning lessons where families work together to identify problems they care about and create a solution using Al technology. You’ll help participants explore machine learning, different types of predictive models, and foundational Al concepts like neural networks. Your participants with children ages 8-16 can submit their prototype to the World Summit.</p>
      <hr class="hr-red mb-3"/>
      <h2>We welcome ambassadors from around the world to join us for Technovation Families!</h2>
      <img class="d-block w-75 mx-auto" src="{% static 'images/about/aifc-world.svg'%}">
      <h4 class="aifc-pages-header mt-4">As a Technovation Families ambassador you will:</h4>
      <ul>
        <li>Recruit, coordinate and guide Technovation Families in your local community through the AI challenge over the course of 10 sessions for a total of ~40 hours</li>
        <li>Programs can range in scale from a small, after school club to a multi-site program led in partnership with a community-based organization or school district</li>
      </ul>
      <p>No technical experience is required, only a passion for helping families in your community learn the skills they need to succeed in the future. Join our next season launching August 2020.</p>
      <h3 class="mt-5 mb-1">You can <a href="https://docs.google.com/forms/d/e/1FAIpQLSd4ZC0WwGx_lbKSaLPzfyhYRSLQH_jblvV3f7NlBV5io5AvMg/viewform?usp=sf_link" target="_blank">register</a> today!* Review key dates for our competition <a href="{% url "aichallenge/timeline" %}" target="_blank">here.</a></h3>
      <hr class="hr-red mb-3"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h4 class="aifc-pages-header">What does it look like for an ambassador to lead the program?</h4>
      <p>Program sites are different throughout the world. Generally, we seek locations that deliver programs outside of school to underserved families. Also, your location should have 1-5 passionate ambassadors who are ready to lead.</p>
      <p>Technovation Families provides 20 hours of curriculum that ambassadors can access to support participants to develop AI prototypes. We know that's a big commitment so we're here to help!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class="aifc-pages-panel">
        <div class="row">
          <div class="col-md-2">
            <i class="aifc-pages-icons icon-home"></i>
          </div>
          <div class="col-md-10 mb-3">
            <h4 class="aifc-pages-header">Club</h4>
          </div>
        </div>
        <p><strong>1-15 participants</strong> at your locations.</p>
        <p>You (and maybe other ambassadors at your site) are ready to spend <strong>~35 hours</strong> learning about and leading this program throughout the season.</p>
        <p>This is a great option for ambassadors who would like to pilot the program, have a STEM group, or have a single site they’d like to lead the program at.</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="aifc-pages-panel">
        <div class="row">
          <div class="col-md-2">
            <i class="aifc-pages-icons icon-tree"></i>
          </div>
          <div class="col-md-10 mb-3">
            <h4 class="aifc-pages-header">Chapters</h4>
          </div>
        </div>
        <p>You have multiple locations ready to participate and experience leading family programs.</p>
        <p>You have a network of volunteers ready to learn about AI and lead this program.</p>
        <p>This is a great option for <strong>multi-site organizations</strong> who want to bring a family-focused program to their organization.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 mb-5">
      <hr class="hr-red"/>
      <h4 class="aifc-pages-header">What’s stopping you from joining us today?</h4>
      <p>We are here to support you! Complete <a href="https://docs.google.com/forms/d/e/1FAIpQLSd4ZC0WwGx_lbKSaLPzfyhYRSLQH_jblvV3f7NlBV5io5AvMg/viewform?usp=sf_link" target="_blank">this form</a> to register as an ambassador.*</p>
      <p>If you need funding to participate, mini grant application forms will be sent to ambassadors who have reserved their spot prior to July 1st, 2020. We are committed to supporting our ambassadors to bring AI learning to their communities!</p>
      <p><em>*If you’d like to sign up via the link, a Google account is required. If you do not have access to a Google account, you can email us at <a href="mailto:curiosity@technovation.org">curiosity@technovation.org</a> and our team will support you throughout the sign up process.</em></p>
    </div>
  </div>
</div>
{% endblock %}
