{% extends "email_base.html" %}
{% block content %}

<p>
Way to go, {{ profile.first_name | default:profile.user.username }}! You submitted your first Curiosity Machine project. 
</p>
<p>
Our science and engineer mentors are checking out your awesome design now! Check back tomorrow to see their feedback and make sure to keep working on your project in the meantime!
</p>
<p>
While you’re waiting, why not explore a new design challenge? <br />
<a href="{{ site_url }}{% url 'challenges:challenges' %}">Keep inventing here</a>
</p>
{% endblock %}