{% extends "email_base.html" %}
{% block content %}

<p>
Congratulations! Your child’s project has been published to the <a href="{{ site_url }}{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=student.user.username stage=stage %}">Inspiration gallery</a>  for other Curiosity Machine users to see. 
</p>
<p>
What will your child build next?
</p>

<a href="{{ site_url }}{% url 'challenges:challenges' %}">Click here to explore more design challenges!</a>
{% endblock %}