{% extends "profiles/profile_form.html" %}
{% load bootstrap4 %}
{% load pick_action %}

{% block js %}
  {{ form.media }}
{% endblock %}

{% block action %}
  {% pick_action form edit="educators:edit_profile" create="educators:create_profile" %}
{% endblock %}

{% block fields %}
  <div class="text-xs-center">
    {% block avatar %}{{ block.super }}{% endblock %}
    {% form_group form.image_url field_class="btn btn-primary" %}
  </div>
  {% form_group form.first_name %}
  {% form_group form.last_name %}
  {% email_form_group form.email email=email %}
  {% form_group form.city %}
  {% form_group form.organization %}
{% endblock %}
