{% extends "email_base.html" %}
{% block content %}

<p>
Hi {{profile.user.username}},
</p>

<p>
Congratulations on completing Task {{task.order}}! You now have feedback on your response and are approved for this step of the training. Please continue to the next training task so that you can join the Curiosity Machine community and start mentoring students!
</p>

<a href="{{ site_url }}{{ task.get_absolute_url }}"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">See Your Task Feedback!</button></a>

<p>
Best regards,
Curiosity Machine Team
</p>
{% endblock %}