{% extends "email_base.html" %}
{% block content %}

<p>
Welcome to Curiosity Machine, {{ profile.user.username }}!
</p>

<p>
We’re excited to help you bring hands-on engineering design challenges to your students.
</p>

<p>
With your educator account, you can:
</p>
<ul>
  <li>Access units + supporting materials for using Curiosity Machine at your school</li>
  <li>Create groups of students and keep up with their photo, video, and text submissions</li>
  <li>Connect with mentors to get feedback and support for your students’ design challenges</li>
</ul>

<p>
Get started by creating your first group and inviting students!
</p>

<a href="{{ site_url }}{% url "profiles:home" %}"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">
  Create a Group
</button></a>

{% endblock %}