{% extends "email_base.html" %}
{% block content %}

<p>
Hi {{ profile.first_name | default:profile.user.username }}!
</p>

<p>
Thank you for joining the Curiosity Machine mentor community! In order to prepare you to give feedback to students on the learning platform, we ask you to complete a short training course. You can complete the 4 tasks at your own pace, however, we do ask that you finish the full training within a week.
</p>

<p>
Get started by introducing yourself to the community in <a href="{{ site_url }}/training/2/1/">Task #1</a>! We will give you comments as you progress through each task and approve your account once you finish the training. At the last stage you will be able to choose a specific Curiosity Course to participate in as an online mentor.
</p>

<p>
Thank you for helping support the next generation of scientist and engineers!
</p>

<a href="{{ site_url }}/training/2"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">Start the Mentor Training!</button></a>

<p>
Best regards, <br />
Curiosity Machine Team
</p>
{% endblock %}