{% extends "email_base.html" %}
{% block content %}
<p>
Welcome to Curiosity Machine,  {{ profile.first_name | default:profile.user.username }}!
</p>

<p>
With your new account, you can:

<ul>
  <li>Explore design challenges and build your own solutions</li>
  <li>Share pictures and videos of your designs with the Curiosity Machine community</li>
  <li>Work with real science &amp; engineering mentors as you invent</li>
</ul>
</p>

<a href="{{ site_url }}{% url 'challenges:challenges' %}"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">Click here to start creating!</button></a>
{% endblock %}