{% extends "email_base.html" %}
{% block content %}
<p>
Give your child permission to imagine, invent, and engineer!
</p>

<p>
Your child has requested the user name <strong>{{ profile.user.username }}</strong> on Curiosity Machine, where s/he will be able to explore design challenges, build projects with easy-to-find materials, and get feedback from real scientists and engineers.
</p>

<p>
<a href="{{ site_url }}{% url 'profiles:consent_form' token=token %}"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 2px; padding: 3px; font-size: 13pt; width:90px; min-height:10px;">Click Here</button></a> to complete the parental consent form and activate your child’s account.
</p>

<p>
You may also <a href="https://s3.amazonaws.com/curiositymachine/statics/parental-consent-and-privacy-policy.pdf">print the consent form</a>, sign it, and email it to curiosity@iridescentlearning.org.
</p>

<p>
We'll let you know when your child’s account is activated, and you can start inventing together!
</p>

{% endblock %}