{% extends "email_base.html" %}
{% block content %}
<p>
Give your child permission to imagine, invent, and engineer! 
</p>

<p>
Your child has requested the user name {{ student.user.username }} on Curiosity Machine, where s/he will be able to explore design challenges, build projects with easy-to-find materials, and get feedback from real scientists and engineers. 
</p>

<p>
To activate your child’s account, complete the parental <a href="https://s3.amazonaws.com/curiositymachine/statics/parental-consent-and-privacy-policy.pdf" >consent form</a>, and email it to curiosity@iridescentlearning.org. 
</p>

<p>
We’ll let you know when your child’s account is activated, and you can start inventing together!
</p>

{% endblock %}