{% load staticfiles %}
<div class="card text-xs-right free-challenges geo-background">
  <div class="card-block text-xs-center">
    All Curiosity Machine users have access to these design challenges, so you can build them right now!
  </div>
  <img src="{% static 'images/challenges/explore-bot.svg' %}">
  <div class="card-footer text-xs-center">
    <small>To access our library of 100+ design challenges, <a href="{% url 'about-membership' %}">learn more about memberships</a>.</small>
  </div>
</div>
