<div id="inspired_by_boeing_header">
  <div class="row">
    <div class="col-md-4">
      100
    </div>
    <div class="col-md-8">
      <p>
        Giving students the chance to dream, design and build something better for the next century.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Presented by Boeing
    </div>
    <div class="col-md-8">
      <p>
        With Above and Beyond, Iridescent's Curiosity Machine, PBS LearningMedia, Teaching Channel.
        <a href="#">Learn more &raquo;</a>
      </p>
    </div>
  </div>
</div>
