<div id="{{id}}_container" class="pickwidget form-inline">
  <button type="button" id="{{id}}" data-toggle="filepicker" {{attrs}} aria-label="Select files">
    {% if button_text %}
      {{button_text|safe}}
    {% else %}
      <span class="glyphicon glyphicon-camera" aria-hidden-"true"></span> Choose
    {% endif %}
  </button>
  <input
    type="text"
    readonly
    id="{{id}}_filename"
    name="{{name}}_filename"
    class="pickwidget-filename form-control"
    value="{{value.2|default:""}}"
    placeholder="No file selected"
  />
  <input type="hidden" name="{{name}}_url" id="{{id}}_url" value="{{value.0}}"/>
  <input type="hidden" name="{{name}}_mimetype" id="{{id}}_mimetype" value="{{value.1}}"/>
</div>
