<ul class="action-list-tsl">
  <li><button class="btn btn-lg" data-toggle="modal" data-target="#video_form-{{target_id}}">
    <span class="glyphicon glyphicon-facetime-video" title="Post Video"></span>
    <span class="sr-only">Video</span>
    </button>
  </li>
  <li><button class="text_comment_link btn btn-lg" data-toggle="modal" data-target="#text_form-{{target_id}}">
    <span class="glyphicon glyphicon-pencil" title="Post Text"></span>
    <span class="sr-only">Text</span>
    </button>
  </li>
</ul>