{% extends "base.html" %}
{% load resolve %}

{% block title %}TSL{% endblock %}

{% block content %}
<h1>Curiosity Course Reflection</h1>

<ul class="questions-tsl">
  {% for form in forms %}
  {% resolve questions forloop.counter0 as question %}
    <li>
      <div>
    	{{ question.question_text }}
    	</div> 
    	{{ form.question_id }}
      <div class="answer-options">
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-bubble">
              <div class="panel-body">
                <h3>How would you like to answer the question?</h3>
                {% include "_answer_action_list.html" with target_id=question.id %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

{% url 'tsl:course_reflection' as course_reflection_url %}
{% for form in forms %}
  {% resolve questions forloop.counter0 as question %}
  {% include "_answer_form.html" with form=form format="video" url=course_reflection_url target_id=question.id %}
  {% include "_answer_form.html" with form=form format="picture" url=course_reflection_url target_id=question.id %}
  {% include "_answer_form.html" with form=form format="text" url=course_reflection_url target_id=question.id %}
{% endfor %}
{% endblock %}
