{% extends "email_base.html" %}
{% block content %}

<p>
Hi {{ profile.first_name | default:profile.user.username }}!
</p>

<p>
Congratulations on completing the mentor training! We’re extremely excited to have you join!
</p>

<p>
Please check that you signed up for a specific <a href=href="{{ site_url }}/training/4/4">Curiosity Course</a> to mentor and that the weekly dates are listed on your personal calendar. Mentors should be available to claim 2 projects per week from the Curiosity Course they selected and give feedback on each within 24 hours of submission.
</p>

<p>
In order to recognize your amazing support as mentors, we’ll be making shout-outs on the website, giving out Iridescent t-shirts, and sending hand-written thank you notes from Curiosity Course students. If you have any questions at any time, please reach out!
</p>

<p>
Thank you again for helping inspire the next generation of scientist and engineers!
</p>

<p>
Best regards,<br />
Curiosity Machine Team
</p>
{% endblock %}