{% extends "email_base.html" %}
{% block content %}

<p>
Hi {{ profile.first_name | default:profile.user.username }}!
</p>
<p>
Congratulations on completing the mentor training! We’re extremely excited to have you join the community and I know our students are looking forward to receiving feedback from you on their design challenges!
 In order for us to best keep in touch and share information, photos, and updates from our Curiousity Machine programs, please take a moment to follow us on our social media pages. 
</p>

<p>
<a href="https://www.facebook.com/curiositymachine">Facebook page</a> - <a href="https://www.facebook.com/curiositymachine">https://www.facebook.com/curiositymachine</a>
<a href="https://twitter.com/curious_machine">Twitter page</a> - <a href="https://twitter.com/curious_machine">https://twitter.com/curious_machine</a>
</p>

<p>
We will also be notifying you via email as new programs start and student submissions come in. Make sure to check back regularly though to keep in touch with your students as they continue to build more and more design challenges. 
</p>

<p>
We’ll be recognizing our top mentors every month, sending hand-written thank you notes from students, Iridescent t-shirts and individual shoutouts on our website to thank you for your amazing support!
</p>

<p>
Best regards,
Curiosity Machine Team
</p>
{% endblock %}