<footer class="temp-footer">
  <div class="footer-panel">
    <div class="container">
      <div class="row">
        <div class="col-12 text-md-left text-center my-3">
          <h1 class="contact-title mb-3">Contact Us</h1>
          <p>To learn more about our programs and research, how we work with partners, or to create a partnership
            tailored to fit your organization's needs.</p>
        </div>

        <div class="col-12 text-md-left text-center my-3">
          <h2 class="mb-3">Newsletter</h2>
          <form
            action="//iridescentlearning.us4.list-manage.com/subscribe/post?u=b10254bbb5db780d1af913317&amp;id=5c4692fa5b"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div class="row">
              <div class="col-md-4 text-md-left text-center mb-3">
                <label class="sr-only" for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL"
                  placeholder="youremail@email.com" required>
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_b10254bbb5db780d1af913317_5c4692fa5b" tabindex="-1" value="">
                </div>
              </div>
              <div class="col-md-2 text-md-left text-center mb-3">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="btn btn-orange">
              </div>
            </div>
          </form>
        </div>

        <div class="social-icon-container col-12 col-md-5 text-md-left text-center my-3">
          <a href=" https://instagram.com/technovationglobal" class="a-borderless"><i
              class="icon-instagram social-icons"></i></a>
          <a href="https://twitter.com/technovation" class="a-borderless"><i class="icon-twitter social-icons"></i></a>
          <a href="https://facebook.com/technovationglobal" class="a-borderless"><i
              class="icon-facebook social-icons"></i></a>
          <a href="https://youtube.com/user/thecuriositymachine" class="a-borderless"><i
              class="icon-youtube social-icons"></i></a>
        </div>

        <div class="more-info-container col-12 col-md-7 text-md-left text-center my-3">
          <div class="row flex">
            <div class="col-lg-3 col-xs-4">
              <a href="https://iridescentsupport.zendesk.com/hc/en-us/categories/115000091368-Curiosity-Machine"
                class="a-borderless darkblue-type">FAQ</a>
            </div>
            <div class="col-lg-3 col-xs-4">
              <a href="https://www.technovation.org/contact-us/" class="a-borderless darkblue-type">Contact</a>
            </div>
            <div class="col-lg-3 col-xs-4">
              <a href="https://www.technovation.org/terms-of-use/" class="a-borderless darkblue-type">Terms of Use</a>
            </div>
            <div class="col-lg-3 col-xs-4">
              <a href="https://www.technovation.org/news-events/" class="a-borderless darkblue-type">Press</a>
            </div>
            <div class="col-lg-3 col-xs-4">
              <a href="https://www.technovation.org/privacy-policy/" class="a-borderless darkblue-type">Privacy
                Policy</a>
            </div>
            <div class="col-lg-3 col-xs-4">
              <a href="https://www.technovation.org/donate-today/" class="a-borderless darkblue-type">Donate</a>
            </div>
          </div>
        </div>

        <div class="col-12 text-center my-3">
          <h6>
            &copy; {% now "Y" %} <a href=" http://technovation.org/" class="a-borderless">Technovation</a>. All rights
            reserved.
            Technovation Families (formerly Curiosity Machine) is a program of
            <a href="http://technovation.org/" class="a-borderless">Technovation</a>, a 501c3 nonprofit organization in
            the United States.
          </h6>
        </div>

      </div>
    </div>
  </div>
</footer>