{% load staticfiles %}
<footer>
  <div class="newsletter-panel">
    <div class="newsletter-panel-content">
      <div class="grid-container">
        <div class="grid-100">
          <h1>
            <a href="https://twitter.com/Curious_Machine" class="action-img"><i class="icon-twitter social-icons"></i></a>
            <a href="https://www.facebook.com/curiositymachine" class="action-img"><i class="icon-facebook social-icons"></i></a>
          </h1>
          <h4>Newsletter</h4>
          <p>Stay up to date with Curiosity Machine. We'll never spam you or share your email.</p>
          <div class="grid-40 push-30 tablet-grid-60 tablet-push-20 mobile-grid-80 mobile-push-10">
            <input type="text" spellcheck="false" placeholder="youremail@email.com" required />
          </div>
          <span class="clear"></span>
          <a href="#" class="btn-green uppercase newsletter-subscribe">subscribe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container company-info">
    <div class="grid-100 tablet-grid-100">
      <div class="grid-50 tablet-grid-100 company-logos">
        <a href="http://iridescentlearning.org/" class="action-img"><img src="{% static 'images/curiosity-machine-iridescent-logo.png'%}"></a>
      </div>
      <div class="grid-50 tablet-grid-100 company-text">
        <p>Powered by <a href="http://iridescentlearning.org/">Iridescent</a>, a 501c3 nonprofit organization.<br/>
        &copy; Iridescent 2015<br/>
        View our <a href="/privacy">privacy policy</a>.</p>
      </div>
    </div>
  </div>
</footer>