 <h2><strong>IRIDESCENT PRIVACY POLICY</strong></h2>

<p> Iridescent Learning is committed to protecting your privacy online. To further this commitment, we have
adopted a Privacy Policy to guide how we collect, store, and use information obtained from customers
who visit Curiositymachine.org. Part I of this Privacy Policy specifically pertains to information that may
be collected when individuals who are ages 13 and older visit Curiositymachine.org. Part II specifically
pertains to information that may be collected when children who are under age 13 visit Curiositymachine.
org. The remainder, Parts III through IX, pertain to all Curiositymachine.org users. </p>


<h3><strong>I. Information We Collect From Individuals 13 Years Old and Older</strong></h3>


<h3>A. What Information Does Curiositymachine.org Collect from You?</h3>

<h4>1. Personally Identifiable Information</h4>

<p>To enhance your experience on Curiositymachine.org, we collect personally identifiable information that
you provide to us. Although you can visit many pages on our website without providing any personally
identifiable information, you must provide certain information to take advantage of particular features,
such as sharing your inventions, receiving feedback from our engineers, receiving badges, and participating
in project competitions.</p>

<p>Curiositymachine.org collects personally identifiable information that includes, but is not limited to: <br>
Name<br>
Address<br>
E-Mail Address<br>
Telephone Number<br>
Date of Birth<br>
Gender<br>
Parents’ Names and E-Mail Addresses (for minors ages 13 through 17)<br>
</p>

<p>We collect this personally identifiable information from you when you register on Curiositymachine.
org or request products or services that Curiositymachine.org offers. We also collect this information to
provide you with information about science and engineering programs that might interest you. You may
be asked to provide personally identifiable information if you participate in any sweepstakes, contests,
or surveys, or if you post or access any content on message boards, chat rooms, or blogs at Curiositymachine.
org.</p>

<h4>2. Non-Personally Identifiable Information</h4>

<p>Curiositymachine.org also collects non-personally identifiable information automatically through the use
of electronic tools such as “cookies”. Cookies help provide a customized web experience by enabling us
to identify web users who visit our website. You may choose not to provide such information by adjusting
your Internet browser security settings to refuse cookies. Refusing cookies, however, may limit your
ability to access certain pages available on Curiositymachine.org and may prevent you from enjoying the
features on our website enabled by cookies.</p>

<h3>B. What Do We Do with Information We Collect from You?</h3>

<p>We may use your contact information, including your e-mail address, to communicate with you regarding
products, features, and services available through Curiosity Machine or about products, features, and
services that are offered by our affiliates and business partners. We may also use your contact information to send e-mail newsletters on other topics we think you might find of interest. Personally identifiable
information may also be shared with marketing, advertising, or research companies.</p>

<p>Personally identifiable information that Curiositymachine.org collects may also be used for other purposes,
including, but not limited to, website administration and troubleshooting. Third-party service providers
who provide technical support for the operation of our website and assist us in providing products
and services that you have requested may access personally identifiable information for these purposes.</p>

<p>Curiositymachine.org does not allow other parties to independently collect personally identifiable information
about users’ online activities over time and across different websites.</p>

<p>Curiosity Machine may also share personally identifiable information under the following circumstances:
(1) when we believe in good faith that the law requires it (and/or if compelled to do so by law enforcement
or government agencies, or by other legal action); (2) when we deem it appropriate or necessary to
provide such information to law enforcement authorities; (3) in connection with payments you may owe
to us; (4) in the course of a sale to or merger with another business; or (5) in the event of a bankruptcy,
in which case the information about the website’s subscribers would be among the assets shared with or
transferred to another business.</p>

<h3>C. How Can You Control the Information We Collect About You?</h3>

<p>You can always choose not to submit your personally identifiable information to Curiosity Machine, but if
you do not submit personal information, you may not be able to access many of the features, products,
programs, and services that we offer.</p>

<p>If you do not wish to receive e-mail messages from curiositymachine.org about features, products, programs,
or services that may be of interest, you can unsubscribe at any time. We will include an opt-out
web link or reply e-mail address in each e-mail message. After unsubscribing, you will be removed from
our e-mail database. Please allow up to 10 business days to process your request. After unsubscribing,
you may still receive e-mail messages about the status of your account, to resolve technical issues, or to
confirm a new subscription.</p>

<p>If you wish to make changes to any personally identifiable information you have provided to us, or if you
have any questions about what we do with your personally identifiable information, please contact us by
sending an e-mail to Curiosity@iridescentlearning.org.</p>

<p><strong>Mail:</strong><br>
Iridescent Learning <br>
532 W. 22nd Street <br>
Los Angeles, CA 90007 <br>
</p>

<p><strong>Email:</strong><br>
Curiosity@IridescentLearning.org <br>
with subject line: My personally identifiable information <br>
</p>

<p><strong>Fax (from within North America):</strong><br>
(888) 519-0108 <br>
with cover sheet referencing: My personally identifiable information<br>
</p>

<h3><strong>II. Information We Collect From Children Under 13</strong></h3>

<p>Curiositymachine.org limits the collection of personally identifiable information from children to only that
which is reasonably necessary to obtain parental consent or to participate in a Curiositymachine.org program
or activity after we have obtained parental consent. Curiositymachine.org is prohibited from conditioning
a child’s participation in an activity at Curiositymachine.org on the disclosure of more personally
identifiable information than is reasonably necessary to participate in such activity. Children under 13
years old are not allowed to subscribe or create an account without a parent or guardian’s consent.</p>

<h3>A. Parental Consent</h3>

<p>We require a parent or guardian to consent before a child under the age of 13 can use any Curiositymachine.org products or services or participate in any Curiositymachine.org programs or activities.</h3>

<p>Parents can provide consent in person, online, or by fax or postal mail for their children to provide personally
identifiable information to us. The parental consent enables children under 13 to access Curiositymachine.
org products or services or participate in Curiositymachine.org programs or activities. The
parental consent form may be downloaded from the Curiositymachine.org. Upon receipt of the parental
consent form, Curiositymachine.org will send you an e-mail to confirm that your child’s account has been
activated.</p>

<p>
To provide consent by fax or postal mail, parents should fill out the parental consent form, sign it and
send it to Iridescent Learning at:
</p>

<p><strong>Mail:</strong><br>
Iridescent Learning <br>
532 W. 22nd Street <br>
Los Angeles, CA 90007 <br>
</p>

<p><strong>Email:</strong><br>
Curiosity@IridescentLearning.org <br>
with subject line: Parental Consent <br>
</p>

<p><strong>Fax (from within North America):</strong><br>
(888) 519-0108 <br>
with cover sheet referencing: Parental Consent <br>
</p>

<p>If you have any questions about parental consent or any other aspect of our privacy policy, you can call
Iridescent
Learning at 213-746-4453.</p>

<p>Iridescent Learning is the operator of Curiositymachine.org. The above address, telephone number, fax
number, and e-mail address comprise the contact information for the operators of this website.</p>

<h3>B. What Information Do We Collect from Children Under 13?</h3>

<h4>1. Personally Identifiable Information</h4>
<p>During the registration process, we collect the following personally identifiable information from children:<br>
Name <br>
Address <br>
E-Mail Address <br>
Telephone Number <br>
Date of Birth <br>
Gender <br>
Parents’ Names and E-Mail Addresses <br>
</p>

<h4>2. Non-Personally Identifiable Information</h4>

<p>Curiositymachine.org also collects non-personally identifiable information automatically through the use
of electronic tools such as “cookies”. Cookies help provide a customized web experience by enabling us
to identify web users who visit our website. You may choose not to provide such information by adjusting
your Internet browser security settings to refuse cookies. Refusing cookies, however, may limit your
ability to access certain pages available on Curiositymachine.org and may prevent you from enjoying the
features on our website enabled by cookies. We may merge non-personally identifiable information with
personally identifiable information that we collect from children under 13. Such merged information is
treated as personally identifiable information.</p>

<h3>C. What Do We Do with Information We Collect from Children Under 13?</h3>

<p>We may use the personally identifiable information that we collect from a child under the age of 13 to determine
whether he or she is eligible to use our website, obtain consent from his or her parent, provide
an interactive online experience, send newsletters and provide content that we believe that the child may
be interested in or would benefit from, and fulfill requests for products or services.</p>

<p>We may disclose personally identifiable and/or non-personally identifiable (i.e., aggregate, anonymous)
information obtained from children to affiliates, as well as third party vendors, who may generate content,
provide customer service or billing services, process parental consents, and/or monitor our blog. We
may also disclose personally identifiable information to licensees of Iridescent Learning programs, which
may include schools or corporations that sponsor STEM programs in conjunction with Curiositymachine.
org and IridescentLearning.org. Additionally, we may share personally identifiable information obtained
from children with third parties for marketing, advertising, or research purposes.</p>

<p>Curiositymachine.org does not allow other parties to independently collect personally identifiable information
about users’ online activities over time and across different websites.</p>

<p>Users, including children, will be able post pictures and other personally identifiable information on our
website. The website will be monitored by Curiositymachine.org personnel, and any inappropriate content,
pictures, or information will be deleted. Any adults who may interact with children through our website
are selected by Curiositymachine. org and have agreed not to further disclose personally identifiable
information that they receive from a child. Other third parties that have access to personally identifiable
information have agreed to maintain the confidentiality, security, and integrity of personally identifiable
information. Please note that sharing information is part of the nature of Curiositymachine.org and is
integral to the operation of the website. You have a right to prohibit the transfer of your child’s personally
identifiable information to third parties. If you choose to exercise this option, however, your child may
not be able to enjoy many of the features that are available at Curiositymachine.org.</p>

<p>Curiositymachine.org may also share personally identifiable information under the following circumiridescentlearning.
org curiositymachine.org
stances: (1) when we believe in good faith that the law requires it (and/or if compelled to do so by law
enforcement or government agencies, or by other legal action); (2) when we deem it appropriate or necessary
to provide such information to law enforcement authorities; (3) in connection with payments you
may owe to us; (4) in the course of a sale to or merger or substantively similar transaction with another
business; or (5) in the event of a bankruptcy, in which case the information about the website’s subscribers
would be among the assets shared with or transferred to another business.</p>

<h3>D. How Can You Control Information We Collect about Children Under 13?</h3>

<p>You can review your child’s personal information at any time. You can also have your child’s personal
information deleted and refuse to permit further collection of such information by us. You may revoke
consent to collect your child’s personally identifiable information at any time. If you wish to review,
modify, or delete any information concerning your child, please e-mail your concerns to Curiosity@IridescentLearning.
org. Upon receipt of the e-mail, we will verify the parent or guardian’s authorized signature
and process your request. Please allow three business days for the request to be processed.</p>

<h3><strong>III. Right to Be Forgotten</strong></h3>

<p>Pursuant to California Business and Professional Code § 22581, children under 18 may remove or request
removal of information that they posted on Curiositymachine.org (in other words, information that
they previously made available to users besides themselves). If you are under 18 and you wish to remove
or request removal of your posted information, access your profile page and click on Delete to remove
each of your challenges’ submissions. Please note that following this procedure does not ensure complete
or comprehensive removal of the content or information posted on Curiositymachine.org.</p>

<h3><strong>IV. Third Party Links</strong></h3>

<p>This Privacy Policy applies solely to the collection of personally identifiable information at Curiositymachine.
org. To the extent that Curiositymachine.org permits you to link to other content or advertisements
that may be housed at other websites, separate privacy policies may apply to those linked websites. Your
access to and use of such linked websites through links provided on this website are not governed by this
Privacy Policy but, instead, are governed by the privacy policies of those linked websites.</p>

<p>Curiositymachine.org is not responsible for your access to and use of such linked websites, which includes
any use of the personally identifiable information that you may provide to, or any personally identifiable
information that may be collected about you, at such linked websites.</p>

<h3><strong>V. Security</strong></h3>

<p>To prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of personally
identifiable information, we have put in place physical, electronic, and administrative procedures to
protect the personally identifiable information we collect online. No data transmission over the Internet,
however, can be guaranteed to be completely secure. While we strive to protect your personally identifiable
information, Curiositymachine.org cannot completely ensure or warrant the security of personally
identifiable information you provide to us.</p>

<h3><strong>VI. “Do Not Track” Signals</strong></h3>

<p>“Do Not Track” is a feature of some internet browsers, including Firefox, Internet Explorer, and Safari,
that allows users to control the tracking of their browsing activities across websites. Because Curiositymachine.
org does not track users’ browsing activities on other websites, it does not respond to browsers’
“Do Not Track” signals.</p>

<h3><strong>VII. Changes to Privacy Policy</strong></h3>

<p>Curiositymachine.org reserves the right to change this policy at any time. Please check this page periodically
for changes. We will post a notice on this website if and when this policy changes to alert visitors
that a new policy is in place. Information collected prior to the time any change is posted will be used according
to the privacy policy and applicable laws in place at the time the information was collected. Your
continued use of Curiositymachine.org indicates your acceptance of the updated Privacy Policy.</p>

<h3><strong>VIII. Your California Privacy Rights</strong></h3>

<p>If you reside in California, you may request information about our disclosures of your personally identifiable
information to third parties for their direct marketing purposes. Such requests must be submitted to
us by e-mail at Curiosity@IridescentLearning.org.</p>

<p>Within thirty days of receiving such a request, we will provide a list of the categories of personally identifiable
information disclosed to third-parties for direct marketing purposes during the immediately preceding
calendar year, along with the names and addresses of these third parties. This request may be made
no more than once per calendar year. We reserve the right not to respond to requests submitted other
than as specified in the above paragraph.</p>

<h3><strong>IX. Effective Date</strong></h3>

<p>This Privacy Policy is effective as of June 30 2014.<br>
Copyright © 2014, Iridescent Learning.
</p>