<div class="navbar" role="navigation">
  <ul class="nav-menu">
    {% if request.user.is_authenticated %}
      <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
      <li><a href="{% url 'profiles:home' %}">Home</a></li>
      <li><a href="{% url 'profiles:profile_edit' %}">Edit My Profile</a></li>
    {% else %}
      <li><button class="btn-link" data-toggle="modal"  data-target="#login-modal">Login</a></li>
      <li><button class="btn-link" data-toggle="modal" data-target="#join-modal">Join</button></li>
    {% endif %}
    <li>&nbsp;</li>
    <li><a href="{% url 'challenges:challenges' %}">Challenges</a></li>
    <li>&nbsp;</li>
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
  </ul>
</div>