{% load staticfiles %}
{% load future %} {# suppresses deprecation warnings for firstof tag #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700,500,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>
<body>

    <div id="main-container">

    <div class="navbar" role="navigation">
    {% if request.user.is_authenticated %}
        <div>
          <a href="{% url 'logout' %}?next={% firstof request.path '/' %}">Logout</a>
          <a class="user-name" href="{{ request.user.profile.get_absolute_url }}">{{request.user.username}}</a>
        </div>
    {% else %}
        <a href="{% url 'login' %}?next={% firstof request.path '/' %}">Login</a>
        <a href="{% url 'profiles:join' %}">Join</a>
    {% endif %}
    </div>

    <div class="container main-content">

    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
        
        {% block content %}

        {% endblock %}
        </div><!-- /container -->
    </div>
</body>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cm-global.js' %}"></script>

</html>