{% load staticfiles %}
{% load future %} {# suppresses deprecation warnings for firstof tag #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-196x196.png' %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-160x160.png' %}" sizes="160x160">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="{% static 'images/favicons/mstile-144x144.png' %}">

    <link href='//fonts.googleapis.com/css?family=Raleway:400,700,500,300,600' rel='stylesheet' type='text/css'>
    {% block css %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" href="{% static 'js/libs/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'js/libs/owl-carousel/owl.theme.css' %}">
    <link rel="stylesheet" href="//releases.flowplayer.org/5.4.6/skin/minimalist.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <script type="text/javascript" src="{% static 'js/libs/modernizr.custom.05723.js' %}"></script>
</head>
<body>

    {% include '_user_nav.html' %}
    
    <div id="message-bar">
      <div class="layout-inner text"></div>
    </div>

    <div id="main-container">

    <div class="container-fluid main-content">
    <a href="/" class="logo">Curiosity Machine</a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% if request.user.is_authenticated %}
      <div class="user-avatar">
        {% if request.user.profile.get_unread_comment_count %} <span title="{{request.user.profile.get_unread_comment_count}} unread messages" class="unread">{{request.user.profile.get_unread_comment_count}}</span>{% endif %}

        <div class="top-avatar">
            <div class="image-wrapper">
                <a href="{% url 'profiles:home' %}">{% include "_avatar.html" with profile=request.user.profile width=80 height=80 crop='fit' %}</a>
                <span>{{request.user.username}}</span>
            </div>
        </div>
      </div>
    {% endif %}
        
        {% block content %}

        {% endblock %}
        </div><!-- /container -->
    </div>

    <!-- global modals -->
    {% include "join_modal.html" with form=join_form %}
    {% include "registration/_login_modal.html" with form=login_form %}
    <!-- /global modals -->
</body>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/csrf.js' %}"></script>
<script src="//releases.flowplayer.org/5.4.6/flowplayer.min.js"></script>
<script type="text/javascript" src="{% static 'js/libs/owl-carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery.lettering.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery.textillate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cm-global.js' %}"></script>
<script src="//api.filepicker.io/v1/filepicker.js"></script>
{% block js %}{% endblock %}

{% if messages %}
{% for message in messages %}
  {% if message.tags and message.tags == 'error' %}
    <script type="text/javascript">
      $(function() {
        CM.userError('{{ message }}');
      });
    </script>
  {% else %}
    <script type="text/javascript">
      $(function() {
        CM.userSuccess('{{ message }}');
      });
    </script>
  {% endif %}
{% endfor %}
{% endif %}

</html>