{% if video.encoded_videos.exists %}
<div class="videocontent">
    <video
      class="cm-mejs-player" 
      preload="none"
      controls
      data-mejsoptions='{}'
      width="100%"
      height="100%"
      poster='{% if poster_url %}{{ poster_url }}{% else %}{{video.thumbnails.first.url}}{% endif %}' 
      id="video-element-{{video.id}}">            
      {% for v in video.encoded_videos.all %}
        <source src="{{v.url}}" type="{{v.mime_type}}" />
      {% endfor %}
    </video>
</div>
{% else %}
  <p><i>Video is uploading and will be displayed shortly</i></p>
{% endif %}
