{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300|Raleway+Dots' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body id="parent-about-page">

		<header>
			<div class="grid-container">
				<div class="grid-100">
					<nav class="main">
						<a href="#" class="action-img"><img src="{% static 'images/logo-small.png' %}" class="logo"></a>
						<a href="#" class="action-img"><img src="{% static 'images/favicon.png' %}" class="small-screen-logo"></a>
						<ul>
							<a href="#"><li class="user-name">
							savannahmillion
							<img class="user-avatar" src="https://pbs.twimg.com/profile_images/568819794955104256/MIws6My3_400x400.png">
							</li></a>
							<a href="#"><li>Challenges</li></a>
							<a href="#"><li>About Us</li></a>
							<a href="#"><li>Mentor Community</li></a>
						</ul>
					</nav>
					<a id="mobile-menu-link">menu</a>
				</div>
			</div>
		</header>

		<nav class="small-screen-navigation">
			<div class="grid-container">
				<div class="grid-100">
					<ul>
						<a href="#">
							<li class="user-name" id="account-link">savannahmillion
							<img class="user-avatar" src="https://pbs.twimg.com/profile_images/568819794955104256/MIws6My3_400x400.png">
							</li>
						</a>
						<a href="#"><li id="challenges-link">Challenges</li></a>
						<a href="#"><li id="about-link">About Us</li></a>
						<a href="#"><li id="mentor-link">Mentor Community</li></a>
					</ul>
				</div>
			</div>
		</nav>

		<div class="about-top-panel">
			<div class="about-top-panel-content">
				<div class="grid-container">
					<div class="grid-100">
						<h1>Parents</h1>
						<nav id="static-page-nav">
							<ul>
								<a href="/new_homepage/about"><li id="about-page-nav">About</li></a>
								<a href="/new_homepage/about-parent"><li id="parent-about-page-nav">Parents</li></a>
								<a href="/new_homepage/about-educator"><li id="educator-about-page-nav">Educators</li></a>
								<a href="/new_homepage/about-mentor"><li id="mentor-about-page-nav">Mentors</li></a>
								<a href="/new_homepage/about-faq"><li id="faq-about-page-nav">FAQ</li></a>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="grid-container">

			<div class="about-page-content grid-60 push-20 tablet-grid-80 tablet-push-10">
				<h2>Build something great together.</h2>
				<h3>Connect to your child’s account and learn how to build together.</h3>
				<p>Use Curiosity Machine to make building (engineering?) a regular family activity. Work alongside your child to build solutions to engineering design challenges together.</p>
				<p>We believe that creativity is like any other skill &mdash; anyone can develop it, it just takes practice! Use Curiosity Machine to practice by building hands-on engineering design challenges with your child. Team up to learn how things work and why they work as you build.</p>
				<p>It’s free to sign up for Curiosity Machine, and people all over are using it to build interesting things &mdash; and to connect with other families!</p>
				<ul>
					<li>Organize a Curiosity Machine playdate with friends and build a challenge in an afternoon</li>
					<li>Form a Curiosity Machine Club and build together regularly, or build longer challenges over multiple weeks.</li>
					<li>Bring Curiosity Machine to your child’s school. </li>
				</ul>

				<hr class="hr-red"/>

				<h2>Get Started</h2>
				<h3>Sign up for a parent account to follow along as your child plans, builds, and tests their designs. </h3>
				<p>With a parent account you can:</p>
				<ul>
					<li>See every step of every design your child builds, and watch your child’s portfolio of completed projects grow.</li>
					<li>See all interactions your child has with their mentor(s).</li>
					<li>Access parent trainings online</li>
				</ul>
				<p>It is free to sign up for a parent account on Curiosity Machine. If your school has signed up for a membership, we will also offer expanded parent trainings to interested parents. <a href="#">Learn more.</a></p>

				<a href="#" class="btn">Create a Parent Account</a>

				<hr class="hr-red"/>

			</div>
		</div>

		<footer>
			<div class="newsletter-panel">
				<div class="newsletter-panel-content">
					<div class="grid-container">
						<div class="grid-100">
							<h1>
								<a href="#" class="action-img"><i class="icon-twitter social-icons"></i></a>
								<a href="#" class="action-img"><i class="icon-facebook social-icons"></i></a>
							</h1>
							<h4>Newsletter</h4>
							<p>Stay up to date with Curiosity Machine. We'll never spam you or share your email.</p>
							<div class="grid-40 push-30 tablet-grid-60 tablet-push-20 mobile-grid-80 mobile-push-10">
								<input type="text" spellcheck="false" placeholder="youremail@email.com" required />
							</div>
							<span class="clear"></span>
							<a href="#" class="btn-green uppercase newsletter-subscribe">subscribe</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-container company-info">
				<div class="grid-100 tablet-grid-100">
					<div class="grid-50 tablet-grid-100 company-logos">
						<img src="https://www.curiositymachine.org/static/images/logo-small2.png" width="160">
						<br>
						<a href="http://iridescentlearning.org/" class="action-img"><img src="{% static 'images/home/iridescent-logo-210px.png'%}" width="120"></a>
					</div>
					<div class="grid-50 tablet-grid-100 company-text">
						<p>Powered by <a href="#">Iridescent</a>, a 501c3 nonprofit organization.</p>
						<p>&copy; Iridescent Learning 2015</p>
						<p>View our <a href="#">privacy policy</a>.</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.small-screen-navigation').on('click', function(event) {
					var clickTarget = event.target;

					if ($('.small-screen-navigation')[0]===clickTarget) {
						toggleNav();
					}
				});
		    	$('#mobile-menu-link').on('click', function(event) {
			    	toggleNav();
			  	});

		    	var toggleNav=function() {
		    		$('.small-screen-navigation').toggleClass('nav-reveal');
				    $('#about-link').toggleClass('nav-item-1');
				    $('#challenges-link').toggleClass('nav-item-2');
				    $('#account-link').toggleClass('nav-item-3');
		    	}
			});
		</script>

	<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="{% static 'js/cm-global.js' %}"></script>
	</body>

</html>