{% load staticfiles %}
{% load resized %}
<!DOCTYPE html>
<html>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300|Raleway+Dots' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body id="challenges-page">

		<header>
			<div class="grid-container">
				<div class="grid-100">
					<nav class="main">
						<a href="/new_homepage/index" class="action-img"><img src="{% static 'images/logo-small.png' %}" class="logo"></a>
						<a href="/new_homepage/index" class="action-img"><img src="{% static 'images/favicon.png' %}" class="small-screen-logo"></a>
						<ul>
							<a href="#" id="main-nav-profile">
								<li class="user-name">
								savannahmillion
									<img class="user-avatar" src="https://pbs.twimg.com/profile_images/568819794955104256/MIws6My3_400x400.png">
									<i class="icon-down-arrow profile-navigation"></i>
									<!-- 
									<ul class="profile-dropdown">
										<div>
											<a href="#"><li>My Dashboard</li></a>
											<a href="#"><li>Edit Profile</li></a>
											<a href="#"><li>Log Out</li></a>
										</div>
									</ul>
									 -->
								</li>
							</a>
							<a href="/new_homepage/challenges"  id="main-nav-challenges"><li>Challenges</li></a>
							<a href="/new_homepage/about"  id="main-nav-about"><li>About Us</li></a>
							<a href="#" id="main-nav-mentors"><li>Mentor Community</li></a>
						</ul>
					</nav>
					<a id="mobile-menu-link">menu</a>
				</div>
			</div>
		</header>

		<nav class="small-screen-navigation">
			<div class="grid-container">
				<div class="grid-100">
					<ul>
						<a href="#">
							<li class="user-name" id="account-link">savannahmillion
							<img class="user-avatar" src="https://pbs.twimg.com/profile_images/568819794955104256/MIws6My3_400x400.png">
							</li>
						</a>
						<a href="/new_homepage/challenges"><li id="challenges-link">Challenges</li></a>
						<a href="/new_homepage/about"><li id="about-link">About Us</li></a>
						<a href="#"><li id="mentor-link">Mentor Community</li></a>
					</ul>
				</div>
			</div>
		</nav>

		<div class="challenges-top-panel">
			<div class="grid-container">
				<div class="grid-100">
					<h1>Challenges</h1>
				</div>
			</div>
		</div>

		<div class="grid-container">
			<div class="grid-100">
				<div class="challenges-navigation grid-25 tablet-grid-33 mobile-grid-100">
					<ul class="design-challenge-highlights">
						<a href="#"><li>inspired by boeing</li></a>
					</ul>
					<ul class="design-challenge-list">
						<a href="#" id="selected-challenge"><li>All Challenges</li></a>
						<a href="#"><li><i class="icon-aerospace"></i> Aerospace</li></a>
						<a href="#"><li><i class="icon-art"></i> Art of Science</li></a>
						<a href="#"><li><i class="icon-biomechanics"></i> Biomechanics</li></a>
						<a href="#"><li><i class="icon-biomimicry"></i> Biomimicry</li></a>
						<a href="#"><li><i class="icon-civil"></i> Civil Engineering</li></a>
						<a href="#"><li><i class="icon-robotics"></i> Robotics</li></a>
						<a href="#"><li><i class="icon-compsci"></i> Computer Science</li></a>
						<a href="#"><li><i class="icon-electrical"></i> Electrical Engineering</li></a>
						<a href="#"><li><i class="icon-food"></i> Food Science</li></a>
						<a href="#"><li><i class="icon-satellite"></i> Sattelite Systems</li></a>
						<a href="#"><li><i class="icon-materials"></i> Materials Science</li></a>
						<a href="#"><li><i class="icon-neuroscience"></i> Neuroscience</li></a>
						<a href="#"><li><i class="icon-ocean"></i> Ocean Engineering</li></a>
					</ul>
				</div>
				<div class="grid-75 tablet-grid-66 mobile-grid-100">
					<h4 class="all-challenges-header">All Challenges</h4>
					<div class="all-challenges-cards grid-100">
						<ul class="pagination">
							<a href="#"><li class="pagination-arrow"><i class="icon-left-arrow"></i></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li id="current-page-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-arrow"><i class="icon-right-arrow"></i></li></a>
						</ul>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Deploy a Satellite</p>
								</div>
								<img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/89f81ad512dec16432e887ba70600a38' width=300 height=170 crop='fill' %}">
								<div class="challenge-card-description">
									<small>Build a satellite with a 6-inch square body that can deploy its own solar winds and antennae, and can fit inside a 9-inch diameter tube.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Engineer an Octopus Suction Pad</p>
								</div>
								<img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/fab7ca8c8a6a98cb7997daa03fabc7df' width=300 height=170 crop='fill' %}">
								<div class="challenge-card-description">
									<small>Build an octopus inspired suction pad that can grab an object and hold it tightly in the air.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Build a Mighty Machine</p>
								</div>
								<div class="challenge-card-img">
									<img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/e6289fa34e844574cf7e9ae8d2ac7cbc' width=300 height=170 crop='fill' %}">
									<div class="inspired-by">inspired by <i class="icon-up-arrow"></i></div>
								</div>
								<div class="challenge-card-description">
									<small>Build a mighty machine that jumpes up, sideways, or flips over. The whole structure should jump up into the air.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Build a Mighty Machine</p>
								</div>
								<img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/bd5fd24220cd9aed27540f9bacd0dfcf' width=300 height=170 crop='fill' %}">
								<div class="challenge-card-description">
									<small>Build a mighty machine that jumpes up, sideways, or flips over. The whole structure should jump up into the air.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Build a Mighty Machine</p>
								</div>
								<img src="http://res.cloudinary.com/hvyvoop1d/image/fetch/c_fit,h_200,w_300/http://s3.amazonaws.com/curiositymachine/images/e6289fa34e844574cf7e9ae8d2ac7cbc">
								<div class="challenge-card-description">
									<small>Build a mighty machine that jumpes up, sideways, or flips over. The whole structure should jump up into the air.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Build a Mighty Machine</p>
								</div>
								<img src="http://res.cloudinary.com/hvyvoop1d/image/fetch/c_fit,h_200,w_300/http://s3.amazonaws.com/curiositymachine/images/e6289fa34e844574cf7e9ae8d2ac7cbc">
								<div class="challenge-card-description">
									<small>Build a mighty machine that jumpes up, sideways, or flips over. The whole structure should jump up into the air.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Build a Mighty Machine</p>
								</div>
								<img src="http://res.cloudinary.com/hvyvoop1d/image/fetch/c_fit,h_200,w_300/http://s3.amazonaws.com/curiositymachine/images/e6289fa34e844574cf7e9ae8d2ac7cbc">
								<div class="challenge-card-description">
									<small>Build a mighty machine that jumpes up, sideways, or flips over. The whole structure should jump up into the air.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Build a Mighty Machine</p>
								</div>
								<img src="http://res.cloudinary.com/hvyvoop1d/image/fetch/c_fit,h_200,w_300/http://s3.amazonaws.com/curiositymachine/images/e6289fa34e844574cf7e9ae8d2ac7cbc">
								<div class="challenge-card-description">
									<small>Build a mighty machine that jumpes up, sideways, or flips over. The whole structure should jump up into the air.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="challenge-card-title">
									<p>Build a Mighty Machine</p>
								</div>
								<img src="http://res.cloudinary.com/hvyvoop1d/image/fetch/c_fit,h_200,w_300/http://s3.amazonaws.com/curiositymachine/images/04c4c99ab5913ff9a67f0f4fa3312b60">
								<div class="challenge-card-description">
									<small>Build a mighty machine that jumpes up, sideways, or flips over. The whole structure should jump up into the air.</small>
								</div>
							</div>
						</div>
						<ul class="pagination">
							<a href="#"><li class="pagination-arrow"><i class="icon-left-arrow"></i></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li id="current-page-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-arrow"><i class="icon-right-arrow"></i></li></a>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="newsletter-panel">
				<div class="newsletter-panel-content">
					<div class="grid-container">
						<div class="grid-100">
							<h1>
								<a href="#" class="action-img"><i class="icon-twitter social-icons"></i></a>
								<a href="#" class="action-img"><i class="icon-facebook social-icons"></i></a>
							</h1>
							<h4>Newsletter</h4>
							<p>Stay up to date with Curiosity Machine. We'll never spam you or share your email.</p>
							<div class="grid-40 push-30 tablet-grid-60 tablet-push-20 mobile-grid-80 mobile-push-10">
								<input type="text" spellcheck="false" placeholder="youremail@email.com" required />
							</div>
							<span class="clear"></span>
							<a href="#" class="btn-green uppercase newsletter-subscribe">subscribe</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-container company-info">
				<div class="grid-100 tablet-grid-100">
					<div class="grid-50 tablet-grid-100 company-logos">
						<img src="https://www.curiositymachine.org/static/images/logo-small2.png" width="160">
						<br>
						<a href="http://iridescentlearning.org/" class="action-img"><img src="{% static 'images/home/iridescent-logo-210px.png'%}" width="120"></a>
					</div>
					<div class="grid-50 tablet-grid-100 company-text">
						<p>Powered by <a href="#">Iridescent</a>, a 501c3 nonprofit organization.</p>
						<p>&copy; Iridescent Learning 2015</p>
						<p>View our <a href="#">privacy policy</a>.</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.small-screen-navigation').on('click', function(event) {
					var clickTarget = event.target;

					if ($('.small-screen-navigation')[0]===clickTarget) {
						toggleNav();
					}
				});
		    	$('#mobile-menu-link').on('click', function(event) {
			    	toggleNav();
			  	});

		    	var toggleNav=function() {
		    		$('.small-screen-navigation').toggleClass('nav-reveal');
				    $('#about-link').toggleClass('nav-item-1');
				    $('#challenges-link').toggleClass('nav-item-2');
				    $('#account-link').toggleClass('nav-item-3');
		    	}
			});
		</script>
	</body>

</html>