{% load staticfiles %}
{% load resized %}
<!DOCTYPE html>
<html>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300|Raleway+Dots' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body id="challenges-page">

	<header>
		<nav class="large-screen-navigation">
			<div class="grid-container">
				<div class="grid-100">			
					<a href="/new_homepage/index" class="action-img"><img src="{% static 'images/logo-small.png' %}" class="logo"></a>
					<a href="/new_homepage/index" class="action-img"><img src="{% static 'images/favicon.png' %}" class="small-screen-logo"></a>
					<ul id="main-navigation">
						<li><a href="#" id="main-nav-mentors">Mentor Community</a></li>
						<li><a href="/new_homepage/about" id="main-nav-about">About Us</a></li>
						<li><a href="/new_homepage/challenges" id="main-nav-challenges">Challenges</a></li>
						<li id="profile-navigation-link">
							<a href="#" id="main-nav-profile">
								<span class="profile-name">profilename</span>
								<img  class="avatar" src="https://pbs.twimg.com/profile_images/568819794955104256/MIws6My3_bigger.png">
								<i class="icon-down-arrow"></i>
							</a>
					  		<ul class="profile-navigation">
								<div>
									<a href="#"><li>My Dashboard</li></a>
									<a href="#"><li>Edit Profile</li></a>
									<a href="#"><li>Log Out</li></a>
								</div>
					  		</ul>
						</li>
					</ul>
					<a id="mobile-menu-link">menu</a>
				
				</div>
			</div>
		</nav>
		<nav class="small-screen-navigation">
			<div class="grid-container">
				<div class="grid-100">
					<ul id="main-small-screen-navigation">
						<li id="small-screen-profile-li">
							<img class="user-avatar" src="https://pbs.twimg.com/profile_images/568819794955104256/MIws6My3_400x400.png">
							<p>profilename</p>
							<ul id="small-screen-profile-navigation">
								<a href="#"><li>My Dashboard</li></a>
								<a href="#"><li>Edit Profile</li></a>
								<a href="#"><li>Log Out</li></a>
							</ul>
						</li>
						<li><a href="/new_homepage/challenges" id="small-nav-challenges">Challenges</a></li>
						<li><a href="#" id="small-nav-mentors">Mentor Community</a></li>
						<li><a href="/new_homepage/about" id="small-nav-about">About Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

		<div class="challenges-top-panel">
			<div class="grid-container">
				<div class="grid-100">
					<h1>Challenges</h1>
				</div>
			</div>
		</div>

		<div class="grid-container">
			<div class="grid-100">
				<div class="challenges-navigation grid-25 tablet-grid-33 mobile-grid-100">
					<!-- 
					<ul class="design-challenge-highlights">
						<a href="#">
						<a href="#" id="boeing-filter"><li>Inspired by <i class="icon-boeing-logo"></i></li></a>
					</ul>
 					-->
					<ul class="design-challenge-list">
						<a href="#"><li>All Challenges</li></a>
						<a href="#" id="selected-challenge"><li>Inspired by <i class="icon-boeing-logo"></i></li></a>
						<a href="#"><li><i class="icon-aerospace"></i> Aerospace</li></a>
						<a href="#"><li><i class="icon-art"></i> Art of Science</li></a>
						<a href="#"><li><i class="icon-biomechanics"></i> Biomechanics</li></a>
						<a href="#"><li><i class="icon-biomimicry"></i> Biomimicry</li></a>
						<a href="#"><li><i class="icon-civil"></i> Civil Engineering</li></a>
						<a href="#"><li><i class="icon-robotics"></i> Robotics</li></a>
						<a href="#"><li><i class="icon-compsci"></i> Computer Science</li></a>
						<a href="#"><li><i class="icon-electrical"></i> Electrical Engineering</li></a>
						<a href="#"><li><i class="icon-food"></i> Food Science</li></a>
						<a href="#"><li><i class="icon-satellite"></i> Sattelite Systems</li></a>
						<a href="#"><li><i class="icon-materials"></i> Materials Science</li></a>
						<a href="#"><li><i class="icon-neuroscience"></i> Neuroscience</li></a>
						<a href="#"><li><i class="icon-ocean"></i> Ocean Engineering</li></a>
					</ul>
				</div>
				<div class="grid-75 tablet-grid-66 mobile-grid-100">
					<h4 class="all-challenges-header">Inspired by Boeing Challenges</h4>
					<div class="all-challenges-cards grid-100">
						<img src="{% static 'images/home/boeing-100-horizontal.png' %}">
						<ul class="pagination">
							<a href="#"><li class="pagination-arrow"><i class="icon-left-arrow"></i></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li id="current-page-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-arrow"><i class="icon-right-arrow"></i></li></a>
						</ul>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="favorites-filter">
									<input type="checkbox" name="favorite" id="favorite-star">
									<label for="favorite-star" id="favorite-star"><i class="icon-star-full"></i></label>
								</div>
								<a href="#">
									<div class="challenge-card-title">
										<p>Deploy a Satellite</p>
									</div>
								</a>
								<a href="#" class="action-img"><img src="{% static 'images/challenges/deploy-a-satellite.jpg' width=300 height=170 crop='fill' %}"></a>
								<div class="inspired-by" id="inspired-by-boeing">Inspired by <i class="icon-boeing-logo"></i></div>
								<div class="challenge-card-description">
									<small>Build a satellite with a 6-inch square body that can deploy its own solar winds and antennae, and can fit inside a 9-inch diameter tube.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="favorites-filter">
									<input type="checkbox" name="favorite" id="favorite-star">
									<label for="favorite-star" id="favorite-star"><i class="icon-star-full"></i></label>
								</div>
								<a href="#">
									<div class="challenge-card-title">
										<p>Build a Plane Powered by Stored Energy</p>
									</div>
								</a>
								<a href="#" class="action-img"><img src="{% static 'images/challenges/build-a-plane.jpg' width=300 height=170 crop='fill' %}"></a>
								<div class="inspired-by" id="inspired-by-boeing">Inspired by <i class="icon-boeing-logo"></i></div>
								<div class="challenge-card-description">
									<small>Build a plane that is powered by stored energy from a rubber band, ballon or spring. The plane should be able to fly straight for 5 feet.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="favorites-filter">
									<input type="checkbox" name="favorite" id="favorite-star">
									<label for="favorite-star" id="favorite-star"><i class="icon-star-full"></i></label>
								</div>
								<a href="#">
									<div class="challenge-card-title">
										<p>Make a Wave Machine</p>
									</div>
								</a>
								<a href="#" class="action-img"><img src="{% static 'images/challenges/make-a-wave-machine.png' width=300 height=170 crop='fill' %}"></a>
								<div class="inspired-by" id="inspired-by-boeing">Inspired by <i class="icon-boeing-logo"></i></div>
								<div class="challenge-card-description">
									<small>Make a device that will carry a wave and record the wave's movement.</small>
								</div>
							</div>
						</div>
						<div class="grid-33 tablet-grid-50 mobile-grid-100">
							<div class="challenge-card">
								<div class="favorites-filter">
									<input type="checkbox" name="favorite" id="favorite-star">
									<label for="favorite-star" id="favorite-star"><i class="icon-star-full"></i></label>
								</div>
								<a href="#">
									<div class="challenge-card-title">
										<p>Engineer an Air-Powered Spinning Machine</p>
									</div>
								</a>
								<a href="#" class="action-img"><img src="{% static 'images/challenges/air-powered-spinning.png' width=300 height=170 crop='fill' %}"></a>
								<div class="inspired-by" id="inspired-by-boeing">Inspired by <i class="icon-boeing-logo"></i></div>
								<div class="challenge-card-description">
									<small>Build an air-powered spinning machine inspired by Boeing CST -100.</small>
								</div>
							</div>
						</div>
						
						<span class="clear"></span>

						<ul class="pagination">
							<a href="#"><li class="pagination-arrow"><i class="icon-left-arrow"></i></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li id="current-page-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-dot"></li></a>
							<a href="#"><li class="pagination-arrow"><i class="icon-right-arrow"></i></li></a>
						</ul>

						<!-- <img src="{% static 'images/home/boeing-100-horizontal.png' %}"> -->
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="newsletter-panel">
				<div class="newsletter-panel-content">
					<div class="grid-container">
						<div class="grid-100">
							<h1>
								<a href="#" class="action-img"><i class="icon-twitter social-icons"></i></a>
								<a href="#" class="action-img"><i class="icon-facebook social-icons"></i></a>
							</h1>
							<h4>Newsletter</h4>
							<p>Stay up to date with Curiosity Machine. We'll never spam you or share your email.</p>
							<div class="grid-40 push-30 tablet-grid-60 tablet-push-20 mobile-grid-80 mobile-push-10">
								<input type="text" spellcheck="false" placeholder="youremail@email.com" required />
							</div>
							<span class="clear"></span>
							<a href="#" class="btn-green uppercase newsletter-subscribe">subscribe</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-container company-info">
				<div class="grid-100 tablet-grid-100">
					<div class="grid-50 tablet-grid-100 company-logos">
						<img src="{% static 'images/logo-small2.png'%}" width="160">
						<br>
						<a href="http://iridescentlearning.org/" class="action-img"><img src="{% static 'images/home/iridescent-logo-210px.png'%}" width="120"></a>
					</div>
					<div class="grid-50 tablet-grid-100 company-text">
						<p>Powered by <a href="#">Iridescent</a>, a 501c3 nonprofit organization.<br/>
						&copy; Iridescent Learning 2015<br/>
						View our <a href="#">privacy policy</a>.</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.small-screen-navigation').on('click', function(event) {
					var clickTarget = event.target;

					if ($('.small-screen-navigation')[0]===clickTarget) {
						toggleNav();
					}
				});
		    	$('#mobile-menu-link').on('click', function(event) {
			    	toggleNav();
			  	});

		    	var toggleNav=function() {
		    		$('.small-screen-navigation').toggleClass('nav-reveal');
				    $('#about-link').toggleClass('nav-item-1');
				    $('#challenges-link').toggleClass('nav-item-2');
				    $('#account-link').toggleClass('nav-item-3');
		    	}
			});
		</script>
	</body>

</html>