{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300|Raleway+Dots' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>

		<header>
			<div class="grid-container">
				<div class="grid-100">
					<nav class="main">
						<a href="#" class="action-img"><img src="https://www.curiositymachine.org/static/images/logo-small2.png" class="logo"></a>
						<ul>
							<a href="#"><li class="user-name">
							savannahmillion
							<img class="user-avatar" src="https://pbs.twimg.com/profile_images/568819794955104256/MIws6My3_400x400.png">
							</li></a>
							<a href="#"><li>challenges</li></a>
							<a href="#"><li>about us</li></a>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<div class="home-top-panel">
			<div class="grid-container">
				<div class="grid-60 push-20 center home-top-panel-content">
					<h1>Join the next generation of problem solvers.</h1>
					<h4>Curiosity Machine is a <a href="#">STEM education</a> tool that teaches children to think like engineers.</h4>
					<a href="#" class="btn uppercase">Sign up</a>
					<a href="#" class="btn-secondary uppercase">Watch Video</a>
				</div>
			</div>
		</div>

		<div class="grid-container">

			<div class="home-what-panel grid-100">
				<div class="grid-40 tablet-grid-40 mobile-grid-60 mobile-grid-push-20">
					<img src="{% static 'images/office-supplies.png' %}">
				</div>
				<div class="what-panel-description grid-60 tablet-grid-60 mobile-grid-100">
					<h2>Build real-world science and engineering challenges using common household objects, with the help of professional scientists and engineers.</h2>
					<p>We'll bring the inspiration, you bring the straws, paperclips, cardboard, scotch tape...</p>
				</div>
				<div class="what-panel-feature grid-30 tablet-grid-30 mobile-grid-50">
					<h4>Design Challenges</h4>
					<p>A collection of 65+ open-ended design challenges developed by scientists and engineers.</p>
				</div>
				<div class="what-panel-feature grid-30 tablet-grid-30 mobile-grid-50">
					<h4>Videos</h4>
					<p>High quality videos featuring scientists and engineers explaining cutting-edge and exciting inventions.</p>
				</div>
				<div class="what-panel-feature grid-30 tablet-grid-30 mobile-grid-50">
					<h4>Guide</h4>
					<p>An Engineering Design Process Guide that supports children to plan, build, test, redesign, and reflect.</p>
				</div>
				<div class="what-panel-feature grid-30 tablet-grid-30 mobile-grid-50">
					<h4>Mentor Feedback</h4>
					<p>A growing group of STEM professionals to provide feedback on children's inventions.</p>
				</div>
				<span class="clear"></span>
				<hr/>
			</div>

			<div class="home-who-panel grid-100">
				<h2 class="center">We're here for students and their supporters.</h2>
				<div class="grid-33">
					<img src="#">
					<h4>Parents</h4>
					<p>Learn how to nurture problem-solving skills using principles of design and the practices of engineering.</p>
					<a href="#" class="btn-purple uppercase">Learn More</a>
				</div>
				<div class="grid-33">
					<img src="#">
					<h4>Educators</h4>
					<p>Hit NGSS standards and learn how to apply project based learning with your group of students.</p>
					<a href="#" class="btn-purple uppercase">Learn More</a>
				</div>
				<div class="grid-33">
					<img src="#">
					<h4>STEM Professionals</h4>
					<p>Inspire with your ideas and share your strategies by supporting children through the design process.</p>
					<a href="#" class="btn-purple uppercase">Learn More</a>
				</div>
				<span class="clear"></span>
				<hr/>
			</div>

			<div class="home-member-panel grid-100">
				<div class="grid-60">
					<h2>Our members are part of a growing community of trained professionals.</h2>
					<h4>Schools, organizations and playgroups</h4>
					<p>We connect each child with a trained engineering mentor who will support them to analyze and reflect, at each step of the building process.</p>
					<a href="#" class="btn-orange uppercase">Become a member</a>
					<h4>Science and Engineering companies</h4>
					<p>Share your innovation with the public and support our community members.</p>
					<a href="#" class="btn-orange uppercase">get involved</a>
				</div>
				<div class="grid-40">
					<img src="#">
				</div>
			</div>

		</div>

		<div class="sign-up-panel">
			<h2>Create an account and take on your first design challenge!</h1>
			<a href="#" class="btn-secondary">Create an account</a>
		</div>	


		<footer>
			<div class="grid-container">
				<div class="grid-40">
					<img src="https://www.curiositymachine.org/static/images/logo-small2.png">
					<br>
					<p>Powered by <a href="#">Iridescent</a>, a 501c3 nonprofit organization.</p>
					<p>&copy; Iridescent Learning 2015</p>
				</div>
				<div class="grid-60">
					<h4>Newsletter</h4>
					<p>Stay up to date with Curiosity Machine. We'll never spam you or share your email.</p>
				</div>
				<div class="grid-40">
					<input type="text" spellcheck="false" placeholder="youremail@email.com" required />
				</div>
				<div class="grid-10 push-10">
					<a href="#" class="btn">sign up</a>
				</div>
			</div>
		</footer>

		<script src="js/jquery.min.js"></script>
		<script src="js/application.js"></script>
	</body>

</html>