header {
  width: 100%;
  height: 60px;
  background-color: $primary-light;
  //box-shadow: 0px 2px 4px 2px rgba(51, 51, 51, .5);
  z-index: 100;
  position: relative;
  transition: all 500ms ease;
}

nav.main ul {
  list-style-type: none;
  float: right;
  height: 60px;
  overflow: hidden;
  margin: 0px;
  a {
    color: $medium-gray;
    text-decoration: none;
    height: 100%;
    float: right;
    padding: 0px 15px 0px 15px;
    border-bottom: 0px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    &:hover {
      color: $primary-light;
    }
    &:before {
      content: "";
      position: absolute;
      background: $dark-gray;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      -webkit-transition: top 0.16s ease-in;
    }
    &:hover:before {
      top: 0;
    }
    li {
      margin-top: 18px;
      img {
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 18px;
        float: right;
        @include vertical-align;
      }
    }
  }
}

#main-nav-profile:before {
  background: $primary-purple;
}

#main-nav-challenges:before {
  background: $primary-blue;
}

#main-nav-about:before {
  background: $primary-red;
}

#main-nav-mentors:before {
  background: $primary-orange;
}

.profile-navigation {
  float: right;
  position: absolute;
  right: 0;
  top: 25px;
  margin-right: 10px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  //border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(148, 148, 148, .5);
}

.logo {
  margin-top: 5px;
  height: 50px;
}

.small-screen-navigation {
  width: 100%;
  height: 100vh;
  //height: 290px;
  position: absolute;
  top: -100vh;
  z-index: 99;
  //top: -290px;
  transition: all .75s ease-in-out;
  background-color: rgba(51,51,51,.9);
  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    li {
      width: 100%;
      height: 70px;
      margin-bottom: 20px;
      border-radius: $base-border-radius;
      padding-left: 20px;
      padding-top: 23px;
    }
    a {
      color: white;
      text-transform: uppercase;
      font-weight: $heavy-font-weight;
    }
  }
}

.nav-reveal {
  top: 60px;
}

// .nav-item-1 { top: 300px; }
// .nav-item-2 { top: 60px; }
// .nav-item-3 { top: 120px; }

#account-link {
  background-color: $primary-purple;
  border: 2px solid shade($primary-purple, 20%);
  &:hover {
    background-color: tint($primary-purple, 20%);
  }
  // position: absolute;
  // top: 10px;
  transition: background-color 200ms ease-in;
}

#challenges-link {
  background-color: $primary-blue;
  border: 2px solid shade($primary-blue, 20%);
  &:hover {
    background-color: tint($primary-blue, 20%);
  }
  // position: absolute;
  // top: 10px;
  transition: background-color 200ms ease-in;
}

#about-link {
  background-color: $primary-red;
  border: 2px solid shade($primary-red, 20%);
  &:hover {
    background-color: tint($primary-red, 20%);
  }
  // position: absolute;
  // top: 10px;
  transition: background-color 200ms ease-in;
}

#mobile-menu-link {
  display: none;
}

.small-screen-logo {
  display: none;
}

.small-screen-navigation {
  display: none;
}

@media screen and (max-width: $media-tablet-max) {
  header {
    height: 60px;
  }
  #mobile-menu-link {
    text-transform: uppercase;
    font-weight: $heavy-font-weight;
    display: inline-block;
    float: right;
    border: 0px;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
  }
  nav.main ul {
    display: none;
  }
  .logo {
    display: none;
  }
  .small-screen-navigation {
    display: block;
  }
  .small-screen-logo {
    display: inline;
    float: left;
    height: 60px;
  }
  .user-avatar {
    position: absolute;
    top: 25px;
    left: 40px;
  }
  .user-name {
    padding-left: 90px !important;
  }
}