{% extends "email_base.html" %}:w
{% block content %}

<p>
Hi {{ profile.first_name | default:profile.user.username }}!
</p>

<p>
We noticed you’ve been gone for a while! Children building at home and in Curiosity Courses are hoping to connect with inspiring mentors like you.
</p>
<p>
Have a moment now? Visit <a href="{{ site_url }}">Curiosity Machine</a> to check out their amazing designs and start giving them the support they need to succeed!
</p>

<a href="{{ site_url }}{% url 'profiles:home' %}"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">Get Started!</button></a>
<p>

<img src="https://plus.google.com/photos/113239471880384339965/albums/5920180568395018257/5922478665046640082?banner=pwa&pid=5922478665046640082&oid=113239471880384339965">

Best regards, <br>
Curiosity Machine Team
</p>
{% endblock %}
