{% extends "base.html" %}
{% load resized %}
{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2 class="text-center">Build your first design challenge!</h2>

    <p>Check out one of the challenges you previewed at the museum below.</p>

    <div class="row text-center challenges-list" style="margin-top:50px">
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{% url 'challenges:preview_inspiration' challenge_id=84 %}">Deploy a Satellite</a>
            </h3>
          </div>
          <div class="image-container">
            <a href="{% url 'challenges:preview_inspiration' challenge_id=84 %}">
              <img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/21e694de34c837c2e967fd31d3ba0319' width=400 height=220 crop='scale' %}">
            </a>
          </div>
          <div class="panel-body">
            <div class="description">
              Build a satellite with a 6-inch square body that can deploy its own solar wings and antennae, and can fit inside a 9-inch diameter tube.
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{% url 'challenges:preview_inspiration' challenge_id=58 %}">Engineer an Air-Powered Spinning Machine</a>
            </h3>
          </div>
          <div class="image-container">
            <a href="{% url 'challenges:preview_inspiration' challenge_id=58 %}">
              <img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/77d6b8f9f9865e6bb0d54abc1821bf2d' width=400 height=220 crop='scale' %}">
            </a>
          </div>
          <div class="panel-body">
            <div class="description">
              Build an air-powered spinning machine inspired by Boeing CST-100.
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{% url 'challenges:preview_inspiration' challenge_id=85 %}">Build a Lightweight Airplane Wing</a>
            </h3>
          </div>
          <div class="image-container">
            <a href="{% url 'challenges:preview_inspiration' challenge_id=85 %}">
              <img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/f21cba08fbeb1622235cb38cc8564602' width=400 height=220 crop='scale' %}">
            </a>
          </div>
          <div class="panel-body">
            <div class="description">
              Build a lightweight wing structure that is 12 inches long and can hold up a heavy load (weight) without deflecting.
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-center" style="margin-top:50px">Explore more Curiosity Machine challenges:</h3>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a class="btn btn-lg btn-block btn-primary" style="text-transform:none" href="{% url 'challenges:challenges'%}">
          Browse Design Challenges
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
