{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2 class="text-center">Build your first design challenge!</h2>

    <p>Check out one of the challenges you previewed at the museum below.</p>

    <div class="row text-center challenges-list" style="margin-top:50px">
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{% url 'challenges:challenge' 84 %}">Deploy a Satellite</a>
            </h3>
          </div>
          <div class="image-container">
            <a href="{% url 'challenges:challenge' 84 %}">
              <img src='http://res.cloudinary.com/hvyvoop1d/image/fetch/c_fit,h_200,w_300/http://s3.amazonaws.com/curiositymachine/images/bd5fd24220cd9aed27540f9bacd0dfcf'  style="height:220px">
            </a>
          </div>
          <div class="panel-body">
            <div class="description">
              Build a satellite with a 6-inch square body that can deploy its own solar wings and antennae, and can fit inside a 9-inch diameter tube.
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="{% url 'challenges:challenge' 58 %}">Engineer an Air-Powered Spinning Machine</a>
            </h3>
          </div>
          <div class="image-container">
            <a href="{% url 'challenges:challenge' 58 %}">
              <img src='http://res.cloudinary.com/hvyvoop1d/image/fetch/c_fit,h_200,w_300/http://s3.amazonaws.com/curiositymachine/images/3c22ea24b6e9e63d80ef4ef6fc1a96db'>
            </a>
          </div>
          <div class="panel-body">
            <div class="description">
              Build an air-powered spinning machine inspired by Boeing CST-100.
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-center" style="margin-top:50px">Explore more Curiosity Machine challenges:</h3>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a class="btn btn-lg btn-block btn-primary" style="text-transform:none" href="{% url 'challenges:challenges'%}">
          Browse Design Challenges
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
