{% extends "curiositymachine/layout/base.html" %}
{% block body-classes %}about-pages{% endblock %}

{% block content %}
  <div class="container-fluid text-center nav-panel pt-4 pb-2">
    <h1>Parent accounts are closing</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 my-3">
        <p>In order to better meet the needs of our users, we’re closing parent accounts, but all parents will have the option to convert their accounts to our new family accounts, student, educator or coach accounts. This change doesn’t mean that there is no longer a place for parents – you are vital to Curiosity Machine, and we are confident that you’ll find a better fit in one of our upgraded account options.</p>
        <hr class="hr"/>

        <h2>What can I do?</h2>
        <div class="text-center mb-5">
          <a class="btn btn-primary" href="{% url "profiles:profiles" %}">Choose another account type</a>
        </div>

        <p>
          If you want to keep using Curiosity Machine, you can use the button above to pick another type of account.
          Otherwise no action is needed, and your existing account will be made inactive on June 1, 2018.
        </p>

        <p>Type of accounts:</p>
          <ul>
            <li>Family account:
              <ul>
                <li>Access all of our design challenges and resources (when available) for free</li>
                <li>You and your child/children share an account</li>
                <li>Focus on our <a href="{% url "aichallenge" %}" target="_blank">AI Family Challenge</a> design challenges</li>
                <li>Have access to additional resources</li>
                <li>Have the opportunity to submit to the official competition</li>
              </ul>
            </li>
            <li>Coach account:
              <ul>
                <li>Access all of our design challenges and resources for free</li>
                <li>Access additional resources related to our <a href="{% url "aichallenge" %}" target="_blank">AI Family Challenge</a></li>
              </ul>
            </li>
            <li>Student account:
              <ul>
                <li>Access all of our design challenges for free</li>
                <li>Upload your progress to the site</li>
              </ul>
            </li>
            <li>Educator account:
              <ul>
                <li>Access all of our design challenges and resources (when available) for free</li>
              </ul>
            </li>
          </ul>
          
        <p>If you have any concerns please contact us at <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a>!</p>
      </div>
    </div>
  </div>
{% endblock %}
