{% load resized %}

<div class="card cm-fancy-card mb-3">

  <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}">
    <img class="card-img-top" src="{% resized challenge.image.url width=545 height=240 crop='fill' %}" alt="{{ challenge.name }}">
  </a>

  <div class="card-body pb-5">
    <h3 class="card-title">
      <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}">
        {{ challenge.name }}
      </a>
    </h3>

    {% if show_detail_links %}
    {% if group_selector.has_groups %}
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle"
        href="#"
        id="dropdown-{{ challenge.id }}"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        View student progress
      </a>

      <div class="dropdown-menu text-capitalize" aria-labelledby="dropdownMenuLink-{{ challenge.id }}">
        {% for group in group_selector.options %}
        <a class="dropdown-item"
          href="{% url 'educators:challenge' challenge_id=challenge.id %}?{{ group.GET.urlencode }}"
        >
          {{ group.text }}
        </a>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <a href="{% url 'educators:challenge' challenge_id=challenge.id %}">
      View all student progress &rarr;
    </a>
    {% endif %}
    {% endif %}
  </div>

  <a class="card-body-toggle"
    data-text-swap="&minus; LESS INFO"
    data-toggle="collapse"
    href="#moreInfo-{{ challenge.id }}"
    aria-expanded="false"
    aria-controls="moreInfo-{{ challenge.id }}"
  >
    &plus; MORE INFO
  </a>
  <div class="card-body pb-4 card-divider collapse" id="moreInfo-{{ challenge.id }}">
    <h4 class="card-section-title">DESCRIPTION</h4>
    <p>{{ challenge.description }}</p>

    {% if challenge.resource_set.count %}
    <h4>EDUCATOR RESOURCES</h4>
    <ul class="resources-list">
      {% for resource in challenge.resource_set.all %}
      <li>{{ resource.name }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

</div>
