{% load ifactive %}
{% load notifications_tags %}
<div class="row">
  <div class="col-md-12">
    <nav class="dashboard-tabs">
      <ul class="nav">
        <li class="nav-item {% ifactive "educators:home" "active" %}">
          <a class="nav-link" href="{% url 'educators:home' %}">
            Dashboard
          </a>
        </li>
        {% comment %} {% if membership and membership_challenges %}  {% endcomment %}
        <li class="nav-item {% ifactive "educators:challenges" "active" %}">
          <a class="nav-link" href="{% url 'educators:challenges' %}">
            Design Challenges
          </a>
        </li>
        {% comment %} {% endif %} {% endcomment %}
        {% if membership_selection.selected.listed_members %}
        <li class="nav-item {% ifactive "educators:students" "active" %}">
          <a class="nav-link" href="{% url 'educators:students' %}">
            Participants
          </a>
        </li>
        {% endif %}
        <li class="nav-item {% ifactive "educators:guides" "active" %}">
          <a class="nav-link" href="{% url 'educators:guides' %}">
            Resources
          </a>
        </li>
        {% if flags.enable_educator_feedback and user.educatorprofile.organization != null %}
        <li class="nav-item {% ifactive "educators:activity" "active" %}">
          <a class="nav-link" href="{% url 'educators:activity' %}">
            Recent Activity
            <span class="badge badge-purple">{% notifications_unread %}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
