{% load ifactive %}
{% load notifications_tags %}
<div class="row mb-3">
  <div class="col-md-12">
    <nav class="educator-dashboard-navigation">
      <ul class="nav">
        {% if membership_selection.count > 1 %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ membership_selection.selected.display_name }}
          </a>
          <div class="dropdown-menu">
            {% for membership in membership_selection.all %}
            <a class="dropdown-item" href="{{ membership_selection_base_url }}?m={{ membership.id }}">{{ membership.display_name }}</a>
            {% endfor %}
          </div>
        </li>
        {% endif %}
        <li class="nav-item {% ifactive "educators:home" "active-nav" %}">
          <a class="nav-link" href="{% url 'educators:home' %}">
            design challenges
          </a>
        </li>
        {% if membership_selection.selected.listed_members %}
        <li class="nav-item {% ifactive "educators:students" "active-nav" %}">
          <a class="nav-link" href="{% url 'educators:students' %}">
            students
          </a>
        </li>
        {% endif %}
        <li class="nav-item {% ifactive "educators:guides" "active-nav" %}">
          <a class="nav-link" href="{% url 'educators:guides' %}">
            units &amp; guides
          </a>
        </li>
        {% if flags.enable_educator_feedback %}
        <li class="nav-item {% ifactive "educators:activity" "active-nav" %}">
          <a class="nav-link" href="{% url 'educators:activity' %}">
            recent activity
            <span class="tag tag-primary">{% notifications_unread %}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
