{% extends "educators/dashboard/base.html" %}

{% block content %}
  {% include 'educators/dashboard/_navigation.html' %}
  <div class="row text-xs-center">
    {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
  </div>
  {% for day, activity in activity_by_day.items %}
  <ul class="list-group mt-2">
    <li class="list-group-item disabled">{{ day|date:"DATE_FORMAT" }}</li>
    {% for notification in activity %}
    <li class="list-group-item">
      {% if notification.verb == 'posted' %}
      <a href="{% url "educators:conversation" student_id=notification.target.owner.id challenge_id=notification.target.challenge.id %}#comment-{{notification.action_object.id}}">
        {{ notification.actor }} commented on {{ notification.target.challenge.name }}
      </a>
      {% elif notification.verb == 'completed' %}
      <a href="{% url "educators:conversation" student_id=notification.action_object.owner.id challenge_id=notification.action_object.challenge.id %}#content">
        {{ notification.actor }} {{ notification.verb }} {{ notification.action_object.challenge.name }}
      </a>
      {% endif %}
      {% if notification.unread %}<span>Unread</span>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% empty %}
  <ul class="list-group mt-2">
    <li class="list-group-item disabled">{% now "DATE_FORMAT" %}</li>
    <li class="list-group-item">No recent activity</li>
  <ul>
  {% endfor %}
  <div class="row text-xs-center">
    {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
  </div>
{% endblock %}
