{% extends "educators/dashboard/base.html" %}
{% load impact_survey %}
{% load staticfiles %}

{% block content %}
<div class="aifc-pages-page-bg">
  <div class="container pb-3">
    <h2 class="aifc-pages-subtitle mt-4">Welcome</h2>
    <hr class="m-1 w-50">
    <p>
      Welcome to Season 2! Our program is a free, hands-on AI education competition that brings families, schools, communities, and technology know-it-alls together to give everyone the chance to learn, play and create with AI.
    </p>
    <p>
      Below you will find the 10 Lessons you will use to guide students and families to develop their inventions that solve problems in their community using AI. Only a family unit can submit to the World Championship and they will need to create accounts. If you would like to connect families to your account, please email us at <a href="mailto:curiosity@technovation.org">curiosity@technovation.org</a>.
    </p>
    <p>
      You can find resources on how to get started on the
      <a href='https://iridescentlearning.org/resources-for-ai-family-challenge-mentors/' target='_blank'>Resources</a> tab.
    </p>

    <h2 class="aifc-pages-subtitle mt-4">Lessons</h2>
    <div class="row mt-3">
      {% for obj in lessons %}
      <div class="col-lg-4 col-md-6 mb-1">
        {% include 'educators/dashboard/_challenge_or_lesson_card.html'%}
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="my-4 ml-3 border aifc-pages-rounded-box p-4">
        {% impact_survey %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {% impact_survey_js %}
{% endblock %}