{% extends "curiositymachine/layout/base.html" %}
{% load impact_survey %}

{% block title %}My Dashboard{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}

{% block container %}
  <div class="educator-dashboard-header py-2 mb-1">
  {% if not "AI Challenge Coaches" in membership_selection.names %}
  <div class="ai-banner-position" >
      <div class="container"></div>
      {% url "families:conversion" as banner_url %}
      {% include 'curiositymachine/_ai_banner.html' with banner_url=banner_url %}
  </div>
  {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'educators:edit_profile' %}" class="a-borderless float-xs-right">Account Settings</a>
          <div class="dashboard-avatar">
            {% include "_avatar.html" with profile=request.user.profile width=60 height=60 crop='thumb' gravity='faces' %}
          </div>
          {% if request.user.first_name or request.user.last_name %}
          {{ request.user.first_name }} {{ request.user.last_name }}
          {% else %}
          <em>No name provided</em>
          {% endif %}
          <br>
          <span class="dashboard-inline-username">{{ request.user.username }}</span>
        </div>
      </div>
      <div class="row mt-1 hidden-sm-down">
        <div class="col-md-12">
          <strong>Email:</strong> {{ request.user.email }}
          <br>
          {% if membership_selection.memberships %}
          <strong>Memberships:</strong> {{ membership_selection.names }}
          {% endif %}
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-12">
          {% for membership in membership_selection.all %}
          {% if membership.show_expiring_notice %}
          <div class="alert alert-info" role="alert">
            <strong>{{ membership.display_name }}</strong> is expiring on {{ membership.expiration }}. <a href="mailto:curiosity@iridescentlearning.org">Contact us</a> to renew your membership.
          </div>
          {% endif %}
          {% endfor %}

          {% for membership in membership_selection.recently_expired %}
          <div class="alert alert-info" role="alert">
            <strong>{{ membership.display_name }}</strong> expired on {{ membership.expiration }}. <a href="mailto:curiosity@iridescentlearning.org">Contact us</a> to renew your membership.
          </div>
          {% endfor %}
        </div>
      </div>
      {% impact_survey %}
    </div>
  </div>
  <div class="container mb-3">
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block js %}
  {% impact_survey_js %}
{% endblock %}