{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block title %}My Dashboard{% endblock %}
{% block body-classes %}aifc-pages dashboard educator-dashboard{% endblock %}

{% block container %}

  {% if flags.enable_ai_banner and membership_selection.no_memberships %}
  {% url "educators:coach_conversion" as banner_url %}
  {% include 'curiositymachine/_ai_banner.html' with banner_url=banner_url %}
  {% endif %}

  <div class="aifc-pages-header-bg text-light py-4 mb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="aifc-pages-white-logo" src="{% static 'images/aifc/aifc-white-logo.svg' %}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if membership_selection.memberships %}
          <strong>{{ membership_selection.names }}</strong>
          {% endif %}
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          {% for membership in membership_selection.all %}
          {% if membership.show_expiring_notice %}
          <div class="alert alert-info" role="alert">
            <strong>{{ membership.display_name }}</strong> is expiring on {{ membership.expiration }}. <a href="mailto:curiosity@iridescentlearning.org">Contact us</a> to renew your membership.
          </div>
          {% endif %}
          {% endfor %}

          {% for membership in membership_selection.recently_expired %}
          <div class="alert alert-info" role="alert">
            <strong>{{ membership.display_name }}</strong> expired on {{ membership.expiration }}. <a href="mailto:curiosity@iridescentlearning.org">Contact us</a> to renew your membership.
          </div>
          {% endfor %}
        </div>
      </div>

      {% if messages %}{% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}{% endif %}

      <div class="row">
        {% include 'educators/dashboard/_navigation.html' %}
      </div>
    </div>

  </div>
</div>

  <div id="content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
