{% extends "educators/dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container py-5">

  {% if membership_selection.count > 1 %}
  <div class="dropdown">
    <a class="dropdown-toggle a-borderless base-type" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">
      {{ membership_selection.selected.display_name }}
    </a>
    <div class="dropdown-menu">
      {% for membership in membership_selection.all %}
      <a class="dropdown-item"
        href="{{ membership_selection_base_url }}?m={{ membership.id }}">{{ membership.display_name }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="row py-4">
    <div class="col-md-12">
      <h2>{{ membership.display_name }} Design Challenges</h2>
    </div>
  </div>

  {% if membership and membership_challenges %}
  <div class="row mb-3">
    {% for challenge in membership_challenges %}
    <div class="col-lg-3 col-md-6 mb-1">
      {% include 'educators/dashboard/_challenge_card.html' with challenge=challenge show_detail_links=True %}
    </div>
    {% endfor %}
  </div>

  {% else %}
  <div class="row pb-5 mb-5">
    <div class="col-md-12">
      <h3>This membership does not have any design challenges assigned.</h3>
    </div>
  </div>

  {% endif %}

</div>
{% endblock %}