<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1>Login.</h1>
</div>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
<div class="modal-body">
  {% if form.errors %}
  <p class="error">Your username and password didn't match. Please try again.</p>
  {% endif %}

  
  {% csrf_token %}
  <table>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>

  
  
</div>
<div class="modal-footer">
  <button class="btn btn-link btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
  <input type="submit" value="login" class="btn btn-primary btn-lg" />
  {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
  {% else %}
      <input type="hidden" name="next" value="/home/" />
  {% endif %}
</div>

</form>

