{% extends "base.html" %}


{% block content %}

    <h1>Login.</h1>

  <form method="post" action="{% url 'login' %}">
    
      {% include "registration/_login_form.html" %}
    
    
      <p> <input type="submit" value="login" class="btn btn-primary btn-lg" /> <small><a href="{% url "password_reset_recover" %}">Forgot your password?</a></small></p><br/><br/>
  
      {% if next %}
          <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
          <input type="hidden" name="next" value="/home/" />
      {% endif %}
  </form>

  <p>Don't have an account? Create one: </p>
  <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#join-modal">Join</button></p>

{% endblock %}

  <!-- global modals -->
  {% include "profiles/join_modal.html" %}
  {% include "profiles/student/join_modal.html" with form=join_form %}
  {% include "profiles/mentor/join_modal.html" with form=mentor_join_form %}
  {% include "profiles/educator/join_modal.html" with form=educator_join_form %}
  {% include "profiles/parent/join_modal.html" with form=parent_join_form %}
  {% include "registration/_login_modal.html" with form=login_form %}
  <!-- /global modals -->