{% load ifactive %}
{% load notifications_tags %}
<div class="row mb-5">
  <div class="col-md-12">
    <nav class="dashboard-tabs">
      <ul class="nav">
        {% for membership in memberships %}
        <li class="nav-item {% ifactive "students:membership" "active" %}">
          <a class="nav-link" href="{% url "students:membership" membership_id=membership.id%}">
            {{ membership.display_name }}
          </a>
        </li>
        {% endfor %}
        <li class="nav-item {% ifactive "students:my_challenges" "active" %}">
          <a class="nav-link" href="{% url "students:my_challenges" %}">
            My challenges
          </a>
        </li>
        <li class="nav-item {% ifactive "students:favorites" "active" %}">
          <a class="nav-link" href="{% url "students:favorites" %}">
            Favorites
          </a>
        </li>
        <li class="nav-item {% ifactive "students:activity" "active" %}">
          <a class="nav-link" href="{% url "students:activity" %}">
            recent activity
            <span class="badge badge-purple">{% notifications_unread %}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
