{% extends "students/dashboard/base.html" %}
{% load student_notifications %}

{% block content %}
  {% include 'students/dashboard/_navigation.html' %}
  <div class="row text-center">
    {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
  </div>
  {% for day, activity in activity_by_day.items %}
  <ul class="activity-list-group list-group mt-4">
    <li class="list-group-item list-group-item-dark">{{ day|date:"DATE_FORMAT" }}</li>
    {% for notification in activity %}
    <li class="list-group-item">
      {% student_notifications notification %}
    </li>
    {% endfor %}
  </ul>
  {% empty %}
  <ul class="list-group mt-2">
    <li class="list-group-item list-group-item-dark">{% now "DATE_FORMAT" %}</li>
    <li class="list-group-item">No recent activity</li>
  <ul>
  {% endfor %}
  <div class="row text-center">
    {% include "curiositymachine/_pagination_controls.html" with curr_page=page_obj %}
  </div>
{% endblock %}
