{% extends "curiositymachine/layout/base.html" %}
{% load impact_survey %}

{% block title %}My Dashboard{% endblock %}
{% block body-classes %}student-dashboard{% endblock %}

{% block container %}
  {% if flags.enable_ai_banner and not banner_membership_blacklisted %}
  <div class="ai-banner-margins">
    {% url "families:conversion" as banner_url %}
    {% include 'curiositymachine/_ai_banner.html' with banner_url=banner_url %}
  </div>
  {% endif %}
  <div class="student-dashboard-header py-2 mb-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'students:edit_profile' %}" class="a-borderless float-xs-right">Account Settings</a>
          <div class="dashboard-avatar">
            {% include "_avatar.html" with profile=request.user.profile width=60 height=60 crop='thumb' gravity='faces' %}
          </div>
          {% if request.user.first_name or request.user.last_name %}
          {{ request.user.first_name }} {{ request.user.last_name }}
          {% else %}
          <em>No name provided</em>
          {% endif %}
          <br>
          <span class="dashboard-inline-username">{{ request.user.username }}</span>
        </div>
      </div>
      <div class="row mt-1 hidden-sm-down">
        <div class="col-md-12">
          <strong>Email:</strong> {{ request.user.email }}
          <br>
          {% if memberships %}
          <strong>Memberships:</strong> {{ membership_names }}
          {% endif %}
        </div>
      </div>

      {% if messages %}{% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}{% endif %}
    </div>
  </div>
  <div class="container mb-3" id="content">
    {% if request.user.extra.should_add_email %}
    <div class="card card-action-needed my-3">
      <div class="card-header">
        Account action needed
      </div>
      <div class="card-block">
        Add an email address! If you forget your password, we'll use your email address to send you a new one.
        Update your email in <a href="{% url "students:edit_profile" %}">account settings</a>.
      </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
{% endblock %}