{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block title %}My Dashboard{% endblock %}
{% block body-classes %}dashboard student-dashboard{% endblock %}

{% block container %}

  {% if flags.enable_ai_banner and not banner_membership_blacklisted %}
  {% url "families:conversion" as banner_url %}
  {% include 'curiositymachine/_ai_banner.html' with banner_url=banner_url %}
  {% endif %}

  <div class="dashboard-aifc-header-bg text-light py-4 mb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="dashboard-white-aifc-logo" src="{% static 'images/aifc/aifc-white-logo.svg' %}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if membership_selection.memberships %}
          <strong>{{ membership_selection.names }}</strong>
          {% endif %}
        </div>
      </div>

      {% if messages %}{% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}{% endif %}
      <div class="row">
        {% include 'educators/dashboard/_navigation.html' %}
      </div>
    </div>
  </div>

  <div class="container mb-5" id="content">
    {% if request.user.extra.should_add_email %}
    <div class="card card-action-needed my-3">
      <div class="card-header">
        Account action needed
      </div>
      <div class="card-block">
        Add an email address! If you forget your password, we'll use your email address to send you a new one.
        Update your email in <a href="{% url "students:edit_profile" %}">account settings</a>.
      </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
{% endblock %}