{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}

{% block title %}My Dashboard{% endblock %}
{% block body-classes %}aifc-pages dashboard student-dashboard{% endblock %}

{% block container %}

<div class="jumbotron">
  <div class="container text-light">
    <div class="col-lg-8">
      <h1 class="mb-3">Dashboard</h1>
      {% if memberships %}
      <h2 class="mb-3">
        <strong>Memberships:</strong> {{ membership_names }}
      </h2>
      {% endif %}

      {% if messages %}{% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissable show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}{% endif %}
    </div>
    {% include 'students/dashboard/_navigation.html' %}
  </div>
</div>

<div class="container py-5">
  {% if request.user.extra.should_add_email %}
  <div class="card cm-card-orange mb-5">
    <div class="card-header font-weight-bold">
      Account Action Needed
    </div>
    <div class="card-body">
      <div class="mb-3">
        Please add an email address to your account. An email address is needed in case you forget your password.
      </div>
      <a class="btn btn-orange" href="{% url "students:edit_profile" %}">Add your email</a>
    </div>
  </div>
  {% endif %}
  {% block content %}{% endblock %}
</div>

{% endblock %}