{% if request.user.profile.is_student and not progress %}
  <form name="Start Building" action='{% url "challenges:start_building" challenge_id=challenge.id %}' method='POST'>
    {% csrf_token %}
    <input type="submit" value="Start Building" class="btn btn-secondary btn-lg" />
  </form>
{% elif request.user.profile.is_student and not progress.completed %}
  <a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id  username=request.user.username %}" class="btn btn-secondary btn-lg">Keep Building</a>
{% elif request.user.profile.is_student and progress.completed %}
  <a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id  username=request.user.username %}" class="btn btn-secondary btn-lg">View Your Project</a>
{% elif request.user.profile.is_mentor or request.user.profile.is_parent or request.user.profile.is_educator %}
  <a href="{% url 'challenges:preview_plan' challenge_id=challenge.id %}" class="btn btn-secondary btn-lg">Preview Challenge</a>
{% else %}
  <p class="light-type m-b-md">You need to sign in as a student to work on design challenges.</p>
  <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">Log In</a>
  <p class="light-type m-a-md">Or, preview the design challenge with an <a href="{% url 'profiles:join_as_educator' %}" class="a-secondary">educator</a> or <a href="{% url 'profiles:join_as_parent' %}" class="a-secondary">parent</a> account.</p>
{% endif %}
