<div class="nav-wrapper {{stage}}-selected">
  <nav class="challenge-nav primary">
    <ul>
      <li class="guide">
        <a
          data-toggle="modal"
          data-target="#guide-modal"
          href="#"
          ga-on="click"
          ga-event-category="Button"
          ga-event-action="click"
          ga-event-label="Guide button"
        >
          <span class="btn" >Guide</span>
        </a>
      </li>
      <li class="inspiration {% if stage == 'inspiration' %}selected{% endif %}">
        <a href="{% url 'challenges:inspiration_progress' challenge_id=challenge.id username=progress.student.username %}">
          <span class="btn">Inspiration</span>
        </a>
        <span class="arrows"></span>
      </li>
      <li class="plan {% if stage == 'plan' %}selected{% endif %}">
        <a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=progress.student.username stage='plan' %}">
          <span class="btn">Plan</span>
        </a>
        <span class="arrows"></span>
      </li>
      <li class="build {% if stage == 'build' %}selected{% endif %}">
        <a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=progress.student.username stage='build' %}">
          <div>
            <span class="btn">Build</span><span class="btn test">Test</span><span class="btn redesign">Redesign</span>
          </div>
        </a>
        <span class="arrows"></span>
      </li>
      <li class="reflect {% if stage == 'reflect' %}selected{% endif %}">
          <a href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=progress.student.username stage='reflect' %}">
            <span class="btn">Reflect</span>
          </a>
        <span class="arrows"></span>
      </li>
    </ul>
  </nav>
</div>