{% extends 'base.html' %}
{% load staticfiles %}
{% load resized %}

{% block js %}
  <script src="{% static "js/challenges.js" %}"></script>
  {{ comment_form.media }}
{% endblock %}

{% block content %}
  {% url 'challenges:comments:comments' challenge_id=challenge.id username=progress.student.username stage='plan' as comment_url %}

  <h1>{{ challenge.name }} <small>By {{progress.student.username}}</small></h1>
  {% if challenge.draft %}
    <h2><small>We're improving this challenge. You can keep working on it, but keep an eye out for changes.</small></h2>
  {% endif %}
  {% include "challenges/progress/_nav.html" with stage="plan" %}

  <div class="challenge-content">
    {% if not request.user.profile.is_mentor %}
      <header class="challenge-header">
        <h1>Plan your project</h1>
        <p>{{ challenge.plan_subheader }}</p>
      </header>
    {% endif %}
    <div class="row">

      {% if request.user.profile.is_mentor %}
        {% include "_mentor_panel.html" with comment_url=comment_url %}
      {% else %}
        <div class="col-md-5">
          <div class="panel panel-bubble">
            <div class="panel-body">
              <h3>Post your plan as a video, drawing (photo) or text</h3>
              {% if request.user.profile.is_student %}
                <form method="POST" action="{{ comment_url }}">
                  {% csrf_token %}
                  {{ comment_form.text }}
                  {{ comment_form.visual_media }}
                  <input type="submit" class="btn btn-primary pull-right" />
                </form>
              {% else %}
                {% include "_comment_action_list.html" with disable=True %}
              {% endif %}
            </div>
          </div>

          {% if challenge.plan_call_to_action %}
            <div class="panel blue">
              <div class="panel-body">
                {{challenge.plan_call_to_action}}
              </div>
            </div>
          {% endif %}
        </div><!-- /column 1 -->
      {% endif %}

      <div class="col-md-1">
        {% include "_avatar.html" with profile=progress.student.profile width=60 height=80 crop='fit' %}
      </div>

      <div class="col-md-6">
        {% if request.user.profile.is_mentor %}
          <h1>{{progress.student.username}}'s plan</h1>
        {% endif %}

        <div class="materials-list panel">
          <div class="panel-heading">
            <h3 class="panel-title">Suggested list of materials</h3>
          </div>
          <div class="panel-body">
            <div class="current-materials">
              {{ progress.materials_list|safe }}<br>
              {% if request.user == progress.student %}
                <button class="edit-materials btn btn-primary">Edit Materials</Button>
              {% endif %}
            </div>
            <form class="materials-form"
              action="{% url 'challenges:change_materials' challenge_id=challenge.id username=progress.student.username %}"
              method="POST"
            >
              {% csrf_token %}
              <div>
                {{materials_form.materials}}
                <div class="errors">{{ materials_form.materials.errors }}</div>
              </div>
              <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
          </div>
        </div><!-- materials-list -->

        <div class='text_comment' style='display:none'>
          <form
            action="{% url 'challenges:comments:comments' challenge_id=challenge.id username=progress.student.username stage='plan' %}"
            method="POST"
            class="comment-form"
          >
            {% csrf_token %}
            <div>
              {{comment_form.text}}
              <div class="errors">{{ comment_form.text.errors }}</div>
            </div>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" disabled='disabled'/>
          </form>
        </div>
        {% for comment in comments %}
          {% include "_comment.html" %}
        {% endfor %}
        {% if request.user.profile.is_student %}
          <a class="btn btn-lg btn-primary start-link"
            href="{% url 'challenges:challenge_progress' challenge_id=challenge.id username=progress.student.username stage='build' %}"
          >
            Ready to Build
          </a>
        {% endif %}
      </div><!-- /col 2 -->
    </div><!-- row -->
    {% include "_guide.html" %}
  </div><!-- content -->
{% endblock %}
