.challenge-card {
	//width: 245px;
	min-height: 350px;
	background-color: white;
	border-radius: $base-border-radius;
	box-shadow: 0px 2px 5px 1px $main-shadow;
	//margin: 0px $base-spacing 0px $base-spacing;
	margin-bottom: $base-spacing;
	img {
		width: 100%;
		//height: auto;
		overflow: hidden;
	}
}

.challenge-card-title {
	text-align: left;
	padding: 10px;
	background-color: $medium-gray;
	color: white;
	border-top-left-radius: $base-border-radius;
	border-top-right-radius: $base-border-radius;
}

.challenge-card-description {
	text-align: left;
	padding: 10px;
}