{% extends "memberships/_membership-hub.html" %}
{% load resized %}

{% block title %}{{ membership.name }}{% endblock %}
{% block body-classes %}membership-pages{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="jumbotron-fluid  jumbotron-sand p-t-md m-b-lg">
    <div class="container">
      <h3 class="green-type">Build a Bridge</h3>
    </div>
  </div>

  <div class="container all-challenges-cards m-b-lg">
    <h3>In Progress</h3>

    <div class="row">

      <!-- for students with progress in this DC -->
      <div class="col-lg-3 col-sm-6">
        <div class="people-card">

            <div class="people-card-title text-center">
              {% include "profiles/_avatar.html" with profile=mentor width=80 height=80 crop='thumb' gravity='faces' classes='img-block'%}
              <p>
                Lorelai Gilmore<br/>
                <small><a href="#">lorelaigilmoreSH</a></small>
              </p>
            </div>

          <div class="people-card-description">
            <p><small>3 Posts</small></p>
            <p><small><i class=""></i>Claimed by mentor</small></p>
            <p><small><a href="#">View Progress &rarr;</a></small></p>
          </div>
        </div>
      </div>
      <!-- end for -->

      <div class="col-lg-3 col-sm-6">
        <div class="people-card">

            <div class="people-card-title text-center">
              {% include "profiles/_avatar.html" with profile=mentor width=80 height=80 crop='thumb' gravity='faces' classes='img-block'%}
              <p>
                Lorelai Gilmore<br/>
                <small><a href="#">lorelaigilmoreSH</a></small>
              </p>
            </div>

          <div class="people-card-description">
            <p><small>3 Posts</small></p>
            <p class="text-muted"><small><i class=""></i>Unclaimed</small></p>
            <p><small><a href="#">View Progress &rarr;</a></small></p>
          </div>
        </div>
      </div>

    </div>

    <h3>Completed</h3>
    <p>No students have completed this design challenge yet!</p>
    <div class="row">

    </div>
  </div>


{% endblock %}
