{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Go <span class="text-primary">Above and Beyond</span> with Curiosity Machine!</h2>
    <br>
    <h3 class="text-center">Create an account and choose a challenge to build.
    <br>Learn from Boeing engineers and share what you make!</h3>
    <br>

    <div class="text-center">
      <img src="{% static 'images/airplane.png' %}" class="img-responsive" style="display:inline;">
    </div>
    <br>

    <div class="text-center">
      <a class="btn btn-lg btn-primary" style="text-transform:none; display:inline; margin-top:50px;" href="{% url 'profiles:join' 'boeing' %}?welcome=true">
        Create a Student Account
      </a>
    </div>

    <p class="text-center" style="margin-top:30px;">to build and document projects using the engineering design process</p>
    <br>
    <br>
    <h3 class="text-center">Not a student?</h3>
    <br>

    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <p><strong>Parents</strong> can connect to their child's account and learn how to build together.</p>
        <p><a href="{% url 'profiles:join_as_parent' 'boeing' %}?welcome=true">Create a Parent Account</a></p>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <p><strong>Educators</strong> can find resources for engineering challenges and track student progress.</p>
        <p><a href="{% url 'profiles:join_as_educator' 'boeing' %}?welcome=true">Create an Educator Account</a></p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
