{% extends "about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Educators{% endblock %}
{% block body-id %}educator-about-page{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="grid-container">
    <div class="educator-about-page-content grid-60 push-20 tablet-grid-80 tablet-push-10">
      <h2>Bring Engineering to Your Classroom</h2>
      <h3>Teach hands-on science with simple materials.</h3>
      <p>With the engineering design process as a guide, your students will plan, build, and test their designs. They’ll document each step on Curiosity Machine, where you can create groups and add your students to see their progress.</p>

      <p>Educators everywhere are using Curiosity Machine in:</p>
      <ul>
        <li>K-12 classrooms</li>
        <li>After school clubs</li>
        <li>Family science programs</li>
        <li>Makerspaces</li>
        <li>Libraries, summer camps, etc. </li>
      </ul>

      <img src="{% static 'images/about/classroom-example.jpg' %}">

      <hr class="hr-red"/>

      <h2>Curiosity Machine for Schools: Become a Member</h2>
      <p>Anyone can create an account and access Curiosity Machine’s videos, design challenges, and Educator resources for free.</p>

      <p>Schools and other organizations can purchase a membership to get:</p>
      <ul>
        <li>Training for educators and parents</li>
        <li>1-on-1 mentor feedback for student projects</li>
        <li>Support from Curiosity Machine staff</li>
      </ul>

      <div class="text-center">
        <a class="btn btn-block" href="#">Become a Member</a>
      </div>

      <hr class="hr-red"/>

      <h2>Educator Resources</h2>

      <h3>Units</h3>
      <p class="text-center">Choose a series of Curiosity Machine design challenges, or create your own!</p>
    </div>
    

    <div class="educator-about-page-units grid-100">

      <div class="challenge-card">
        <a href="https://www.curiositymachine.org/units/1/" class="action-img">
          <div class="challenge-card-title">
            <p>Flight</p>
          </div>
        </a>
        <a href="https://www.curiositymachine.org/units/1/" class="action-img">
          <img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/74c8ae12b539f31d2b836f55cf0574cb' width=300 height=170 crop='fill' %}">
        </a>
        <div class="challenge-card-description">
          <small>Invent machines that fly</small>
        </div>
      </div>

      <div class="challenge-card">
        <a href="https://www.curiositymachine.org/units/8/" class="action-img">
          <div class="challenge-card-title">
            <p>Summer of Invention</p>
          </div>
        </a>
        <a href="https://www.curiositymachine.org/units/8/" class="action-img">
          <img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/502468ae521413f7f64fe7e43fc075a6' width=300 height=170 crop='fill' %}">
        </a>
        <div class="challenge-card-description">
          <small>Inspire children to invent and learn outdoors.</small>
        </div>
      </div>

      <div class="challenge-card">
        <a href="https://www.curiositymachine.org/units/9/" class="action-img">
          <div class="challenge-card-title">
            <p>Bio&#8226;Bots</p>
          </div>
        </a>
        <a href="https://www.curiositymachine.org/units/9/" class="action-img">
          <img src="{% resized 'http://s3.amazonaws.com/curiositymachine/images/5200e3e38eb53c92c8c811d53452dee9' width=300 height=170 crop='fill' %}">
        </a>
        <div class="challenge-card-description">
          <small>Invent nature-inspired robots.</small>
        </div>
      </div>
      
    </div>
    <span class="clear"></span>
    
    <div class="educator-about-page-content grid-60 push-20 tablet-grid-80 tablet-push-10">
      <h3>NGSS Alignment</h3>
      <p>Want to do hands-on projects and hit standards at the same time? Curiosity Machine has you covered. Our design challenges are aligned to elementary NGSS standards, and middle school alignment is on the way.</p>
      
      <div class="text-center">
        <a href="#" class="btn btn-block">View NGSS K-5 Alignment</a>
      </div>

      <h3>More Resources</h3>
      <ul>
        <li><a href="#">Guide to Great Submissions</a></li>
        <li><a href="#">Under 13 Consent Form</a></li>
        <li><a href="#">Create Account Instructions</a></li>
      </ul>

    </div>
  </div>

  <div class="about-sign-up-panel">
    <h2>Create an Educator Account!</h1>
    <a href="#" class="btn-red-secondary uppercase">sign up</a>
  </div>
{% endblock %}