{% extends "base.html" %}
{% block content %}
  Hi!
  <h1>h1 I'm a header</h1>
  <h2>h2 I'm a header</h2>
  <h3>h3 I'm a header</h3>
  <h4>h4 I'm a header</h4>
  <h5>h5 I'm a header</h5>
  <h6>h6 I'm a header</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati maiores magni quisquam ullam itaque ut omnis repellat. Porro maxime amet illum, quidem vero tenetur, modi mollitia delectus a alias ea.</p>
  <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dignissimos nulla error alias explicabo sint, consequuntur mollitia optio. Cum omnis id necessitatibus adipisci in esse, et rerum ipsa, fugiat numquam.</small>
{% endblock %}