{% extends "about_pg_layout.html" %}
{% load staticfiles %}
{% load resized %}

{% block title %}Parents{% endblock %}
{% block body-id %}parent-about-page{% endblock %}

{% block content %}
  {{ block.super }}

  {% include '_about_pg_header.html' %}
  <div class="grid-container">
    <div class="about-page-content grid-60 push-20 tablet-grid-80 tablet-push-10">
      <h2>Build Something Great Together</h2>
      <h3>Join your child to plan, build, and test design challenges.</h3>
      <p>This practice will help your child learn from her own mistakes and develop:</p>
        <ul>
          <li><strong>Curiosity</strong> to ask questions and understand how the world around her works</li>
          <li><strong>Creativity</strong> to plan new ideas and create unique inventions</li>
          <li><strong>Persistence</strong> to learn from her own mistakes and succeed</li>
        </ul>
      <p>With a parent account, you can follow each step of every design your child builds and watch your child’s portfolio of completed projects grow. It’s free to sign up!</p>

      <img src="{% static 'images/about/family-make.jpg' %}">

      <hr class="hr-red"/>

      <h2>Support Your Child’s Critical Thinking Skills</h2>
      <p>Our Creative Parent’s Toolbox includes 6 training presentations that cover a variety of topics to set you and your child up for success:</p>
      <ul>
        <li>How to ask questions that make your child think</li>
        <li>How to foster a growth mindset</li>
        <li>How to support a girl and recognize gender biases</li>
        <li>A crash course on the basics of physics</li>
      </ul>
    </div>
  </div>

  <div class="about-sign-up-panel">
    <h2>Create a Parent Account!</h1>
    <a href="#" class="btn-red-secondary uppercase">sign up</a>
  </div>
{% endblock %}