{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
  <img class="img-responsive" src="https://s3.amazonaws.com/curiositymachine/statics/masthead-1140.jpg" />
  <h2>What is the Curiosity Machine?</h2>

  <p>Curiosity Machine is a community of scientists, engineers and children creating together. Through this online learning platform children are inspired and equipped to create their own inventions with the support of trained and qualified mentors.</p> 

  <br />

  <p>In each challenge, children progress through the Engineering Design Process with support from a
trained mentor who guides and encourages them to persist through failure and bring their ideas to 
reality.</p>

  <iframe width="560" height="315" src="//www.youtube.com/embed/XBAE46x2qio" frameborder="0" allowfullscreen></iframe>

  <br>

  <h2>Engineering Design Challenges</h2>

  <p>Our challenges are based on innovative science and engineering. They also: </p>
  <ul>
    <li>need only simple, low-cost materials (most can be obtained at a grocery store);</li>
    <li>are open-ended and have “low walls with high ceilings”, meaning they are easy to start but also invite everyone to keep building and to develop more complex design solutions;</li>
    <li>emphasize that science is a creative process; not just a collection of facts.</li>
  </ul>

  <h2>Who is part of our community?</h2>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <button onclick="window.location.href='/parents'" style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:200px; float:right;">FAMILIES</button>
    </div>
    <div class="col-sm-7">
      <p>Families learn together and continue inventing at home. Parents explore alongside their children, making comparisons between what they learn and daily life.
      </p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <button onclick="window.location.href='/educator'" style="color: #fff; background-color: #f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:200px;float:right;">EDUCATORS</button>
    </div>
    <div class="col-sm-7">
      <p>Educators with a passion for making learning a fun process of exploration. No science background required!</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <button onclick="window.location.href='/mentor'" style="color: #fff; background-color: #f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:200px;float:right;">MENTORS</button>
    </div>
    <div class="col-sm-7">
      <p>Professional scientists and engineers from all over the world inspire the next generation of inventors, modeling curiosity, creativity, and persistence.</p>
    </div>
  </div>
  <h2>Our Mission</h2>
  <p>Our mission is to inspire children to develop their natural curiosity and hone their investigative skills to become inventors, creators, builders and engineers. We support children, parents, and educators with fun project-based science lessons, making learning and doing science accessible and enjoyable. We emphasize the engineering design process because we care deeply about helping children become more persistent and creative in the face of failure, so they are better equipped to handle setbacks and frustration throughout their lives. The Curiosity Machine is powered by <a href="http://iridescentlearning.org/" target="_blank">Iridescent</a>, a science education non-profit that creates and delivers powerful science, engineering, and technology education to underprivileged children.
  </p>

  <h2>Supported by</h2>

  <div class="row">
    <div class="col-sm-6">
      <br />
      <p></p>
      <a href="http://www.boeing.com/boeing/" target="_blank"><img class="img-responsive" width="327" height="200" src="http://www.img2.wikia.nocookie.net/__cb20140204193900/acecombat/images/4/4f/Boeing_Logo.png" style="float:right;"/></a>
    </div>
    <div class="col-sm-6">
      <a href="http://www.nsf.gov/" target="_blank"><img class="img-responsive" width="200" src="http://upload.wikimedia.org/wikipedia/commons/8/87/NSF_Logo.PNG" style="margin-left:100px;"/></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2>Content Partner</h2>
      <p>Some videos you find in the Curiosity machine are produced by <a href="http://sciencefriday.com/">Science Friday</a>, a trusted source for news and entertaining stories about science. It started as a radio show, created in 1991 by host and executive producer Ira Flatow. Since then, it has grown into much more: SciFri produces award-winning digital videos and publishes original web content covering everything from octopus camouflage to cooking on Mars. Science Friday is brain fun, for curious people.</p>
    </div>
    <div class="col-sm-4">
      <a href="http://sciencefriday.com/" target="_blank"><img class="img-responsive" src="http://blog.prx.org/wp-content/uploads/2012/08/science_friday-logo.png" /></a>
    </div>
  </div>

  <h2><img class="img-responsive" src="https://s3.amazonaws.com/curiositymachine/statics/footer-image-1140.jpg" /></h2>
{% endblock content %}
