{% extends "base.html" %}
{% block title %}Educator{% endblock %}

{% block content %}
<img style="border: 2px;" class="img-responsive" src="http://s29.postimg.org/6wm3rxjif/DSC_0383.jpg" width="1040" height="404" />

<h2>Use Curiosity Machine to teach low-cost engineering design challenges in your classroom!</h2>
<div class="row">
  <div class="col-sm-8">
    <p>
      Curiosity Machine is a resource you can use to engage students of all ages in fun, hands-on projects that are aligned to Next Generation Science Standards. 
    </p>

    <p>
      Curiosity Machine features:
    </p>
    <ul>
      <li>Free access to over 60 design challenges that will push your students to learn topics in physics, biology, engineering and more through in-depth exploration</li>
      <li>Educator accounts that support you in bringing Curiosity Machine to your classroom. You can connect with your students’ accounts to easily track their progress on designs, text/video submissions, and interactions with mentors.</li>
      <li>Units with lesson plans, student workbooks and NGSS standards alignment</li>
      <li>Science and engineering mentors who will give your students individualized feedback on their ideas</li>
    </ul>

    <h4>Ready to begin?</h4> 
    <p>Getting started is easy! Just follow these three steps:</p>
    <ol>
      <li>Click the “Get Started” button to create an Educator account.</li>
      <li>
        <p>Create a group and invite your students.</p>

        <p>
          Before students under the age of 13 can join your club Curiosity Machine, their parents must fill out a consent form. If your students are over the age of 13, they can create accounts and start building.
        </p>

        <p>Once your students have accounts, invite them to your group by:</p>
        <ul>
          <li>
            Entering student usernames into the recipient box. This will send an invitation to join your group.
          </li>
          <li>
            Asking your students to go to their homepage and enter your class code in the “Join a Group” box. This will automatically add them to your group.
          </li>
        </ul>
      </li>
      <li>
        <p>Secure mentors for your students’ submissions.</p>

        <p>
          Fill out our Educator Form to let us know when your students need feedback from our scientists and engineers. It’s okay if you fill it out and things change&mdash;it just gives us an idea about how many mentors your students will need and when. It also helps us find mentors who are the right fit for your students!
        </p>
      </li>
    </ol>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <img class="img-responsive" src="http://s16.postimg.org/bh3nboih1/Curiosity_Kit_cover.jpg"/>

      <ul class="list-unstyled">
        <li style="margin-top:1em;">
          <a class="btn btn-cm1 btn-lg btn-block" href="https://s3.amazonaws.com/curiositymachine/units/resources/Curiosity+Kit-Community+Partners.pdf" target="_blank">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            DOWNLOAD
          </a>
        </li>
        <li style="margin-top:1em;">
          <a class="btn btn-cm1 btn-lg btn-block" href="https://s3.amazonaws.com/curiositymachine/units/resources/Curiosity+Kit-Community+Partners-ESP.pdf" target="_blank">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            DOWNLOAD en Español
          </a>
        </li>
      </ul>
    </div>
    <h3>More Resources:</h3>
    <ul class="list-unstyled text-right">
      <li style="margin-top:1em;">
        <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/CM-Login.pdf" target="_blank" class="btn btn-block btn-cm2">
          Account Creation Instructions
        </a>
      </li>
      <li style="margin-top:1em;">
        <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/Partner-Event-Flyer+tear-off.pdf" target="_blank" class="btn btn-block btn-cm2">
          Flyer Template
        </a>
      </li>
      <li style="margin-top:1em;">
        <a href="http://iridescentlearning.org/wp-content/uploads/2014/09/Cm-Suggested-Series.pdf" target="_blank" class="btn btn-block btn-cm2">
          Suggested Series
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}