{% load resized %}
<div class="expandable-card">
  <div>
    <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}" class="action-img">
      <img class="pull-left m-r" src="{% resized challenge.image.url width=165 height=165 crop='thumb' %}" alt="{{ challenge.name }}">
    </a>
    <div class="expandable-card-title">
      <h3>
        <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}" class="action-img">
          {{ challenge.name }}
        </a>
      </h3>

      {% if show_detail_links %}
      <a href="{% url 'profiles:educator_dashboard_challenge_detail' challenge_id=challenge.id %}">View all student progress &rarr;</a>
      {% endif %}

      <a class="expandable-card-toggle" data-toggle="collapse" href="#moreInfo-{{ challenge.id }}" aria-expanded="false" aria-controls="moreInfo-{{ challenge.id }}">
        <span class="show">
          &plus; MORE INFO
        </span>
        <span class="hide hidden-xl-down">
          &minus; LESS INFO
        </span>
      </a>


    </div>
  </div>

  <div class="collapse" id="moreInfo-{{ challenge.id }}">
    <div class="expandable-card-more">
      <span class="expandable-card-more-section-title">DESCRIPTION</span>
      <p>{{ challenge.description }}</p>

      {% if challenge.resource_set.count %}
      <span class="expandable-card-more-section-title">RESOURCES</span>
      <ul class="resources-list">
        {% for resource in challenge.resource_set.all %}
        <li>{{ resource.name }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
