<div class="jumbotron-fluid jumbotron-dark-pattern m-b">
  <div class="container">
    <div class="row">

      <div class="col-lg-2 col-md-3 col-sm-12">
        <div class="dashboard-avatar">
          {% include "_avatar.html" with profile=request.user.profile  width=150 height=150 crop='thumb' gravity='faces' %}
        </div>
      </div>

      <div class="col-lg-8 col-md-5 col-sm-12">
        <h1>{{ user.username }}</h1>
        <h3 class="hidden-sm-down">{{ user.first_name }} {{ user.last_name }}</h3>
        <ul class="hidden-sm-down">
          <li>{{ user.email }}</li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-12">
        <a href="{% url 'profiles:profile_edit' %}" class="btn btn-primary"><i class="icon-art"></i> EDIT PROFILE</a>
      </div>

    </div>
  </div>
</div>
