<div class="row m-b-lg">
  <div class="col-md-12">
    <nav class="edu-dash-nav">
      <ul>
        <li>
          <a href="{% url 'profiles:home' %}">
            my design challenges
          </a>
        </li>
        <li>
          <a href="{% url 'profiles:home_students' %}">
            my students
          </a>
        </li>
        <li>
          <a href="{% url 'profiles:home_units' %}">
            units &amp; guides
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
