{% load resized %}

<div class="expandable-card">
  <div>
    <a href="{% url "units:unit" unit_id=unit.id %}" class="a-borderless">
      <img class="float-xs-left mr-1" src="{% resized unit.image.url width=165 height=165 crop='thumb' %}" alt="{{ unit.name }}">
    </a>
    <div class="expandable-card-title">
      <h3>
        <a href="{% url "units:unit" unit_id=unit.id %}" class="a-borderless">
          {{ unit.name }}
        </a>
      </h3>

      <a class="expandable-card-toggle" data-text-swap="&minus; LESS INFO" data-toggle="collapse" href="#moreInfo-{{ unit.id }}" aria-expanded="false" aria-controls="moreInfo-{{ unit.id }}">
        &plus; MORE INFO
      </a>
    </div>
  </div>

  <div class="collapse" id="moreInfo-{{ unit.id }}">
    <div class="expandable-card-more">
      <span class="expandable-card-more-section-title">DESCRIPTION</span>
      <p>{{ unit.description }}</p>
    </div>
  </div>
</div>
