{% extends "curiositymachine/layout/base.html" %}

{% block title %}My Dashboard{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}

{% block container %}
  {% include 'profiles/educator/dashboard/_header.html' %}
  <div class="container mb-3">
    {% include 'profiles/educator/dashboard/_navigation.html' with activeNav="guides" %}
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block js %}
  <script>
    $("a[data-text-swap]").on("click", function() {
      var el = $(this);
      if (el.text() == el.data("text-swap")) {
        el.text(el.data("text-original"));
      } else {
        el.data("text-original", el.text());
        el.text(el.data("text-swap"));
      }
    });
  </script>
{% endblock %}
