{% extends "curiositymachine/layout/base.html" %}

{% block title %}My Dashboard{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}

{% block container %}
  {% include 'profiles/educator/dashboard/_header.html' %}
  <div class="container mb-3">
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block js %}
  <script>
    $('#impact-survey').on('ajax:success', function(data, stat, xhr) {
      console.log('ajax success');
    });
    $('#impact-survey').on('ajax:error', function(xhr, stat, err) {
      console.log('ajax error');
    });
  </script>
{% endblock %}