{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">

  {% include 'profiles/educator/dashboard/_navigation.html' with activeChallenges="active-nav" %}

  <div class="row p-b">
    <div class="col-md-12">
      <h2>Free Design Challenges</h2>
      <p>Get started with one of our free design challenges! To view the educator resources associated with each of the challenges, click the Guide tab in the design challenge preview.</p>
    </div>
  </div>

  <div class="row">
    <!--  these expandable cards need to be 2 to a row -->

    <div class="col-md-6 m-b">
      <div class="expandable-card">
        <div>
          <a href="#" class="action-img">
            <img class="pull-left m-r" src="http://placehold.it/165x165" alt="Challenge Name">
          </a>
          <div class="expandable-card-title">
            <h3>
              <a href="#" class="action-img">
                Challenge Name
              </a>
            </h3>

            <a class="expandable-card-toggle" data-text-swap="&minus; LESS INFO" data-toggle="collapse" href="#moreInfo1" aria-expanded="false" aria-controls="moreInfo1">
              &plus; MORE INFO
            </a>
          </div>
        </div>

        <div class="collapse" id="moreInfo1">
          <div class="expandable-card-more">
            <span class="expandable-card-more-section-title">DESCRIPTION</span>
            <!-- challenge description, 130 characters or less ideally -->
            <p>Duis rutrum libero ipsum, tempor vehicula mi venenatis scelerisque. Praesent nec dignissim metus. Nunc vel justo justo. Curabitur.</p>

            <!-- if there are resources, list here -->
            <span class="expandable-card-more-section-title">RESOURCES</span>
            <ul class="resources-list">
              <li>Grade 6-8 Mini-unit</li>
              <li>Grade 3-5 Mini-unit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="m-t-lg">
    {% include 'profiles/educator/dashboard/_membership-blurb.html' %}
  </div>

</div>
{% endblock %}

{% block js %}
  <!-- script that makes "more" say "less" after you click in expandable cards -->
  <script>
  $("a[data-text-swap]").on("click", function() {
    var el = $(this);
    if (el.text() == el.data("text-swap")) {
      el.text(el.data("text-original"));
    } else {
      el.data("text-original", el.text());
      el.text(el.data("text-swap"));
    }
    });
  </script>
{% endblock %}
