{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">

  {% include 'profiles/educator/dashboard/_navigation.html' with activeNav="challenges" %}

  {% if membership and membership_challenges %}
  <div class="row p-b">
    <div class="col-md-12">
      <h2>{{ membership.display_name }} Design Challenges</h2>
      <p>You have access to these design challenges because of your membership. To view the educator resources associated with each of the challenges, click the Guide tab in the design challenge preview.</p>
    </div>
  </div>

  <div class="row">
    {% for challenge in membership_challenges %}
    <div class="col-md-6 m-b">
      {% include 'profiles/educator/dashboard/_challenge_card.html' with challenge=challenge %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}

  </div>
  {% endif %}


  <div class="row p-b">
    <div class="col-md-12">
      <h2>Free Design Challenges</h2>
      <p>Get started with one of our free design challenges! To view the educator resources associated with each of the challenges, click the Guide tab in the design challenge preview.</p>
    </div>
  </div>

  <div class="row">

    {% for challenge in core_challenges %}
    <div class="col-md-6 m-b">
      {% include 'profiles/educator/dashboard/_challenge_card.html' with challenge=challenge %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="clearfix"></div>
    {% endif %}
    {% endfor %}

  </div>


  <div class="m-t-lg">
    {% include 'profiles/educator/dashboard/_membership-blurb.html' %}
  </div>

</div>
{% endblock %}

{% block js %}
  <!-- script that makes "more" say "less" after you click in expandable cards -->
  <script>
  $("a[data-text-swap]").on("click", function() {
    var el = $(this);
    if (el.text() == el.data("text-swap")) {
      el.text(el.data("text-original"));
    } else {
      el.data("text-original", el.text());
      el.text(el.data("text-swap"));
    }
    });
  </script>
{% endblock %}
