{% extends "profiles/educator/dashboard/base.html" %}
{% block title %}{{ challenge.name }}'s Students{% endblock %}

{% block content %}
  {% url "profiles:home" as base_url %}
  {% include 'profiles/educator/dashboard/_navigation.html' with membership_selection_base_url=base_url%}

  <div class="row mb-1">
    <div class="col-md-12">
      <h3>{{ group_selector.selected.text }}</h3>
      <h2>{{ challenge.name }}</h2>
    </div>
  </div>

  <div class="row pb-1">

    <div class="col-md-12">
      <div class="well-shadow mb-1">

        <div class="dropdown dropdown-design-challenge mr-1">
          <a class="dropdown-toggle a-borderless"
            href="#"
            id="challengesDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Choose design challenge
          </a>
          <div class="dropdown-menu" aria-labelledby="challengesDropdown">
            {% for challenge in challenge_links %}
            <a
              class="dropdown-item"
              href="{% url "profiles:educator_dashboard_challenge_detail" challenge_id=challenge.id %}?{{ request.GET.urlencode }}"
              >{{ challenge.name }}</a>
            {% endfor %}
          </div>
        </div>

        {% if group_selector.has_groups %}
        <div class="dropdown dropdown-design-challenge mr-1">
          <a class="dropdown-toggle a-borderless"
            href="#"
            id="challengesDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Choose group
          </a>
          <div class="dropdown-menu text-capitalize" aria-labelledby="challengesDropdown">
            {% for group in group_selector.options %}
            <a class="dropdown-item" href="?{{ group.GET.urlencode }}">{{ group.text }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="float-md-right dc-sort-options">
          <div class="dropdown">
            <a class="dropdown-toggle a-borderless" href="#" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by {{ sorter.selected|lower }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortDropdown">
              {% for strategy in sorter.strategies %}
              <a class="dropdown-item" href="{{ strategy.url }}">{{ strategy.name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <hr>
</div>

<div class="dcprogressheader">
  <div class="container">
    <div class="row hidden-sm-down">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <table class="table-dc-progress">
          <thead>
            <tr>
              <th>Plan</th>
              <th>Build</th>
              <th>Test</th>
              <th>Reflect</th>
              <th>Gallery</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container mt-1 mb-3 dc-progress">
  {% for student in students %}
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="student-list-item">
        <a href="{% url "profiles:educator_dashboard_student_detail" student_id=student.id %}" class="student-list-avatar a-borderless float-xs-left">
          <div class="hidden-lg-down">
            {% include "_avatar.html" with profile=student.profile  width=48 height=48 crop='thumb' gravity='faces' %}
          </div>
        </a>
        {% if student.first_name or student.last_name %}
        {{ student.first_name }} {{ student.last_name }}
        {% else %}
        <em>No name provided</em>
        {% endif %}
        <br>
        <a href="{% url "profiles:educator_dashboard_student_detail" student_id=student.id %}">
          {{ student.username }}
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <table class="table-dc-progress">
        <thead class="hidden-md-up">
          <tr>
            <th>P</th>
            <th>B</th>
            <th>T</th>
            <th>R</th>
            <th>G</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>

            {% for count in student.user_comment_counts_by_stage %}
              {% if count %}
                <td class="active">{{ count }}</td>
              {% else %}
                <td class="inactive"><i class="icon-cross"></i></td>
              {% endif %}
            {% endfor %}

            {% if student.id in student_ids_with_examples %}
              <td class="active"><i class="icon-check"></i></td>
            {% else %}
              <td class="inactive"><i class="icon-cross"></i></td>
            {% endif %}

            <td><a href="{% url "challenges:challenge_progress" challenge_id=challenge.id username=student.username %}">View &rarr;</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    var fixmeTop = $('.dcprogressheader').offset().top;

    $(window).scroll(function() {
      var currentScroll = $(window).scrollTop();
      if (currentScroll >= fixmeTop) {
        $('.dcprogressheader').addClass( "fixedheader" );
        $('.dc-progress').addClass( "fixedheader-height");
      } else {
        $('.dcprogressheader').removeClass( "fixedheader" );
        $('.dc-progress').removeClass( "fixedheader-height");
      }
    });
  </script>
{% endblock %}
