{% extends "curiositymachine/layout/base.html" %}
{% block title %}Curiosity Machine - Design Challenge Detail{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container">
  {% url "profiles:home" as base_url %}
  {% include 'profiles/educator/dashboard/_navigation.html' with membership_selection_base_url=base_url%}

  <div class="row m-b-sm">
    <div class="col-md-12">
      <h2>{{ challenge.name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="dropdown dropdown-design-challenge">
        <a class="dropdown-toggle" href="#" id="challengesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Design Challenge
        </a>
        <div class="dropdown-menu" aria-labelledby="challengesDropdown">
          {% for challenge in challenge_links %}
          <a class="dropdown-item" href="{% url "profiles:educator_dashboard_challenge_detail" challenge_id=challenge.id %}">{{ challenge.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dropdown pull-right">
        <a class="dropdown-toggle" href="#" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by {{ sorter.selected|lower }}
        </a>
        <div class="dropdown-menu" aria-labelledby="sortDropdown">
          {% for strategy in sorter.strategies %}
          <a class="dropdown-item" href="{{ strategy.url }}">{{ strategy.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dc-progress-table">
  <div class="fixedheader">
    <div class="container">
      <div class="row dc-progress-header p-a hidden-sm-down">
        <div class="col-md-2 text-center">
        </div>
        <div class="col-md-2 text-center">
          plan
        </div>
        <div class="col-md-2 text-center">
          build
        </div>
        <div class="col-md-2 text-center">
          test
        </div>
        <div class="col-md-2 text-center">
          reflect
        </div>
        <div class="col-md-2 text-center">
          gallery
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% for student, totals in totals.items %}
    <div class="row m-t m-b">
      <div class="col-md-2">
        <div class="student-list-item">
          <a href="{% url "profiles:educator_dashboard_student_detail" student_id=student.id %}" class="student-list-avatar action-img pull-left">
            <div class="hidden-lg-down">
              {% include "_avatar.html" with profile=student.profile  width=48 height=48 crop='thumb' gravity='faces' %}
            </div>
          </a>
          {% if student.first_name or student.last_name %}
          {{ student.first_name }} {{ student.last_name }}
          {% else %}
          <em>No name provided</em>
          {% endif %}
          <br>
          <a href="{% url "profiles:educator_dashboard_student_detail" student_id=student.id %}">
            {{ student.username }}
          </a>
        </div>
      </div>

      {% for stage, count in totals.items %}
      <div class="col-md-2 text-center">
        <div class="hidden-md-up post-type">
          {{ stage }}
        </div>
        {% if count %}
        <div class="light-type post-quantity">
          {{ count }}
        </div>
        {% else %}
        <div class="light-type post-empty">
          0
        </div>
        {% endif %}
      </div>
      {% endfor %}

      <div class="col-md-2 text-center">
        <div class="hidden-md-up post-type">
          gallery
        </div>
        {% if student.id in student_ids_with_examples %}
        <div class="light-type post-quantity">
          <i class="icon-check"></i>
        </div>
        {% else %}
        <div class="light-type post-empty">
          <i class="icon-cross"></i>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}

{% block js %}
<script>
var fixmeTop = $('.fixedheader').offset().top;

$(window).scroll(function() {
  var currentScroll = $(window).scrollTop();
  if (currentScroll >= fixmeTop) {
    $('.fixedheader').css({
      position: 'fixed',
      top: '0',
      width: '100%',
    });
  } else {
    $('.fixedheader').css({
      position: 'static'
    });
  }
});
</script>
{% endblock %}
