{% extends "curiositymachine/layout/base.html" %}
{% block title %}Curiosity Machine - Design Challenge Detail{% endblock %}

{% block content %}
<div class="jumbotron-small jumbotron-green jumbotron-fluid">
  <div class="container">
    <div class="row m-b text-center text-md-left">
      <div class="col-md-12">
        <a href="#" class="a-secondary">&larr; Back to Design Challenges</a>
      </div>
    </div>
    <div class="row">
      <h2 class="text-center">{{ challenge.name }}</h2>
    </div>
    <div class="row">
      <div class="col-md-6 m-b text-center text-md-left">
        Active students: <strong>12</strong> <span class="hidden-sm-down">&middot;</span>
        <span class="hidden-md-up"><br><br></span>
        <a href="#" class="a-secondary">{{ challenge.name }} &rarr;</a>
      </div>
      <div class="col-md-6 m-b text-center text-md-right">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Design Challenges
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Build a "No Wire" Circuit</a>
            <a class="dropdown-item" href="#">Construct a Crane</a>
            <a class="dropdown-item" href="#">Engineer an Air-Powered Spinning Machine</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dc-progress-table">
  <div class="fixedheader">
    <div class="container">
      <div class="row dc-progress-header p-a hidden-sm-down">
        <div class="col-md-2 text-center">
        </div>
        <div class="col-md-2 text-center">
          plan
        </div>
        <div class="col-md-2 text-center">
          build
        </div>
        <div class="col-md-2 text-center">
          test
        </div>
        <div class="col-md-2 text-center">
          reflect
        </div>
        <div class="col-md-2 text-center">
          gallery
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- for students in students... -->
    {% for student, totals in totals.items %}
    <div class="row m-t m-b">
      <div class="col-md-2">
        <div class="student-list-item">
          <!-- links to student detail view -->
          <a href="#" class="student-list-avatar action-img pull-left">
            <div class="hidden-lg-down">
              <!-- student avatar, not user avatar -->
              {% include "_avatar.html" with profile=student.profile  width=48 height=48 crop='thumb' gravity='faces' %}
            </div>
          </a>
          {{ student.first_name }} {{ student.last_name }}
          <br>
          <!-- links to student detail view -->
          <a href="#">
            {{ student.username }}
          </a>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="hidden-md-up post-type">
          plan
        </div>
        <div class="light-type post-quantity">
          {{ totals.plan|default:0 }}
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="hidden-md-up post-type">
          build
        </div>
        <div class="light-type post-quantity">
          {{ totals.build|default:0 }}
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="hidden-md-up post-type">
          test
        </div>
        <div class="light-type post-quantity">
          {{ totals.test|default:0 }}
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="hidden-md-up post-type">
          reflect
        </div>
        <div class="light-type post-quantity">
          {{ totals.reflect|default:0 }}
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="hidden-md-up post-type">
          gallery
        </div>
        {% if student.id in student_ids_with_examples %}
        <div class="light-type post-quantity">
          <i class="icon-check"></i>
        </div>
        {% else %}
        <div class="light-type post-empty">
          <i class="icon-cross"></i>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- endfor -->
    {% endfor %}

  </div>
</div>

{% endblock %}

{% block js %}
<script>
var fixmeTop = $('.fixedheader').offset().top;

$(window).scroll(function() {
  var currentScroll = $(window).scrollTop();
  if (currentScroll >= fixmeTop) {
    $('.fixedheader').css({
      position: 'fixed',
      top: '0',
      width: '100%',
    });
  } else {
    $('.fixedheader').css({
      position: 'static'
    });
  }
});
</script>
{% endblock %}
