{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">

  {% include 'profiles/educator/dashboard/_navigation.html' with activeNav="students" %}

  <div class="row p-b">
    <div class="col-md-12">
      {% if membership_selection.no_memberships %}
      <h2>Students</h2>
      <p>In a <a href="{% url 'about-membership' %}">membership</a>, this page will list your students and allow you to see their progress on design challenges.</p>
      {% else %}
      <h2>{{ membership.display_name }} Students</h2>
      {% endif %}
    </div>
  </div>

  {% if membership_selection.no_memberships %}
  <div class="m-t-lg">
    {% include 'profiles/educator/dashboard/_membership-blurb.html' %}
  </div>
  {% else %}
  {% for student in students %}
  <div class="row">
    <div class="col-md-12">
      <div class="student-list">

        <div class="student-list-item">
          <a href="#" class="student-list-avatar" disabled>
            <div class="student-list-has-activity">
              {% include "_avatar.html" with profile=student.profile  width=48 height=48 crop='thumb' gravity='faces' %}
            </div>
          </a>
          <span class="student-inline-name">
            {% if student.first_name or student.last_name %}
            {{ student.first_name }} {{ student.last_name }}
            {% else %}
            <em>No name provided</em>
            {% endif %}
          </span>
          <br>
          <span class="student-inline-username">
            {{ student.username }} &middot;
            {% if student.profile.approved %}
            <span class="green-type">approved</span>
            {% else %}
            <span class="orange-type">not approved</span>
            {% endif %}
          </span>
          <span class="student-list-manage" text-swap>
            <a class="action-img" data-toggle="collapse" href="#collapse-{{ student.id }}" aria-expanded="false" aria-controls="collapse-{{ student.id }}">
              <span class="more">
                <span class="hidden-md-down">More</span> <i class="icon-right-arrow"></i>
              </span>
              <span class="less hidden-xl-down">
                <span class="hidden-md-down">Less</span> <i class="icon-up-arrow"></i>
              </span>
            </a>
          </span>

          <div class="collapse" id="collapse-{{ student.id }}">
            <div class="p-t p-b">
              <span class="student-inline-birthday">
                <strong>Birthday:</strong>
                {% if student.profile.birthday %}
                {{ student.profile.birthday|date:"m/d/Y" }}
                {% else %}
                <em>No birthday provided</em>
                {% endif %}
              </span>
              <br>
              <span class="student-inline-email">
                <strong>Email:</strong>
                {% if student.email %}
                {{ student.email }}
                {% else %}
                <em>No email provided</em>
                {% endif %}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% empty %}
  <div class="row">
    <div class="col-md-12">
      <p>Your membership doesn't have any students in it! Reach out to your membership coordinator to get your student accounts connected to your membership.</p>
    </div>
  </div>
  {% endfor %}
  {% endif %}

</div>
{% endblock %}

{% block js %}
  <script>
  $('.collapse').on('hidden.bs.collapse', function () {
    var $trigger = $('[href="#' + this.id + '"], [data-target="#' + this.id + '"]')
    $trigger.find( ".more" ).removeClass( "hidden-xl-down" );
    $trigger.find( ".less" ).addClass( "hidden-xl-down" );
  })

  $('.collapse').on('show.bs.collapse', function () {
    var $trigger = $('[href="#' + this.id + '"], [data-target="#' + this.id + '"]')
    $trigger.find( ".more" ).addClass( "hidden-xl-down" );
    $trigger.find( ".less" ).removeClass( "hidden-xl-down" );
  })
  </script>
{% endblock %}
