{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Student Progress{% endblock %}

{% block content %}

<div class="jumbotron-small jumbotron-green jumbotron-fluid">
  <div class="container">
    <div class="row m-b text-center text-md-left">
      <a href="{% url 'profiles:educator_dashboard_students' %}" class="a-secondary">&larr; Back to Students</a>
    </div>
    <div class="row">
      <h2 class="text-center">Student Progress</h2>
    </div>
    <div class="row">
      <form class="form-inline pull-right">
        <div class="form-group">
          <label class="sr-only" for="exampleSearch">Names or usernames</label>
          <input type="text" class="form-control" id="exampleSearch" placeholder="Names or usernames">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row m-b-lg">

    <div class="col-md-3">
      <div class="card card-module">
        <div class="card-block card-block-title text-center">
          {% include "_avatar.html" with profile=request.user.profile width=60 height=60 crop='thumb' gravity='faces' %}
          <p>
            nala
            <br>
            katnisseverdeen
          </p>
        </div>
        <div class="card-block">
          <p>
            Started: <strong>5</strong>
            <br>
            Completed: <strong>1</strong>
          </p>
        </div>
      </div>

      <span class="tag tag-pill tag-success">TODAY</span><br>
      <span class="tag tag-pill tag-success">YESTERDAY</span><br>
      <span class="tag tag-pill tag-success">2 DAYS</span><br>
      <span class="tag tag-pill tag-success">3 DAYS</span><br>
      <span class="tag tag-pill tag-success">4 DAYS</span><br>
      <span class="tag tag-pill tag-warning">5 DAYS</span><br>
      <span class="tag tag-pill tag-warning">6 DAYS</span><br>
      <span class="tag tag-pill tag-warning">A WEEK</span><br>
      <span class="tag tag-pill tag-default">OVER A WEEK</span><br>
      <span class="tag tag-pill tag-default">OVER A MONTH</span><br>

    </div>

    <div class="col-md-9">
      <div class="card-progress m-b">
        <div class="card-block-title">
          <h3 class="card-title">Build a Robotic Face</h3>
          <a href="#" class="a-secondary">View all students &rarr;</a>
        </div>
        <div class="card-block">

          <row class="progress-details">
            <div class="col-md-4 m-b">
              <span class="progress-type">latest post</span>
              <br>
              Wednesday, Oct 12 <span class="tag tag-pill tag-success">TODAY</span></p>
            </div>
            <div class="col-md-4 m-b">
              <span class="progress-type">online mentor</span>
              <br>
              No mentor
            </div>
            <div class="col-md-4 m-b">
              <span class="progress-type">total posts</span>
              <br>
              11
            </div>
          </row>

          <table class="table-progress table-sm">
            <thead>
              <tr>
                <th>P<span class="hidden-sm-down">lan</span></th>
                <th>B<span class="hidden-sm-down">uild</span></th>
                <th>T<span class="hidden-sm-down">est</span></th>
                <th>R<span class="hidden-sm-down">eflect</span></th>
                <th>G<span class="hidden-sm-down">allery Post</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="active">11</th>
                <th class="active">15</td>
                <th class="active">25</td>
                <th class="active">2</td>
                <th class="inactive"><i class="icon-cross"></i></td>
              </tr>
            </tbody>
          </table>

          <a href="#" class="btn btn-primary">View Process &rarr;</a>
        </div>
      </div>

      <div class="card-progress m-b">
        <div class="card-block-title">
          <h3 class="card-title">Build a "No Wire" Circuit</h3>
          <a href="#" class="a-secondary">View all students &rarr;</a>
        </div>
        <div class="card-block">

          <row class="progress-details">
            <div class="col-md-4 m-b">
              <span class="progress-type">latest post</span>
              <br>
              Monday, Oct 10 <span class="tag tag-pill tag-warning">3 DAYS AGO</span></p>
            </div>
            <div class="col-md-4 m-b">
              <span class="progress-type">online mentor</span>
              <br>
              No mentor
            </div>
            <div class="col-md-4 m-b">
              <span class="progress-type">total posts</span>
              <br>
              11
            </div>
          </row>

          <table class="table-progress table-sm">
            <thead>
              <tr>
                <th>P<span class="hidden-sm-down">lan</span></th>
                <th>B<span class="hidden-sm-down">uild</span></th>
                <th>T<span class="hidden-sm-down">est</span></th>
                <th>R<span class="hidden-sm-down">eflect</span></th>
                <th>G<span class="hidden-sm-down">allery Post</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="active">11</th>
                <th class="active">15</td>
                <th class="active">25</td>
                <th class="active">2</td>
                <th class="inactive"><i class="icon-cross"></i></td>
              </tr>
            </tbody>
          </table>

          <a href="#" class="btn btn-primary">View Process &rarr;</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
