{% extends "curiositymachine/layout/base.html" %}
{% block title %}Curiosity Machine - Student Progress{% endblock %}

{% block content %}

<div class="jumbotron-small jumbotron-green jumbotron-fluid">
  <div class="container">
    <div class="row m-b text-center text-md-left">
      <a href="{% url 'profiles:educator_dashboard_students' %}" class="a-secondary">&larr; Back to Students</a>
    </div>
    <div class="row">
      <h2 class="text-center">Student Progress</h2>
    </div>

  </div>
</div>

<div class="container">
  <div class="row m-b-lg">

    <div class="col-md-3">
      <div class="card card-module">
        <div class="card-block card-block-title text-center">
          <div class="card-avatar">
            {% include "_avatar.html" with profile=student.profile width=60 height=60 crop='thumb' gravity='faces' %}
          </div>
          <p>
            {% if student.first_name or student.last_name %}
            {{ student.first_name }}
            <br>
            {{ student.last_name }}
            {% else %}
            <em>No name provided</em>
            {% endif %}
          </p>
        </div>
        <div class="card-block">
          <p>
            Started: <strong>{{ progresses|length }}</strong>
            <br>
            Completed: <strong>1</strong>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      {% for progress in progresses %}
      <div class="card-progress m-b">
        <div class="card-block-title">
          <h3 class="card-title">{{ progress.challenge.name }}</h3>
          <a href="{% url "profiles:educator_dashboard_students" %}" class="a-secondary">View all students &rarr;</a>
        </div>
        <div class="card-block">

          <div class="row progress-details">
            <div class="col-md-4 m-b">
              <span class="progress-type">latest post</span>
              <br>
              {{ progress.latest_student_comment.created|date:"l, M d" }} <span class="tag tag-pill tag-success">TODAY</span></p>
            </div>
            <div class="col-md-4 m-b">
              <span class="progress-type">online mentor</span>
              <br>
              {% if progress.mentor %}
              {{ progress.mentor.username }}
              {% else %}
              No mentor
              {% endif %}
            </div>
            <div class="col-md-4 m-b">
              <span class="progress-type">total posts</span>
              <br>
              {{ progress.total_student_comments }}
            </div>
          </div>

          <table class="table-progress table-sm">
            <thead>
              <tr>
                <th>P<span class="hidden-sm-down">lan</span></th>
                <th>B<span class="hidden-sm-down">uild</span></th>
                <th>T<span class="hidden-sm-down">est</span></th>
                <th>R<span class="hidden-sm-down">eflect</span></th>
                <th>G<span class="hidden-sm-down">allery Post</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="active">{{ progress.student_comment_stages.1|default:0 }}</th>
                <th class="active">{{ progress.student_comment_stages.2|default:0 }}</td>
                <th class="active">{{ progress.student_comment_stages.3|default:0 }}</td>
                <th class="active">{{ progress.student_comment_stages.4|default:0 }}</td>
                <th class="inactive"><i class="icon-cross"></i></td>
              </tr>
            </tbody>
          </table>

          <a href="{% url "challenges:challenge_progress" challenge_id=progress.challenge_id username=student.username %}" class="btn btn-primary">View Process &rarr;</a>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
