{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Curiosity Machine - Home{% endblock %}
{% block body-classes %}educator-dashboard{% endblock %}
{% block body-id %}educator-dashboard-students{% endblock %}

{% block content %}

{% include 'profiles/educator/dashboard/_header.html' %}

<div class="container m-b-lg">

  {% include 'profiles/educator/dashboard/_navigation.html' with activeStudents="active-nav" %}

  <div class="row p-b">
    <div class="col-md-12">
      <h2>Students</h2>
      <p>In a <a href="{% url 'about-membership' %}">membership</a>, this page will list your students and allow you to see their progress on design challenges.</p>
    </div>
  </div>

  <div class="m-t-lg">
    {% include 'profiles/educator/dashboard/_membership-blurb.html' %}
  </div>

</div>
{% endblock %}

{% block js %}
  <!-- script that makes "more" say "less" after you click in expandable cards -->
  <script>
  $("a[data-text-swap]").on("click", function() {
    var el = $(this);
    if (el.text() == el.data("text-swap")) {
      el.text(el.data("text-original"));
    } else {
      el.data("text-original", el.text());
      el.text(el.data("text-swap"));
    }
    });
  </script>
{% endblock %}
