.avatar img {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
}

.avatar-sm img {
  width: 40px;
  height: 40px;
}

.avatar-shadow img {
  box-shadow: 0px 2px 4px 0px $main-shadow;
}
