.ai-banner {
  display: block;
  background-image: url("../images/ai_banner.png");
  height: 200px;
  object-fit: scale-down;
  background-position: center;
  text-align: center;
  margin: 30px -65px 0;
  .ai-banner-font {
    font-family: 'Raleway', Helvetica, sans-serif;
    margin: 0 0 0.75em;
    color: white;
    text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
  }
  .ai-banner-font-h1 {
    font-size: 50px;
    line-height: 2;
    font-weight: 600;
  }
  .ai-banner-font-h2 {
    font-size: 25px;
    line-height: 0;
    font-weight: 300;
  }
}
.ai-banner:hover{
  text-decoration: underline;
}