.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $primary-blue;
}

/*
$btn-primary-color: $ivory !default;
$btn-primary-bg: $primary-blue !default;
$btn-primary-border: $primary-blue-darkest !default;

$btn-secondary-color: $dark !default;
$btn-secondary-bg: $ivory !default;
$btn-secondary-border: $sand !default;


@mixin btn-tab-focus() {
  outline: none;
  box-shadow: inset 0 0 0 2px $ivory;
}

@mixin btn-secondary-tab-focus($color) {
  outline: none;
  box-shadow: inset 0 0 0 2px $color;
}

.btn {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include btn-tab-focus();
    }
  }
}

.btn-primary {
  @include button-variant(#fff, $primary-blue, shade($primary-blue, 20));
}
.btn-secondary {
  @include button-variant($primary-blue, $btn-secondary-bg, $btn-secondary-border);
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include btn-secondary-tab-focus($primary-blue);
    }
  }
}

.btn-red {
  @include button-variant(#fff, $primary-red, shade($primary-red, 20));
}
.btn-red-secondary {
  @include button-variant($primary-red, $btn-secondary-bg, shade($primary-red, 20));
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include btn-secondary-tab-focus($primary-red);
    }
  }
}

.btn-purple {
  @include button-variant(#fff, $primary-purple, shade($primary-purple, 20));
}
.btn-purple-secondary {
  @include button-variant($primary-purple, $btn-secondary-bg, shade($primary-purple, 20));
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include btn-secondary-tab-focus($primary-purple);
    }
  }
}

.btn-green {
  @include button-variant($primary-green, shade($primary-green, 20));
}
.btn-green-secondary {
  @include button-variant($primary-green, $btn-secondary-bg, shade($primary-green, 20));
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include btn-secondary-tab-focus($primary-green);
    }
  }
}

.btn-orange {
  @include button-variant(#fff, $primary-orange, shade($primary-orange, 20));
}
.btn-orange-secondary {
  @include button-variant($primary-orange, $btn-secondary-bg, shade($primary-orange, 20));
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include btn-secondary-tab-focus($primary-orange);
    }
  }
}
*/
