@mixin btn-color($color) {
  color: white;
  background-color: $color;
  border-color: $color;
  &:hover {
    color: white;
    background-color: shade($color, 10%);
        border-color: shade($color, 10%);
  }
  &:focus {
    color: white;
    box-shadow: inset 0 0 0 2px #fff;
  }
  &:active {
    color: white;
    background-color: shade($color, 20%);
        border-color: shade($color, 20%);
  }
}

@mixin btn-secondary-color($color) {
  color: $color;
  background-color: white;
  border-color: $color;
  &:hover {
    color: $color;
    background-color: tint($color, 90%);
    border-color: $color;
  }
  &:focus {
    color: $color;
    border-color: tint($color, 50%);
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px $color;
  }
  &:active {
    color: $color;
    background-color: tint($color, 80%);
    border-color: $color;
  }
}

// The button styles

.btn {
  display: inline-block;
  padding: 12px;
  @include btn-color($action-color);
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-radius: $base-border-radius;
  outline: none;
  transition: all .1s ease-in-out;
}

.btn-secondary {
  @extend .btn;
  @include btn-secondary-color($action-color);
}

.btn-red {
  @extend .btn;
  @include btn-color($primary-red);
}

.btn-red-secondary {
  @extend .btn-secondary;
  @include btn-secondary-color($primary-red);
}

.btn-orange {
  @extend .btn;
  @include btn-color($primary-orange);
}

.btn-orange-secondary {
  @extend .btn-secondary;
  @include btn-secondary-color($primary-orange);
}

.btn-green {
  @extend .btn;
  @include btn-color($primary-green);
}

.btn-green-secondary {
  @extend .btn-secondary;
  @include btn-secondary-color($primary-green);
}

.btn-purple {
  @extend .btn;
  @include btn-color($primary-purple);
}

.btn-purple-secondary {
  @extend .btn-secondary;
  @include btn-secondary-color($primary-purple);
}

// Button Layout Settings - put this on a button in a .text-center div to center it
.btn-block {
  display: inline-block;
  margin-bottom: $base-spacing;
}