.btn {
  font-size: $base-font-size;
  font-weight: $heavy-font-weight;
}

.btn-white {
  color: $primary-blue;
  &:hover {
    color: $primary-blue;
  }
}

.btn-outline-white {
  &:hover {
    color: $primary-blue;
  }
}
