// .cm-card
// .cm-info-card

.cm-card,
.cm-info-card {
  border-radius: 4px;

  .card-body {
    padding: 0.75em;
    flex: none;

    &.card-divider {
      border-top: 2px solid $sand;
    }

    .card-title,
    .card-title a {
      font-weight: 700;
      color: $dark;
      margin-bottom: 0;

      &:hover,
      &:focus {
        color: tint($dark, 30%);
        text-decoration: none;
      }
    }
  }

  .card-flags > * {
    margin-bottom: 20px;
  }

  .card-flag {
    padding: 5px 30px 5px 20px;
    position: absolute;
    left: -10px;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 16px solid transparent;
      border-right: 12px solid $ivory;
      position: absolute;
      top: 0;
      right: 0;
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-right-width: 10px;
      border-right-style: solid;
      border-bottom: 10px solid transparent;
      border-left: 0px solid transparent;
      position: absolute;
      left: 0;
      bottom: -10px;
      right: 100%;
    }
  }

  .card-flag-purple {
    background-color: $primary-purple;
    color: $ivory;

    &:before {
      border-right-color: $primary-purple-dark;
    }
  }

  .card-flag-green {
    background-color: $primary-green;
    color: $ivory;

    &:before {
      border-right-color: $primary-green-dark;
    }
  }
}

.cm-card {
  min-height: 375px;
  box-shadow: 0px 2px 5px 1px rgba(148, 148, 148, 0.5);
  border: none;
}

.cm-info-card {
  .card-header,
  .card-body,
  .card-footer {
    padding: 1.25em;
  }

  .card-header {
    background-color: $sand;

    h1, h2, h3, h4 {
      margin-bottom: 0px;
    }
  }

  .card-footer {
    background-color: tint($sand, 50%);
  }
}
