// .cm-card               - basic card style
// .cm-fancy-card         - fancy card style, as seen on dashboards
// .cm-info-card          - info card style as seen on inspiration pages
// .cm-profile-card       - card for displaying user profiles, like on the mentor community page
// .card-body >
//   .card-body-toggle    - collapse toggle for .card-body
//   .card-divider        - add to .card-body to visually separate from preceeding section

.cm-card,
.cm-fancy-card,
.cm-profile-card,
.cm-info-card {
  border-radius: 4px;

  .card-body {
    padding: 0.75em;
    flex: none;

    &.card-divider {
      border-top: 2px solid $sand;
    }
  }

  .card-flags > * {
    margin-bottom: 20px;
  }

  .card-flag {
    padding: 5px 30px 5px 20px;
    position: absolute;
    left: -10px;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 16px solid transparent;
      border-right: 12px solid $ivory;
      position: absolute;
      top: 0;
      right: 0;
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-right-width: 10px;
      border-right-style: solid;
      border-bottom: 10px solid transparent;
      border-left: 0px solid transparent;
      position: absolute;
      left: 0;
      bottom: -10px;
      right: 100%;
    }
  }

  .card-flag-purple {
    background-color: $primary-purple;
    color: $ivory;

    &:before {
      border-right-color: $primary-purple-dark;
    }
  }

  .card-flag-green {
    background-color: $primary-green;
    color: $ivory;

    &:before {
      border-right-color: $primary-green-dark;
    }
  }
}

.cm-card,
.cm-fancy-card {
  box-shadow: 0px 2px 5px 1px rgba(148, 148, 148, 0.5);
  border: none;
}

.cm-card,
.cm-info-card {
  .card-body {
    .card-title,
    .card-title a {
      font-weight: 700;
      color: $dark;
      margin-bottom: 0;

      &:hover,
      &:focus {
        color: tint($dark, 30%);
        text-decoration: none;
      }
    }
  }
}

.cm-fancy-card {
  .card-body {
    background-color: $ivory;

    .dropdown-toggle {
      border: 1px solid $light-gray;
    }

    .card-title {
      color: $dark;
      margin: 0.5em 0 1em 0;

      a {
        color: $dark;
        &:hover,
        &:focus {
          text-decoration: none;
          color: $primary-blue;
        }
      }
    }

    .card-section-title {
      font-family: $headings-font-family;
      font-size: 0.875em;
      font-weight: normal;
      text-transform: capitalize;
      letter-spacing: 2px;
      margin-top: 0.75em;
    }
  }
}

.cm-info-card {
  .card-header,
  .card-body,
  .card-footer {
    padding: 1.25em;
  }

  .card-header {
    background-color: $sand;

    h1, h2, h3, h4 {
      margin-bottom: 0px;
    }
  }

  .card-footer {
    background-color: tint($sand, 50%);
  }
}

.cm-profile-card {
  text-align: center;

  .card-header,
  .card-body {
    padding: 1em;
  }

  .card-header a {
    color: $primary-red;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .card-body {
    min-height: 7em;
    background: $ivory;
  }

  .avatar {
    border-radius: 50%;
    border: 3px solid $sand;
  }
}

.card-body-toggle {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 3px 7px;
  z-index: 100;
  color: white;
  background-color: darken($sand, 20%);
  font-size: 0.875em;
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom-right-radius: 4px;

  &:hover {
    background-color: darken($sand, 15%);
    text-decoration: none;
    color: white;
  }
  &:focus {
    background-color: $primary-red;
  }
}
