.jumbotron-green {
  @extend .jumbotron;
  background-color: $primary-green;
  color: $ivory;

  h1 {
    margin-bottom: 0;
  }
}

.jumbotron-dark {
  @extend .jumbotron;
  background-color: shade($dark, 40%);

  h1 {
    margin-bottom: 0;
  }
}

.jumbotron-dark-pattern {
  @extend .jumbotron;
  background-color: shade($dark, 40%);
  background-image: url("../images/design-challenge-repeating-pattern.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

.hero {
  background-color: $primary-blue;
  border-radius: $base-border-radius;
  margin-bottom: 0px;
  padding: 0px;
  display: table;
  width: 100%;

  .hero-img {
    display: table-cell;
    width: 480px;
    img {
      border-radius: 0 $base-border-radius $base-border-radius 0;
    }
  }

  .hero-text {
    display: table-cell;
    vertical-align: middle;

    h3 {
      color: tint($primary-blue, 70%);
    }
  }
}

@include media-breakpoint-down(md) {
  .hero {
    display: inherit !important;
    width: auto;
  }
  .hero-img, .hero-text {
    width: 100% !important;
    display: block !important;
  }
  .hero-img img {
    border-radius: 0 0 $base-border-radius $base-border-radius !important;
  }
}
