.jumbotron-green {
  @extend .jumbotron;
  background-color: $primary-green;
  color: $ivory;

  h1 {
    margin-bottom: 0;
  }
}

.jumbotron-sand {
  @extend .jumbotron;
  background-color: $dark;

  h1 {
    margin-bottom: 0;
  }
}

.jumbotron-dark {
  @extend .jumbotron;
  background-color: shade($dark, 40%);

  h1 {
    margin-bottom: 0;
  }
}

.jumbotron-dark-pattern {
  @extend .jumbotron-dark;
  background-image: url("../images/design-challenge-repeating-pattern.png");
  background-attachment: fixed;
  background-repeat: repeat;
}
