.cm-jumbotron {
  @extend .jumbotron;

  text-align: center;
  padding: $large-spacing 0 $small-spacing 0;
  margin-bottom: $base-spacing;
}

.jumbotron-blue {
  color: white;
  background-color: $primary-blue;
}
