.jumbotron-green {
  @extend .jumbotron;
  background-color: $primary-green;
  color: $ivory;

  h1 {
    margin-bottom: 0;
  }
}

.jumbotron-dark {
  @extend .jumbotron;
  background-color: shade($dark, 40%);

  h1 {
    margin-bottom: 0;
  }
}

.jumbotron-dark-pattern {
  @extend .jumbotron;
  background-color: shade($dark, 40%);
  background-image: url("../images/design-challenge-repeating-pattern.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

.jumbotron-small {
  @extend .jumbotron;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
}
