.cm-jumbotron {
  text-align: center;
  padding: $large-spacing 0 $small-spacing 0;
  margin-bottom: $base-spacing;
}

.hero {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0em;
}
