.cm-jumbotron {
  @extend .jumbotron;

  text-align: center;
  padding: $large-spacing 0 $small-spacing 0;
  margin-bottom: $base-spacing;
}

.jumbotron-blue {
  color: $ivory;
  background-color: $primary-blue;
}

.jumbotron-green {
  color: $ivory;
  background-color: $primary-green;
}

.jumbotron-dark-pattern {
  color: $ivory;
  background-color: shade($dark, 40%);
  background-image: url("../images/design-challenge-repeating-pattern.png");
  background-attachment: fixed;
  background-repeat: repeat;
}
