.cm-list-group {
  &.list-group-flush {
    border-top: 1px solid $sand;
    border-bottom: 1px solid $sand;
    .list-group-item {
      background-color: transparent;
      border-color: $sand;
      border-width: 1px;
    }
  }
}

.activity-list-group {
  .list-group-item {
    white-space: nowrap;
    padding-right: 75px;

    a {
      display: inline-block;
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .indicator {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    border-radius: 50%;
    margin: 0.2em 0.8em 0.2em 0.2em;
    vertical-align: baseline;

    &.indicator-read {
      border: 1px solid #ccc;
      background: transparent;
    }
    &.indicator-unread {
      background: #0275d8;
    }
  }

  .timesince {
    display: none;
  }

  .badge {
    position: absolute;
    right: 0;
    margin-right: 1em;

    &.plan-stage {
      background-color: $primary-green;
    }
    &.build-stage {
      background-color: $primary-purple;
    }
    &.test-stage {
      background-color: $primary-red;
    }
    &.reflect-stage {
      background-color: #1EB9C8;
    }

    @include media-breakpoint-up(md) {
      .timesince {
        display: inline;
        position: absolute;
        right: 0;
        margin-right: 1em;
      }
      .tag {
        right: 180px;
      }
      .list-group-item {
        padding-right: 180px;
      }
    }
  }
}
