.pagination {
  .arrow {
    padding: 12px 12px 8px 12px;
  }
  li a,
  li span {
    border-color: $light-gray;
    color: $primary-blue;
    padding: 10px 14px;
    &:hover {
      color: shade($primary-blue, 20);
    }
  }
  .active a,
  .active a:hover,
  .active span,
  .active span:hover {
    background-color: $primary-blue;
    border-color: $light-gray;
  }
  .disabled a:hover,
  .disabled span:hover {
    cursor: default;
  }
}
