.pagination {
  .icon-left-arrow,
  .icon-right-arrow {
    position: relative;
    top: 3px;
  }
  li a,
  li span {
    border-color: $sand;
    color: $primary-blue;
    &:hover {
      color: $primary-blue-dark;
    }
  }
  .active a,
  .active a:hover,
  .active .page-link,
  .active .page-link:hover,
  .active span,
  .active span:hover {
    background-color: $primary-blue;
    border-color: $sand;
    color: $sand;
  }
  .disabled a,
  .disabled span {
    @include plain-hover-focus {
      cursor: default;
    }
  }
}
