.graph {
  background: white;

  svg {
    .stage-plan {
      fill: #9CB86B;
      .colorbar {
        fill: #F5F8F1;
      }
      .summary {
        fill: #9CB86B;
      }
    }

    .stage-build {
      fill: #6773B4;
      .colorbar {
        fill: #F1F1F8;
      }
      .summary {
        fill: #6773B4;
      }
    }

    .stage-test {
      fill: #F96844;
      .colorbar {
        fill: #FFF0ED;
      }
      .summary {
        fill: #F96844;
      }
    }

    .stage-reflect {
      fill: #1EB9C8;
      .colorbar {
        fill: #E8F8FA;
      }
      .summary {
        fill: #1EB9C8;
      }
    }

    .summary {
      font-weight: 900;
    }

    .graphline {
      stroke: #d8d6d4;
      fill: transparent;
      stroke-width: 2px;
    }

    .mentorline {
      stroke: gray;
      fill: transparent;
      stroke-width: 1px;
    }

    text {
      font-size: 10px;
      fill: dimgray;
    }
  }
}