.graph {
  background: white;
  border: 1px solid $sand;

  svg {
    .stage-plan {
      fill: $primary-green;
      .colorbar {
        fill: tint($primary-green, 90%);
      }
      .summary {
        fill: $primary-green;
      }
    }

    .stage-build {
      fill: $primary-purple;
      .colorbar {
        fill: tint($primary-purple, 90%);
      }
      .summary {
        fill: $primary-purple;
      }
    }

    .stage-test {
      fill: $primary-red;
      .colorbar {
        fill: tint($primary-red, 90%);
      }
      .summary {
        fill: $primary-red;
      }
    }

    .stage-reflect {
      fill: #1EB9C8;
      .colorbar {
        fill: tint($primary-blue, 90%);
      }
      .summary {
        fill: #1EB9C8;
      }
    }

    .summary {
      font-weight: $heavy-font-weight;
    }

    .graphline {
      stroke: #d8d6d4;
      fill: transparent;
      stroke-width: 2px;
    }

    .mentorline {
      stroke: $gray;
      fill: transparent;
      stroke-width: 1px;
    }

    text {
      font-size: 12px;
      fill: $dark;
    }
  }
}
