.rebrand-banner {
  background-color: $primary-orange;
  background-image: url('../images/rebrand-banner-bkg.png');
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;

  color: $white;
  &,
  * {
    font-family: $base-font-family;
  }

  a {
    color: $white;
  }
}
