.table {
  background-color: $ivory;
  border: solid 2px $sand;

  thead th {
    border-color: $sand;
  }

  td {
    border-color: $sand;
  }
}

//
// Design Challenge Progress Table
//
.dc-progress-table {

  .dc-progress-header {
    border-bottom: 2px solid $sand;
    text-transform: uppercase;
    color: $primary-red;
    letter-spacing: 2px;
  }

  .student-list-item {
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: $small-spacing;
    }
  }

  .student-list-avatar {
    img {
      border-radius: 50%;
      background-color: $ivory;
    }
  }

  .post-type {
    display: inline-block;
    width: 48%;
    text-transform: uppercase;
    color: $primary-red;
    letter-spacing: 2px;

    @include media-breakpoint-down(sm) {
      text-align: right;
      padding-right: $small-spacing;
    }
  }

  .post-quantity {
    background-color: $primary-green;
    font-size: 1.25em;
    font-weight: $heavy-font-weight;
    height: 48px;
    padding-top: $small-spacing/2;

    @include media-breakpoint-down(sm) {
      width: 48%;
      display: inline-block;
    }
  }

  .post-empty {
    @extend .post-quantity;
    background-color: $sand;
    color: $gray;
  }

  .fixedheader {
    z-index: 500;
    background-color: $ivory;
  }
}
