{% load resized %}

<div class="card cm-card mb-3">
  <a href="{% url "lessons:lesson-progress-find-or-create" %}?lesson={{ lesson.id }}">
    <img class="card-img-top" src="{% resized lesson.card_image.url width=300 height=190 crop='fill' %}" alt="{{ lesson.title }}">
  </a>

  <div class="card-body">
    <p class="font-weight-bold card-title">
      <a class="base-type" href="{% url "lessons:lesson-progress-find-or-create" %}?lesson={{ lesson.id }}">
        {{ lesson.title }}
      </a>
    </p>
    <p class="card-text">{{ lesson.description }}</p>
  </div>

</div>
