{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Welcome to the AI Family Challenge{% endblock %}
{% block body-classes %}dashboard{% endblock %}

{% block body-id %}lesson-list{% endblock %}
{% block content %}

<div class="dashboard-aifc-header-bg text-light py-4 mb-2">
  <div class="container">
      <div class="row">
          <div class="col-md-12 my-4">
              <img class="dashboard-white-aifc-logo" src="{% static 'images/about/aifc-white-logo.svg' %}">
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="row lessons">
        {% include 'lessons/_list.html' %}
    </div>
</div>

{% endblock %}
