{% extends "lessons/page.html" %}

{% block full_content %}
  <div class="row">
    <div class="col-md-4">
      <div id="uploader">

        <div class="card my-3">
          <div class="card-header">
            Upload
          </div>
          <div class="card-body">
            <textarea
              class="form-control"
              disabled
              v-bind:disabled="disabled"
              placeholder="Post a comment or upload a file"
              v-model="newComment"></textarea>

            <button type="submit"
              class="btn btn-primary mt-3"
              disabled
              v-bind:disabled="disabled"
              @click="addTextComment">
              Submit
            </button>

            <button
              class="btn btn-primary mt-3 ml-2"
              disabled
              v-bind:disabled="disabled"
              @click="addMediaComment">
              Upload
            </button>
          </div>
        </div>

        <template v-for="comment in comments">
          <div class="card my-3">

            <template v-if="comment.upload">
              <template v-if="comment.upload.type == 'image'">
                <img class="card-img-top" v-bind:src="comment.upload.url" alt="user uploaded image" />
                <div class="card-body">
                  <button class="btn btn-sm btn-outline-purple" @click="removeComment(comment)">Remove</button>
                  <button class="btn btn-sm btn-outline-purple" @click="editMediaComment(comment)">Edit</button>
                </div>
              </template>

              <template v-if="comment.upload.type == 'video'">
                <div v-if="comment.upload.encodings.length">
                  <video
                    class="w-100"
                    preload="none"
                    v-bind:poster="comment.upload.thumbnail"
                    controls
                  >
                    <template v-for="encoding in comment.upload.encodings">
                      <source v-bind:src="encoding.url" v-bind:type="encoding.mimetype" />
                    </template>
                  </video>
                </div>
                <div v-else>
                  <video
                    class="w-100"
                    preload="none"
                    v-bind:src="comment.upload.url"
                    v-bind:poster="comment.upload.thumbnail"
                    controls>
                  </video>
                </div>
                <div class="card-body">
                  <button class="btn btn-sm btn-outline-purple" @click="removeComment(comment)">Remove</button>
                  <button class="btn btn-sm btn-outline-purple" @click="editMediaComment(comment)">Edit</button>
                </div>
              </template>
            </template>

            <template v-if="comment.text">
              <div class="card-body" :class="{ editing: comment == editing }">
                <div class="view">
                  <p class="card-text" style="white-space: pre;">${ comment.text }</p>
                  <button class="btn btn-sm btn-outline-purple" @click="removeComment(comment)">Remove</button>
                  <button class="btn btn-sm btn-outline-purple" @click="makeEditable(comment)">Edit</button>
                </div>
                <div class="edit">
                  <textarea
                     class="form-control"
                     v-model="comment.text"
                  ></textarea>
                  <button class="btn btn-sm btn-outline-purple" @click="editTextComment(comment)">Save</button>
                  <button class="btn btn-sm btn-outline-purple" @click="cancelEdit">Cancel</button>
                </div>
              </div>
            </template>

          </div>
        </template>

      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        {{ content|safe }}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://static.filestackapi.com/v3/filestack.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'

    const fsclient = filestack.init('AGMpw9ALPRTObV0qAHZKJz');
    const pick = function() {
      return new Promise(function(resolve, reject) {
        fsclient.pick({
          uploadInBackground: false,
          fromSources: ['local_file_system', 'webcam', 'video'],
          onFileUploadFinished: resolve,
          onFileUploadFailed: function(upload, error) {
            reject(error);
          }
        });
      });
    };

    function Api(opts) {
      this.disabled = !opts.progress;

      this.list = function() {
        return axios
        .get('/lessons/comment/?progress=' + opts.progress)
        .then(function (response) {
          return response.data;
        });
      };

      this.create = function(data) {
        data.upload = data.upload || {};
        data.text = data.text || "";

        return axios
        .post(
          '/lessons/comment/',
          {
            author: opts.author,
            lesson_progress: opts.progress,
            text: data.text,
            upload: data.upload
          }
        );
      };

      this.update = function(comment, data) {
        return axios
        .patch(
          '/lessons/comment/' + comment + '/',
          data
        );
      };

      this.destroy = function(comment) {
        return axios.delete(
          '/lessons/comment/' + comment + '/'
        );
      };
    }

    var api = new Api({
      author: {{ request.user.id }},
      progress: {{ progress.id|default:'undefined' }}
    });

    var uploader = new Vue({

      delimiters: ['${', '}'],

      el: "#uploader",

      data: {
        newComment: '',
        editing: undefined,
        comments: [],
      },

      computed: {
        disabled: function () {
          return api.disabled;
        },
        enabled: function () {
          return !api.disabled;
        }
      },

      mounted: function () {
        if (this.enabled) {
          this.getComments();
        }
      },

      methods: {

        getComments: function () {
          var that = this;
          api
          .list()
          .then(function (data) {
            that.comments = data;
          })
          .catch(function (error) {
            console.log(error);
          });
        },

        addTextComment: function () {
          var value = this.newComment && this.newComment.trim();
          if (!value) return;
          var that = this;
          api
          .create({text: value})
          .then(function (response) {
            that.newComment = '';
            that.getComments();
          })
          .catch(function (error) {
            console.log(error);
          });
        },

        makeEditable: function (comment) {
          this.editing = comment;
          this.editingCache = comment.text;
        },

        cancelEdit: function () {
          this.editing.text = this.editingCache;
          this.editing = undefined;
          this.editingCache = undefined;
        },

        editTextComment: function (comment) {
          var that = this;
          api
          .update(comment.id, {text: this.editing.text.trim()})
          .then(function (response) {
            that.editing = undefined;
          })
          .catch(function (error) {
            console.log(error);
          });
        },

        addMediaComment: function () {
          var that = this;
          pick()
          .then(function (upload) {
            return api.create({
              upload: upload
            });
          })
          .then(function (response) {
            that.getComments();
          })
          .catch(function (error) {
            console.log(error);
          });
        },

        editMediaComment: function (comment) {
          var that = this;
          pick()
          .then(function (upload) {
            return api.update(comment.id, {
              upload: upload
            });
          })
          .then(function (response) {
            that.getComments();
          })
          .catch(function (error) {
            console.log(error);
          });
        },

        removeComment: function (comment) {
          if (window.confirm("Are you sure you want to remove your comment?")) {
            var that = this;
            api
            .destroy(comment.id)
            .then(function (response) {
              that.getComments();
            })
            .catch(function (error) {
              console.log(error);
            });
          }
        }

      }
    });
  </script>
{% endblock %}
