{% extends "lessons/base.html" %}

{% block full_content %}
  <div class="row">
    <div class="col-md-4">
      <div id="uploader">

        <div class="card my-3">
          <div class="card-header">
            Upload
          </div>
          <div class="card-body">
            <textarea
              class="form-control"
              placeholder="Post a comment or upload a file"
              v-model="newComment"></textarea>

            <button type="submit"
              class="btn btn-primary mt-3"
              @click="addComment">
              Submit
            </button>

            <button
              class="btn btn-primary mt-3 ml-2"
              @click="pick">
              Upload
            </button>
          </div>
        </div>

        <template v-for="upload in uploads">
          <div class="card my-3">
            <div class="card-body">
              <p v-if="upload.text" class="card-text">
                ${ upload.text }
              </p>
              <img v-if="upload.src" class="card-img-top" v-bind:src="upload.src" alt="image" />
            </div>
          </div>
        </template>

      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        {{ content|safe }}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% comment %}
  <script src="https://static.filestackapi.com/v3/filestack.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const fsclient = filestack.init('AGMpw9ALPRTObV0qAHZKJz');

    var uploader = new Vue({
      delimiters: ['${', '}'],
      el: "#uploader",
      data: {
        newComment: '',
        uploads: [
        ],
      },
      mounted: function () {
        this.getComments();
      },
      methods: {
        getComments: function () {
          var that = this;
          axios.get('/lessons/{{ lesson.id }}/uploads/')
            .then(function (response) {
              that.uploads = response.data;
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        addComment: function () {
          var value = this.newComment && this.newComment.trim();
          if (!value) return;
          var that = this;
          axios.post(
              '/lessons/{{ lesson.id }}/uploads/',
              {
                author: {{ request.user.id }},
                content_type: 36,
                object_id: {{ lesson.id }},
                text: value
              },
              {
                xsrfCookieName: 'csrftoken',
                xsrfHeaderName: 'X-CSRFToken'
              }
            )
            .then(function (response) {
              that.newComment = '';
              that.getComments();
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        pick: function () {
          fsclient.pick({
            uploadInBackground: false,
            onFileUploadFinished: function (upload) {
              console.log(upload);
            }
          });
        }
      }
    });
  </script>
  {% endcomment %}
{% endblock %}
