{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block body-classes %}aifc-pages{% endblock %}

{% block body-id %}lesson-list{% endblock %}
{% block content %}

<div class="aifc-pages-header-bg text-light py-4 mb-2">
  <div class="container">
      <div class="row">
          <div class="col-md-12 my-4">
              <h2>Technovation Families AI Lessons</h2>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <p class="mt-3">
        Technovation Families is a free, hands-on artificial intelligence education competition that brings families, schools, communities, and technology know-it-alls together to give everyone the chance to learn, play and create with AI.
    </p>
    <p>
        Each lesson provides different concepts and activities that lead to the creation of a final project, an invention that solves a problem in their community using AI. Through the lessons, families learn foundational skills needed to utilize and explore aspects of AI, while participating in hands on activities where they get to actually engage in building AI agents. After completing all ten lessons, families should have a well rounded understanding of AI and how it can be used to help solve tough problems in their own communities.
    </p>
    <div class="row lessons mt-4">
        {% for lesson in lessons %}
        <div class="aifc-pages-col-md-5ths px-3 mb-2">
            {% include 'lessons/_lesson_card.html' with lesson=lesson %}
        </div>
        {% endfor %}
    </div>
    <hr class="hr-orange mx-4 mt-2">
    <div class="col-12 pl-0">
        <h2 class="aifc-pages-subtitle my-4">Meet the Community!</h2>
    </div>
    <div class="row mb-4">
        <div class="col-md-7 mx-3 embed-responsive embed-responsive-16by9">
            <iframe class="img-fluid rounded" width="560" height="315" src="https://www.youtube.com/embed/K_2btq8vTec" allowfullscreen></iframe>
        </div>
        <div class="col">
            <p>
                Join us as we embark on Season 3! Lead your community in learning about AI and solving problems in your community. Each participant will have a chance to submit their inventions to the World Championship in one of two divisions: Junior (11 years-old or younger) and Senior (12-16 years-old). Together, we can empower more communities to create and problem solve with artificial intelligence!
            </p>
            <p>
                Join us by learning how to lead this program in your community or building a solution that’s important to you and your community! You don’t need to be a tech expert to participate. Curious? Check out these
                <a href="https://www.technovation.org/blogs/technovation-families-finalists-regional-winners/">
                  awesome projects
                </a>
                from Season 2.
            </p>
            <div class="text-center">
                <a href="{% url "account_signup" %}" class="btn btn-primary mt-2">Join the Technovation Families Community!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
