{% extends "curiositymachine/layout/base.html" %}

{% block body-id %}lesson-page{% endblock %}
{% block body-classes %}lesson-pages{% endblock %}

{% block content %}

  <div class="container">
    <div class="row my-5">
      <div class="col-12 col-lg-10 offset-lg-1">

        <h1>{{ lesson.title }}</h1>

        <nav class="nav nav-fill">
          {% for page, item in subnav.items %}
          <div class="nav-item {{ page }} {% if page == active %}active{% endif %}">
            <a
              href="?page={{ page }}"
              class="nav-link"
            >
              {{ item.text }}
            </a>
          </div>
          {% endfor %}
        </nav>

        <div class="container lesson-container {{ active }} pt-3">
          {% block full_content %}
            {{ content|safe }}
          {% endblock %}
        </div>

      </div>
    </div>
  </div>

{% endblock %}