{% extends "curiositymachine/layout/base.html" %}

{% block body-id %}lesson-page{% endblock %}
{% block body-classes %}lesson-pages{% endblock %}

{% block content %}

  <div class="container">
    <div class="row my-5">
      <div class="col-12 col-lg-10 offset-lg-1">

        <h1>{{ lesson.title }}</h1>

        <nav class="nav nav-fill shadow">
          {% for tab in lesson.tabs %}
          <div class="nav-item {{ tab.param }} {% if tab.active %}active{% endif %}">
            <a
              href="?page={{ tab.param }}"
              class="nav-link"
            >
              {{ tab.name }}
            </a>
          </div>
          {% endfor %}
        </nav>

        <div class="lesson-container {{ lesson.active_tab.param }} shadow pt-3">
          {% block full_content %}
            {{ lesson.active_tab.content|safe }}
          {% endblock %}

          <div class="mt-3 mb-4 relative-nav">
            <div class="row">
              <div class="col-4">
                {% block left-nav %}
                {% if lesson.prev_tab %}
                <a href="?page={{ lesson.prev_tab.param }}" class="btn btn-outline-primary float-left">&lsaquo; Prev</a>
                {% endif %}
                {% endblock %}
              </div>
              <div class="col-4 d-flex justify-content-center">
                {% block middle-nav %}
                {% endblock %}
              </div>
              <div class="col-4">
                {% block right-nav %}
                {% if lesson.next_tab %}
                <a href="?page={{ lesson.next_tab.param }}" class="btn btn-outline-primary float-right">Next &rsaquo;</a>
                {% endif %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}