{% extends "lessons/page.html" %}
{% load render_bundle from webpack_loader %}

{% block full_content %}
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <div class="lesson-quiz-app">
          <quiz
            :quiz-id="{{ lesson.quiz_id }}"
            {% if progress %}:taker-id="{{ progress.owner.id }}"{% endif %}
          ></quiz>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% render_bundle 'lesson_quiz' %}
{% endblock %}
