{% load resized %}

<div class="card vertical-expandable-card">

  <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}" class="a-borderless">
    <img class="card-img-top mr-1" src="{% resized challenge.image.url width=545 height=240 crop='fill' %}" alt="{{ challenge.name }}">
  </a>

  <div class="card-block">
    <h3>
      <a href="{% url "challenges:preview_inspiration" challenge_id=challenge.id %}" class="a-borderless">
        {{ challenge.name }}
      </a>
    </h3>
  </div>

  <div class="card-block">
    <a class="expandable-card-toggle"
      data-text-swap="&minus; LESS INFO"
      data-toggle="collapse"
      href="#moreInfo-{{ challenge.id }}"
      aria-expanded="false"
      aria-controls="moreInfo-{{ challenge.id }}"
    >
      &plus; MORE INFO
    </a>
  </div>

  <div class="collapse" id="moreInfo-{{ challenge.id }}">
    <div class="expandable-card-more">
      <span class="expandable-card-more-section-title">DESCRIPTION</span>
      <p>{{ challenge.description }}</p>
    </div>
  </div>

</div>
