{% load resized %}

<div class="modal modal-cm fade" id="dashboard-help-modal" tabindex="-1" role="dialog" aria-labelledby="dashboard-help-modal" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content three-bullet-panel">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <ul>
        <li class="bullet-one">
          This dashboard tracks your family's progress through the 18 AI Family Challenge lessons.
        </li>
        <li class="bullet-two">
          To participate, click on and submit text, videos and pictures of your ideas to any of 
          the projects in Stage 1, 2 and 3. Do not forget to complete the Reflection Quizzes also!
        </li>
        <li class="bullet-three">
          Great news! All Stage 3 lessons help you build your AI World Championship 
          submission! Don't forget to submit by February 1, 2019.
        </li>
      </ul>
      
    </div>
  </div>
</div>
