{% load resized %}

<div class="modal modal-cm fade" id="dashboard-help-modal" tabindex="-1" role="dialog" aria-labelledby="dashboard-help-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Dashboard Help Modal</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        
      </div>
    </div>
  </div>
</div>
