{% load resized %}

<div class="modal modal-cm fade" id="dashboard-help-modal" tabindex="-1" role="dialog" aria-labelledby="dashboard-help-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content help-modal">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-left">
        <div class="container-fluid">
          
          <div class="row">
            <div class="num-col col-1">
              <i class="number one">1.</i>
            </div>
            <div class="col help-text">
              <p>You can view your progress through the 18 AI Family Challenge lessons in your dashboard.</p>
            </div>
          </div>

          <div class="row">
            <div class="num-col col-1">
              <i class="number two">2.</i>
            </div>
            <div class="col help-text">
              <p>To participate, click on and complete any of the projects in Stage 1, 2 and 3. Great news! 
              All Stage 3 projects help you build your AI World Championship submission!</p>
            </div>
          </div>

          <div class="row">
            <div class="num-col col-1">
              <i class="number three">3.</i>
            </div>
            <div class="col help-text">
              <p>How do you get projects to be recorded as complete? Submit text, videos or pictures in the Build section and 
              answer the Reflection quiz.</p>
            </div>
          </div> 

        </div>
      </div>
      
    </div>
  </div>
</div>
