{% load bootstrap4 %}
{% load resized %}

<fieldset id="{{ form.prefix }}">
  {% if form.instance and form.instance.id %}
  <div class="text-right text-muted">
    <label>
      Delete:
      {{ form.DELETE }}
    </label>
  </div>
  {{ form.id }}
  {% endif %}
  <div class="row">
    <div class="col-lg-4 text-center avatar-settings">
      {% if form.instance.image.url %}
        <img
         src={% resized form.instance.image.url width=80 height=80 crop='thumb' gravity='faces' %}
         class="rounded-circle"
        >
      {% else %}
        <img
         src={% resized MEDIA_URL|add:'images/placeholder.png' width=80 height=80 crop='thumb' gravity='faces' %}
         class="img-responsive"
        >
      {% endif %}
      {% form_group form.image_url field_class="btn btn-primary" %}
    </div>
    <div class="col-lg-8">
      {% form_group form.family_role %}
      <div class="row">
        <div class="col-lg-6">
          {% form_group form.first_name %}
        </div>
        <div class="col-lg-6">
          {% form_group form.last_name %}
        </div>
      </div>
      
      {% form_group form.age group_style="display: none;" required=True %}
    </div>
  </div>
  <hr />
</fieldset>
