{% load resized %}

<div class="card cm-info-card">
  <div class="card-header text-center p-3">
    <h4 class="card-title">Family Members</h4>
    <small class="text-muted">
      You have confirmed your family members <br/> and they are no longer editable.
    </small>
  </div>
  <div class="card-body">
    {% for member in request.user.familymember_set.all %}
    <div class="row py-3">
      <div class="col-lg-4 text-center">
        {% include "families/_avatar.html" with image=member.image %}
      </div>
      <div class="col-lg-8">
        <label>Family role:</label>
        <p class="form-control">{{ member.family_role_display }}</p>
        <div class="row">
          <div class="col-lg-6">
            <label>First name:</label>
            <p class="form-control">{{ member.first_name }}</p>
          </div>
          <div class="col-lg-6">
            <label>Last name:</label>
            <p class="form-control">{{ member.last_name }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    {% endfor %}
  </div>
</div>
