{% load ifactive %}
{% load notifications_tags %}
<div class="row">
  <div class="col-md-12 my-3">
    <nav class="dashboard-tabs">
      <ul class="nav text-white">
        <li class="nav-item {% ifactive "families:home" "active" %}">
          <a class="nav-link" href="{% url 'families:home' %}">
            Dashboard
          </a>
        </li>
        {% if flags.enable_aifcwc_tab %}
        <li class="nav-item {% ifactive "families:submission" "active" %}">
          <a class="nav-link" href="{% url 'families:submission' %}">
            World Pitch Summit
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
