{% load ifactive %}
<div class="row mb-3">
  <div class="col-md-12">
    <nav class="tab-navigation">
      <ul class="nav">
        <li class="nav-item {% ifactive "families:home" "active-nav" %}">
          <a class="nav-link" href="{% url 'families:home' %}">
            Dashboard
          </a>
        </li>
        <li class="nav-item {% ifactive "families:stage_1" "active-nav" %}">
          <a class="nav-link" href="{% url 'families:stage_1' %}">
            Stage 1
          </a>
        </li>
        <li class="nav-item {% ifactive "families:stage_2" "active-nav" %}">
          <a class="nav-link" href="{% url 'families:stage_2' %}">
            Stage 2
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
