{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Family Dashboard{% endblock %}
{% block body-classes %}aifc-pages dashboard family-dashboard{% endblock %}

{% block container %}
  <div class="aifc-pages-header-bg text-light py-4 mb-2">
    <div class="container">
      <div class="row mt-1 d-none d-md-flex">
        <div class="col-md-12">
          {{ program_name|default:"" }}
        </div>
      </div>
      {% include 'families/_navigation.html' %}
    </div>
  </div>
  <div>
    {% block content %}{% endblock %}
  </div>
{% endblock %}
