{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block title %}Family Dashboard{% endblock %}
{% block body-classes %}aifc-pages dashboard family-dashboard{% endblock %}

{% block container %}
<div class="jumbotron bg-pattern-blue-circles">
  <div class="container text-light">
    <div class="col-lg-8">
      <h1>AI Challenge</h1>
      <h2>
        {{ program_name|default:"" }}
      </h2>
    </div>
    {% include 'families/_navigation.html' %}
  </div>
</div>
<div>
  {% block content %}{% endblock %}
</div>
{% endblock %}
