{% extends "curiositymachine/layout/base.html" %}
{% load staticfiles %}
{% block body-classes %}about-pages{% endblock %}

{% block content %}
  <div class="jumbotron cm-jumbotron jumbotron-fluid bg-red bg-pattern-white text-white">
    <h1>Join the Artificial Intelligence Family Challenge</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-4">
        <div class="row">
          <div class="col-lg-12">
            <p>Join families around the world in learning basic artificial intelligence concepts to solve real problems in your community. Submit your project for a chance to join us at a global event in 2019!</p>
            <p>You will still have full access to all Curiosity Machine design challenges and any progress you have made, as well as new resources to help you in the AI Family Challenge. You will need to provide additional information after switching your account.</p>
            <hr class="hr"/>
          </div>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
        <p>What are you waiting for? Click the button to start setting up your family account!</p>
        <a class="btn btn-primary text-uppercase mb-4" href="{% url "families:create_profile" %}">Switch to a family account</a>
        <div class="embed-responsive embed-responsive-16by9 mt-2 mb-4">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/58R80Xk6Hgw" allowfullscreen></iframe>
        </div>
        <p class="mb-5">Still have questions? Click <a href="{% url "aichallenge" %}" target="_blank">here</a> to go to our AI Family Challenge page.</p>
      </div>
    </div>
  </div>
{% endblock %}
