{% extends "families/base.html" %}
{% load staticfiles %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/libs/jquery.circliful.min.js' %}"></script>
  <script>
    $(function(){
      $('*[data-percent]').circliful();
    });
  </script>
{% endblock %}

{% block content %}
  {% include 'families/_navigation.html' %}

  <div class="row mb-5">
    <div class="col-md-4 mb-4">
      <h3>Family</h3>
      <div class="dashboard-section">
        <ul class="members-list">
          {% for familymember in request.user.familymember_set.all %}
          <li class="members-list-item mb-3">
            {% include "profiles/_avatar.html" with profile=familymember width=60 height=60 crop='thumb' gravity='faces' classes='avatar' %}
            <span class="username">{{ familymember.name }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <h3>AI Family Challenge Program Progress</h3>
      <div class="row dashboard-section">
        {% for stage in stages %}
        {% if not stage.number == 3 or flags.enable_stage_3 %}
        <div class="col-md-4 text-center">
          <div
            data-percent={{stage.stats.percent_complete}}
            data-replacePercentageByText="{{stage.stats.completed}} of {{stage.stats.total}}"
            data-animationStep=20
            data-foregroundBorderWidth= 30
            data-backgroundBorderWidth= 30
            {% if stage.stats.completed == stage.stats.total %}
                data-foregroundColor = '#73AD21'
            {% else %}
                data-foregroundColor = '#3498DB'
            {% endif %}
            data-backgroundColor= '#666'
            data-fontColor= '#666'
          ></div>
          <p>Stage {{stage.number}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% if not flags.enable_stage_3 %}
        <div class="col-md-4 text-center">
          <div
            data-percent=0
            data-replacePercentageByText="Coming soon"
            data-animationStep=20
            data-foregroundBorderWidth= 30
            data-backgroundBorderWidth= 30
            data-backgroundColor= '#ccc'
            data-fontColor= '#666'
          ></div>
          <p>Stage 3</p>
        </div>
        {% endif %}
      </div>

      <div class="row dashboard-section instruction-text">
        <div class="col-md-12">
          <p>
            To start the Challenge, go to your Stage 1 tab and start working on challenges from
            left to right. Your progress will only show for these design challenges. Remember,
            for a challenge to be complete you need to make sure you answer the Reflection
            question!
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
