{% extends "families/base.html" %}
{% load staticfiles %}
{% load addstr %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/libs/jquery.circliful.min.js' %}"></script>
  <script>
    $(function(){
      $('*[data-percent]').circliful();
    });
  </script>
{% endblock %}

{% block content %}

  {% include "families/_dashboard_help.html" %}
  {% include 'families/_navigation.html' %}

  <div class="row mb-4 mt-4">
    <div class="col-md-4 mb-4">
      <h3>Family</h3>
      <div class="dashboard-section">
        <ul class="members-list">
          {% for familymember in request.user.familymember_set.all %}
          <li class="members-list-item mb-3">
            {% include "profiles/_avatar.html" with profile=familymember width=60 height=60 crop='thumb' gravity='faces' classes='avatar' %}
            <span class="username">{{ familymember.name }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <h3>AI Family Challenge Program Progress</h3>
      <div class="row dashboard-section">
        <button class="blue-round-button"
          data-toggle="modal" data-target="#dashboard-help-modal">?</button>
        <div class="col-md-4 text-center">
          <a href="{% url "families:lessons" %}">
            <div
              data-percent={{lesson_set.stats.percent_complete}}
              data-replacePercentageByText="{{lesson_set.stats.completed}} of {{lesson_set.stats.total}}"
              data-animationStep=20
              data-foregroundBorderWidth= 30
              data-backgroundBorderWidth= 30
              {% if lesson_set.stats.completed == lesson_set.stats.total %}
                  data-foregroundColor = '#73AD21'
              {% else %}
                  data-foregroundColor = '#3498DB'
              {% endif %}
              data-backgroundColor= '#666'
              data-fontColor= '#666'
            ></div>
            <p>Lessons Progress</p>
          </a>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}

