{% extends "curiositymachine/layout/base.html" %}

{% block content %}
<div class="jumbotron-blue jumbotron-fluid text-xs-center">
  <h1>To activate your account...</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="text-xs-center"><strong>Parents and guardians, please follow these directions to register for the program:</strong></p>
      <hr/>

      <ol>
        <li>
          Follow this link to complete the <a href="{{ presurvey.url }}">AI Challenge Pre-survey</a>.
        </li>
        <li>
          Check your email and follow directions to sign your consent form. Once you sign, you will receive a copy via email of the form.
        </li>
        <li>
          Check your email and follow directions to verify your email account.
        </li>
        <li>
          Once you complete all three items, you will receive an email that your account is activated. This can take up to 20 minutes. Try refreshing or re-logging in if you are unable to access the design challenges! 
        </li>
      </ol>

      <p><em>
        Email <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a> if you have completed the three steps and your account is not activated within 30 minutes.
      </em></p>

      <hr/>
      <p class="mb-3"><small>
        You can post pictures and videos of your projects on Curiosity Machine. To activate this account, your parent or guardian must complete the consent form sent to their email. This is in accordance with the Children’s Online Privacy Protection Act (COPPA).
      </small></p>
    </div>
  </div>
</div>
{% endblock %}
