{% extends "curiositymachine/layout/base.html" %}

{% block content %}
<div class="jumbotron-blue jumbotron-fluid text-xs-center">
  <h1>To activate your account...</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="text-xs-center">Parents and guardians, please <strong>follow these directions to register for the program:</strong></p>
      <hr/>

      <ol>
        <li>
          Complete the <a href="{{ presurvey.url }}">AI Family Challenge Pre-survey</a>.
        </li>
        <li>
          <strong>Sign your consent form.</strong> You should receive the form in your inbox.
        </li>
      </ol>
      <p>It can take <strong>up to 20 minutes</strong> for your account to be unlocked after you complete these steps. Try refreshing or re-logging in if you are unable to access the design challenges!</p>
      <p><em>
        Email <a href="mailto:curiosity@iridescentlearning.org">curiosity@iridescentlearning.org</a> if you have completed both steps and your account is not activated within 30 minutes.
      </em></p>

      <hr/>
      <p class="mb-3"><small>
        You can post pictures and videos of your projects on Curiosity Machine. To activate this account, your parent or guardian must complete the consent form sent to their email. This is in accordance with the Children’s Online Privacy Protection Act (COPPA).
      </small></p>
    </div>
  </div>
</div>
{% endblock %}
