{% extends "families/base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block content %}
  {% include 'families/_navigation.html' %}
  <div class="row">
    <div class="col-12 text-center">
      <h2>Are you ready to submit to the AI World Championship?</h2>
      <img width="355px" src="{% static "images/aifc/trophy.svg" %}" alt="Trophy">
      <p>
        Go back and look through your lessons. Put a bird on it prism microdosing letterpress retro cray. Godard swag helvetica chia.
      </p>
      <hr />
    </div>
    <div class="col-8 offset-2">
      {% if request.user.familyprofile.awardforce_slug %}
      <div class="text-center my-4">
        <a class="btn btn-primary" href="{% url "families:awardforce" %}">Go to submission</a>
      </div>
      {% else %}
      <h3>Requirements</h3>
      <p>
        In order to participate in the AI World Championship make sure you have satisfied the requirements below.
      </p>
      <div class="awardforce-checklist-app">
        <checklist
          create_url="{% url "families:awardforce" %}"
          change_family_members_url="{% url "profiles:edit_profile" %}"
        >
          <div slot="loader" class="loader">Loading...</div>
          <template slot="family_members">
            <ul>
              {% for member in request.user.familymember_set.all %}
              <li class="list-unstyled">
                {% include "families/_avatar.html" with image=member.image width=50 height=50 %}
                {{ member.first_name }} {{ member.last_name }}
              </li>
              {% endfor %}
            </ul>
          </template>
        </checklist>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}
  {% render_bundle 'awardforce_checklist' %}
{% endblock %}
