{% extends "families/base.html" %}
{% load staticfiles %}

{% block content %}
  {% include 'families/_navigation.html' %}
  <div class="row">
    <div class="col-12 text-center">
      <h2>Are you ready to submit to the AI World Championship?</h2>
      <img width="355px" src="{% static "images/aifc/trophy.svg" %}" alt="Trophy">
      <p>
        Go back and look through your lessons. Put a bird on it prism microdosing letterpress retro cray. Godard swag helvetica chia.
      </p>
      <hr />
    </div>
  </div>
{% endblock %}
