<div class="row">
  <div class="col-md-6">
    <h2>Groups</h2>
    <table class="table">
      <thead><tr>
	<th>Name</th>
	<th>Owner</th>
	<th></th>
      </tr></thead>
      {% for group in groups %}
	<tr>
	  <td>{{ group.object.name}}</td>
	  <td>{{ group.object.owners|join:", " }}</td>
	  <td>
	    <form action="{% url "groups:leave_group"  %}" method="POST">
	      {% csrf_token %}
	      {{ group.form.id}}
	      <button class="btn btn-default btn-xs" type="submit">LEAVE</button>
	    </form>
	  </td>
	</tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-6">
    <h2>Invitations</h2>
    <table class="table">
      <thead><tr>
	<th>Name</th>
	<th>Owner</th>
	<th></th>
      </tr></thead>
      {% for invite in invitations %}
	<tr>
	  <td>{{ invite.group.name}}</td>
	  <td>{{ invite.group.owners|join:", " }}</td>
	  <td>
	    <a href="{% url 'groups:accept_invitation' group_id=invite.group.id %}" class="btn btn-default btn-xs">Accept</a>
	  </td>
	</tr>
      {% endfor %}
    </table>
  </div>
</div>
<h3> Join A Group</h3>
<form action="{% url "groups:join_group"  %}" method="POST">
  {% csrf_token %}
  {{ group_form.code }}
  <button class="btn btn-primary" type="submit">JOIN</button>
</form>