{% extends "families/base.html" %}
{% load staticfiles %}

{% block content %}
  {% include 'families/_navigation.html' %}
  
  {% include 'families/stages/stage_info.html' with stagenum=stage.number %}
  
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">Design Challenges</h2>
      <div class="row mb-5">
        {% for challenge in challenges %}
        
        <div class="col-md-6 mb-2">
          {% include 'families/_challenge_card.html' with challenge=challenge show_detail_links=True %}
        </div>

        {% if forloop.counter|divisibleby:2 %}
          <div class="clearfix"></div>
        {% endif %}

        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Guides</h2>
      <div class="row">
        {% for unit in units %}
        <div class="col-12 mb-2">
          {% include "families/_unit_card.html" with unit=unit %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
