{% extends "families/base.html" %}
{% load staticfiles %}

{% block content %}
  {% include 'families/_navigation.html' %}

  <div class="row">
    <div class="col-md-8">
      <h2 class="text-xs-center">Design Challenges</h2>
      <div class="row mb-3">
        {% for challenge in challenges %}
        
        <div class="col-md-6 mb-1">
          {% include 'families/_challenge_card.html' with challenge=challenge show_detail_links=True %}
          {% if challenge.started %}
                <img class="family-dashboard-progress" src="{% static 'images/challenges/blue_circle.png' %}">
          {% elif challenge.completed %}
                <img class="family-dashboard-progress" src="{% static 'images/challenges/green_circle.png' %}">
          {% endif %}
        </div>

        {% if forloop.counter|divisibleby:2 %}
          <div class="clearfix"></div>
        {% endif %}

        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="text-xs-center">Guides</h2>
      <div class="row">
        {% for unit in units %}
        <div class="col-xs-12 mb-1">
          {% include "families/_unit_card.html" with unit=unit %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
