{% extends "families/base.html" %}
{% load staticfiles %}

{% block content %}
  {% include 'families/_navigation.html' %}
  
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="about-stage col-md-10">
      <h4>About Stage 1</h4>
      <hr class="line">
      <div class="row">
        <div class="col-1">
          <i class="number one">1.</i>
        </div>
        <div class="col-11">
          <p>You'll explore AI concepts through hands-on design challenges and build a 
          community of family learning.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <i class="number two">2.</i>
        </div>
        <div class="col-11">
          <p>You can view your progress through these first 5 challenges in your dashboard.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <i class="number three">3.</i>
        </div>
        <div class="col-11">
          <p>How do you get projects to be recorded as complete? Submit text, videos or pictures
          in the Build section and answer the Reflection quiz.</p>
        </div>
      </div> 
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">Design Challenges</h2>
      <div class="row mb-5">
        {% for challenge in challenges %}
        
        <div class="col-md-6 mb-2">
          {% include 'families/_challenge_card.html' with challenge=challenge show_detail_links=True %}
        </div>

        {% if forloop.counter|divisibleby:2 %}
          <div class="clearfix"></div>
        {% endif %}

        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Guides</h2>
      <div class="row">
        {% for unit in units %}
        <div class="col-12 mb-2">
          {% include "families/_unit_card.html" with unit=unit %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
