{% extends "families/stages/base.html" %}
{% block infobox %}
<div class="row">
    <div class="col-12">
        <h4>About Stage 2</h4>
        <hr >
        <ul>
            <li >
                Ready to Explore Robotics? Complete these 3 design challenges!
            </li>
            <li >
                Like Stage 1, submit text, videos or pictures and answer the 
                Reflection Quizzes to complete the design challenges.
            </li>
        </ul>
    </div>
</div>
{% endblock %} 