{% extends "families/base.html" %}

{% block content %}

  {% include 'families/_navigation.html' %}

  {% block infobox %}
  <div class="row">
      <div class="col">
      </div>
      <div class="about-stage col-10">
        <h4>About Stage 3</h4>
        <hr class="line">
        
        <div class="container-fluid">

          <div class="row">
            <div class="num-col col-1">
              <i class="number one">1.</i>
            </div>
            <div class="col">
              <p>Build your own AI invention to submit to the AI World Championship.</p>
            </div>
          </div>

          <div class="row">
            <div class="num-col col-1">
              <i class="number two">2.</i>
            </div>
            <div class="col">
              <p>You can view your progress through these 10 lessons in your dashboard.</p>
            </div>
          </div>

          <div class="row">
            <div class="num-col col-1">
              <i class="number three">3.</i>
            </div>
            <div class="col">
              <p>How do you get projects to be recorded as complete? Submit text, videos or pictures
              in the Build section and answer the Reflection quiz.</p>
            </div>
          </div> 
          
        </div>

      </div>
      <div class="col"></div>
  </div>
  {% endblock %} 

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Lessons</h2>
    </div>
    {% for lesson in lessons %}
    <div class="col-md-4 mb-2">
      {% include 'families/_lesson_card.html' with lesson=lesson %}
    </div>
    {% endfor %}
  </div>
{% endblock %}
