{% extends "families/stages/base.html" %}
{% block infobox %}
<div class="row">
  <div class="col-10 offset-1 three-bullet-panel">
    <h4>About Stage 1</h4>
    <hr class="line">
    <ul>
      <li class="bullet-one">
        You'll explore AI concepts through hands-on design challenges and build a 
        community of family learning.
      </li>
      <li class="bullet-two">
        You can view your progress through these first 5 challenges in your dashboard.
      </li>
      <li class="bullet-three">
        How do you get projects to be recorded as complete? Submit text, videos or pictures
        in the Build section and answer the Reflection quiz.
      </li>
    </ul>
  </div>
</div>
{% endblock %} 