{% extends "families/stages/base.html" %}
{% block infobox %}
<div class="row">
  <div class="stage-info-panel col-12 border rounded text-muted p-2 m-2">
    <p class="h6 font-weight-bold m-0 p-0">About Stage 1</p>
    <hr class="m-1 w-25">
    <ol class="list-unstyled">
      <li><span class="badge rounded-circle badge-blue">1.</span>
        Complete these 5 hands-on design challenges to learn about basic AI ideas.
      </li>
      <li><span class="badge rounded-circle badge-red">2.</span>
        How does your family complete the challenges? Submit text, videos or 
        pictures of your ideas and answer the Reflection Quizzes.
      </li>
    </ol>
  </div>
</div>
{% endblock %} 