<script>
  $(function() {
    var $collapse = $('#impact-collapse');
    var $trigger = $('#impact-collapse-trigger');
    var $msgs = $('.submit-message');

    $collapse.on('hide.bs.collapse', function () {
      $trigger.text($trigger.data('show-text'));
    });
    $collapse.on('show.bs.collapse', function () {
      $trigger.text($trigger.data('hide-text'));
    });

    var $form = $('#impact-survey');
    var $stat = $('#impact-survey-status');

    $form.on('ajax:before change', function() {
      $stat.removeClass('text-success text-danger');
      $stat.text('');
    });
    $form.on('ajax:success', function(data, stat, xhr) {
      $collapse.collapse('hide');
      $msgs.addClass('submitted');
    });
    $form.on('ajax:error', function(xhr, stat, err) {
      $stat.addClass('text-danger');
      $stat.text('Save failed. Please try again.');
    });

    function check_form() {
      var $submit = $('#impact-survey input[type=submit]');
      if ($('[name=student_count]').val() && $('[name=challenge_count]').val()) {
        $submit.prop("disabled", false);
      }
      else {
        $submit.prop("disabled", true);
      }
    }
    check_form();

    $(document).on("keyup", "[name=student_count], [name=challenge_count]", check_form);
    $(document).on("change", "[name=student_count], [name=challenge_count]", check_form);

  });
</script>
