.about-pages {
  .nav {
    justify-content: center;

    .nav-item {
      display: inline-block;
      margin: 0 20px;
    }

    .nav-link {
      padding: 0;
      transition-property: all;
      &:link,
      &:visited {
        color: $ivory;
        border-bottom: 2px solid $ivory;
      }
      &:hover,
      &:active,
      &.active {
        color: $primary-red-darkest;
        border-color: $primary-red-darkest;
      }
    }
  }

  h2 {
    color: $primary-red;
  }
  h2, h3 {
    text-align: center;
  }

  .numbered-bullet {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $primary-red;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    top: -3px;
  }
}
