.dashboard {
  .dashboard-aifc-header-bg {
    background-size: cover;
    vertical-align: middle;
    background-image: url("../images/aifc/orange-header.svg");
  }

  .dashboard-white-aifc-logo {
    width: 25%;
  }
  
  .dashboard-section {
    border-radius: 15px;
    border-style: solid;
    border-color: #E3E3DD;
    border-width: 2px;
    background: #FFFCF7;
  }
  
  .dashboard-page-bg {
    background-repeat: no-repeat;
    background-image: url("../images/aifc/page-background.svg");
    background-position-y: bottom;
  }

  .dashboard-subtitle {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #00B1C3;
    margin: 2px 0px 0px 0px;
  }

  .dashboard-avatar img {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px $main-shadow;
    float: left;
    margin-right: 10px;
  }

  .dashboard-tabs {
    border-bottom: 2px $sand solid;
    text-transform: uppercase; text-align: center;
    font-size: 0.875em;
    letter-spacing: 2px;

    .nav-item {
      border-bottom: 5px solid transparent;
      .nav-link {
        color: white;
      }
      &.active {
        border-bottom-color: white;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .dashboard-tabs {
      flex-direction: column;
      padding-bottom: 0.5em;
      .nav-item {
        border-bottom: none;
      }
    }
  }

  .nav-pills .nav-item .nav-link:not(.active) {
    color: $dark;
  }

  .card.card-action-needed {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
    font-size: 14px;

    .card-header {
      color: #a94442;
      background-color: #f2dede;
    }
  }

}
