footer {
  background-color: $white;
  color: $base-font-color;
}

@include media-breakpoint-only(xl) {
  .contact-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.social-icon-container,
.more-info-container {
  a {
    &:hover {
      text-decoration: none;
      color: $primary-blue;
    }
  }
}

.social-icons {
  margin: 0px 10px;
  color: $primary-darkblue;
  font-size: $base-font-size * 1;
  background-color: $light-gray;
  border-radius: 100%;
  padding: 8px;
  &:hover {
    // background-color: $white;
    color: $primary-blue;
  }
}
