footer {
  background-color: $dark;
  padding: 0px 0px $large-spacing 0px;
  color: $ivory;
}

.social-icons {
  margin: 0px 10px;
  color: $primary-purple;
  font-size: $base-font-size * 1;
  background-color: white;
  border-radius: 100%;
  padding:8px;
  &:hover {
    color: $primary-purple-light;
  }
}
