footer {
  background-color: $dark;
  padding: 0px 0px $large-spacing 0px;
  color: $ivory;

  .logo {
    display: block;
  }
}

.social-icons {
  margin: 0px 10px;
  color: $primary-purple;
  font-size: $base-font-size * 2.6875;
  &:hover {
    color: $primary-purple-light;
  }
}

.newsletter-panel {
  background-color: shade($dark, 40%);
  background-image: url("../images/design-challenge-repeating-pattern.png");
  background-attachment: fixed;
  background-repeat: repeat;
  color: white;
  padding: $large-spacing 0px $large-spacing 0px;
  margin-bottom: $large-spacing;

  h4 {
    color: $primary-green;
    margin-top: $base-spacing;
  }
}

.newsletter-subscribe {
  margin-top: $base-spacing;
}
