// Local colors copied from technovation.org nav bar
$font-body: #2a2a2a;
$font-body-mobile: $primary-purple;

#login-modal {
  .modal-footer {
    justify-content: flex-start;
  }
}

.navbar-cm {
  background-color: $white;
  color: $font-body;

  .navbar-brand {
    padding: 0;
    border: none;
  }
  .logo-large {
    height: 50px;
    margin: 5px 0;
  }
  .logo-small {
    height: 30px;
    margin: 10px 0;
  }

  .avatar img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 35px;
    height: 35px;
  }

  .dropdown-toggle:after {
    margin-left: 0.65em;
    margin-right: 0.4em;
  }

  .dropdown-menu {
    padding: 0;
    border: 0;
    margin-top: 10px;
    min-width: 12rem;

    .dropdown-item {
      padding-top: 14px;
      padding-bottom: 14px;
      color: $font-body;
      border: none;

      &:hover,
      &:focus {
        font-weight: $heavy-font-weight;
        background-color: $white;
        cursor: pointer;
      }
      &:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
      &:last-child {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  .list-group {
    border: 4px solid $primary-blue;
    border-radius: $border-radius;

    .list-group-item {
      text-align: center;
      padding: 0;
      border: none;
      &:last-child {
        overflow: hidden;
      }
    }

    .list-group-header {
      background: $primary-blue;
      color: $white;
      border-color: $primary-blue;
      text-align: center;
      padding: 0.75rem 1.25rem;
      border-radius: 0px;
    }

    .list-group-item-action {
      padding: 0.75rem 1.25rem;
      color: $font-body;
    }
    .list-group-item .list-group-item-action {
      border: none;
    }
    .list-group-item-action:hover,
    .list-group-item-action:focus {
      color: $primary-blue;
      cursor: pointer;
    }
  }

  &.navbar {
    padding: 0;

    .navbar-collapse {
      justify-content: flex-end;
      align-self: stretch;

      .navbar-nav {
        align-self: stretch;

        .nav-item {
          display: flex;
          align-items: stretch;

          .btn {
            align-self: center;
          }
        }

        .nav-link {
          color: $font-body;
          display: flex;
          align-items: center;
          border: none;
        }
      }
    }
  }

  &.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {
        // .navbar-collapse expanded
        @include media-breakpoint-up($next) {
          .nav-item {
            margin: 0 2px;
          }

          .nav-link {
            position: relative;
            color: $font-body;
            z-index: 1;
          }

          .nav-link:before {
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            z-index: -1;
            width: 95%;
            margin: 0 auto;
          }

          .dropdown.show .nav-link,
          .nav-link:hover {
            &:before {
              border-bottom: solid 4px $primary-blue;
            }
          }
        }

        // .navbar-collapse collapsed
        @include media-breakpoint-down($breakpoint) {
          .nav-item {
            color: $font-body-mobile;
            margin: 5px 0;
            border-radius: $base-border-radius;

            &:first-child {
              margin-top: 10px;
            }
            &:last-child {
              margin-bottom: 10px;
            }
          }
          .navbar-nav {
            .nav-link {
              &:hover {
                color: $primary-blue;
              }
            }
          }
        }
      }
    }
  }
}
