// .navbar-cm       - add to Bootstraps' .navbar for custom styling

// Local colors
$nav-blue: $primary-blue;
$nav-blue-hover: shade($primary-blue, 10);
$nav-orange: $primary-orange;
$nav-orange-hover: shade($primary-orange, 10);
$nav-red: $primary-red;
$nav-red-hover: shade($primary-red, 10);
$nav-green: $primary-green;
$nav-green-hover: shade($primary-green, 10);
$nav-purple: $primary-purple;
$nav-purple-hover: shade($primary-purple, 10);

.navbar-cm {
  background-color: $ivory;
  font-family: $heading-font-family;

  .navbar-brand {
    padding: 0;
    border: none;
  }

  .logo-large {
    height: 50px;
    margin: 5px 0;
  }
  .logo-small {
    height: 30px;
    margin: 10px 0;
  }

  .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .navbar-toggler {
    text-transform: uppercase;
    font-weight: $heavy-font-weight;
    font-size: 16px;
    color: $primary-blue;
    border: none;
  }

  .dropdown-toggle:after {
    margin-left: 0.65em;
    margin-right: 0.4em;
  }

  .dropdown-menu {
    padding: 0;
    border: 0;
    margin-top: 10px;

    .dropdown-item {
      padding-top: 14px;
      padding-bottom: 14px;
      color: $dark;
      border: none;

      &:hover,
      &:focus {
        background-color: $primary-purple;
        color: $ivory;
        cursor: pointer;
      }
      &:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
      &:last-child {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  .list-group {
    .list-group-item {
      text-align: center;
      padding: 0;
      border: none;
      &:last-child {
        overflow:hidden;
      }
    }

    .list-group-header {
      background: $primary-purple-dark;
      color: $ivory;
      border-color: $primary-purple-dark;
      text-align: center;
      padding: 0.75rem 1.25rem;
    }

    .list-group-item-action {
      color: $primary-purple;
      padding: 0.75rem 1.25rem;
      border: none;
    }
    .list-group-item .list-group-item-action {
      border: none;
    }
    .list-group-item-action:hover,
    .list-group-item-action:focus {
      background-color: $primary-purple;
      border-color: $primary-purple;
      color: $ivory;
      cursor: pointer;
    }
  }

  &.navbar {
    padding: 0;

    .navbar-collapse {
      justify-content: flex-end;
      align-self: stretch;

      .navbar-nav {
        align-self: stretch;

        .nav-item {
          display: flex;
          align-items: stretch;

          .btn {
            align-self: center;
          }
        }

        .nav-link {
          display: flex;
          align-items: center;
          border: none;
        }
      }
    }
  }

  &.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {

        // .navbar-collapse expanded
        @include media-breakpoint-up($next) {
          .nav-item {
            margin: 0 2px;
          }

          .nav-link {
            position: relative;
            color: $gray;
            transition: color 0.16s ease-in;
            z-index: 1;
          }

          .nav-link:before {
            content: "";
            position: absolute;
            background: $nav-blue;
            bottom: 0;
            left: 0;
            right: 0;
            top: 100%;
            transition: top 0.16s ease-in;
            z-index: -1;
          }

          .dropdown.show .nav-link,
          .nav-link:hover,
          .nav-link:focus {
            color: $ivory;

            &:before {
              top: 0;
            }
          }

          .nav-link-blue:before {
            background: $nav-blue;
          }
          .nav-link-orange:before {
            background: $nav-orange;
          }
          .nav-link-red:before {
            background: $nav-red;
          }
          .nav-link-green:before {
            background: $nav-green;
          }
          .nav-link-purple:before {
            background: $nav-purple;
          }
        }

        // .navbar-collapse collapsed
        @include media-breakpoint-down($breakpoint) {
          .nav-item {
            justify-content: center;
            padding: 15px 0;
            margin: 5px 0;
            border-radius: 4px;

            &:first-child {
              margin-top: 10px;
            }
            &:last-child {
              margin-bottom: 10px;
            }

            &, &:hover, &:focus {
              color: $ivory
            }

            &.nav-link-blue {
              background: $nav-blue;
              &:hover {
                background: $nav-blue-hover;
              }
            }
            &.nav-link-orange {
              background: $nav-orange;
              &:hover {
                background: $nav-orange-hover;
              }
            }
            &.nav-link-red {
              background: $nav-red;
              &:hover {
                background: $nav-red-hover;
              }
            }
            &.nav-link-green {
              background: $nav-green;
              &:hover {
                background: $nav-green-hover;
              }
            }
            &.nav-link-purple {
              background: $nav-purple;
              &:hover {
                background: $nav-purple-hover;
              }
            }
          }
        }

      }
    }
  }
}
