{% extends "_modal.html" %}
{% load staticfiles %}
{% load challenge_roles %}
{% can_see_resources request.user as can_see_resources %}

{% block id %}guide-modal{% endblock %}
{% block classes %}{% endblock %}
{% block inner-classes %}modal-lg{% endblock %}

{% block content %}
  {% with resources=challenge.resource_set.all %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h1>About This Challenge</h1>
    </div>
    <ul class="nav nav-tabs upwards">
      <li class="active">
        <a
          href="#guide-how-to"
          data-toggle="tab"
          ga-on="click"
          ga-event-category="Tab"
          ga-event-action="select"
          ga-event-label="How to make it"
        >
          How To Make It
        </a>
      </li>

      <li>
        <a
          href="#guide-more-info"
          data-toggle="tab"
          ga-on="click"
          ga-event-category="Tab"
          ga-event-action="select"
          ga-event-label="Learn more"
        >
          Learn More
        </a>
      </li>

      {% if request.user.is_authenticated and request.user.extra.is_mentor and challenge.mentor_guide %}
      <li>
        <a
          href="#mentor-guide"
          data-toggle="tab"
          ga-on="click"
          ga-event-category="Tab"
          ga-event-action="select"
          ga-event-label="Mentor guide"
        >
          Mentor Guide
        </a>
      </li>
      {% endif %}

      {% if resources and can_see_resources %}
      <li>
        <a
          href="#resources"
          data-toggle="tab"
          ga-on="click"
          ga-event-category="Tab"
          ga-event-action="select"
          ga-event-label="Resources"
        >
          Resources
        </a>
      </li>
      {% endif %}
    </ul>

    <div class="modal-body row clearfix tab-content">
      <div class="tab-pane fade in active" id="guide-how-to">
        <p>{{ challenge.how_to_make_it|safe }}</p>
      </div>

      <div class="tab-pane fade" id="guide-more-info">
        <p>{{ challenge.learn_more|safe }}</p>
      </div>

      {% if request.user.is_authenticated and request.user.extra.is_mentor and challenge.mentor_guide %}
      <div class="tab-pane fade" id="mentor-guide">
        <p>{{ challenge.mentor_guide|safe }}</p>
      </div>
      {% endif %}

      {% if can_see_resources %}
      <div class="tab-pane fade" id="resources">
        {% for resource in resources %}
        <div class="media-item">
          <div class="media-left pull-left">
            <img class="media-object" src="{% static 'images/edp/resource.png' %}" alt="document icon">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ resource.name }}</h4>
            <p>{{ resource.description }}</p>
            {% for resourcefile in resource.resourcefile_set.all %}
            <a href="{{ resourcefile.file.url }}" class="btn btn-primary" data-ga-track="pageview" data-ga-page="{{ resourcefile.file }}" ga-event-label="{{ resourcefile.file }}">
              {{ resourcefile.link_text|default:"Download" }}
            </a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="modal-footer">
      {% can_start_challenges request.user as can_start %}
      {% if can_start and show_start_button %}
      <form name="Start Building" action='{% url "challenges:start_building" challenge_id=challenge.id %}' method='POST'>
        {% csrf_token %}
        <input type="submit" value="Start Building" class="btn btn-primary btn-lg" />
      </form>
      {% endif %}
    </div>

  {% endwith %}
{% endblock %}
