{% extends 'challenges/edp/layout.html' %}

{% load widget_tweaks %}

{% block left_panel %}
  {% block commenting_bubble %}
  <div class="panel panel-bubble plan-build edp-comments">
    <div class="panel-body">
      <h1 data-submit-replacement-text="Please wait...">What step are you on?</h1>
      <p>{{challenge.build_call_to_action}} Did it work like you thought it would?</p>
      {% block step_form %}
      <form>
        <div class="form-group">
          <ul class="switch">
            <li>
              <input type="radio" name="stepSelector" id="buildSelector" value="build" checked>
              <label for="buildSelector">Building</label>
            </li>
            <li>
              <input type="radio" name="stepSelector" id="testSelector" value="test">
              <label for="testSelector">Testing</label>
            </li>
          </ul>
        </div>
        {{ comment_form.text|attr:"disabled:disabled" }}
        {{ comment_form.visual_media|attr:"disabled:disabled" }}
        <input type="submit" disabled="disabled" class="btn btn-primary pull-right" />
      </form>
      {% endblock %}
    </div>
  </div>
  {% endblock %}
{% endblock %}

{% block right_panel %}
  {% block right_panel_head %}{% endblock %}

  {% block comments %}{% endblock %}
{% endblock %}
