{% extends "curiositymachine/layout/base.html" %}
{% load resized %}
{% block title %}{{ challenge.name }}{% endblock %}
{% block body-id %}landing-page{% endblock %}
{% block social-title %}{{ challenge.name }}{% endblock %}
{% block social-description %}{{ challenge.description }}{% endblock %}
{% block social-image %}
  {% if challenge.landing_image %}
    {{ challenge.landing_image.url }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="jumbotron-fluid jumbotron-dark-pattern m-b-lg">
  <div class="container">
    <div class="hero">
      <div class="hero-text text-center p-a-md">
        <h1 class="light-type m-b-md">{{ challenge.name }}</h1>
        <h3>{{ challenge.description }}</h3>
        {% block jumbotron_message %}
        {% endblock %}

      </div>
      {% if challenge.landing_image %}
      <div class="hero-img">
        <img src="{% resized challenge.landing_image.url width=720 height=720 crop='fill' %}" class="hidden-md-down">
        <img src="{% resized challenge.landing_image.url width=720 height=400 crop='fill' %}" class="hidden-lg-up">
      </div>
      {% endif %}
    </div>
  </div>
  <a href="#inspiration-video" data-smoothscroll class="landing-scroll"><i class="icon-down-arrow"></i></a>
</div>

<div class="container">
  {% block body_rows %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="card card-module m-b-lg" id="inspiration-video">
        <div class="card-block card-block-title">
          <h4 class="card-title red-type">Inspiration Video</h4>
        </div>
        <div class="card-block">
          <div class="challenge-details-hero">
            {% if challenge.video %}
              <div class="videocontent">
                  <video
                    preload="none"
                    controls
                    poster='{% if challenge.image %}{{ challenge.image.url }}{% else %}{{challenge.video.thumbnails.first.url}}{% endif %}'
                    id="video-element-{{challenge.video.id}}"
                    data-ga-track="video"
                    data-ga-label="{{challenge.name}} inspiration video">
                    {% for v in challenge.video.encoded_videos.all %}
                      <source src="{{v.url}}" type="{{v.mime_type}}" />
                    {% endfor %}
                  </video>
              </div>
            {% elif challenge.image %}
              <img src="{{ challenge.image.url }}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- if no educator resources -->
    {% include "challenges/edp/_inspiration_no_resources.html" %}

  <!-- if has educator resources, is educator, parent or mentor account, & has access -->
    <!-- {% include "challenges/edp/_inspiration_resources_access.html" %} -->

  <!-- if has educator resources, is student, or has NO access -->
    <!-- {% include "challenges/edp/_inspiration_resources_no_access.html" %} -->

  {% endblock %}
</div>

{{ block.super }}
{% endblock %}
