{% extends "curiositymachine/layout/base.html" %}
{% load resized %}
{% block title %}{{ challenge.name }}{% endblock %}
{% block body-id %}landing-page{% endblock %}
{% block social-title %}{{ challenge.name }}{% endblock %}
{% block social-description %}{{ challenge.description }}{% endblock %}
{% block social-image %}
  {% if challenge.landing_image %}
    {{ challenge.landing_image.url }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="jumbotron-fluid jumbotron-dark-pattern m-b-lg">
  <div class="container">
    <div class="hero">
      <div class="hero-text text-center p-a-md">
        <h1 class="light-type m-b-md">{{ challenge.name }}</h1>
        <h3>{{ challenge.description }}</h3>
        {% block jumbotron_message %}
        {% endblock %}

      </div>
      {% if challenge.landing_image %}
      <div class="hero-img">
        <img src="{% resized challenge.landing_image.url width=720 height=720 crop='fill' %}" class="hidden-md-down">
        <img src="{% resized challenge.landing_image.url width=720 height=400 crop='fill' %}" class="hidden-lg-up">
      </div>
      {% endif %}
    </div>
  </div>
  <a href="#inspiration-video" class="landing-scroll"><i class="icon-down-arrow"></i></a>
</div>

<div class="container">
  {% block body_rows %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="card card-module m-b-lg" id="inspiration-video">
        <div class="card-block card-block-title">
          <h4 class="card-title red-type">Inspiration Video</h4>
        </div>
        <div class="card-block">
          <div class="challenge-details-hero">
            {% if challenge.video %}
              <div class="videocontent">
                  <video
                    preload="none"
                    controls
                    poster='{% if challenge.image %}{{ challenge.image.url }}{% else %}{{challenge.video.thumbnails.first.url}}{% endif %}'
                    id="video-element-{{challenge.video.id}}">
                    {% for v in challenge.video.encoded_videos.all %}
                      <source src="{{v.url}}" type="{{v.mime_type}}" />
                    {% endfor %}
                  </video>
              </div>
            {% elif challenge.image %}
              <img src="{{ challenge.image.url }}" />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="card card-module m-b-lg">
        <div class="card-block card-block-title">
          <h4 class="card-title red-type">Suggested Materials</h4>
        </div>
        <div class="card-block">
          {{ challenge.materials_list | safe }}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-module m-b-lg">
        <div class="card-block card-block-title">
          <h4 class="card-title red-type">Difficulty Level</h4>
        </div>
        <div class="card-block">
          <div class="row m-b">
            {% for level in challenge_difficulties %}
            <div class="col-xs-4 text-center">
              {% if challenge.difficulty_level == level.0 %}
              <span class="active-level">{{ level.1 }}</span>
              {% else %}
              <span class="inactive-level">{{ level.1 }}</span>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% if challenge.difficulty_level == 1 %}
          <p>
            This design challenge requires simple motor skills, understanding of straightforward concepts, or common materials to build.
          </p>
          {% elif challenge.difficulty_level == 2 %}
          <p>
            This design challenge may require moderate motor skills, understanding of some abstract concepts, or uncommon materials to build.
          </p>
          {% elif challenge.difficulty_level == 3 %}
          <p>
            This design challenge may require complex motor skills, understanding of abstract concepts, or unusual materials to build.
          </p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
  {% endblock %}
</div>

{{ block.super }}
{% endblock %}
