{% extends 'deprecated_base.html' %}

{% load staticfiles %}

{% block title %}{{ challenge.name }}{% endblock %}

{% block js %}
  <script src="{% static "js/challenges.js" %}"></script>
{% endblock %}

{% block content %}

  {% block top_header %}
  <h1 class="text-center">{{ challenge.name }}</h1>
  {% endblock %}


  {% block alerts %}{% endblock %}

  {% if challenge.draft %}
  {% block draft_message %}{% endblock %}
  {% endif %}

  <div class="challenge-content">

    {% include "challenges/edp/_nav.html" %}

    <div class="row">

      <div class="col-md-6">
        {% block left_panel %}
        {% endblock %}
      </div>

      <div class="col-md-6">
        {% block right_panel %}
        {% endblock %}
      </div>
    </div>

    {% block guide %}{% endblock %}
  </div>
{% endblock %}
