{% extends "challenges/edp/layout.html" %}

{% load widget_tweaks %}

{% block left_panel %}

  {% block commenting_bubble %}
  {% if quiz_form %}
  {% url "challenges:quizzes:quizzes" challenge_id=challenge.id username=progress.owner.username stage='reflect' as action_url %}
  <div class="panel panel-bubble teal right reflect-quiz-box edp-comments">
    <div class="panel-body">
      <h1>Reflect Quiz</h1>
      <p>You've finished your challenge. Take the quiz and see how much you've learned!</p>
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ quiz_form }}
        {% block quiz_form_submit %}
        <input type="submit"
          class="btn btn-primary pull-right"
          disabled="disabled"
        />
        {% endblock %}
      </form>
    </div>
  </div>
  {% else %}
  <div class="panel panel-bubble teal reflect-box edp-comments">
    <div class="panel-body">
      <h1 data-submit-replacement-text="Please wait...">Reflect</h1>
      <p class="hide_upon_submit">Are you finished with your project? Reflect on your work by answering a question below! Then you'll be able to share your design in the <a href="{% url "challenges:examples" challenge_id=challenge.id %}"><strong>Inspiration Gallery</strong></a>.</p>

      <ul class="challenge-reflect-questions hide_upon_submit" style="display: none;">
        {% for question in challenge.reflect_questions.all %}
          <li>{{ question }}</li>
        {% endfor %}
      </ul>

      <div class="reflect-question hide_upon_submit">
        <h3 class="question"></h3>
        <p class="refresh" title="answer a different question">
          <span class="glyphicon glyphicon-refresh"></span> Try another question.
        </p>
      </div>

      {% block reflect_form %}
      <form>
        {{ comment_form.text|attr:"disabled:disabled"|add_class:"form-control" }}
        {{ comment_form.visual_media|attr:"disabled:disabled" }}
        <input type="submit" disabled="disabled" class="btn btn-primary pull-right" />
      </form>
      {% endblock %}

    </div>
  </div>
  {% endif %}
  {% endblock %}
{% endblock %}

{% block right_panel %}
  {% block right_panel_head %}{% endblock %}

  {% block congrats_panel %}{% endblock %}

  {% block comments %}{% endblock %}
{% endblock %}
