{% extends "admin/base_site.html" %}
{% load admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'change' original.id %}">{{ original|truncatewords:"18" }}</a>
  &rsaquo; Import Members
</div>
{% endblock %}

{% block content %}
  Members:
  <table>
    {% for member in members %}
    <tr>
      {% for field in member %}
      <td>{{field.errors}} {{field.label_tag}} {{field.value}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  {% if members.is_valid %}
  <button>Create users</button>
  {% else %}
  No.
  {% endif %}
{% endblock %}
