//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//


.navbar {
  position: fixed;
  width: @nav-width;
  background: @gray-dark;
  height: 100%;
}

.nav-menu {
  margin: 15px 15px 15px 0;
  li {
    list-style-type: none;
    a, button {
      width: 100%;
      text-align: left;
      color: #d3cec5; 
      display: block;
      font-size: @font-size-large;
      padding: 3px 0;
    }
  }
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: @border-radius-base;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: none;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 1px;
    background: @gray;
    opacity: .75;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: @grid-float-breakpoint) {
    //display: none;
  }
}

