//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//

//main side nav
.navbar {
  position: fixed;
  width: @nav-width;
  background: @gray-dark;
  height: 100%;
}

.nav-menu {
  margin: 15px 15px 15px 0;
  li {
    list-style-type: none;
    a, button {
      width: 100%;
      text-align: left;
      color: #d3cec5; 
      display: block;
      font-size: @font-size-large;
      padding: 3px 0;
    }
  }
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: @border-radius-base;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: none;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 1px;
    background: @gray;
    opacity: .75;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: @grid-float-breakpoint) {
    //display: none;
  }
}

.challenge-nav {
  margin: 0 -(@grid-gutter-width / 2);
  height: 100px;
  position: relative;
  &.primary {
    margin-bottom: 20px;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0, .2);
  }
  &:before { //stripe
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    top: 47px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.66, rgba(0,0,0,.2) 66%), color-stop(.34, transparent), to(transparent));
    background-image: -moz-linear-gradient(90deg, rgba(0,0,0,.2) 66%, transparent 34%);
    background-image: -o-linear-gradient(90deg, rgba(0,0,0,.2) 66%, transparent 34%);
    background-image: linear-gradient(90deg, rgba(0,0,0,.2) 66%, transparent 34%);
    background-size: 12px 12px;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;
  }
  > ul {
    width: 100%;
    padding: 0;
    > li {
      position: absolute;
      height: 100%;
      list-style-type: none;
    }
  }
  &.primary li {cursor: pointer;}
  //li:hover .btn {font-size: 17px;}
  .btn {
    padding: 0px;
    text-align: left;
    background: none;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top:50%;
    margin-top: -34px;
    z-index: 3;
    outline: none;
    box-shadow: none;
    &:before {
      content: '';
      display: block;
      box-sizing: content-box;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background:#d3ccbf;
      position: absolute;
      top: 25px;
    }
    &:after {
      content: '';
      display: block;
      box-sizing: content-box;
      background: @blue;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      position: absolute;
      top: 25px;
      margin: 4px 0 0 4px;
    }
  }
  .guide {
    width: 15%;
    background: @gray-light;
    color: #fff;
    &:after {
      content: none;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 50px 0 50px 15px;
      border-color: transparent transparent transparent @gray-light;
      position: absolute;
      top: 0px;
      right: -15px;
      z-index: 1;
    }
    &:before {
      content: none;
    }
  }
  .inspiration {
    width: 20%;
    left: 15%;
    .btn {
      left: 10%;
      color: @blue;
    }
    &:after {
      background: @bg-color;
      position: absolute;
      display: block;
      content: '';
      width: 21%;
      height: 100px; 
      left: 0px;
    }
  }
  .plan {
    width: 15%;
    left: 35%;
    .btn {
      left: 6%;
      color: @green;
      &:after {background: @green;}
    }
  }
  .build {
    width: 35%;
    left: 50%;
    .btn { //build
      color: @orange;
      left: 25px;
      margin-top: 15px;
      &:before {
        top: -24px;
      }
      &:after {
        top: -24px;
        background: @orange;
      }
      &:nth-child(2) { //test
        left: 34%;
      }
      &:last-child { //redesign
        left: auto;
        right: 22px;
        margin-left: -20px;
      }
    }
    div:before {
      content: '';
      display: block;
      left: 25px;
      right: 92px;
      height: 33px;
      background-image: url('../images/corners-left-bg.png'), url('../images/corners-right-bg.png');
      background-position: left top, right top;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 50%;
      margin-bottom: -2px;
      z-index: 1;
    }
    div:after {
      content: '';
      position: absolute;
      height: 5px;
      left: 45px;
      right: 117px;
      top: 19px;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.66, #d3ccbf 66%), color-stop(.34, transparent), to(transparent));
      background-image: -moz-linear-gradient(90deg, #d3ccbf 66%, transparent 34%);
      background-image: -o-linear-gradient(90deg, #d3ccbf 66%, transparent 34%);
      background-image: linear-gradient(90deg, #d3ccbf 66%, transparent 34%);
      background-size: 12px 12px;
    }
  }
  .reflect {
    width: 15%;
    right: 0;
    .btn {
      color: @teal;
      left: auto;
      right: 25%;
      &:before,&:after {
        left: auto;
        right: -5px;
      }
      &:after {
        margin-right: 4px;
      }
    }
  }
  .cursor {
      position: absolute;
      background: @green;
      height: 100%;
      left: 15%;
      transition: left 1s, border-color 1s, width 1s;
      z-index: 1;
      background: url(../images/nav-mask.png) top right no-repeat;

      .top, .bottom {
        content: '';
        position: absolute;
        left: -13px;
        width: 0px;
        height: 0px;
        border-style: solid;
        transition: border-color 1s;
      }
      .top {
        border-width: 0 15px 50px 0;
        border-color: transparent @blue transparent transparent;
      }
      .bottom {
        bottom: 0px;
        border-width: 0 0 50px 15px;
        border-color: transparent transparent @blue transparent;
      }
      // .front {
      //   content: '';
      //   position: absolute;
      //   right: -13px;
      //   width: 0px;
      //   height: 0px;
      //   border-style: solid;
      //   border-width: 50px 0 50px 15px;
      //   border-color: transparent transparent transparent @blue;
      //   transition: border-color 1s;
      // }
    }

  &.clipper {
    width: 100%;
    margin-top: -120px;
    position: absolute;
    transition: clip 1s;
    &:before {
      z-index: 2;
      // background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.66, rgba(0, 0, 0, .2) 66%), color-stop(.34, transparent), to(transparent));
      // background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, .2) 66%, transparent 34%);
      // background-image: -o-linear-gradient(90deg, rgba(0, 0, 0, .2) 66%, transparent 34%);
      // background-image: linear-gradient(90deg, rgba(0, 0, 0, .2) 66%, transparent 34%);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.66, rgba(255, 255, 255, 1) 66%), color-stop(.34, transparent), to(transparent));
      background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 66%, transparent 34%);
      background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 66%, transparent 34%);
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 66%, transparent 34%);
      background-size: 12px 12px;
    }
    .btn {
      font-size: 17px;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
      &:before {
        background: #fff;
        width: 22px;
        height: 22px;
        border-radius: 22px;
        top: 23px;
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.25);
      }
      &:after {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        top: 23px;
        background: @blue;
      }
    }
    .build {
      .btn {
        &:before {
          top: -26px;
        }
        &:after {
          top: -26px;
        }
        &:nth-child(2) {
        }
        &:last-child {
          right: 20px;
        }
      }
      div:before {
        background-image: url('../images/corners-left-highlight.png'), url('../images/corners-right-highlight.png');
        z-index: 2;
      }
      div:after {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.66, #fff 66%), color-stop(.34, transparent), to(transparent));
        background-image: -moz-linear-gradient(90deg, #fff 66%, transparent 34%);
        background-image: -o-linear-gradient(90deg, #fff 66%, transparent 34%);
        background-image: linear-gradient(90deg, #fff 66%, transparent 34%);
        z-index: 1;
      }
    }

    .cursor {
      position: absolute;
      background: @green;
      height: 100%;
      width: 20%;
      left: 15%;
      transition: left 1s, width 1s, background-color 1s;
      z-index: 1;
      background: url(../images/nav-mask2.png) top right no-repeat;
    }

  }
}