@dark-gray: #333333;
@white: #ffffff;
@ivory: #fffcf7;
@light-gray: #cccccc;
@base-font-color: #000000;
@primary-darkblue: #041e42;
@primary-orange: #ff7500;
@primary-blue: #0076cf;
@base-border-radius: 4px;
@base-font-size: 1em;
@base-spacing: 1.5em;
@spacer: 1rem;
@large-spacing: 50px;

.temp-footer {
  background-color: @dark-gray;
  padding: 0;
  margin-top: 25px;
  color: @base-font-color;
  font-size: 16px;

  .my-3 {
    margin: @spacer 0 !important;
  }
  .mb-3 {
    margin-bottom: @spacer !important;
  }
  .darkblue-type {
    color: @primary-darkblue;
  }

  .social-icons {
    margin: 0px 10px;
    color: @primary-darkblue;
    font-size: @base-font-size * 1;
    background-color: @light-gray;
    border-radius: 100%;
    padding: 8px;
    &:hover {
      color: @primary-blue;
    }
  }

  .social-icon-container,
  .more-info-container {
    a {
      &:hover {
        text-decoration: none;
        color: @primary-blue;
      }
    }
  }

  .flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .footer-panel {
    background-color: @ivory;
    margin: 0 auto;
    max-width: 1170px;

    .container {
      background-color: @ivory;
      padding: 40px;
    }

    h4 {
      color: @base-font-color;
      font-weight: 700;
    }
    h6 {
      color: @base-font-color;
      font-size: 16px;
    }
  }

  @media (min-width: @screen-sm-min) {
    .text-md-left {
      text-align: left;
    }
    .text-md-right {
      text-align: right;
    }
  }

  input {
    font-size: 16px;
    margin-bottom: 0;
    border-radius: @base-border-radius;
    border: 4px solid @primary-orange;
    &:focus {
      border: 4px solid @primary-orange;
    }
  }

  .btn-orange {
    font-size: 1em;
    padding: 6px 16px;
    background-color: @primary-orange;
    border-radius: @base-border-radius;
    color: @white;
    text-transform: capitalize;
    &:hover,
    &:active {
      border-color: shade(@primary-orange, 20);
      background-color: shade(@primary-orange, 20);
      color: @white;
    }
  }

  a {
    color: @primary-blue;
    border-bottom: 1px solid @primary-blue;
    transition: color 150ms ease;

    &:hover {
      text-decoration: none;
      color: shade(@primary-blue, 25%);
      border-bottom-color: shade(@primary-blue, 25%);
    }

    &.a-borderless {
      border-bottom: none;
    }
  }
}
