// some variables we need from our SASS files
@primary-blue: #0076cf;
@font-body: #2a2a2a;
@white: #ffffff;
@ivory: #fffcf7;
@base-border-radius: 4px;
@leaf-border-radius: 2% 22%;
@heavy-font-weight: 700;

* {
  font-size: 18px;
  background-color: @ivory;
}

.navbar {
  min-height: 60px;
  border-radius: 0;
  border: 0;
  z-index: 4;
}

.navbar-collapse {
  max-height: none;
  border: 0;
}

.navbar-brand {
  padding: 5px;

  .logo-lg {
    height: 50px;
  }

  .logo-sm {
    height: 30px;
    margin-top: 10px;
  }
}

.avatar img {
  width: 35px;
  height: 35px;
  border-radius: @leaf-border-radius;
}

.navbar-default {
  li a.nav-link {
    font-weight: normal;
  }
  // need to replace with the hamburger
  .navbar-toggle {
    top: 0;
    text-transform: uppercase;
    font-weight: @heavy-font-weight;
    line-height: 60px;
    color: @primary-blue;
    border: 0;
    margin: 0;
    padding: 0;

    &:hover {
      text-decoration: none;
      background: none;
      cursor: pointer;
      color: shade(@primary-blue, 10);
    }
  }
}

@media (max-width: @screen-sm-max) {
  .avatar img {
    display: inline;
  }

  .navbar {
    .nav-item {
      float: none;
      text-align: left;
      a {
        line-height: 1.5em;
      }

      & + .nav-item {
        margin-left: 0;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: @white;
      margin: 10px 0px;

      &:hover {
        color: @white;
      }
    }

    .list-group.nav-profile {
      text-align: center;
      border: @base-border-radius solid @primary-blue;
      border-radius: @base-border-radius;
      .list-group-item {
        border: 0;
        background-color: @ivory;
        a,
        input {
          color: @font-body;
          &:hover {
            color: @primary-blue;
            text-decoration: none;
          }
        }

        &.active {
          background-color: @primary-blue;
          color: @white;
          .avatar {
            background-color: @primary-blue;
          }
          .profile-name {
            background-color: @primary-blue;
          }
        }
      }
    }

    li {
      a.nav-link {
        background-color: @ivory;
        color: @font-body;
        &:hover {
          color: @primary-blue;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .avatar img {
    position: absolute;
    top: 0;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
  }

  .profile-name {
    margin-right: 70px;
  }

  .nav-item {
    height: 62px;
    & + .nav-item {
      margin-left: 4px;
    }
  }

  .navbar-default .navbar-nav {
    li a.nav-link {
      z-index: 1;
      position: relative;
      padding: 17px 15px 0;
      height: 62px;
      color: @font-body;
      line-height: 1.5em;

      &:before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        z-index: -1;
        width: 95%;
        margin: 0 auto;
      }
      &:hover:before {
        border-bottom: solid 4px @primary-blue;
      }
    }
    li.open a.nav-link {
      &:before {
        top: 0;
      }
    }

    .btn-primary {
      text-transform: none;
      font-weight: @heavy-font-weight;
      color: @white;
      background-color: @primary-blue;
      border-width: 0;
      padding: 9px 19px;
      margin-top: 9px;
      line-height: 1.5em;

      &:hover {
        color: @white;
        background-color: shade(@primary-blue, 10);
      }
    }
  }

  .dropdown.nav-profile {
    .dropdown-menu {
      > li > form > input {
        display: block;
        width: 100%;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: @line-height-base;
        text-align: left;
        color: @dropdown-link-color;
        white-space: nowrap; // prevent links from randomly breaking onto new lines
        &:hover {
          text-decoration: none;
        }
      }
      padding: 0;
      border: 0;
      margin-top: 10px;
      border-radius: 4px;
      .dropdown-item {
        padding-top: 14px;
        padding-bottom: 14px;
        &:hover {
          font-weight: @heavy-font-weight;
        }
      }
      li:first-child .dropdown-item {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      li:last-child .dropdown-item {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
//toggler icon from sass files
@navbar-light-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

.navbar-toggler {
  border: 0;
  background-color: @white;
}

.navbar-toggler-icon {
  background-image: @navbar-light-toggler-icon-bg;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: '';
  background-size: 100% 100%;
}
