{% extends "email_base.html" %}
{% block content %}

<p>
Hi {{ profile.first_name | default:profile.user.username }}!
</p>

<p>
Fantastic news! Thanks to your feedback, {{ student.first_name | default:student.user.username}} successfully completed their design challenge! Make sure to respond to any of their final reflect questions and feature the image they chose as an example for the inspiration gallery.
</p>
<p>
We have more students ready to receive mentor feedback so please take a moment to claim another project! If you’re mentoring for a specific Curiosity Course, make sure to look out for the same student’s submissions next week so you can continue to support their learning!
</p>

<a href="{{ site_url }}{% url 'challenges:challenge_progress' challenge_id=progress.challenge.id username=student.user.username %}build"><button style="color: #fff; background-color:#f16243; border:0px; border-radius: 10px; padding: 10px 35px; font-size: 13pt; width:300px; height:80px;">Approve {{ student.first_name | default:student.user.username}}'s Design!</button></a>
<p>
Best regards,<br />
Curiosity Machine Team
</p>
{% endblock %}